# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Connexió segura no disponible
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Navegueu en mode només HTTPS i no hi ha disponible la versió HTTPS segura de <em>{ $websiteUrl }</em>.
about-httpsonly-insecure-explanation-reasons = El més probable és que el lloc web no admeti HTTPS, però també podria ser que un atacant estiguera blocant la versió HTTPS.
about-httpsonly-insecure-explanation-exception = Per bé que el risc de seguretat és baix, si decidiu visitar la versió HTTP del lloc web, no hi hauríeu d’introduir informació confidencial com ara contrasenyes, adreces electròniques o targetes de crèdit.
about-httpsonly-button-make-exception = Accepte el risc i vull continuar al lloc
about-httpsonly-title = El { -brand-short-name } ha detectat un problema potencial de seguretat
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Navegueu en mode només HTTPS i no hi ha disponible la versió HTTPS segura de <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = Quin motiu podria haver-hi?
about-httpsonly-explanation-nosupport = El més probable és que el lloc web no admeti HTTPS.
about-httpsonly-explanation-risk = També podria ser un intent d'atac. Si decidiu visitar el lloc web, no hi hauríeu d’introduir informació confidencial com ara contrasenyes, adreces electròniques o targetes de crèdit.
about-httpsonly-button-accept-and-continue = Accepte el risc i vull continuar
about-httpsonly-button-go-back = Vés arrere
about-httpsonly-link-learn-more = Més informació…
