# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Conectează un alt dispozitiv
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Dacă nu ai făcut-o deja, instalează <a data-l10n-name="connect-another-device">Firefox pe dispozitivul tău mobil</a>.
fxa-qrcode-heading-phase2 = 2. Apoi autentifică-te în { -sync-brand-short-name } sau, pe Android, scanează codul de asociere din interiorul setărilor { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Dacă nu ai făcut-o deja, instalează <a data-l10n-name="connect-another-device">Firefox pe dispozitivul tău mobil</a>.
fxa-qrcode-heading-step2 = 2. Deschide Firefox pe dispozitivul tău mobil.
fxa-qrcode-heading-step3 = 3. Deschide <b>meniul</b> (<img data-l10n-name="ios-menu-icon"/> sau <img data-l10n-name="android-menu-icon"/>), atinge <img data-l10n-name="settings-icon"/> <b>Setări</b> și selectează <b>Activează sincronizarea</b>
fxa-qrcode-heading-step4 = 4. Scanează acest cod:
fxa-qrcode-error-title = Asociere eșuată.
fxa-qrcode-error-body = Încearcă din nou.
