# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = சிக்கல்தீர்த்தல் தகவல்
page-subtitle = இந்த பக்கமானது ஒரு பிரச்சனைக்கு தீர்வு காணும் பொருட்டு தேவைப்படும் நுட்ப தகவல்களை கொண்டிருக்கலாம். ஒருவேளை தாங்கள் பொதுவான பதிலுக்கு எதிர்பார்த்தால் { -brand-short-name } பற்றிய, எங்களின் பக்கத்தை பாருங்கள் <a data-l10n-name="support-link">இணையத்தள உதவி</a>.

crashes-title = செயலிழப்பு அறிக்கைகள்
crashes-id = அறிக்கை ID
crashes-send-date = சமர்பிக்கப்பட்டது
crashes-all-reports = அனைத்து செயலிழப்பு அறிக்கைகள்
crashes-no-config = இந்த நிரல் சிதைவு அறிக்கைகளை காண்பிக்க கட்டமைப்பு செய்யப்படவில்லை.
extensions-title = நீட்சிகள்
extensions-name = பெயர்
extensions-enabled = செயல்படுத்தப்பட்டது
extensions-version = பதிப்பு
extensions-id = ID
support-addons-name = பெயர்
support-addons-version = பதிப்பு
support-addons-id = ID
features-title = { -brand-short-name } அம்சங்கள்
features-name = பெயர்
features-version = பதிப்பு
features-id = ID
app-basics-title = பயன்பாடு அடிப்படைகள்
app-basics-name = பெயர்
app-basics-version = பதிப்பு
app-basics-build-id = உருவாக்கி அ,எண்
app-basics-update-channel = அலைவரிசையைப் புதுப்பி
app-basics-update-history = புதுப்பித்தல் வரலாறு
app-basics-show-update-history = புதுப்பித்தல் வரலாற்றைக் காட்டு
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] சுயவிவர அடைவு
       *[other] சுயவிவரம் கோப்புறை
    }
app-basics-enabled-plugins = செயல்படுத்தப்பட்ட செருகிகள்
app-basics-build-config = உருவாக்க கட்டமைப்பு
app-basics-user-agent = பயனர் முகவர்
app-basics-os = இயங்கு தளம்
app-basics-memory-use = நினைவகப் பயனளவு
app-basics-performance = செயல்திறன்
app-basics-service-workers = பதிவு செய்யப்பட்ட சேவை பணியாளர்கள்
app-basics-profiles = விவரத்தொகுப்பு
app-basics-multi-process-support = பன்செயல் சாளரங்கள்
app-basics-key-mozilla = மொசில்லா புவியிடச்சேவைச் சாவி
app-basics-safe-mode = பாதுகாப்பான முறைமை
show-dir-label =
    { PLATFORM() ->
        [macos] தேடியில் காட்டு
        [windows] அடைவினைத் திற
       *[other] கோப்பகத்தைத் திற
    }
modified-key-prefs-title = மாற்றியமைக்கப்பட்ட முக்கியமான முன்னுரிமைகள்
modified-prefs-name = பெயர்
modified-prefs-value = மதிப்பு
user-js-title = user.js முன்னுரிமைகள்
user-js-description = உங்கள் சுயவிவரக் கோப்புறையில் <a data-l10n-name="user-js-link">user.js file</a> உள்ளது, அதில் { -brand-short-name } உருவாக்காத முன்னுரிமைகளும் உள்ளன.
locked-key-prefs-title = பூட்டிய முக்கிய முன்னுரிமைகள்
locked-prefs-name = பெயர்
locked-prefs-value = மதிப்பு
graphics-title = வரைகலை
graphics-features-title = வசதிகள்
graphics-diagnostics-title = பகுப்பாய்வுகள்
graphics-failure-log-title = தோல்வி பற்றிய பதிவு
graphics-gpu1-title = ஜிபியு #1
graphics-gpu2-title = ஜிபியு #2
graphics-decision-log-title = முடிவுப்பதிவு
graphics-crash-guards-title = நொறுக்கல் பாதுகாப்பு முடக்கிய வசதிகள்
graphics-workarounds-title = சுற்றுவேலைகள்
place-database-title = இடத் தரவுத்தளம்
place-database-integrity = ஒருமைப்பாடு
place-database-verify-integrity = ஒருமைப்பாட்டை சரிபார்
a11y-title = அணுகக்கூடியது
a11y-activated = செயல்படுத்தப்படுகிறது
a11y-force-disabled = அணுகல்தன்மையை தடுக்கவும்
a11y-handler-used = அணுகல் கையாளி பாவிக்கப்பட்டது
library-version-title = தரவக பதிப்புகள்
copy-text-to-clipboard-label = உரையை ஒட்டுப்பலகைக்கு நகலெடு
copy-raw-data-to-clipboard-label = அசல் தரவை ஒட்டுப்பலகைக்கு நகலெடு
sandbox-title = ஸ்சேன்டுபாக்ஸ்
sandbox-sys-call-log-title = தவிர்க்கப்பட்ட அமைவக அழைப்புகள்
sandbox-sys-call-index = #
sandbox-sys-call-age = வினாடிகளுக்கு முன்
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = செயல்பாடு வகை
sandbox-sys-call-number = Syscall
sandbox-sys-call-args = தருமதிப்புகள்
safe-mode-title = பாதுகாப்பு முறைமையை முயற்சி
restart-in-safe-mode-label = நீட்சிகளை நீக்கிவிட்டு மீள் துவக்கு.

## Media titles

audio-backend = ஒலி பின்புலம்
max-audio-channels = அதிகபட்ச சேனல்கள்
sample-rate = விருப்பமான மாதிரி விகிதம்
media-title = ஊடகம்
media-output-devices-title = வெளியீடு சாதனங்கள்
media-input-devices-title = உள்ளீடு சாதனங்கள்
media-device-name = பெயர்
media-device-group = குழு
media-device-vendor = விற்பனையாளர்
media-device-state = நிலை
media-device-preferred = விருப்பமான
media-device-format = முறை
media-device-channels = சேனல்கள்
media-device-rate = தரம்
media-device-latency = தாமதம்

##

intl-app-title = பயன்பாட்டு அமைவுகள்
intl-locales-requested = கேட்டுக்கொண்ட மொழிகள்
intl-locales-available = கிடைக்கக்கூடிய மொழிகள்
intl-locales-supported = பயன்பாட்டு மொழிகள்
intl-os-title = இயங்கு தளம்
intl-os-prefs-system-locales = கணினி மொழிகள்
intl-regional-prefs = வட்டார முன்னுரிமைகள்

## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/


##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] கடைசி { $days } நாளுக்கானசெயலிழப்பு அறிக்கை
       *[other] கடைசி { $days } நாட்களுக்கான செயலிழப்பு அறிக்கை
    }

# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } நிமிடம் முன்பு
       *[other] { $minutes } நிமிடங்கள் முன்பு
    }

# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } மணி நேரம் முன்பு
       *[other] { $hours } மணி நேரங்கள் முன்பு
    }

# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } நாள் முன்பு
       *[other] { $days } நாட்கள் முன்பு
    }

# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] அனைத்து செயலிழப்பு அறிக்கைகள்(கொடுக்கப்பட்ட காலத்திற்க்குட்பட்ட நிலுவைலுள்ள { $reports } செயலிழப்பு )
       *[other] அனைத்து செயலிழப்பு அறிக்கைகள்(கொடுக்கப்பட்ட காலத்திற்க்குட்பட்ட நிலுவைலுள்ள { $reports } செயலிழப்புகள் )
    }

raw-data-copied = அசல் தரவு ஒட்டுப்பலகைக்கு நகலெடுக்கப்பட்டது
text-copied = உரை ஒட்டுப்பலகைக்கு நகலெடுக்கப்பட்டது

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = உங்களுடைய வரைகலை இயக்கியின் பதிப்பின் காரணமாக தடுக்கப்பட்டது.
blocked-gfx-card = தீர்க்கப்படாத இயக்கி சிக்கல்களின் காரணமாக உங்கள் கிராஃபிக்ஸ் கார்டுக்கு தடுக்கப்பட்டது.
blocked-os-version = உங்கள் இயக்க முறைமை பதிப்புக்கு தடுக்கப்பட்டது.
blocked-mismatched-version = பதிவகத்திற்கும் DLL கோப்புக்கும் பொருந்தாத உங்களின் வரைகலை இயக்கியின் பதிப்பை தடுக்கப்பட்டது.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = உங்கள் கிராஃபிக்ஸ் இயக்கி பதிப்புக்கு தடுக்கப்பட்டது. உங்கள் கிராஃபிக்ஸ் இயக்கியை { $driverVersion } அல்லது சமீபத்திய பதிப்பாக புதுப்பிக்க முயற்சிக்கவும்.

# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType அளவுருக்கள்

compositing = தொகுப்பு
hardware-h264 = வன்பொருள் H264 குறியேற்றம்
main-thread-no-omtc = முக்கிய இழை, OMTC இல்லை
yes = ஆம்
no = இல்லை

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = கிடைத்தது
missing = காணவில்லை

gpu-description = விளக்கம்
gpu-vendor-id = விற்பனையாளர் ID
gpu-device-id = சாதன ID
gpu-subsys-id = துணைக்கட்டக ID
gpu-drivers = இயக்கிகள்
gpu-ram = நினைவகம்
gpu-driver-version = இயக்கி பதிப்பு
gpu-driver-date = இயக்கி தேதி
gpu-active = செயலிலுள்ளது
webgl1-wsiinfo = WebGL 1 இயக்கியின் WSI தகவல்
webgl1-renderer = WebGL 1 இயக்கி வரைவு
webgl1-version = WebGL 1 இயக்கி பதிப்பு
webgl1-driver-extensions = WebGL 1 இயக்கி நீட்சிகள்
webgl1-extensions = WebGL 1 நீட்சிகள்
webgl2-wsiinfo = WebGL 2 இயக்கி WSI தகவல்
webgl2-renderer = WebGL 2 இயக்கி வரைவு
webgl2-version = WebGL 2 இயக்கி பதிப்பு
webgl2-driver-extensions = WebGL 2 இயக்கி நீட்சிகள்
webgl2-extensions = WebGL 2 நீட்சிகள்
blocklisted-bug = தெரிந்தக் காரணங்களுக்காக தடுக்கப்படடது

# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = வழு { $bugNumber }

# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = தடுக்கப்பட்டது; தோல்விக்கன குறியீடு { $failureCode }

d3d11layers-crash-guard = D3D11 தொகுப்பி
d3d11video-crash-guard = D3D11 காணொளி குறியவிழி
d3d9video-crash-guard = D3D9 காணொளி குறியவிழி
glcontext-crash-guard = OpenGL

reset-on-next-restart = அடுத்த மீள்துவக்கத்தில் மீட்டமை
gpu-process-kill-button = GPU செயல்பாடுகளை நிறுத்து
gpu-device-reset-button = சாதன மீட்டமைத்தலைத் தூண்டு

min-lib-versions = எதிர்பார்க்கப்படும் குறைந்தபட்ச பதிப்பு
loaded-lib-versions = பயன்பாட்டிலுள்ள பதிப்பு

has-seccomp-bpf = Seccomp-BPF (கணினி அழைத்தல் வடிகட்டி)
has-seccomp-tsync = Seccomp இழை ஒத்திசைவு
has-user-namespaces = பயனர் பெயரிடைவெளிகள்
has-privileged-user-namespaces = முன்னுரிமை செயல்பாடுகளுக்கான பயனர் பெயரிடைவெளிகள்
can-sandbox-content = உள்ளடக்க செயல்பாடு Sandboxing
can-sandbox-media = ஊடக செருகி Sandboxing
content-sandbox-level = உள்ளடக்க செயல்பாடு மணல் தொட்டி நிலை
effective-content-sandbox-level = உள்ளடக்க செயல்பாட்டின் விளைவு மணல்தொட்டி நிலை
sandbox-proc-type-content = உள்ளடக்கம்
sandbox-proc-type-file = கோப்பு உள்ளடக்கம்
sandbox-proc-type-media-plugin = ஊடகம் செருகி

# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = பயனாளரால் செயலிடப்பட்டது
multi-process-status-1 = முன்னிருப்பில் செயலிலுள்ளது
multi-process-status-2 = முடக்கப்பட்டது
multi-process-status-4 = அணுகுத்திறன் கருவிகளால் முடக்கப்பட்டது
multi-process-status-6 = ஆதரிக்கப்படாத உரை உள்ளீடல் முடக்கப்பட்டது
multi-process-status-7 = நீட்சிகளால் முடக்கப்பட்டது
multi-process-status-8 = அதிரடியாக முடக்கப்பட்டது
multi-process-status-unknown = அறியாத நிலை

async-pan-zoom = ஒத்திசையா Pan/Zoom
apz-none = ஒன்றுமில்லை
wheel-enabled = சக்கர உள்ளீடு செயலிடப்பட்டது
touch-enabled = தொடு உள்ளீடு செயலிடப்பட்டது
drag-enabled = உருளுபட்டை இழுப்பு செயலிடப்பட்டது
keyboard-enabled = விசைப்பலகை உள்ளது
autoscroll-enabled = தானே உருள் செயலிடப்பட்டது

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = ஆதரவற்ற முன்னுரிமை: { $preferenceKey } காரணமாக ஒத்திசையா சக்கர உள்ளீடு முடக்கப்பட்டது
touch-warning = ஆதரவற்ற முன்னுரிமை: { $preferenceKey } காரணமாக ஒத்திசையா தொடு உள்ளீடு முடக்கப்பட்டது

## Strings representing the status of the Enterprise Policies engine.

