# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Åbn et privat vindue
    .accesskey = p
about-private-browsing-search-placeholder = Søg på nettet
about-private-browsing-info-title = Du befinder dig i et privat vindue
about-private-browsing-info-myths = Almindelige myter om privat browsing
about-private-browsing =
    .title = Søg på nettet
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Søg med { $engine } eller indtast en adresse
about-private-browsing-handoff-no-engine =
    .title = Søg eller indtast en adresse
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Søg med { $engine } eller indtast en adresse
about-private-browsing-handoff-text-no-engine = Søg eller indtast adresse
about-private-browsing-not-private = Du befinder dig ikke i et privat vindue.
about-private-browsing-info-description = { -brand-short-name } rydder din søge- og browsing-historik, når du afslutter programmet eller når du lukker alle private faneblade og vinduer. Dette gør det nemmere at holde din gøren og laden på nettet for dig selv, hvis andre bruger den samme computer. Websteder og din internetudbyder kan dog stadig finde ud af, hvad du foretager dig.
about-private-browsing-need-more-privacy = Har du brug for mere privatliv?
about-private-browsing-turn-on-vpn = Prøv { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } er din standard-søgetjeneste i private vinduer
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Vælg en anden søgetjeneste ved at gå til <a data-l10n-name="link-options">indstillinger</a>
       *[other] Vælg en anden søgetjeneste ved at gå til <a data-l10n-name="link-options">indstillinger</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Luk
