# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = En ny { -brand-shorter-name }-opdatering er tilgængelig.
    .buttonlabel = Hent opdatering
    .buttonaccesskey = H
    .secondarybuttonlabel = Ikke nu
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Opdater { -brand-shorter-name } til den seneste og mest sikre version.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan ikke opdatere til den seneste version.
    .buttonlabel = Hent { -brand-shorter-name }
    .buttonaccesskey = H
    .secondarybuttonlabel = Ikke nu
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Hent en frisk kopi af { -brand-shorter-name } og vi vil hjælpe dig med at installere den.
appmenu-update-whats-new =
    .value = Se nyhederne.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } kan ikke opdatere til den seneste version.
    .buttonlabel = Læs mere
    .buttonaccesskey = L
    .secondarybuttonlabel = Luk
    .secondarybuttonaccesskey = u
appmenu-update-unsupported-message = Dit styresystem understøtter ikke den seneste version af { -brand-shorter-name }.
appmenu-update-restart =
    .label = Genstart for at opdatere { -brand-shorter-name }.
    .buttonlabel = Genstart og gendan
    .buttonaccesskey = G
    .secondarybuttonlabel = Ikke nu
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Efter en hurtig genstart vil { -brand-shorter-name } gendanne alle dine åbne faneblade og vinduer, der ikke er åbnet i privat browsing-tilstand.
appmenu-update-available2 =
    .label = Opdatering tilgængelig
    .buttonlabel = Hent
    .buttonaccesskey = H
    .secondarybuttonlabel = Afvis
    .secondarybuttonaccesskey = A
appmenu-update-available-message2 = Hent den seneste version af { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Opdatering tilgængelig
    .buttonlabel = Hent
    .buttonaccesskey = H
    .secondarybuttonlabel = Afvis
    .secondarybuttonaccesskey = A
appmenu-update-manual-message2 = { -brand-shorter-name } kunne ikke opdatere automatisk. Hent den nyeste version - du mister hverken gemte informationer eller tilpasninger.
appmenu-update-unsupported2 =
    .label = Kunne ikke opdatere
    .buttonlabel = Læs mere
    .buttonaccesskey = L
    .secondarybuttonlabel = Afvis
    .secondarybuttonaccesskey = A
appmenu-update-unsupported-message2 = Dit operativsystem er ikke kompatibelt med den nyeste version af { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Opdatering tilgængelig
    .buttonlabel = Opdater og genstart
    .buttonaccesskey = O
    .secondarybuttonlabel = Afvis
    .secondarybuttonaccesskey = A
appmenu-update-restart-message2 = Hent den nyeste version af { -brand-shorter-name }. Åbne faneblade og vinduer vil blive genskabt.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } kan ikke opdatere automatisk til den seneste version.
    .buttonlabel = Opdater { -brand-shorter-name } alligevel
    .buttonaccesskey = O
    .secondarybuttonlabel = Ikke nu
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = Der er en ny opdatering af { -brand-shorter-name } tilgængelig. Den kan dog ikke blive installeret, fordi en anden version af { -brand-shorter-name } er åben. Luk programmet for at fortsætte opdateringen, eller vælg at opdatere alligevel (den anden version vil muligvis ikke fungere korrekt, før du genstarter den).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, forstået
    .buttonaccesskey = O
appmenu-addon-post-install-message = Håndter dine tilføjelser ved at klikke på <image data-l10n-name='addon-install-icon'></image> i <image data-l10n-name='addon-menu-icon'></image>-menuen.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Okay
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Håndter dine udvidelser og temaer i program-menuen.
appmenu-addon-post-install-message3 = Håndter dine tilføjelser og temaer i program-menuen.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tillad denne udvidelse at virke i private vinduer.
    .accesskey = T
appmenu-new-tab-controlled =
    .label = Nyt faneblad er ændret
    .buttonlabel = Behold ændringen
    .buttonaccesskey = B
    .secondarybuttonlabel = Deaktiver udvidelse
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Din startside er ændret
    .buttonlabel = Behold ændringen
    .buttonaccesskey = B
    .secondarybuttonlabel = Deaktiver udvidelse
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Nyt faneblad er ændret.
    .buttonlabel = Behold ændringen
    .buttonaccesskey = B
    .secondarybuttonlabel = Håndter nye faneblade
    .secondarybuttonaccesskey = H
appmenu-homepage-controlled-changes =
    .label = Din startside er ændret.
    .buttonlabel = Behold ændringen
    .buttonaccesskey = B
    .secondarybuttonlabel = Håndter startside
    .secondarybuttonaccesskey = H
appmenu-tab-hide-controlled =
    .label = Tilgå dine skjulte faneblade
    .buttonlabel = Behold faneblade skjulte
    .buttonaccesskey = B
    .secondarybuttonlabel = Deaktiver udvidelse
    .secondarybuttonaccesskey = D
