# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Zabezpečené spojení není dostupné
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Webové stránky prohlížíte v režimu „pouze HTTPS“, ale zabezpečená verze webu <em>{ $websiteUrl }</em> není dostupná.
about-httpsonly-insecure-explanation-reasons = Pravděpodobně tento server HTTPS vůbec nepodporuje, ale je také možné, že se někdo HTTPS snaží blokovat.
about-httpsonly-insecure-explanation-exception = Ač je bezpečnostní riziko relativně nízké, pokud se rozhodnete navštívit nezabezpečenou verzi této stránky přes HTTP, doporučujeme na ní nezadávat žádné citlivé informace jako jsou hesla, e-mailové adresy nebo platební údaje.
about-httpsonly-button-make-exception = Beru na vědomí a chci pokračovat
about-httpsonly-title-alert = Upozornění režimu „pouze HTTPS“
about-httpsonly-title-connection-not-available = Zabezpečené spojení není dostupné
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Máte zapnutý režim „pouze HTTPS“ zajišťující vyšší míru zabezpečení, ale zabezpečená verze webu <em>{ $websiteUrl }</em> není dostupná.
about-httpsonly-explanation-question = Co by mohlo být příčinou?
about-httpsonly-explanation-nosupport = Tento web nejspíš HTTPS prostě nepodporuje.
about-httpsonly-explanation-risk = Je také možné, že v tom má prsty útočník. Pokud se rozhodnete tuto stránku navštívit, doporučujeme na ní nezadávat žádné citlivé informace jako jsou hesla, e-mailové adresy nebo platební údaje.
about-httpsonly-explanation-continue = Pokud se rozhodnete pokračovat, bude pro tento server režim „pouze HTTPS“ dočasně vypnut.
about-httpsonly-button-continue-to-site = Pokračovat přes nezabezpečené spojení
about-httpsonly-button-go-back = Zpátky
about-httpsonly-link-learn-more = Zjistit více…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Možná alternativa
about-httpsonly-suggestion-box-www-text = Našli jsme zabezpečenou verzi webu <em>www.{ $websiteUrl }</em>. Místo <em>{ $websiteUrl }</em> můžete zkusit navštívit tu.
about-httpsonly-suggestion-box-www-button = Přejít na www.{ $websiteUrl }
