# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = O Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> je knihovna používaná v produktech Mozilly pro sběr dat. Tato stránka je určená pro vývojáře a testery kteří potřebují <a data-l10n-name="fog-debug-doc-link">nastavovat ladění a protokolování Glean SDK</a>.
about-glean-warning =
    Nesprávné použití tohoto rozhraní může způsobit pád { -brand-short-name.gender ->
        [masculine] { -brand-short-name(case: "gen") }
        [feminine] { -brand-short-name(case: "gen") }
        [neuter] { -brand-short-name(case: "gen") }
       *[other] aplikace { -brand-short-name }
    }.
tag-pings-label = Označovat všechny odeslané pingy tímto štítkem
log-pings-label = Zaznamenávat obsah pingu před odesláním do protokolu?
send-pings-label = Poslat pojmenovaný ping
controls-button-label = Nastavit
