# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Arredol de { -brand-full-name }

releaseNotes-link = Novedatz

update-checkForUpdatesButton =
    .label = Mirar actualizacions
    .accesskey = M

update-updateButton =
    .label = Reiniciar pa esviellar { -brand-shorter-name }
    .accesskey = R

update-checkingForUpdates = Comprebando as actualizacions…
update-downloading = <img data-l10n-name="icon"/>Descargando actualización — <label data-l10n-name="download-status"/>
update-applying = Se ye esviellando…

update-failed = L'actualización ha fallau. <label data-l10n-name="failed-link">Descargar a zaguera versión</label>
update-failed-main = L'actualización ha fallau. <a data-l10n-name="failed-link-main">Descargar a zaguera versión</a>

update-adminDisabled = Actualizacions desactivadas por o suyo administrador
update-noUpdatesFound = { -brand-short-name } ye esviellau
update-otherInstanceHandlingUpdates = Unatra instancia ye esviellando { -brand-short-name }

update-manual = Actualización disponible en <label data-l10n-name="manual-link"/>

update-unsupported = Iste sistema ya no se puede esviellar mas. <label data-l10n-name="unsupported-link">Saber-ne mas</label>

update-restarting = Se ye reiniciando…

channel-description = Ye fendo servir a canal <label data-l10n-name="current-channel"></label> d'actualizacions.{ " " }

warningDesc-version = { -brand-short-name } ye experimental y puede estar inestable.

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> ye una <label data-l10n-name="community-exp-creditsLink">comunidat global</label> que treballa a ixena ta preservar o ret ubierto, publico y accesible ta totz.

community-2 = { -brand-short-name } ye disenyau por <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, una <label data-l10n-name="community-creditsLink">comunidat global</label> que treballa a zofra ta preservar o ret ubierto, publico y accesible ta totz.

helpus = Quiere aduyar? <label data-l10n-name="helpus-donateLink">Faiga una donación</label> u <label data-l10n-name="helpus-getInvolvedLink">embreque-se-ie!</label>

bottomLinks-license = Información d'a licencia
bottomLinks-rights = Dreitos d'os usuarios finals
bottomLinks-privacy = Politica de privacidat

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bits)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bits)
