# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Informations importantes
heading = Modifications apportées à votre profil { -brand-short-name }
changed-title = Qu’est-ce qui a changé ?
changed-desc-profiles = Cette installation de { -brand-short-name } dispose d’un nouveau profil. Un profil est un ensemble de fichiers dans lesquels Firefox enregistre des informations telles que les marque-pages, les mots de passe et les préférences de l’utilisateur.
changed-desc-dedicated = Afin de rendre plus facile et plus sûre l’utilisation de différentes installations de Firefox (comme Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition et Firefox Nightly), cette installation dispose désormais d’un profil dédié. Elle ne partage pas automatiquement vos informations enregistrées avec d’autres installations de Firefox.
lost = <b>Vous n’avez perdu aucune donnée, ni aucune personnalisation.</b> Si vous avez enregistré des informations dans Firefox sur cet ordinateur, elles sont toujours disponibles dans une autre installation de Firefox.
options-title = Quelles sont mes possibilités ?
options-do-nothing = Si vous ne faites rien, les données de votre profil { -brand-short-name } seront différentes des données de profil des autres installations de Firefox.
options-use-sync = Si vous désirez que toutes vos données de profil soient les mêmes pour toutes les installations de Firefox, vous pouvez utiliser un { -fxaccount-brand-name } pour les garder synchronisées.
resources = Ressources :
support-link = Utiliser le gestionnaire de profils – Article de l’assistance
sync-header = Connectez-vous ou créez un { -fxaccount-brand-name }
sync-label = Saisissez votre adresse électronique
sync-input =
    .placeholder = Adresse électronique
sync-button = Continuer
sync-terms = En continuant, vous acceptez nos <a data-l10n-name="terms">Conditions d’utilisation</a> et notre <a data-l10n-name="privacy">Politique de confidentialité</a>.
sync-first = C’est votre première utilisation de { -sync-brand-name } ? Vous devrez vous connecter dans chaque installation de Firefox pour synchroniser vos informations.
new-install-sync-first = C’est votre première utilisation de la synchronisation ? Vous devrez vous connecter dans chaque installation de Firefox pour y synchroniser vos informations.
sync-learn = En savoir plus
