# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Sobre o Glean
about-glean-description = O <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> é uma biblioteca de coleta de dados usada nos produtos Mozilla. Esta página é para desenvolvedores e testadores que precisam <a data-l10n-name="fog-debug-doc-link">configurar o estado de debug e log no Glean SDK</a>.
about-glean-warning = Usar incorretamente esta interface pode travar o { -brand-short-name }.
tag-pings-label = Marcar todos os pings enviados com esta tag
log-pings-label = Registrar no log o conteúdo de pings antes de enviar?
send-pings-label = Enviar o ping nomeado
controls-button-label = Configurações de envio
