# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = 여러분의 권리 알아보기
rights-intro = { -brand-full-name }는 무료 오픈 소스 소프트웨어이며, 전세계 수천명의 커뮤니티 개발자에 의해 만들어지고 있습니다. 아래에 몇 가지 유의 사항을 알려 드립니다:
rights-intro-point-1 = { -brand-short-name }는 다음 라이선스 조건하에서 사용 가능합니다 - <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>본 라이선스는 { -brand-short-name }를 다른 사람에게 사용, 복사, 배포할 수 있습니다. 또한, { -brand-short-name }의 소스 코드를 원하는 요구에 맞추어 고칠 수 있습니다. Mozilla Public License는 또한 고친 버전을 재배포할 수도 있습니다.
rights-intro-point-2 = Mozilla는 Mozilla와 Firefox 상표 및 로고에 대한 사용 권한은 허가하지 않습니다. 자세한 사항은 상표권 부분을 참고하세요.<a data-l10n-name="mozilla-trademarks-link">자세히</a>.
rights-intro-point-3 = { -brand-short-name }의 충돌 보고서 같은 기능은 { -vendor-short-name }에 사용자 의견을 제공하는 옵션이 있습니다. 사용자 의견 보내기를 선택하면, 사용자는 { -vendor-short-name }가 이 의견을 사용하여 제품을 개선하고, 의견을 웹 사이트에 게시하고 배포할 수 있도록 권한을 부여하게 됩니다.
rights-intro-point-4 = 저희가 { -vendor-short-name }부터 { -brand-short-name }에 제출된 사용자의 개인 정보 및 의견을 사용하는 방법은 <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name }개인정보처리방침</a>을 참고하세요.
rights-intro-point-4-unbranded = 모든 적용 가능한 개인정보처리방침은 아래에 기술되어 있습니다.
rights-intro-point-5 = { -brand-short-name }는 몇 가지 웹 사이트 서비스를 제공합니다. 하지만 이 서비스는 정확성 및 무결성을 보장하지 않습니다. 더 자세한 것은 서비스 약관을 참고하세요.<a data-l10n-name="mozilla-service-terms-link">서비스 약관</a>.
rights-intro-point-5-unbranded = 이 제품이 웹 서비스를 지원하지 않으면 당 서비스의 서비스 조건은 링크에서 찾을 수 있습니다.<a data-l10n-name="mozilla-website-services-link">자세히</a> 보기
rights-intro-point-6 = 특정 형식의 동영상 재생을 위해 { -brand-short-name }는 특정 제 삼자 콘텐츠 해석 모듈을 다운받습니다.
rights-webservices-header = { -brand-full-name } 웹 기반 정보 서비스
rights-webservices = { -brand-full-name }는 이용자 조건에 따라 { -brand-short-name }에서 웹 기반 서비스(이하 "서비스")를 제공합니다. 제공 서비스를 이용하기 원하지 않으시면 기능을 중단할 수 있습니다. 다음 특정 서비스 중단 방법을 참고하세요.:<a data-l10n-name="mozilla-disable-service-link">자세히 보기</a> (기타 기능이나 서비스는 애플리케이션 설정에서 해제할 수 있습니다.)
rights-safebrowsing = <strong>SafeBrowsing: </strong>안전한 탐색 기능을 사용하지 않는 것은 안전하지 않은 사이트로 이동할 수 있기 때문에 권장되지 않습니다. 기능을 완전히 비활성화하려면 다음 단계를 수행하세요:
rights-safebrowsing-term-1 = 애플리케이션 설정 열기
rights-safebrowsing-term-2 = 보안 설정 선택
rights-safebrowsing-term-3 = "{ enableSafeBrowsing-label }" 위해 체크 해제
enableSafeBrowsing-label = 위험하고 믿을 수 없는 내용 차단
rights-safebrowsing-term-4 = 안전한 탐색 기능이 비활성화되었습니다.
rights-locationawarebrowsing = <strong>위치 정보 서비스: </strong>이 기능은 항상 여러분에게 확인을 합니다. 허가 없이 어떠한 위치 정보도 웹 서비스로 전송되지 않습니다. 하지만 이 기능 중단을 원하시면 아래의 절차를 이용하세요:
rights-locationawarebrowsing-term-1 = 주소 표시 줄에 about:config 입력 <code>검색 항목에 geo.enabled 입력</code>
rights-locationawarebrowsing-term-2 = geo.enabled 항목을 더블 클릭
rights-locationawarebrowsing-term-3 = geo.enabled 항목값이 false로 변경
rights-locationawarebrowsing-term-4 = 위치 정보 서비스 기능 중단
rights-webservices-unbranded = 본 제품의 웹 사이트 서비스를 사용할 수 없는 제품입니다. 서비스 중단 방법을 제공합니다.
rights-webservices-term-unbranded = 모든 적용 가능한 서비스 조건을 아래에 게시합니다.
rights-webservices-term-1 = { -vendor-short-name }와 개발 공헌자, 라이선스 제공자 및 파트너사는 가급적 최신의 서비스를 제공합니다. 그러나, 모든 제공 정보에 오류 없음을 보장하지는 않습니다. 예를 들어, 안전한 탐색 기능은 보안 위험이 있는 사이트인데도 보안 사이트로 표시될 수도 있으며, 위치 기반 서비스의 경우 여러분의 위치를 정확히 표시하지 못할 수도 있습니다.
rights-webservices-term-2 = { -vendor-short-name }는 서비스를 중단하거나 변경할 수도 있습니다.
rights-webservices-term-3 = { -brand-short-name }와 함께 제공한 서비스를 이욯해 주셔서 감사합니다. 여러분의 권한을 통해 { -vendor-short-name }와 라이선스 제공자는 서비스 내 다른 권한들도 보장합니다. 이들 조건들은 { -brand-short-name }와 소스 코드 버전에 대응하는 오픈 소스 라이선스 하에서 보장된 조건을 제한하기 위한 것이 아닙니다.
rights-webservices-term-4 = <strong>본 서비스는 { -vendor-short-name }와 개발 공헌자, 라이선스 제공자 등에 "as-is."를 제공하며 특별한 목적을 위해 제공하거나 판매 가능한 서비스의 보장에 대한 제한 없이 표현 여부에 상관 없이 모든 보장 기간에 대한 청구권 포기합니다. 여러분은 서비스를 선택하는 데 있어 목적에 적합한 서비스를 선택하거나 특별한 목족에 맞게 판매가능하게 제공될 경우 전적인 책임을 져야 합니다. 법적 고려 사항은 예외나 제한을 인정하지 않으며 이 때 권한 포가는 여러분에게 적용되지 않습니다.</strong>
rights-webservices-term-5 = <strong>법적 요구사항을 제외하고 { -vendor-short-name }와 개발 공헌자, 라이선스 제공자, 배포자는 { -brand-short-name }와 서비스 사용에 대해 직접적이지 않고 특별하고 고의의 가혹한 징계 및 손해에 책임질 필요가 없습니다. 조건 내 책임 보상 범위도 500달러 이상을 초가하지 않습니다. 몇 가지 사법 사항은 특정 손해에 대한 제한을 허용하지 않으며 이런 예와와 제한은 여러분에게 적용하지 않습니다.</strong>
rights-webservices-term-6 = { -vendor-short-name }는 조건들을 시기에 따라 갱신할 수 잇습니다. 하지만 { -vendor-short-name }의 서면 동의 없이 취소되거나 변경되지 않습니다.
rights-webservices-term-7 = 아래 조건은 법 조항 충돌을 제외하고 미국 캘리포니아 주법에 따릅니다. 조건 중 일부분이 유효하지 않거나 강제성이 없다고 하더라도 다른 조항들은 여전히 유효합니다. 조건들을 다른 언어로 번역하였을 경우 영문판과 번역판의 충돌이 있는 경우 영문판을 우선합니다.
