# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Abrir unha xanela privada
    .accesskey = p
about-private-browsing-search-placeholder = Buscar na Rede
about-private-browsing-info-title = Está nunha xanela privada
about-private-browsing-info-myths = Mitos comúns sobre a navegación privada
about-private-browsing =
    .title = Buscar na Rede
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Buscar con { $engine } ou escribir enderezo
about-private-browsing-handoff-no-engine =
    .title = Buscar ou introducir enderezo
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Buscar con { $engine } ou escribir enderezo
about-private-browsing-handoff-text-no-engine = Buscar ou escribir enderezo
about-private-browsing-not-private = Actualmente non está nunha xanela privada.
about-private-browsing-info-description = { -brand-short-name } borra o historial de busca e navegación cando saia do aplicativo ou peche todas as lapelas e xanelas de navegación privada. Aínda que isto non conserva o seu anonimato en sitios web para o seu fornecedor de servizos de internet, si facilita manter en privado o que fai na rede para calquera outra persoa que utilice este ordenador.
about-private-browsing-need-more-privacy = Precisa de máis privacidade?
about-private-browsing-turn-on-vpn = Probe con { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } é o seu motor de busca predeterminado nas xanelas privadas
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Para seleccionar un motor de busca diferente, vaia a <a data-l10n-name="link-options"> Opcións </a>
       *[other] Para seleccionar un motor de busca diferente, vaia a <a data-l10n-name="link-options"> Preferencias </a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Pechar
