# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Está dispoñíbel unha nova actualización de { -brand-shorter-name }.
    .buttonlabel = Descargar actualización
    .buttonaccesskey = D
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Actualice o seu { -brand-shorter-name } para obter o último en velocidade e privacidade.
appmenu-update-manual =
    .label = Non é posíbel que { -brand-shorter-name } se actualice a última versión.
    .buttonlabel = Descargar { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Descargue unha nova copia de { -brand-shorter-name } e axudarémoslle a instalala.
appmenu-update-whats-new =
    .value = Vexa as novidades.
appmenu-update-unsupported =
    .label = Non é posíbel actualizar o { -brand-shorter-name } á última versión.
    .buttonlabel = Máis información
    .buttonaccesskey = M
    .secondarybuttonlabel = Pechar
    .secondarybuttonaccesskey = c
appmenu-update-unsupported-message = A última versión de { -brand-shorter-name } non é compatible no seu sistema.
appmenu-update-restart =
    .label = Reiniciar para actualizar { -brand-shorter-name }.
    .buttonlabel = Reiniciar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Despois dun reinicio rápido, { -brand-shorter-name } restaurará todas as súas xanelas e lapelas abertas que non están no modo de navegación privada.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } non pode actualizarse automaticamente para a versión máis recente.
    .buttonlabel = Actualizar { -brand-shorter-name } igualmente
    .buttonaccesskey = A
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Está dispoñíbel unha nova actualización de { -brand-shorter-name }, pero non se pode instalar porque se está a executar outra copia de { -brand-shorter-name }. Pécheo para continuar coa actualización ou escolla actualizalo de calquera xeito (é posíbel que a outra copia non funcione correctamente até que o reinicie).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Entendín
    .buttonaccesskey = O
appmenu-addon-post-install-message = Xestione os seus complementos premendo <image data-l10n-name='addon-install-icon'></image> no menú <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Aceptar
    .buttonaccesskey = A
appmenu-addon-post-install-message2 = Xestione as súas extensións e temas a través do menú da aplicación.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir que esta extensión se execute en xanelas privadas
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Cambiouse a súa nova lapela.
    .buttonlabel = Conservar cambios
    .buttonaccesskey = m
    .secondarybuttonlabel = Desactivar a extensión
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Cambiouse a súa páxina de inicio.
    .buttonlabel = Conservar cambios
    .buttonaccesskey = m
    .secondarybuttonlabel = Desactivar a extensión
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Cambiouse a súa nova lapela.
    .buttonlabel = Manter cambios
    .buttonaccesskey = M
    .secondarybuttonlabel = Xestionar lapelas novas
    .secondarybuttonaccesskey = X
appmenu-homepage-controlled-changes =
    .label = Cambiouse a súa páxina de inicio.
    .buttonlabel = Manter cambios
    .buttonaccesskey = M
    .secondarybuttonlabel = Xestionar cambios
    .secondarybuttonaccesskey = X
appmenu-tab-hide-controlled =
    .label = Acceder as súas lapelas agochadas
    .buttonlabel = Manter as lapelas agochadas
    .buttonaccesskey = m
    .secondarybuttonlabel = Desactivar a extensión
    .secondarybuttonaccesskey = D
