# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = متصل کردن دستگاهی دیگر
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = ۱) اگر تا به حال اینکار را نکردید، <a data-l10n-name="connect-another-device">فایرفاکس را بر روی موبایل خود نصب کنید</a>.
fxa-qrcode-heading-phase2 = ۲) سپس وارد { -sync-brand-short-name } شوید، یا در اندروید از طریق تنظیمات { -sync-brand-short-name } کد تاییدیه را وارد کنید.
fxa-qrcode-heading-step1 = ۱) اگر تا به حال اینکار را نکردید، <a data-l10n-name="connect-another-device">Firefox را بر روی موبایل خود نصب کنید</a>.
fxa-qrcode-heading-step2 = ۲) Firefox را روی دستگاه همراه خود باز کنید.
fxa-qrcode-heading-step3 = ۳) <b>منو</b> (<img data-l10n-name="ios-menu-icon"/> یا <img data-l10n-name="android-menu-icon"/>) را باز کنید، بر روی <img data-l10n-name="settings-icon"/><b>تنظیمات</b> بزنید و <b>روشن کردن همگام‌سازی</b> را انتخاب کنید.
fxa-qrcode-heading-step4 = ۴) این کد را اسکن کنید:
fxa-qrcode-error-title = اتصال موفق نبود.
fxa-qrcode-error-body = تلاش مجدد.
