# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Важне вести
heading =
    Промене у употреби профила { -brand-short-name.gender ->
        [masculine] { -brand-short-name(case: "gen") }
        [feminine] { -brand-short-name(case: "gen") }
        [neuter] { -brand-short-name(case: "gen") }
       *[other] програма { -brand-short-name }
    }
changed-title = Шта је промењено?
changed-desc-profiles = Ова инсталација програма { -brand-short-name } има нови профил. Профил је скуп датотека у којима Firefox чува податке као што су обележивачи, лозинке и подешавања корисника.
changed-desc-dedicated = Како би било лакше и безбедније да пређете са једне инсталације Firefox-а на другу (укључујући Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition и Firefox Nightly), разграничили смо им профиле. Ваши сачувани подаци се не деле са другим инсталацијама Firefox-а.
lost = <b>Нисте изгубили личне податке ни прилагођавања.</b> Ако сте већ сачували податке у Firefox-у на овом рачунару, доступни су и даље у другој инсталацији Firefox-а.
options-title = Треба ли нешто да предузмем?
options-do-nothing = Ако не учините ништа, подаци из профила у програму { -brand-short-name } ће се разликовати од оних из других инсталација Firefox-а.
options-use-sync = Уколико желите да све инсталације Firefox-а користе исти профил, користите { -fxaccount-brand-name(case: "acc") } да бисте га синхронизовали.
resources = Ресурси:
support-link = Управљање профилима – чланак подршке
sync-header = Региструјте се или се пријавите на { -fxaccount-brand-name(case: "acc") }
sync-label = Унесите имејл-адресу
sync-input =
    .placeholder = Имејл-адреса
sync-button = Настави
sync-terms = Уколико наставите, слажете се са <a data-l10n-name="terms">условима коришћења услуге</a> и <a data-l10n-name="privacy">политиком приватности</a>.
sync-first = Први пут користите { -sync-brand-name(case: "acc") }? Мораћете да се пријавите на свакој инсталацији Firefox-а да бисте синхронизовали своје податке.
new-install-sync-first = Ако желите да синхронизујете своје податке, пријавите се на свим уређајима на којима сте инсталирали Firefox.
sync-learn = Сазнајте више
