# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

panic-button-open-new-window = Отворити нови прозор
panic-button-undo-warning = Ова радња се не може опозвати.
panic-button-forget-button =
    .label = Заборави!

## These strings are combined to form a complete sentence starting with
## panic-main-timeframe-desc. For example: "Forget the last: Five minutes".
## Please ensure that this remains the case in the translation.

panic-main-timeframe-desc = Заборави последњих:
panic-button-5min =
    .label = 5 минута
panic-button-2hr =
    .label = 2 сата
panic-button-day =
    .label = 24 сата

## These strings are combined to form a complete sentence starting with
## panic-button-action-desc. For example: "Proceeding will: Delete Recent Cookies".
## Please ensure that this remains the case in the translation.
## Note also that some strings include <strong> tags for emphasis on the
## words "Cookies", "History", "Tabs" and "Windows". The translation should do the same.

panic-button-action-desc = Поступак ће:
panic-button-delete-cookies = Избрисати недавне <strong>колачиће</strong>
panic-button-delete-history = брисање <strong>историје</strong>
panic-button-delete-tabs-and-windows = Затворити све <strong>језичке</strong> и <strong>прозоре</strong>
