# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Bu özellik etkinleştirildiğinde { -brand-short-name } AV1 Görüntü Dosyası (AVIF) biçimini destekler. AVIF, görüntü boyutunu küçültmek için AV1 video sıkıştırma algoritmalarının yeteneklerinden yararlanan hareketsiz bir görüntü dosyası biçimidir. Ayrıntılar için <a data-l10n-name="bugzilla">bug 1443863</a>'e bakabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-devtools-color-scheme-simulation =
    .label = Geliştirici Araçları: Renk Şeması Simülasyonu
experimental-features-devtools-execution-context-selector =
    .label = Geliştirici Araçları: Execution Context Selector
experimental-features-devtools-compatibility-panel =
    .label = Geliştirici Araçları: Uyumluluk Paneli
experimental-features-devtools-compatibility-panel-description = Sayfa Denetçisi için, uygulamanızın tarayıcılar arası uyumluluk durumunu ayrıntılı olarak gösteren yan panel. Daha fazla bilgi için bkz. <a data-l10n-name="bugzilla">bug 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Çerezler: Varsayılan olarak SameSite=Lax
experimental-features-cookie-samesite-lax-by-default2-description = Hiçbir “SameSite” özniteliği belirtilmemişse çerezleri “SameSite=Lax” olarak değerlendirir. Geliştiricilerin şu anda yaygın uygulama olan sınırsız kullanımı sürdürmek için “SameSite=None” şeklinde özellikle belirtmeleri gerekir.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Çerezler: SameSite=None, secure özniteliği gerektirsin
experimental-features-cookie-samesite-none-requires-secure2-description = “SameSite=None” özniteliğine sahip çerezler secure özniteliği gerektirir. Bu özellik “Çerezler: Varsayılan olarak SameSite=Lax” deneyini gerektirir.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home başlangıç önbelleği
experimental-features-abouthome-startup-cache-description = Başlangıçta varsayılan olarak yüklenen about:home belgesi için önbellek. Bu önbelleğin amacı, başlangıç performansını artırmaktır.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Çerezler: Schemeful SameSite
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Geliştirici Araçları: Service Worker hata ayıklama
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Hata ayıklama panelinde Service Worker’lar için deneysel destek sağlar. Bu özellik, Geliştirici Araçlarını yavaşlatabilir ve bellek tüketimini artırabilir.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Global Ses Kapatma Düğmeleri
experimental-features-webrtc-global-mute-toggles-description = WebRTC genel paylaşım göstergesine kullanıcıların mikrofonlarını ve kameralarını her yerde sessize almalarını sağlayan düğmeleri ekler.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = JavaScript performansını ve bellek kullanımını iyileştirme projesi Warp'u etkinleştirir.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Site İzolasyonu)
experimental-features-fission-description = Fission (site izolasyonu), { -brand-short-name }’ta güvenlik hatalarına karşı ek bir savunma katmanı sağlayan deneysel bir özelliktir. Fission, her bir siteyi ayrı bir işleme izole ederek kötü amaçlı web sitelerinin ziyaret ettiğiniz diğer sayfalardaki bilgilere erişmesini zorlaştırır. Fission, { -brand-short-name } tarayıcısında önemli bir mimari değişimidir. Bu özelliği test eder ve karşılaştığınız sorunları bize bildirirseniz memnun oluruz. Daha fazla bilgi için <a data-l10n-name="wiki">wiki</a>’ye bakın.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Çoklu Görüntü İçinde Görüntü Desteği
experimental-features-multi-pip-description = Birden çok görüntü içinde görüntü penceresinin aynı anda açılmasını sağlamak için deneysel destek.
experimental-features-http3 =
    .label = HTTP/3 protokolü
experimental-features-http3-description = Deneysel HTTP/3 protokolü desteği.
# Search during IME
experimental-features-ime-search =
    .label = Adres Çubuğu: IME oluşturma sırasında sorunları göster
