# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ldi asfaylu uslig
    .accesskey = s
about-private-browsing-search-placeholder = Nadi di Web
about-private-browsing-info-title = Deg usfaylu uslig i telliḍ tura
about-private-browsing-info-myths = Lmed ugar ɣef tunigin tusligt
about-private-browsing =
    .title = Nadi di Web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Nadi s { $engine } neɣ sekcem tansa
about-private-browsing-handoff-no-engine =
    .title = Nadi neɣ sekcem tansa
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Nadi s { $engine } neɣ sekcem tansa
about-private-browsing-handoff-text-no-engine = Nadi neɣ sekcem tansa
about-private-browsing-not-private = Mačči deg usfaylu uslig i telliḍ tura.
about-private-browsing-info-description = { -brand-short-name } iseffeḍ azray n unadi d tunigin mi ara teffɣeḍ seg usnas neɣ ad tmedleḍ iccaren n ifuyla n tunigin tusligin. aya ad ak-ikkes udem uslig mi ara tinigeḍ.
about-private-browsing-need-more-privacy = Tesriḍ ugar n tbaḍnit?
about-private-browsing-turn-on-vpn = Ɛreḍ { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } d amseday_innek n unadi amezwer def ifuyla usligen
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Akken ad tferneḍ amsedday n unadi-nniden ddu ɣer <a data-l10n-name="link-options">Iɣewwaṛen</a>
       *[other] Akken ad tferneḍ amsedday n unadi-nniden ddu ɣer <a data-l10n-name="link-options">Ismenyifen</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Mdel
