# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Illa lqem amaynut { -brand-shorter-name }
    .buttonlabel = Sader lqem
    .buttonaccesskey = D
    .secondarybuttonlabel = Mačči tura
    .secondarybuttonaccesskey = T
appmenu-update-available-message = Leqqem { -brand-shorter-name } inek akken ad tesεu timahalin timaynutin di truradt akked tbaḍnit.
appmenu-update-manual =
    .label = { -brand-shorter-name } ur izmir ara ad ilqem ɣer lqem aneggaru.
    .buttonlabel = Sader { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Mačči tura
    .secondarybuttonaccesskey = T
appmenu-update-manual-message = Sader lqem aneggaru n { -brand-shorter-name } sakin ad k-nɛiwen ad t-tesbeddeḍ.
appmenu-update-whats-new =
    .value = Wali amaynut.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ur izmir ara ad ilqem ɣer lqem aneggaru.
    .buttonlabel = Issin ugar
    .buttonaccesskey = I
    .secondarybuttonlabel = Mdel
    .secondarybuttonaccesskey = M
appmenu-update-unsupported-message = Aleqqem aneggaru n { -brand-shorter-name } ur ur yettwasefrak ara deg unagraw-ik.
appmenu-update-restart =
    .label = Sker i tikkelt-nniḍen akken ad tleqqmeḍ { -brand-shorter-name }.
    .buttonlabel = Sker i tikkelt-nniḍen imir err-d
    .buttonaccesskey = R
    .secondarybuttonlabel = Mačči tura
    .secondarybuttonaccesskey = T
appmenu-update-restart-message = Seld askar arurad, { -brand-shorter-name } ad d-yerr akk accaren yeldin akked yisfayluyen ur nelli ara deg uskar n tunigin tusligt.
appmenu-update-available2 =
    .label = Yella lqem
    .buttonlabel = Sader
    .buttonaccesskey = S
    .secondarybuttonlabel = Kkes
    .secondarybuttonaccesskey = k
appmenu-update-available-message2 = Sader lqem aneggaru n { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Yella lqem
    .buttonlabel = Sader
    .buttonaccesskey = S
    .secondarybuttonlabel = Kkes
    .secondarybuttonaccesskey = k
appmenu-update-manual-message2 = { -brand-shorter-name } yegguma ad yettuleqqem s wudem awurman. Sader lqem amaynut — ur ak·am-tettuṛuḥu ara telɣut yettwaskelsen neɣ agganen.
appmenu-update-unsupported2 =
    .label = Aleqqem d-awezɣi
    .buttonlabel = Issin ugar
    .buttonaccesskey = I
    .secondarybuttonlabel = Kkes
    .secondarybuttonaccesskey = k
appmenu-update-unsupported-message2 = Anagraw-ik·im n wamud ur yemṣada ara akked lqem aneggaru n { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Yella lqem
    .buttonlabel = Leqqem syen ales asenker
    .buttonaccesskey = L
    .secondarybuttonlabel = Kkes
    .secondarybuttonaccesskey = k
appmenu-update-restart-message2 = Awi lqem aneggaru n { -brand-shorter-name }. Ldi accaren, isfuyla ad d-uɣalen.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } ur izmir ara ad ileqqem s wudem awurman ɣer lqem aneggaru.
    .buttonlabel = Akken yebɣu yili leqqem { -brand-shorter-name }
    .buttonaccesskey = U
    .secondarybuttonlabel = Mačči tura
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Yella lqem amaynut n { -brand-shorter-name }, maca ur yezmir ara ad yettusebded acku yella nɣel-nniḍen n { -brand-shorter-name } la iteddu. Mdel-it i wakken ad tkemmleḍ lqem, neɣ fren ɣas akken leqqem (nɣel-nni-nniḍen yezmer ur iteddu ara akken iwata alamma tulseḍ-as asenker).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ih, awi-t-id
    .buttonaccesskey = O
appmenu-addon-post-install-message = Sefrek izegrar inek s usebbed γef <image data-l10n-name='addon-install-icon'></image> deg umuγ <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Ih
    .buttonaccesskey = H
appmenu-addon-post-install-message2 = Sefrek isiɣzaf d yisental inek·inem deg wumuɣ n usnas.
appmenu-addon-post-install-message3 = Sefrek izegrar d yisental inek·inem deg wumuɣ n usnas.
appmenu-addon-post-install-incognito-checkbox =
    .label = Sireg asiɣzef-agi ad yeddu deg isfuyla usligen
    .accesskey = S
appmenu-new-tab-controlled =
    .label = Iccer-ik amaynut ibeddel.
    .buttonlabel = Ḥrez abeddel
    .buttonaccesskey = Ḥ
    .secondarybuttonlabel = Sens aseɣzif
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Asebter-inek agejdan ibeddel.
    .buttonlabel = Ḥrez abeddel
    .buttonaccesskey = K
    .secondarybuttonlabel = Sens aseɣzif
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Iccer-inek·inem amaynut yettusenfel.
    .buttonlabel = Eǧǧ isenfal
    .buttonaccesskey = K
    .secondarybuttonlabel = Sefrek accaren imaynuten
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = Asebter-inek·inem agejdayettusenfel.
    .buttonlabel = Eǧǧ isenfal
    .buttonaccesskey = K
    .secondarybuttonlabel = Sefrek asebter agejdan
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Kcem γer iccaren-inek ifren
    .buttonlabel = Eǧǧ iccaren fren
    .buttonaccesskey = K
    .secondarybuttonlabel = Sens aseɣzif
    .secondarybuttonaccesskey = D
