# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Isallen s wazal
heading = Bedel ɣer umaɣnu { -brand-short-name }
changed-title = Acu Ibedlen?
changed-desc-profiles = Asebded-agi n { -brand-short-name } yesɛa amaɣnu amaynut. Amaɣnu d agraw n ifuyla anida Firefox yesseklas talɣut am Ticraḍ n isebtar, awalen uffiren, akked Ismenyifen n useqdac.
changed-desc-dedicated = I wakken ad yifsus u  ad yili d aɣelsan useqdec n usebded n Firefox ( am Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, Akked Firefox Nightly), asebded-agi yesɛa amaɣnu yettunefken. Ur ibeṭṭu ara s wudem awurman talɣut-ik yetwaskelsen akked isebdaden Firefox nniḍen.
lost = <b>Ur ak-ṛuḥen ara yisefka udmawanen neɣ n usagan.</b> Ma yella teskelseḍ yakan talɣut  deg Firefox ɣef uselkim-a, mzal-itt tella deg usebded-nniḍen n Firefox.
options-title = D acu-tent tixtirin-inu?
options-do-nothing = Ma ulac acu txedmeḍ, isefka yellan deg umaɣnu-inek di { -brand-short-name } ad mgaraden ɣer isefka n umaɣnu deg usebded n Firefox nniḍen.
options-use-sync = Ma tebɣiḍ akk isefka-ik n umaɣnu ad ilin deg isebdaden-ik n Firefox, tzemreḍ ad tesqedceḍ { -fxaccount-brand-name } akken ad ten-teǧǧeḍ mtawin.
resources = Tiɣbula:
support-link = Seqdec amsefrak n yimuɣna - Amagrad n tallelt
sync-header = Kcem neɣ snulfu-d { -fxaccount-brand-name }
sync-label = Sekcem imayl inek
sync-input =
    .placeholder = Imayl
sync-button = Kemmel
sync-terms = Ma tkemmleḍ, ad tqebleḍ <a data-l10n-name="terms">Tiwtilin-nneɣ n useqdec</a> akked <a data-l10n-name="privacy">Tsertit-nneɣ tabaḍnit</a>.
sync-first = D tikkelt tamenzut ara tesqedceḍ { -sync-brand-name }? Tesriḍ ad teqqneḍ deg yal asbeddi n Firefox akken ad temtawiḍ talɣut-ik.
new-install-sync-first = D tikkelt tamenzut ara tesqedceḍ? Tesriḍ ad teqqneḍ deg yal asbeddi n Firefox akken ad temtawiḍ talɣut-ik.
sync-learn = Issin ugar
