# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: „Masonry“ išdėstymas
experimental-features-css-masonry-description = Įjungia eksperimentinio CSS „Masonry“ išdėstymo palaikymą. Paskaitykite <a data-l10n-name="explainer">paaiškinimą</a>, kur pateikiamas aukšto lygmens aprašymas šiam funkcionalumui. Norėdami palikti atsiliepimą, pakomentuokite <a data-l10n-name="w3c-issue">šią „GitHub“ problemą</a>, arba <a data-l10n-name="bug">šią klaidą</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Šis naujas API suteikia žemo lygio palaikymą norint atlikti skaičiavimus ir grafinius atvaizdavimus naudojant <a data-l10n-name="wikipedia">vaizdo procesorių (GPU)</a>, esantį naudotojo įrenginyje ar kompiuteryje. <a data-l10n-name="spec">Specifikacija</a> yra vis dar kuriama. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1602129</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Su šia funkcija „{ -brand-short-name }“ palaiko AV1 vaizdo failų (AVIF) formatą. Tai yra nejudančio vaizdo failų formatas, išnaudojantis AV1 vaizdo suspaudimo algoritmus, siekiant sumažinti paveikslo dydį. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1443863</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Mūsų <a data-l10n-name="mdn-inputmode">inputmode</a> globalaus atributo įgyvendinimas buvo atnaujintas pagal <a data-l10n-name="whatwg">„WHATWG“ specifikaciją</a>, tačiau mums dar reikia atlikti kitų pakeitimų, pvz., padaryti jį pasiekiamą per „contenteditable“ turinį. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1205133</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = <a data-l10n-name="rel">rel</a> atributas su reikšme <code>"preload"</code> ant <a data-l10n-name="link">&lt;link&gt;</a> elemento yra skirtas padėti suteikti daugiau našumo, leidžiant jums atsiųsti resursus ankstesnėje tinklalapio įkėlimo stadijoje. Taip užtikrinama, kad jie bus pasiekiami anksčiau, ir bus mažesnė tikimybė stabdyti pačio tinklalapio atvaizdavimą. Sužinoti daugiau galite skaitydami <a data-l10n-name="readmore">„Išankstinis turinio įkėlimas su <code>rel="preload"</code>“</a>, arba apie <a data-l10n-name="bugzilla">klaidą 1583604</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: pseudoklasė: :focus-visible
experimental-features-css-focus-visible-description = Leidžia „focus“ stiliams būtų taikomiems tokiems elementams, kaip mygtukai ir formų elementai tik tada, kai jie aktyvuojami naudojantis klaviatūra (pvz., pereinant tarp elementų su „Tab“), ir ne tada, kad jie aktyvuojami naudojantis pele ar kitu rodymo įrenginiu. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1617600</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: „beforeinput“ įvykis
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = Globalus <a data-l10n-name="mdn-beforeinput">beforeinput</a> įvykis gali būti sukeliamas <a data-l10n-name="mdn-input">&lt;input&gt;</a> ir <a data-l10n-name="mdn-textarea">&lt;textarea&gt;</a> elementų, arba bet kurio elemento, kurio atributas <a data-l10n-name="mdn-contenteditable">contenteditable</a> yra įjungtas, iškart prieš pasikeičiant elemento reikšmei. Šis įvykis leidžia svetainėms pakeisti numatytąjį naršyklės naudotojo veiksmų apdorojimą, pvz., svetainės gali atmesti tik tam tikrų simbolių įvedimą, arba gali pakeisti įklijuojamą stilizuotą tekstą, leidžiant tik patvirtintus stilius.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets (konstruojami stilių aprašai)
experimental-features-css-constructable-stylesheets-description = Konstruktoriaus pridėjimas į <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> sąsają, kartu su įvairiais susijusiais pakeitimais, leidžia tiesiogiai kurti naujus stilių aprašus nepridedant jų į HTML. Tai leidžia žymiai paprasčiau kurti daugkartinio naudojimo stilių aprašus, skirtus naudojimui su <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1520690</a>.
experimental-features-devtools-color-scheme-simulation =
    .label = Programuotojų priemonės: spalvų schemų simuliacija
experimental-features-devtools-color-scheme-simulation-description = Prideda galimybę simuliuoti skirtingas spalvų schemas, leidžiančią išbandyti <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> @media taisykles. Naudojant šią @media taisyklę, stilių aprašai gali reaguoti į naudotojo pasirinkimą dėl šviesios ar tamsios sąsajos. Tai leidžia testuoti jūsų kodą nedarant pakeitimų naršyklėje (arba operacinėje sistemoje, jei naršyklė atsižvelgia į sistemos spalvinės schemos nuostatas). Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla1">klaidą 1550804</a>, ir <a data-l10n-name="bugzilla2">klaidą 1137699</a>.
experimental-features-devtools-execution-context-selector =
    .label = Programuotojų priemonės: vykdymo konteksto pasirinkimas
experimental-features-devtools-execution-context-selector-description = Ši funkcija rodo mygtuką naršyklės pulto komandinėje eilutėje, kuris leidžia pakeisti rašomos išraiškos vykdymo kontekstą. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla1">klaidą 1605154</a>, ir <a data-l10n-name="bugzilla2">klaidą 1605153</a>.
experimental-features-devtools-compatibility-panel =
    .label = Programuotojų priemonės: suderinamumo polangis
experimental-features-devtools-compatibility-panel-description = Šoninis polangis tinklalapio tyrikliui, kuris rodo detalią informaciją apie svetainės suderinamumą su įvairiomis naršyklėmis. Sužinoti daugiau galite skaidydami apie <a data-l10n-name="bugzilla">klaidą 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Slapukai: SameSite=Lax (numatyta)
experimental-features-cookie-samesite-lax-by-default2-description = Slapukams taikyti „SameSite=Lax“ kaip numatytąją reikšmę, jei atributas „SameSite“ nenurodytas. Programuotojai turi išimtinai pasirinkti dabartinį neriboto naudojimo funkcionalumą, išskirtinai nurodydami „SameSite=None“.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Slapukai: SameSite=None reikalauja atributo „secure“
experimental-features-cookie-samesite-none-requires-secure2-description = Slapukai su atributu „SameSite=None“ reikalauja atributo „secure“. Šiam funkcionalumui reikalinga „Slapukai: SameSite=Lax (numatyta)“.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = „about:home“ paleisties podėlis
experimental-features-abouthome-startup-cache-description = Podėlis, skirtas pirminiam „about:home“ dokumentui, kuris yra numatytasis pradžios tinklalapis. Šio podėlio paskirtis yra pagerinti paleisties našumą.
experimental-features-print-preview-tab-modal =
    .label = Spausdinio peržiūros atnaujinimas
experimental-features-print-preview-tab-modal-description = Naudoja perdarytą spausdinio peržiūrą, ir padaro ją pasiekiamą per „macOS“. Tai gali sukelti veikimo sutrikimų, ir neturi visų su spausdinimu susijusių nuostatų. Norėdami pasiekti visas susijusias nuostatas, iš spausdinimo polangio pasirinkite „Spausdinti naudojant sistemos dialogą…“.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Slapukai: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Laikyti slapukus iš to pačio domeno, tačiau su skirtingomis schemomis (pvz., http://example.com ir https://example.com), kaip tarp svetainių veikiančius (cross-site), o ne tos pačios svetainės (same-site).
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Programuotojų priemonės: aptarnavimo scenarijų (Service Worker) derinimas
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Įjungia eksperimentinį aptarnavimo scenarijų palaikymą derinimo polangyje. Šis funkcionalumas gali sulėtinti programuotojų priemonių veikimą ir padidinti atminties sunaudojimą.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = „WebRTC“ globalaus užtildymo valdymas
experimental-features-webrtc-global-mute-toggles-description = Pridėti valdymo mygtukus į „WebRTC“ globalaus dalinimosi indikatorių, kuris leidžia naudotojui globaliai užtildyti savo mikrofoną ir kamerą.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Įjungti „Warp“, projektą, kuris pagerina „JavaScript“ našumą ir atminties sunaudojimą.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (svetainių izoliavimas)
experimental-features-fission-description = „Fission“ (svetainių izoliavimas) yra eksperimentinis „{ -brand-short-name }“ funkcionalumas, skirtas suteikti papildomą apsaugos sluoksnį nuo saugumo spragų. Izoliuodamas kiekvieną svetainę į atskirą procesą, „Fission“ apsunkina kenkėjiškų svetainių bandymus pasiekti informaciją iš kitų jūsų lankomų svetainių. Tai yra didelis architektūrinis „{ -brand-short-name }“ pokytis, ir mes vertiname jūsų testavimą bei pranešimus apie iškilusias problemas. Norėdami sužinoti daugiau, aplankykite <a data-l10n-name="wiki">vikį</a>.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Keleto vaizdų-vaizde palaikymas
experimental-features-multi-pip-description = Eksperimentinis keleto vaizdo-vaizde langų, atvertų tuo pačiu metu, palaikymas.
experimental-features-http3 =
    .label = HTTP/3 protokolas
experimental-features-http3-description = Eksperimentinis HTTP/3 protokolo palaikymas.
# Search during IME
experimental-features-ime-search =
    .label = Adreso laukas: rodyti rezultatus vykstant IME kompozicijai
experimental-features-ime-search-description = IME („Input Method Editor“) yra įrankis, leidžiantis jums įvesti sudėtingus simbolius, pvz., naudojamus rytų Azijos ar Indijos rašytinėse kalbose, naudojantis įprasta klaviatūra. Įjungus šį eksperimentą, adreso laukas bus atvertas ir jame rodomi paieškos rezultatai bei pasiūlymai, naudojant IME teksto įvedimui. Atkreipkite dėmesį, kad IME gali rodyti polangį, kuri uždengs adreso lauko rezultatus. Dėl to ši parinktis yra siūloma naudoti tik su IME, kuris neturi tokio tipo polangio.
