# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ka gati një përditësim të ri për { -brand-shorter-name }-in.
    .buttonlabel = Shkarko Përditësimin
    .buttonaccesskey = k
    .secondarybuttonlabel = Jo Tani
    .secondarybuttonaccesskey = J
appmenu-update-available-message = Për fjalën e fundit në shpejtësi dhe privatësi, përditësoni { -brand-shorter-name }-in tuaj.
appmenu-update-manual =
    .label = { -brand-shorter-name }-i s'mund të përditësohet me versionin më të ri.
    .buttonlabel = Shkarkoje { -brand-shorter-name }-in
    .buttonaccesskey = S
    .secondarybuttonlabel = Jo Tani
    .secondarybuttonaccesskey = J
appmenu-update-manual-message = Shkarkoni një kopje të re të { -brand-shorter-name }-it dhe do t'ju ndihmojmë ta instaloni.
appmenu-update-whats-new =
    .value = Shihni ç'ka të re.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } s’është në gjendje të përditësohet me versionin më të ri.
    .buttonlabel = Mësoni më tepër
    .buttonaccesskey = M
    .secondarybuttonlabel = Mbylle
    .secondarybuttonaccesskey = M
appmenu-update-unsupported-message = Versioni më i ri i { -brand-shorter-name }-it nuk mbulohet në sistemin tuaj.
appmenu-update-restart =
    .label = Që të përditësohet { -brand-shorter-name }-i, riniseni.
    .buttonlabel = Rinise dhe Riktheji
    .buttonaccesskey = R
    .secondarybuttonlabel = Jo Tani
    .secondarybuttonaccesskey = J
appmenu-update-restart-message = Pas një rinisjeje të shpejtë, { -brand-shorter-name }-i do të rikthejë krejt skedat dhe dritaret tuaja të hapura që nuk gjenden nën mënyrën Shfletim Privat.
appmenu-update-available2 =
    .label = Ka përditësim gati
    .buttonlabel = Shkarkoje
    .buttonaccesskey = S
    .secondarybuttonlabel = Hidhe tej
    .secondarybuttonaccesskey = t
appmenu-update-available-message2 = Shkarkoni versionin më të ri të { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Ka përditësim gati
    .buttonlabel = Shkarkoje
    .buttonaccesskey = S
    .secondarybuttonlabel = Hidhe tej
    .secondarybuttonaccesskey = t
appmenu-update-manual-message2 = { -brand-shorter-name } s’u përditësua dot automatikisht. Shkarkoni versionin e ri — s’do të humbni të dhëna apo përshtatje të ruajtura.
appmenu-update-unsupported2 =
    .label = S’arrihet të përditësohet
    .buttonlabel = Mësoni më tepër
    .buttonaccesskey = M
    .secondarybuttonlabel = Hidhe tej
    .secondarybuttonaccesskey = t
appmenu-update-unsupported-message2 = Sistemi juaj operativ s’është i përputhshëm me versionin më të ri të { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Ka përditësim gati
    .buttonlabel = Përditësojeni dhe riniseni
    .buttonaccesskey = P
    .secondarybuttonlabel = Hidhe tej
    .secondarybuttonaccesskey = t
appmenu-update-restart-message2 = Merrni versionin më të ri të { -brand-shorter-name }. Skedat dhe dritaret e hapura do të rikthehen.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } s’është në gjendje të përditësohet vetvetiu me versionin më të ri.
    .buttonlabel = Përditsoje { -brand-shorter-name }-in sido qoftë
    .buttonaccesskey = P
    .secondarybuttonlabel = Jo Tani
    .secondarybuttonaccesskey = J
appmenu-update-other-instance-message = Ka gati një përditësim të ri të { -brand-shorter-name }-it, por s’mund të instalohet, ngaqë është në punë një kopje tjetër e { -brand-shorter-name }-it. Mbylleni, që të vazhdohet përditësimi, ose zgiidhni të përditësohet sido qoftë (kopja tjetër mund të mos punojë saktë, deri sa pa e rinisur).
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, e mora vesh
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administroni shtesat tuaj duke klikuar <image data-l10n-name='addon-install-icon'></image> te menuja <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Administroni zgjerimet dhe temat tuaja përmes menusë së aplikacionit
appmenu-addon-post-install-message3 = Administroni shtesa dhe temat tuaja përmes menusë së aplikacionit
appmenu-addon-post-install-incognito-checkbox =
    .label = Lejoje këtë zgjerim të xhirojë në Dritare Private
    .accesskey = L
appmenu-new-tab-controlled =
    .label = Rregullimet tuaja për Skedë të Re kanë ndryshuar.
    .buttonlabel = Mbaji Ndryshimet
    .buttonaccesskey = M
    .secondarybuttonlabel = Çaktivizoje Zgjerimin
    .secondarybuttonaccesskey = Ç
appmenu-homepage-controlled =
    .label = Faqja juaj hyrëse ka ndryshuar.
    .buttonlabel = Mbaji Ndryshimet
    .buttonaccesskey = M
    .secondarybuttonlabel = Çaktivizoje Zgjerimin
    .secondarybuttonaccesskey = Ç
appmenu-new-tab-controlled-changes =
    .label = Skeda juaj e re ka ndryshuar.
    .buttonlabel = Mbaji Ndryshimet
    .buttonaccesskey = M
    .secondarybuttonlabel = Administroni Skeda të Reja
    .secondarybuttonaccesskey = A
appmenu-homepage-controlled-changes =
    .label = Faqja hyrëse juaj ka ndryshuar.
    .buttonlabel = Mbaji Ndryshimet
    .buttonaccesskey = M
    .secondarybuttonlabel = Administroni Faqe hyrëse
    .secondarybuttonaccesskey = A
appmenu-tab-hide-controlled =
    .label = Hyni Te Skedat Tuaja të Fshehura
    .buttonlabel = Mbaji Skedat të Fshehura
    .buttonaccesskey = M
    .secondarybuttonlabel = Çaktivizoje Zgjerimin
    .secondarybuttonaccesskey = Ç
