# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Sobre o Developer Tools
enable-title = Ativar ferramentas de desenvolvimento do Firefox
enable-inspect-element-title = Ative as ferramentas de desenvolvimento do Firefox para usar o Inspect Element
enable-inspect-element-message = Examine e edite HTML e CSS com o Inspetor das ferramentas de desenvolvimento.
enable-about-debugging-message = Desenvolva e depure WebExtensions, web workers, service workers e muito mais com as ferramentas de desenvolvimento do Firefox.
enable-key-shortcut-message = Você ativou um atalho das ferramentas de desenvolvimento. Se foi por engano, pode fechar esta aba.
enable-menu-message = Aperfeiçoe HTML, CSS e JavaScript do seu site com ferramentas como Inspetor e Debugger.
enable-common-message = As ferramentas de desenvolvimento do Firefox são desativadas por padrão para dar a você mais controle sobre seu navegador.
enable-learn-more-link = Saiba mais sobre as ferramentas de desenvolvimento
enable-enable-button = Ativar ferramentas de desenvolvimento
enable-close-button = Fechar esta aba
welcome-title = Boas-vindas às ferramentas de desenvolvimento do Firefox!
newsletter-title = Mozilla Developer Newsletter
newsletter-message = Receba novidades, truques e recursos de desenvolvimento diretamente na sua caixa de entrada.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Eu aceito a Mozilla lidar com minhas informações conforme explicado nesta <a data-l10n-name="privacy-policy">política de privacidade</a>.
newsletter-subscribe-button = Inscrever
newsletter-thanks-title = Obrigado!
newsletter-thanks-message = Se você não confirmou anteriormente uma inscrição em um boletim informativo relacionado à Mozilla, pode precisar fazê-lo. Verifique se recebeu um email nosso em sua caixa de entrada ou filtro de spam.
footer-title = Firefox Developer Edition
footer-message = Procurando mais do que as ferramentas de desenvolvimento? Confira o navegador Firefox que é construído especificamente para desenvolvedores e fluxos de trabalho modernos.
footer-learn-more-link = Saiba mais
features-learn-more = Saiba mais
features-inspector-title = Inspetor
features-inspector-desc = Inspecione e refine código para construir layouts perfeitos até em pixels. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Console
features-console-desc = Acompanhe problemas de CSS, JavaScript, segurança e rede. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Poderoso depurador JavaScript com suporte a seu framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rede
features-network-desc = Monitore requisições de rede que podem bloquear seu site ou fazê-lo ficar mais lento. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Armazenamento
features-storage-desc = Adicione, modifique e remova cache, cookies, bases de dados e dados de sessão. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Design responsivo
features-responsive-desc = Teste sites em dispositivos emulados no seu navegador. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edição visual
features-visual-editing-desc = Faça ajustes finos em animações, alinhamento e espaçamento. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Desempenho
features-performance-desc = Desbloqueie gargalos, simplifique processos, otimize recursos. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memória
features-memory-desc = Encontre vazamentos de memória e agilize sua aplicação. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Falha ao requisitar inscrição ({ $errorDescription }).
newsletter-error-unknown = Ocorreu um erro não previsto.
newsletter-error-timeout = Expirou o tempo de requisição de inscrição.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Você ativou com sucesso as ferramentas de desenvolvimento! Para começar, explore o menu Desenvolvimento web, ou abra as ferramentas com { $shortcut }.
