# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The question portion of the following message should have the <strong> and </strong> tags surrounding it.
default-browser-notification-message = <strong>{ -brand-short-name }를 기본 브라우저로 설정하시겠습니까?</strong> 웹을 사용할 때마다 빠르고 안전하며 사생활 보호를 할 수 있습니다.
default-browser-notification-button =
    .label = 기본값으로 설정
    .accesskey = S
