# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = 중요 뉴스
heading = { -brand-short-name } 프로필의 변경 사항
changed-title = 무엇이 바뀌었습니까?
changed-desc-profiles = 이 { -brand-short-name } 설치는 새 프로필을 생성합니다. 프로필은 Firefox가 북마크, 비밀번호 및 사용자 기본 설정과 같은 정보를 저장하는 파일 모음입니다.
changed-desc-dedicated = 설치된 Firefox(Firefox, Firefox ESR, Firefox 베타, Firefox 개발자 버전 및 Firefox Nightly 포함)들 사이를 쉽고 안전하게 전환할 수 있도록 이 설치에는 분리된 프로필이 적용되었습니다. 저장된 정보는 다른 Firefox 설치와 자동으로 공유되지 않습니다.
lost = <b>개인 데이터나 사용자 지정이 없어지지 않았습니다.</b> 이 컴퓨터의 Firefox에 정보를 이미 저장했다면, 다른 Firefox 설치에서도 이 정보를 계속 사용할 수 있습니다.
options-title = 내 선택 사항은 무엇입니까?
options-do-nothing = 아무것도 하지 않으면 { -brand-short-name }의 프로필 데이터가 다른 Firefox 설치의 프로필 데이터와 달라집니다.
options-use-sync = 모든 Firefox 설치에서 모든 프로필 데이터가 동일하도록 하려면 { -fxaccount-brand-name }를 사용하여 동기화 상태를 유지하세요.
resources = 자원:
support-link = 프로필 관리자 사용 - 지원 문서
sync-header = 로그인 또는 { -fxaccount-brand-name } 만들기
sync-label = 이메일 입력
sync-input =
    .placeholder = 이메일
sync-button = 계속
sync-terms = 계속 진행하면 <a data-l10n-name="terms">서비스 약관</a> 및 <a data-l10n-name="privacy">개인정보처리방침</a>에 동의하게 됩니다.
sync-first = { -sync-brand-name }를 처음 사용하십니까? 정보를 동기화하려면 설치된 Firefox 모두에 로그인해야 합니다.
new-install-sync-first = Sync를 처음 사용하십니까? 정보를 동기화하려면 설치된 Firefox 모두에 로그인해야 합니다.
sync-learn = 더 알아보기
