# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = یک پنجره‌ی ناشناس باز کن
    .accesskey = ن
about-private-browsing-search-placeholder = وب را جست‌وجو کنید
about-private-browsing-info-title = شما در یک پنجرهٔ ناشناس هستید
about-private-browsing-info-myths = افسانه‌های متداول در مورد مرور ناشناس
about-private-browsing =
    .title = وب را جست‌وجو کنید
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = با { $engine } جست‌وجو یا آدرسی وارد کنید
about-private-browsing-handoff-no-engine =
    .title = متنی برای جست‌وجو یا یک آدرس وارد کنید
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = با { $engine } جست‌وجو یا آدرسی وارد کنید
about-private-browsing-handoff-text-no-engine = متنی برای جست‌وجو یا یک آدرس وارد کنید
about-private-browsing-not-private = شما در حال حاضر در پنجره‌ی ناشناس قرار ندارید.
about-private-browsing-info-description = { -brand-short-name } جست‌وجوها و تاریخچه مرور شما را هنگام خروج از برنامه یا بستن تمام پنجره‌ها و زبانه‌های ناشناس پاک می‌کند. اینکار شما را در وب‌سایت‌ها یا فراهم‌کنندهٔ اینترنتتان ناشناس نمی‌کند، اما مخفی کردن فعالیت‌های آنلاین شما را از هرکس دیگری که از این رایانه استفاده می‌کند را ساده‌تر می‌کند.
about-private-browsing-need-more-privacy = به حریم خصوصی بیشتری نیاز دارید؟
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name } را امتحان کنید
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } موتور جست‌وجو پیش‌فرض شما در پنجره‌های ناشناس است
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] برای انتخاب یک موتور جست‌وجو دیگر به <a data-l10n-name="link-options">گزینه‌ها</a> بروید
       *[other] برای انتخاب یک موتور جست‌وجو دیگر به <a data-l10n-name="link-options">ترجیحات</a> بروید
    }
about-private-browsing-search-banner-close-button =
    .aria-label = بستن
