# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = درباره { -brand-full-name }
releaseNotes-link = امکانات جدید
update-checkForUpdatesButton =
    .label = بررسی برای بروزرسانی‌ها
    .accesskey = ب
update-updateButton =
    .label = برای بروزرسانی { -brand-shorter-name } را مجددا راه‌اندازی کنید
    .accesskey = R
update-checkingForUpdates = بررسی برای بروزرسانی‌ها…
update-downloading = <img data-l10n-name="icon"/>در حال دریافت به‌روزرسانی — <label data-l10n-name="download-status"/>
update-downloading-message = در حال دریافت بروزرسانی — <label data-l10n-name="download-status"/>
update-applying = اعمال به‌‌روزرسانی…
update-failed = به‌روزرسانی ناموفق بود. <label data-l10n-name="failed-link">آخرین نسخه را دانلود کنید</label>
update-failed-main = به‌روزرسانی ناموفق بود. <a data-l10n-name="failed-link-main">آخرین نسخه را دانلود کنید</a>
update-adminDisabled = مدیر سیستم‌ شما به‌روزرسانی‌ها را غیرفعال کرده است.
update-noUpdatesFound = { -brand-short-name } به‌روز است
update-otherInstanceHandlingUpdates = { -brand-short-name } در بخش دیگری از برنامه در حال به‌روزرسانی است.
update-manual = به‌روزرسانی‌ها در این‌جا قابل دسترسی هستند:<label data-l10n-name="manual-link"/>
update-unsupported = شما نمی‌توانید به‌روزرسانی‌های بیشتری را بر روی این سیستم انجام بدهید.<label data-l10n-name="unsupported-link">بیشتر بدانید</label>
update-restarting = در حال راه‌اندازی مجدد...
channel-description = در حال حاضر در کانل بروزرسانی <label data-l10n-name="current-channel"></label> هستید.
warningDesc-version = { -brand-short-name } آزمایشی است و ممکن است ناپایدار باشد.
aboutdialog-help-user = راهنمای { -brand-product-name }
aboutdialog-submit-feedback = ارسال بازخورد
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> یک <label data-l10n-name="community-exp-creditsLink">جامعه‌ی جهانی</label> است که با یکدیگر همکاری می‌کنند تا وب را باز، عمومی و برای همه قابل دسترس نگه دارند.
community-2 = { -brand-short-name } طراحی شده توسط <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>، یک <label data-l10n-name="community-creditsLink">جامعه‌ی جهانی</label> با یکدیگر همکاری می‌کنند تا وب را باز، عمومی و قابل‌ دسترس برای همگان نگاه‌ دارند.
helpus = می خواهید کمک کنید؟ <label data-l10n-name="helpus-donateLink">کمک نقدی</label> یا <label data-l10n-name="helpus-getInvolvedLink">مشارکتتان را آغاز کنید!</label>
bottomLinks-license = اطلاعات مجوز
bottomLinks-rights = حقوق کاربران
bottomLinks-privacy = سیاست حفظ حریم خصوصی
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-بیت)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ‫({ $isodate }) ({ $bits }-بیت)
