# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = 의심스러운 사이트
safeb-blocked-malware-page-title = 웹 사이트 방문이 컴퓨터를 손상시킬 수 있음
safeb-blocked-unwanted-page-title = 방문하려는 사이트가 위험한 프로그램을 포함할 수 있음
safeb-blocked-harmful-page-title = 방문하려는 사이트가 악성 코드를 포함할 수 있음
safeb-blocked-phishing-page-short-desc = 소프트웨어를 설치하거나 비밀번호나 신용카드 정보와 같은 개인 정보가 들어날 수 있는 행동을 하도록 속일 수 있기 때문에 { -brand-short-name }가 이 페이지를 차단하였습니다.
safeb-blocked-malware-page-short-desc = 컴퓨터의 개인 정보를 훔치거나 지울 수 있는 악성 코드를 설치할 수 있기 때문에 { -brand-short-name }가 페이지를 차단하였습니다.
safeb-blocked-unwanted-page-short-desc = 탐색 경험을 해칠 수 있는 프로그램을 설치하도록 속일 수 있기 때문(예를 들어 첫페이지를 바꾸거나 방문한 사이트에 광고를 추가)에 { -brand-short-name }가 이 페이지를 차단하였습니다.
safeb-blocked-harmful-page-short-desc = 사용자 정보(예를 들어 사진, 비밀번호, 메시지, 신용카드)를 훔치거나 지울 수 있는 위험한 앱을 설치할 수 있기 때문에 { -brand-short-name }가 이 페이지를 차단하였습니다.
safeb-palm-advisory-desc = <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>의 자문을 받음
safeb-palm-accept-label = 뒤로 가기
safeb-palm-see-details-label = 상세 보기
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>의심스러운 사이트로 보고</a>되었습니다. <a data-l10n-name='report_detection'>감지 문제를 보고</a>하거나 <a data-l10n-name='ignore_warning_link'>위험을 무시하고</a>안전하지 않은 사이트로 진행할 수 있습니다.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>의심스러운 사이트로 보고</a>되었습니다. <a data-l10n-name='report_detection'>감지 문제를 보고</a>할 수 있습니다.
safeb-blocked-phishing-page-learn-more = <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>에서 의심가는 사이트와 피싱에 대해서 더 알아보세요. <a data-l10n-name='firefox_support'>support.mozilla.org</a>에서 { -brand-short-name }의 피싱과 악성코드 방지에 대해 더 알아보세요.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span>가 <a data-l10n-name='error_desc_link'>악성 코드를 포함하고 있다고 보고</a>되었습니다. <a data-l10n-name='report_detection'>감지 문제를 보고</a>하거나 <a data-l10n-name='ignore_warning_link'>위험을 무시하고</a>안전하지 않은 사이트로 진행할 수 있습니다.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span>가 <a data-l10n-name='error_desc_link'>악성 코드를 포함하고 있다고 보고</a>되었습니다. <a data-l10n-name='report_detection'>감지 문제를 보고</a>할 수 있습니다.
safeb-blocked-malware-page-learn-more = <a data-l10n-name='learn_more_link'>StopBadware.org</a>에서 바이러스와 다른 악성코드를 포함하고 있는 웹 콘텐츠에 대한 내용과 컴퓨터를 보호하는 방법에 대해 더 알아보세요. <a data-l10n-name='firefox_support'>support.mozilla.org</a>에서 { -brand-short-name }의 피싱과 악성코드 방지에 대해 더 알아보세요.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>악성 소프트웨어를 포함</a>하고 있는 것으로 보고되었습니다. <a data-l10n-name='ignore_warning_link'>위험을 무시</a>하고 안전하지 않은 사이트로 진행할 수 있습니다.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>악성 소프트웨어를 포함</a>하고 있는 것으로 보고되었습니다.
safeb-blocked-malware-page-learn-more-sumo = <a data-l10n-name='firefox_support'>support.mozilla.org</a>에서 { -brand-short-name }의 피싱과 악성코드 방지에 대해 더 알아보세요.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>위험한 소프트웨어를 포함</a>하고 있는 것으로 보고되었습니다. <a data-l10n-name='ignore_warning_link'>위험을 무시</a>하고 안전하지 않은 사이트로 진행할 수 있습니다.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>위험한 소프트웨어를 포함</a>하고 있는 것으로 보고되었습니다.
safeb-blocked-unwanted-page-learn-more = <a data-l10n-name='learn_more_link'>원치 않는 소프트웨어 정책</a>에서 위험한 원치 않는 소프트웨어에 대해 더 알아보세요. <a data-l10n-name='firefox_support'>support.mozilla.org</a>에서 { -brand-short-name }의 피싱과 악성코드 방지에 대해 더 알아보세요.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>잠재적으로 위험한 애플리케이션을 포함한다고 보고</a>되었습니다. <a data-l10n-name='ignore_warning_link'>위험을 무시하고</a> 안전하지 않은 사이트로 진행할 수 있습니다.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> 사이트가 <a data-l10n-name='error_desc_link'>잠재적으로 위험한 애플리케이션을 포함한다고 보고</a>되었습니다.
safeb-blocked-harmful-page-learn-more = <a data-l10n-name='firefox_support'>support.mozilla.org</a>에서 { -brand-short-name }의 피싱과 악성코드 방지에 대해 더 알아보세요.
safeb-palm-notdeceptive =
    .label = 이 사이트는 가짜 사이트가 아닙니다…
    .accesskey = d
