# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Está disponível uma nova atualização para o { -brand-shorter-name }.
    .buttonlabel = Transferir atualização
    .buttonaccesskey = T
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Atualize o seu { -brand-shorter-name } para o mais recente em velocidade e privacidade
appmenu-update-manual =
    .label = O { -brand-shorter-name } não consegue atualizar para a versão mais recente.
    .buttonlabel = Transferir o { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Transfira uma nova cópia do { -brand-shorter-name } e iremos ajudar-lhe a instalá-lo.
appmenu-update-whats-new =
    .value = Veja as novidades.
appmenu-update-unsupported =
    .label = O { -brand-shorter-name } não consegue atualizar para a versão mais recente.
    .buttonlabel = Saber mais
    .buttonaccesskey = S
    .secondarybuttonlabel = Fechar
    .secondarybuttonaccesskey = c
appmenu-update-unsupported-message = A versão mais recente do { -brand-shorter-name } não é suportada no seu sistema.
appmenu-update-restart =
    .label = Reiniciar para atualizar o { -brand-shorter-name }.
    .buttonlabel = Reiniciar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Após um reinício rápido, o { -brand-shorter-name } irá restaurar todos os seus separadores abertos e janelas que não estão no modo de navegação privada.
appmenu-update-available2 =
    .label = Atualização disponível
    .buttonlabel = Transferir
    .buttonaccesskey = T
    .secondarybuttonlabel = Dispensar
    .secondarybuttonaccesskey = D
appmenu-update-available-message2 = Transfira a última versão disponível de { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Atualização disponível
    .buttonlabel = Transferir
    .buttonaccesskey = T
    .secondarybuttonlabel = Dispensar
    .secondarybuttonaccesskey = D
appmenu-update-manual-message2 = Não foi possível atualizar o { -brand-shorter-name } automaticamente. Transfira a nova versão - não irá perder informações ou personalizações guardadas.
appmenu-update-unsupported2 =
    .label = Não é possível atualizar
    .buttonlabel = Saber mais
    .buttonaccesskey = b
    .secondarybuttonlabel = Dispensar
    .secondarybuttonaccesskey = D
appmenu-update-unsupported-message2 = O seu sistema operativo não é compatível com a versão mais recente do { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Atualização disponível
    .buttonlabel = Atualizar e reiniciar
    .buttonaccesskey = A
    .secondarybuttonlabel = Dispensar
    .secondarybuttonaccesskey = D
appmenu-update-restart-message2 = Obtenha a versão mais recente do { -brand-shorter-name }. Os separadores e janelas abertas serão restaurados.
appmenu-update-other-instance =
    .label = O { -brand-shorter-name } não consegue atualizar automaticamente para a nova versão.
    .buttonlabel = Atualizar o { -brand-shorter-name } mesmo assim
    .buttonaccesskey = u
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = Está disponível uma nova atualização para o { -brand-shorter-name }, mas a mesma não pode ser instalada porque está em execução uma outra cópia do { -brand-shorter-name }. Encerre a mesma para continuar a atualização ou opte por atualizar mesmo assim (a outra cópia pode não funcionar corretamente até que a reinicie).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, entendi
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gira os seus extras ao clicar em <image data-l10n-name='addon-install-icon'></image> no menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Faça a gestão das suas extensões e temas através do menu da aplicação.
appmenu-addon-post-install-message3 = Faça a gestão das suas extensões e temas através do menu da aplicação.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir que esta extensão seja executada em janelas privadas
    .accesskey = a
appmenu-new-tab-controlled =
    .label = O seu novo separador foi alterado.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = A sua página inicial alterou.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = A página novo separador foi alterada.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Gerir novos separadores
    .secondarybuttonaccesskey = G
appmenu-homepage-controlled-changes =
    .label = A sua página inicial foi alterada.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Gerir página inicial
    .secondarybuttonaccesskey = G
appmenu-tab-hide-controlled =
    .label = Aceda aos seus separadores ocultados
    .buttonlabel = Manter separadores ocultados
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
