# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

experimental-features-devtools-execution-context-selector-description = تعرض هذه الميزة زرًا في سطر أوامر المِعراض يُتيح لك تغيير سياق التعبير الذي أدخلته حين يُنفّذ. طالِع <a data-l10n-name="bugzilla1">علة 1605154</a> و<a data-l10n-name="bugzilla2">علة 1605153</a> لتفاصيل أكثر.
experimental-features-devtools-compatibility-panel =
    .label = أدوات المطوّرين: لوحة التوافقية
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = الانشطار (عزل المواقع)
experimental-features-fission-description = ميزة ”الانشطار/Fission“ (عزل المواقع) هي ميزة تجريبية في { -brand-short-name } تقدّم طبقة حماية دفاعية إضافية ضد العلل الأمنية. إذ تصعّب ميزة ”الانشطار“ على المواقع الخبيثة من الوصول إلى معلوماتك في بقية الصفحات التي تزور وذلك عبر عزل كل موقع عن غيره في سيرورة منفصلة. يُعدّ هذا تغييرا مفصليًا في بنية { -brand-short-name } ونقدّر كل الدعم منك في اختبارها والإبلاغ عن أية مشاكل تواجهها. طالِع <a data-l10n-name="wiki">الويكي</a> لتفاصيل أكثر.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = دعم لأكثر من ڤديو معترِض واحد
experimental-features-multi-pip-description = دعم تجريبية يسمح بفتح أكثر من نافذة ”ڤديو معترِض“ واحدة في آن واحد.
# Search during IME
experimental-features-ime-search =
    .label = شريط العنوان: عرض النتائج أثناء الكتابة بمحرّر IME
experimental-features-ime-search-description = يُعدّ محرّر طرائق الإدخال (IME) أداةً تتيح لك إدخال الرموز المعقدة (مثل تلك الموجودة في اللغات الشرق آسيوية أو الهندوآرية) باستعمال لوحة المفاتيح العادية. بتفعيل هذه الميزة التجريبية، سيترك المتصفّح لوحة شريط العنوان مفتوحًا مع نتائج البحث والاقتراحات وأنت تستخدم محرّر IME لإدخال النص. من فضلك اعلم بأن المحرّر قد يعرض أيضًا لوحة أخرى تغطّي نتائج شريط العنوان، ولهذا فلا يُنصح بهذا الإعداد إلا لمحرّرات IME التي لا تستعمل هذا النوع من اللوحات.
