# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = En ny { -brand-shorter-name }-oppdatering er tilgjengelig.
    .buttonlabel = Last ned oppdatering
    .buttonaccesskey = L
    .secondarybuttonlabel = Ikke nå
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Oppdater { -brand-shorter-name } for det siste innen fart og personvern.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan ikke oppdateres til den seneste versjonen.
    .buttonlabel = Last ned { -brand-shorter-name }
    .buttonaccesskey = L
    .secondarybuttonlabel = Ikke nå
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Last ned en ny kopi av { -brand-shorter-name } og vi vil hjelpe deg med å installere den.
appmenu-update-whats-new =
    .value = Se hva som er nytt.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } kan ikke oppdateres til den seneste versjonen.
    .buttonlabel = Les mer
    .buttonaccesskey = e
    .secondarybuttonlabel = Lukk
    .secondarybuttonaccesskey = L
appmenu-update-unsupported-message = Den siste versjonen av { -brand-shorter-name } støttes ikke på systemet ditt.
appmenu-update-restart =
    .label = Start på nytt for å oppdatere { -brand-shorter-name }.
    .buttonlabel = Start om og gjenopprett
    .buttonaccesskey = r
    .secondarybuttonlabel = Ikke nå
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Etter en rask omstart, vil { -brand-shorter-name } gjenopprette alle dine åpne faner og vinduer som ikke er i privat nettlesingsmodus.
appmenu-update-available2 =
    .label = Oppdatering er tilgjengelig
    .buttonlabel = Last ned
    .buttonaccesskey = L
    .secondarybuttonlabel = Avvis
    .secondarybuttonaccesskey = A
appmenu-update-available-message2 = Last ned den nyeste versjonen av { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Oppdatering er tilgjengelig
    .buttonlabel = Last ned
    .buttonaccesskey = L
    .secondarybuttonlabel = Avvis
    .secondarybuttonaccesskey = A
appmenu-update-manual-message2 = Klarte ikke å oppdatere { -brand-shorter-name } automatisk. Last ned den nye versjonen — du mister ikke lagret informasjon eller tilpasninger.
appmenu-update-unsupported2 =
    .label = Klarte ikke å oppdatere
    .buttonlabel = Les mer
    .buttonaccesskey = L
    .secondarybuttonlabel = Avvis
    .secondarybuttonaccesskey = A
appmenu-update-unsupported-message2 = Operativsystemet ditt er ikke kompatibelt med den nyeste versjonen av { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Oppdatering er tilgjengelig
    .buttonlabel = Oppdater og start på nytt
    .buttonaccesskey = O
    .secondarybuttonlabel = Avvis
    .secondarybuttonaccesskey = A
appmenu-update-restart-message2 = Få den siste versjonen av { -brand-shorter-name }. Åpne faner og vinduer blir gjenopprettet.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } kan ikke oppdateres automatisk til den seneste versjonen.
    .buttonlabel = Oppdater { -brand-shorter-name } likevel
    .buttonaccesskey = O
    .secondarybuttonlabel = Ikke nå
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = En ny { -brand-shorter-name }-oppdatering er tilgjengelig, men den kan ikke installeres fordi en annen versjon av { -brand-shorter-name } kjører. Lukk den for å fortsette oppdateringen, eller velg å oppdatere uansett (den andre versjon fungerer kanskje ikke riktig før du starter den på nytt).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, jeg forstår
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administrer utvidelsene dine ved å klikke på <image data-l10n-name='addon-install-icon'></image> i menyen <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Behandle utvidelser og temaer gjennom applikasjonsmenyen.
appmenu-addon-post-install-message3 = Behandle utvidelser og temaer via applikasjonsmenyen.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tillat at denne utvidelsen kjøres i private vindu
    .accesskey = a
appmenu-new-tab-controlled =
    .label = Din ny fane-side har blitt endret.
    .buttonlabel = Behold endringer
    .buttonaccesskey = B
    .secondarybuttonlabel = Slå av utvidelse
    .secondarybuttonaccesskey = d
appmenu-homepage-controlled =
    .label = Din startside har blitt endret.
    .buttonlabel = Behold endringer
    .buttonaccesskey = B
    .secondarybuttonlabel = Slå av utvidelse
    .secondarybuttonaccesskey = u
appmenu-new-tab-controlled-changes =
    .label = Din ny fane-side har blitt endret.
    .buttonlabel = Behold endringer
    .buttonaccesskey = B
    .secondarybuttonlabel = Behandle ny fane-side
    .secondarybuttonaccesskey = h
appmenu-homepage-controlled-changes =
    .label = Din startside har blitt endret.
    .buttonlabel = Behold endringer
    .buttonaccesskey = B
    .secondarybuttonlabel = Behandle startside
    .secondarybuttonaccesskey = h
appmenu-tab-hide-controlled =
    .label = Få tilgang til dine skjulte faner
    .buttonlabel = Hold faner skjult
    .buttonaccesskey = k
    .secondarybuttonlabel = Slå av utvidelse
    .secondarybuttonaccesskey = d
