# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Viktige nyheter
heading = Endringer i { -brand-short-name }-profilen din
changed-title = Hva har blitt endret?
changed-desc-profiles = Denne installasjonen av { -brand-short-name } har en ny profil. En profil er en samling av filer der Firefox lagrer informasjon som bokmerker, passord og brukerinnstillinger.
changed-desc-dedicated = For å gjøre det enklere og sikrere å bytte mellom installasjoner av Firefox (inkludert Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition og Firefox Nightly), har denne installasjon nå en dedikert profil. Den deler ikke automatisk din lagrede informasjon med andre Firefox-installasjoner.
lost = <b>Du har ikke mistet noen personlige data eller tilpasninger. </b> Hvis du allerede har lagret informasjon i Firefox på denne datamaskinen, er den fortsatt tilgjengelig i en annen Firefox-installasjon.
options-title = Hva er mine valg?
options-do-nothing = Om du ikke gjør noe, vil profildataene dine i { -brand-short-name } være forskjellig fra profildata i andre installasjoner av Firefox.
options-use-sync = Om du vil at alle dine profildata skal være de samme på alle installasjoner av Firefox, kan du bruke en { -fxaccount-brand-name } for å holde dem synkronisert.
resources = Resurser:
support-link = Bruke profilbehandling - supportartikkel
sync-header = Logg inn eller opprett en { -fxaccount-brand-name }
sync-label = Skriv inn e-postadressen din
sync-input =
    .placeholder = E-post
sync-button = Fortsett
sync-terms = Ved å fortsette aksepterer du våre <a data-l10n-name="terms">tjenestevilkår</a> og <a data-l10n-name="privacy">personvernbestemmelser</a>.
sync-first = Er det første gang du bruker { -sync-brand-name }? Du må logge på hver installasjon av Firefox for å synkronisere informasjonen din.
new-install-sync-first = Er det første gang du bruker synkronisering? Du må logge inn på hver installasjon av Firefox for å synkronisere informasjonen din.
sync-learn = Les mer
