# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = افتح نافذة خاصة
    .accesskey = خ
about-private-browsing-search-placeholder = ابحث في الوِب
about-private-browsing-info-title = أنت في نافذة خاصة
about-private-browsing-info-myths = الخرافات الشائعة بخصوص التصفح الخاص
about-private-browsing =
    .title = ابحث في الوِب
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = ‫ابحث مستعملًا { $engine } أو أدخِل عنوانا
about-private-browsing-handoff-no-engine =
    .title = ابحث أو أدخِل عنوانا
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = ‫ابحث مستعملًا { $engine } أو أدخِل عنوانا
about-private-browsing-handoff-text-no-engine = ابحث أو أدخِل عنوانا
about-private-browsing-not-private = لستَ حاليا في نافذة خاصة.
about-private-browsing-info-description = يمسح { -brand-short-name } تأريخ البحث والتصفح لديك عندما تُنهي التطبيق أو تُغلق كل الألسنة والنوافذ بوضع التصفح الخاص. على الرغم من أن هذا لا يجعلك مجهول الهوية إلى المواقع أو مقدّم خدمة الإنترنت لديك، إلا أنه يسهّل عليك إخفاء ما تفعله في الشبكة على أي شخص آخر يستخدم هذا الحاسوب.
about-private-browsing-need-more-privacy = هل ترغب برفع مستوى الخصوصية؟
about-private-browsing-turn-on-vpn = جرّب { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = محرّك { $engineName } هو محرّك البحث المبدئي في النوافذ الخاصة
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] انتقل إلى <a data-l10n-name="link-options">الخيارات</a> لاختيار محرّك بحث آخر
       *[other] انتقل إلى <a data-l10n-name="link-options">التفضيلات</a> لاختيار محرّك بحث آخر
    }
about-private-browsing-search-banner-close-button =
    .aria-label = أغلِق
