# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = يتوفّر تحديث { -brand-shorter-name } جديد.
    .buttonlabel = نزّل التحديث
    .buttonaccesskey = ن
    .secondarybuttonlabel = ليس الآن
    .secondarybuttonaccesskey = ل
appmenu-update-available-message = حدّث { -brand-shorter-name } للحصول على الأحدث في السرعة و الخصوصية.
appmenu-update-manual =
    .label = تعذّر تحديث { -brand-shorter-name } لآخر إصدارة.
    .buttonlabel = نزّل { -brand-shorter-name }
    .buttonaccesskey = ن
    .secondarybuttonlabel = ليس الآن
    .secondarybuttonaccesskey = ل
appmenu-update-manual-message = نزّل نسخة جديدة من { -brand-shorter-name } و سنساعدك في تنصيبها.
appmenu-update-whats-new =
    .value = اطّلع على التغييرات.
appmenu-update-unsupported =
    .label = تعذّر تحديث { -brand-shorter-name } لآخر إصدارة.
    .buttonlabel = اطّلع على المزيد
    .buttonaccesskey = ط
    .secondarybuttonlabel = أغلِق
    .secondarybuttonaccesskey = غ
appmenu-update-unsupported-message = لا يدعم نظامك آخر إصدارة من { -brand-shorter-name }.
appmenu-update-restart =
    .label = أعد التشغيل لتحديث { -brand-shorter-name }.
    .buttonlabel = أعد التشغيل و استعد
    .buttonaccesskey = ع
    .secondarybuttonlabel = ليس الآن
    .secondarybuttonaccesskey = ل
appmenu-update-restart-message = بعد إعادة تشغيل سريعة سيستعيد { -brand-shorter-name } جميع ألسنتك و نوافذك المفتوحة التي ليست في وضع التصفح الخاص.
appmenu-update-available2 =
    .label = يتوفّر تحديث
    .buttonlabel = نزّله
    .buttonaccesskey = ن
    .secondarybuttonlabel = أهمِل
    .secondarybuttonaccesskey = ه
appmenu-update-available-message2 = نزّل أحدث نسخة من { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = يتوفّر تحديث
    .buttonlabel = نزّله
    .buttonaccesskey = ن
    .secondarybuttonlabel = أهمِل
    .secondarybuttonaccesskey = ه
appmenu-update-manual-message2 = تعذر تحديث { -brand-shorter-name } تلقائيا. نزّل النسخة الجديدة — لن تفقد المعلومات المحفوظة أو التخصيصات.
appmenu-update-unsupported2 =
    .label = تعذر التحديث
    .buttonlabel = اطّلع على المزيد
    .buttonaccesskey = ط
    .secondarybuttonlabel = أهمِل
    .secondarybuttonaccesskey = ه
appmenu-update-unsupported-message2 = لا يتوافق نظام التشغيل على جهازك مع أحدث نسخة من { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = يتوفّر تحديث
    .buttonlabel = نزّله وأعِد التشغيل
    .buttonaccesskey = ع
    .secondarybuttonlabel = أهِمل
    .secondarybuttonaccesskey = ه
appmenu-update-restart-message2 = ثبّت أحدث نسخة من { -brand-shorter-name }. ستُستعاد الألسنة والنوافذ المفتوحة.
appmenu-update-other-instance =
    .label = تعذّر تحديث { -brand-shorter-name } لآخر إصدارة تلقائيًا.
    .buttonlabel = مع ذلك، حدّث { -brand-shorter-name }
    .buttonaccesskey = د
    .secondarybuttonlabel = ليس الآن
    .secondarybuttonaccesskey = ل
appmenu-update-other-instance-message = يتوفّر تحديث { -brand-shorter-name } جديد، لكن تعذّر تنصيبه بسبب تشغيل نسخة أخرى من { -brand-shorter-name }. أغلِق هذه النسخة لمتابعة التحديث، أو اختر التحديث على أية حال (قد لا تعمل النسخة الأخرى كما ينبغي حتّى تعيد تشغيلها).
appmenu-addon-private-browsing-installed =
    .buttonlabel = حسنًا، فهمت
    .buttonaccesskey = ح
appmenu-addon-post-install-message = أدِر إضافاتك بنقر <image data-l10n-name='addon-install-icon'></image> في قائمة <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = حسنا
    .buttonaccesskey = ح
appmenu-addon-post-install-message2 = أدر الامتدادات والسمات لديك عبر قائمة التطبيق.
appmenu-addon-post-install-message3 = أدِر الإضافات والسمات لديك عبر قائمة التطبيق.
appmenu-addon-post-install-incognito-checkbox =
    .label = اسمح لهذا الامتداد بأن يعمل في النوافذ الخاصة
    .accesskey = س
appmenu-new-tab-controlled =
    .label = لقد تغيرت صفحة اللسان الجديد.
    .buttonlabel = أبقِ التغييرات
    .buttonaccesskey = غ
    .secondarybuttonlabel = عطّل الامتداد
    .secondarybuttonaccesskey = ط
appmenu-homepage-controlled =
    .label = لقد تغيرت صفحة البداية.
    .buttonlabel = أبقِ التغييرات
    .buttonaccesskey = غ
    .secondarybuttonlabel = عطّل الامتداد
    .secondarybuttonaccesskey = ط
appmenu-new-tab-controlled-changes =
    .label = تغيّرت صفحة اللسان الجديد.
    .buttonlabel = أبقِ التغييرات
    .buttonaccesskey = غ
    .secondarybuttonlabel = أدِر الألسنة الجديدة
    .secondarybuttonaccesskey = د
appmenu-homepage-controlled-changes =
    .label = تغيّرت صفحة البداية.
    .buttonlabel = أبقِ التغييرات
    .buttonaccesskey = غ
    .secondarybuttonlabel = أدِر صفحة البداية
    .secondarybuttonaccesskey = د
appmenu-tab-hide-controlled =
    .label = توصّل إلى الألسنة المخفية
    .buttonlabel = أبقِ الألسنة مخفية
    .buttonaccesskey = ق
    .secondarybuttonlabel = عطّل الامتداد
    .secondarybuttonaccesskey = ع
