# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = أخبار هامة
heading = طرأت تغييرات على ملفك الشخصي في { -brand-short-name }
changed-title = ماذا تغير؟
changed-desc-profiles = تحتوي هذه النسخة من { -brand-short-name } على ملف شخصي جديد. الملف الشخصي هو ملفات عدّة يحفظ فيها Firefox مختلف المعلومات مثل العلامات وكلمات السر وتفضيلات المستخدم.
changed-desc-dedicated = ستكون لهذه النسخة الآن ملفًا شخصيًا مستقلا، ذلك لزيادة الأمان ولتسهيل الانتقال بين مختلف نُسخ Firefox (من بينها النسخة القياسية والنسخة الممتدة الدعم ونسخة بيتا ونسخة المطوّرين والنسخة الليلية). لم يعد الملف يشارك معلوماتك التي حفظتها مع بقية نسخ فَيَرفُكس الآن.
lost = <b>لم تفقد أيًا من بياناتك الشخصية أو ما خصّصت.</b> إن كنت قد حفظت بعض المعلومات في Firefox على هذا الجهاز، فهي ما زالت موجودة في نسخ فَيَرفُكس الأخرى.
options-title = ماذا أفعل الآن؟
options-do-nothing = إن تركت الوضع كما هو، فستكون بيانات الملف الشخصي في { -brand-short-name } مختلفة عن تلك التي في نسخ فَيَرفُكس الأخرى.
options-use-sync = إن أردت أن تتطابق بيانات الملف الشخصي في كل نسخ Firefox لديك، فيمكنك إنشاء { -fxaccount-brand-name } لإبقاء البيانات متزامنة مع بعضها.
resources = صفحات مفيدة:
support-link = استخدام ”مدير الملفات الشخصية“ - مقالة مساعدة
sync-header = لِج أو أنشِئ حساب { -fxaccount-brand-name }
sync-label = أدخِل بريدك الإلكتروني
sync-input =
    .placeholder = البريد الإلكتروني
sync-button = واصِل
sync-terms = تعني المواصلة أنّك توافق على <a data-l10n-name="terms">شروط الخدمة</a> و<a data-l10n-name="privacy">تنويه الخصوصية</a>.
sync-first = هل هذه أول مرة تستخدم فيها { -sync-brand-name }؟ سيكون عليك الولوج في كل نسخة من Firefox لمزامنة المعلومات التي تريدها.
new-install-sync-first = هل هذه أول مرة تستخدم فيها المزامنة؟ سيكون عليك الولوج في كل نسخة من Firefox لمزامنة المعلومات التي تريدها.
sync-learn = اطّلع على المزيد
