# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ôtwōrz prywatne ôkno
    .accesskey = P
about-private-browsing-search-placeholder = Szukej w internecie
about-private-browsing-info-title = Je żeś we prywatnym ôknie
about-private-browsing-info-myths = Czynste mity ô prywatnym przeglōndaniu
about-private-browsing =
    .title = Szukej w internecie
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Szukej ze { $engine } abo wkludź adresa
about-private-browsing-handoff-no-engine =
    .title = Szukej abo wkludź adresa
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Szukej ze { $engine } abo wkludź adresa
about-private-browsing-handoff-text-no-engine = Szukej abo wkludź adresa
about-private-browsing-not-private = Niy je żeś teroz we prywatnym ôknie.
about-private-browsing-info-description = { -brand-short-name } ôprōznio historyjo wyszukowanio i przeglōndanio, jak wyłōnczysz aplikacyjo abo jak zawrzisz wszyske prywatne karty i ôkna. Skuli tego niy je sie anonimowym do strōn ani dostowcōw necowych usug. Snadnij ale możesz skryć swoja aktywność w internecie przed inkszymi, co używajōm tego kōmputra.
about-private-browsing-need-more-privacy = Potrzebujesz wiynkszyj prywatności?
about-private-browsing-turn-on-vpn = Sprōbuj { -mozilla-vpn-brand-name(case: "acc") }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } to je twoja bazowo wyszukowarka we prywatnych ôknach.
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Inkszo wyszukowarka idzie ôbrać w <a data-l10n-name="link-options">ôpcyjach</a>
       *[other] Inkszo wyszukowarka idzie ôbrać we <a data-l10n-name="link-options">preferyncyjach</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zawrzij
