# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Je dostympno nowo aktualizacyjo aplikacyje { -brand-shorter-name }.
    .buttonlabel = Pobier aktualizacyjo
    .buttonaccesskey = P
    .secondarybuttonlabel = Niy teroz
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Zaktualizuj aplikacyjo { -brand-shorter-name } dlo srogszego szwōngu i bezpieczyństwa.
appmenu-update-manual =
    .label = { -brand-shorter-name } niy może zainstalować nojnowszyj wersyje.
    .buttonlabel = Pobier: { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Niy teroz
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Pobier nowo wersyjo aplikacyje { -brand-shorter-name }, a my pōmogymy ci jōm zainstalować.
appmenu-update-whats-new =
    .value = Wejzdrzij, co nowego.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } niy może zaktualizować sie do nojnowszyj wersyje.
    .buttonlabel = Dowiydz sie wiyncyj
    .buttonaccesskey = D
    .secondarybuttonlabel = Zawrzij
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = Nojnowszo wersyjo aplikacyje { -brand-shorter-name } niy ma spiyrano na tym systymie.
appmenu-update-restart =
    .label = Zresztartuj, coby zaktualizować aplikacyjo { -brand-shorter-name }.
    .buttonlabel = Resztartuj i wrōć
    .buttonaccesskey = R
    .secondarybuttonlabel = Niy teroz
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Po gibkim resztarcie { -brand-shorter-name } wrōci wszyske ôtwarte karty i ôkna ôkrōm tych we trybie prywatnego przeglōndanio.
appmenu-update-available2 =
    .label = Aktualizacyjo je dostympno
    .buttonlabel = Pobier
    .buttonaccesskey = P
    .secondarybuttonlabel = Ôdciep
    .secondarybuttonaccesskey = p
appmenu-update-available-message2 = Pobier nojnowszo wersyjo aplikacyje { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Aktualizacyjo je dostympno
    .buttonlabel = Pobier
    .buttonaccesskey = P
    .secondarybuttonlabel = Ôdciep
    .secondarybuttonaccesskey = p
appmenu-update-manual-message2 = Niy szło autōmatycznie aktualizować aplikacyje { -brand-shorter-name }. Pobier nowo wersyjo — spamiyntane dane i sztalōnki sie niy stracōm.
appmenu-update-unsupported2 =
    .label = Niy idzie zaktualizować
    .buttonlabel = Przewiydz sie wiyncyj
    .buttonaccesskey = W
    .secondarybuttonlabel = Pociep
    .secondarybuttonaccesskey = p
appmenu-update-unsupported-message2 = Twōj ôperacyjny systym niy ma kompatybilny z nojnowszōm wersyjōm aplikacyje { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Aktualizacyjo je dostympno
    .buttonlabel = Aktualizuj i resztartnij
    .buttonaccesskey = A
    .secondarybuttonlabel = Ôdciep
    .secondarybuttonaccesskey = p
appmenu-update-restart-message2 = Pobier nojnowszo wersyjo aplikacyje { -brand-shorter-name }. Ôtwarte karty i ôkna bydōm wrōcōne.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } niy może sie autōmatycznie zaktualizować do nojnowszyj wersyje.
    .buttonlabel = Zōwizō aktualizuj { -brand-shorter-name }
    .buttonaccesskey = A
    .secondarybuttonlabel = Niy teroz
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Dostympno je nowo aktualizacyjo aplikacyje { -brand-shorter-name }, ale niy idzie jij zainstalować, bo funguje inkszo kopia aplikacyje { -brand-shorter-name }. Zawrzij jōm, coby dalij aktualizować, abo ôbier aktualizowanie bez zawarcio (ta inkszo kopia może niy fungować dobrze, podwiela jij niy resztartniesz).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Rozumia
    .buttonaccesskey = R
appmenu-addon-post-install-message = Regyruj swojimi przidowkami bez klikniyńcie <image data-l10n-name='addon-install-icon'></image> w myni <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Regiyruj rozszyrzyniami i tymatami z myni aplikacyje.
appmenu-addon-post-install-message3 = Regiyruj rozszyrzyniami i tymatami z myni aplikacyje.
appmenu-addon-post-install-incognito-checkbox =
    .label = Zgoda, coby te rozszyrzynie fungowało we prywatnych ôknach
    .accesskey = Z
appmenu-new-tab-controlled =
    .label = Nowo karta je teroz zmiyniōno.
    .buttonlabel = Spamiyntej zmiany
    .buttonaccesskey = S
    .secondarybuttonlabel = Zastow rozszyrzynie
    .secondarybuttonaccesskey = Z
appmenu-homepage-controlled =
    .label = Sztartowo strōna je teroz zmiyniōno.
    .buttonlabel = Spamiyntej zmiany
    .buttonaccesskey = S
    .secondarybuttonlabel = Zastow rozszyrzynie
    .secondarybuttonaccesskey = Z
appmenu-new-tab-controlled-changes =
    .label = Nowo karta je zmiyniōno.
    .buttonlabel = Ôstow zmiany
    .buttonaccesskey = O
    .secondarybuttonlabel = Regiyruj nowymi kartami
    .secondarybuttonaccesskey = R
appmenu-homepage-controlled-changes =
    .label = Dōmowo strōna je zmiyniōno.
    .buttonlabel = Ôstow zmiany
    .buttonaccesskey = O
    .secondarybuttonlabel = Regiyruj dōmowōm strōnōm
    .secondarybuttonaccesskey = R
appmenu-tab-hide-controlled =
    .label = Dostymp do twojich skrytych kart
    .buttonlabel = Ôstow karty skryte
    .buttonaccesskey = O
    .secondarybuttonlabel = Zastow rozszyrzynie
    .secondarybuttonaccesskey = Z
