# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Ważne nowiny
heading = Zmiany w tym profilu aplikacyji { -brand-short-name }
changed-title = Co sie zmiyniyło?
changed-desc-profiles = Ta instalacyjo aplikacyje { -brand-short-name } mo nowy profil. Profil to je paket zbiorōw, w kerym Firefox spamiyntuje informacyje (bez przikłod zokłodki, hasła abo twoje nasztalowania).
changed-desc-dedicated = Coby snadnij i bezpiecznij przełōnczać sie miyndzy roztōmajtymi instalacyjami aplikacyji Firefox (wersyjami: finalnōm, ESR, Beta, Firefox Developer Edition, Nightly), ta instalacyjo mo włosny profil. Twoje spamiyntane dane niy sōm autōmatycznie udostympniane tym inkszym instalacyjōm.
lost = <b>Żodne ôsobiste dane ani nasztalowania niy sōm stracōne.</b> Jak mosz spamiyntane jake informacyje we aplikacyji Firefox na tym kōmputrze, to durch bydōm dostympne w inkszyj instalacyji aplikacyji Firefox.
options-title = Co moga teroz zrobić?
options-do-nothing = Jak nic niy zrobisz, to dane twojigo profilu w aplikacyji { -brand-short-name } bydōm inksze jak te z twojich profilōw w inkszych instalacyjach tyj aplikacyji.
options-use-sync = Jak chcesz mieć twoje dane profilu jednake we wszyskich instalacyjach aplikacyji Firefox, to możesz je synchronizować z aplikacyjōm { -fxaccount-brand-name }.
resources = Zdrzōdła:
support-link = Regiyrowanie profilami - artikel z pōmocōm
sync-header = Zaloguj sie abo zrychtuj { -fxaccount-brand-name }
sync-label = Wkludź swoja adresa email
sync-input =
    .placeholder = Email
sync-button = Dalij
sync-terms = Jak pudziesz dalij, to dowosz zgoda na <a data-l10n-name="terms">warunki używanio</a> a <a data-l10n-name="privacy">prawidła ôchrōny prywatności</a>.
sync-first = Piyrszy roz używosz { -sync-brand-name }? Bydzie trza sie zalogować we kożdyj instalacyje aplikacyji Firefox, coby synchrōnizować dane.
new-install-sync-first = Piyrszy roz używosz synchrōnizacyje? Bydzie trza sie zalogować we kożdyj instalacyje aplikacyji Firefox, coby synchrōnizować dane.
sync-learn = Przewiydz sie wiyncyj
