# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ina nova actualisaziun per { -brand-shorter-name } stat a disposiziun.
    .buttonlabel = Telechargiar l'actualisaziun
    .buttonaccesskey = T
    .secondarybuttonlabel = Betg ussa
    .secondarybuttonaccesskey = B
appmenu-update-available-message = Actualisescha { -brand-shorter-name } per profitar da las ultimas meglieraziuns da spertadad e sfera privata.
appmenu-update-manual =
    .label = Impussibel dad actualisar { -brand-shorter-name } a la pli nova versiun.
    .buttonlabel = Telechargiar { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Betg ussa
    .secondarybuttonaccesskey = B
appmenu-update-manual-message = Telechargia ina copia frestga da { -brand-shorter-name } e nus ta gidain da l'installar.
appmenu-update-whats-new =
    .value = Vesair las novaziuns.
appmenu-update-unsupported =
    .label = Impussibel dad actualisar { -brand-shorter-name } a la pli nova versiun.
    .buttonlabel = Ulteriuras infurmaziuns
    .buttonaccesskey = U
    .secondarybuttonlabel = Serrar
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message = La versiun la pli nova da { -brand-shorter-name } na vegn betg sustegnida da tes sistem.
appmenu-update-restart =
    .label = Reaviar per actualisar { -brand-shorter-name }.
    .buttonlabel = Reaviar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Betg ussa
    .secondarybuttonaccesskey = B
appmenu-update-restart-message = Suenter reaviar restaurescha { -brand-shorter-name } tut tes tabs e tias fanestras avertas che n'èn betg en il modus privat.
appmenu-update-available2 =
    .label = Actualisaziun disponibla
    .buttonlabel = Telechargiar
    .buttonaccesskey = T
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = I
appmenu-update-available-message2 = Telechargiar la versiun la pli nova da { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Actualisaziun disponibla
    .buttonlabel = Telechargiar
    .buttonaccesskey = T
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = I
appmenu-update-manual-message2 = { -brand-shorter-name } n'ha betg pudì vegnir actualisà automaticamain. Telechargia la pli nova versiun – ti na perdas naginas infurmaziuns u persunalisaziuns.
appmenu-update-unsupported2 =
    .label = Impussibel dad actualisar
    .buttonlabel = Ulteriuras infurmaziuns
    .buttonaccesskey = U
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = I
appmenu-update-unsupported-message2 = Tes sistem operativ n'è betg cumpatibel cun la versiun la pli nova da { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Actualisaziun disponibla
    .buttonlabel = Actualisar e reaviar
    .buttonaccesskey = A
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = I
appmenu-update-restart-message2 = Va per la versiun la pli nova da { -brand-shorter-name }. Fanestras e tabs averts vegnan restaurads.
appmenu-update-other-instance =
    .label = Impussibel dad actualisar automaticamain { -brand-shorter-name } a la pli nova versiun.
    .buttonlabel = Tuttina actualisar { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Betg ussa
    .secondarybuttonaccesskey = B
appmenu-update-other-instance-message = Ina nova actualisaziun da { -brand-shorter-name } è disponibla, ma ella n'è betg vegnida installada perquai ch'ina autra copia da { -brand-shorter-name } vegn exequida. La serra per cuntinuar cun l'actualisaziun u tscherna da tuttina actualisar (tschella copia na funcziunescha eventualmain betg endretg enfin ch'ella vegn reaviada).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, chapì
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administrescha tes supplements cun cliccar sin <image data-l10n-name='addon-install-icon'></image> en il menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Administrescha tias extensiuns e tes designs via il menu da l'applicaziun.
appmenu-addon-post-install-message3 = Administrescha tes supplements e designs via il menu da l'applicaziun.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permetter a questa extensiun dad esser activa en fanestras privatas
    .accesskey = a
appmenu-new-tab-controlled =
    .label = La pagina «Nov tab» è vegnida midada.
    .buttonlabel = Preservar las modificaziuns
    .buttonaccesskey = P
    .secondarybuttonlabel = Deactivar l'extensiun
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = La pagina da partenza è vegnida midada.
    .buttonlabel = Preservar las midadas
    .buttonaccesskey = v
    .secondarybuttonlabel = Deactivar l'extensiun
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = La pagina da novs tabs è vegnida midada.
    .buttonlabel = Mantegnair las midadas
    .buttonaccesskey = M
    .secondarybuttonlabel = Administrar ils novs tabs
    .secondarybuttonaccesskey = A
appmenu-homepage-controlled-changes =
    .label = Tia pagina da partenza è vegnida midada.
    .buttonlabel = Mantegnair las midadas
    .buttonaccesskey = M
    .secondarybuttonlabel = Administrar la pagina da partenza
    .secondarybuttonaccesskey = A
appmenu-tab-hide-controlled =
    .label = Acceder als tabs zuppentads
    .buttonlabel = Cuntinuar a zuppentar ils tabs
    .buttonaccesskey = u
    .secondarybuttonlabel = Deactivar l'extensiun
    .secondarybuttonaccesskey = D
