# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Novas impurtantas
heading = Midadas en tes profil da { -brand-short-name }
changed-title = Tge è sa midà?
changed-desc-profiles = Questa installaziun da { -brand-short-name } ha in nov profil. In profil è ina gruppa da datotecas en las qualas Firefox memorisescha infurmaziuns sco segnapaginas, pleds-clav e preferenzas da l'utilisader.
changed-desc-dedicated = Per render pli simpel e pli segir da midar tranter differentas installaziuns da Firefox (inclus Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition e Firefox Nightly) ha questa installaziun ussa in agen profil. Las infurmaziuns memorisadas na vegnan betg cundivididas automaticamain cun autras installaziuns da Firefox.
lost = <b>Ti n'has pers naginas datas persunalas u configuraziuns persunalisadas.</b> Sche ti has gia memorisà infurmaziuns en Firefox sin quest computer èn ellas anc adina disponiblas en in'autra installaziun da Firefox.
options-title = Tge opziuns hai jau?
options-do-nothing = Sche ti na fas nagut vegnan las datas da tes profil da { -brand-short-name } ad esser differentas da las datas utilisadas dad autras installaziuns da Firefox.
options-use-sync = Sche ti vuls che tut las datas da profil sajan las medemas en tut las installaziuns da Firefox, pos ti duvrar in { -fxaccount-brand-name } per las sincronisar.
resources = Resursas:
support-link = Utilisar l'administraziun da profils – Artitgel d'agid
sync-header = S'annunziar u crear in { -fxaccount-brand-name }
sync-label = Endatescha tia adressa d'e-mail
sync-input =
    .placeholder = E-mail
sync-button = Cuntinuar
sync-terms = Sche ti cuntinueschas acceptas ti las <a data-l10n-name="terms">cundiziuns d'utilisaziun</a> e las <a data-l10n-name="privacy">infurmaziuns davart la protecziun da datas</a>.
sync-first = L'emprima giada che ti utiliseschas { -sync-brand-name }? Ti stos t'annunziar en mintga installaziun da Firefox per sincronisar tias datas.
new-install-sync-first = L'emprima giada che ti utiliseschas la sincronisaziun? Ti stos t'annunziar en mintga installaziun da Firefox per sincronisar tias datas.
sync-learn = Ulteriuras infurmaziuns
