# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Saugus ryšys negalimas
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Naršote tik HTTPS veiksenoje, o saugi <em>{ $websiteUrl }</em> HTTPS versija nėra pasiekiama.
about-httpsonly-insecure-explanation-reasons = Svetainė greičiausiai nepalaiko HTTPS, bet gali būti, kad HTTPS versiją blokuoja piktavalis.
about-httpsonly-insecure-explanation-exception = Nors saugumo rizika yra maža, jeigu nuspręsite aplankyti svetainės HTTP versiją, neveskite jokios slaptos informacijos, kaip kad slaptažodžiai, el. pašto adresai, ar banko kortelių duomenys.
about-httpsonly-button-make-exception = Priimti riziką ir tęsti
about-httpsonly-title-alert = Tik HTTPS veiksenos įspėjimas
about-httpsonly-title-connection-not-available = Saugus ryšys negalimas
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Įjungėte tik HTTPS veikseną išplėstam saugumui, o <em>{ $websiteUrl }</em> HTTPS versija nėra pasiekiama.
about-httpsonly-explanation-question = Kodėl taip yra?
about-httpsonly-explanation-nosupport = Greičiausiai svetainė tiesiog nepaliko HTTPS.
about-httpsonly-explanation-risk = Visgi yra galimybė, kad įsivėlęs piktavalis. Jeigu nuspręsite aplankyti svetainę, neveskite jokios slaptos informacijos, kaip kad slaptažodžiai, el pašto adresai, ar banko kortelių duomenys.
about-httpsonly-explanation-continue = Jei tęsite, tik HTTPS veiksena bus laikinai išjungta šiai svetainei.
about-httpsonly-button-continue-to-site = Eiti į HTTP svetainę
about-httpsonly-button-go-back = Eiti atgal
about-httpsonly-link-learn-more = Sužinoti daugiau…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Galima alternatyva
about-httpsonly-suggestion-box-www-text = Yra pasiekiama saugi <em>www.{ $websiteUrl }</em> versija. Galite aplankyti šią svetainę vietoje <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Eiti į www.{ $websiteUrl }
