# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = ఆంతరంగిక విండో తెరువు
    .accesskey = P
about-private-browsing-search-placeholder = జాలంలో వెతకండి
about-private-browsing-info-title = మీరు అంతరంగిక విండోలో ఉన్నారు
about-private-browsing-info-myths = అంతరంగిక విహారణ గురించి సామాన్య అపోహలు
about-private-browsing =
    .title = జాలంలో వెతకండి
about-private-browsing-handoff-no-engine =
    .title = వెతకండి లేదా చిరునామాను ఇవ్వండి
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine }‌తో వెతకండి లేదా చిరునామాను ఇవ్వండి
about-private-browsing-handoff-text-no-engine = వెతకండి లేదా చిరునామాను ఇవ్వండి
about-private-browsing-not-private = మీరు ప్రస్తుతం అంతరంగిక విండోలో లేరు.
about-private-browsing-info-description = మీరు అనువర్తనం నుండి నిష్క్రమించినప్పుడు లేదా అన్ని అంతరంగిక విహారణ ట్యాబులను, కిటికీలను మూసివేసినపుడు మీ వెతుకుడు, విహారణ చరిత్రను { -brand-short-name } తుడిచివేస్తుంది. ఇది మిమ్మల్ని వెబ్‌సైట్ల నుండి లేదా మీ అంతర్జాల సేవాదారు నుండి అనామకంగా చేయనప్పటికీ, ఈ కంప్యూటరును వాడే ఇతరుల నుండి మీ జాల కార్యకలాపాన్ని అంతరంగికంగా ఉంచుకోవడంలో తోడ్పడుతుంది.
about-private-browsing-need-more-privacy = మరింత అంతరంగికత కావాలా?
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name }‌ను ప్రయత్నించండి
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = అంతరంగిక కిటికీలలో మీ అప్రమేయ శోధన యంత్రం { $engineName }
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] మరో శోధన యంత్రాన్ని ఎంచుకోడానికి <a data-l10n-name="link-options">ఎంపికల</a>కు వెళ్ళండి
       *[other] మరో శోధన యంత్రాన్ని ఎంచుకోడానికి <a data-l10n-name="link-options">అభిరుచుల</a>కు వెళ్ళండి
    }
about-private-browsing-search-banner-close-button =
    .aria-label = మూసివేయి
