# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = ఒక కొత్త { -brand-shorter-name } తాజాకరణ అందుబాటులో ఉంది.
    .buttonlabel = తాజాకరణను దించుకోండి
    .buttonaccesskey = D
    .secondarybuttonlabel = ఇప్పుడు వద్దు
    .secondarybuttonaccesskey = N
appmenu-update-available-message = వేగం, అంతరంగికతలలో సరికొత్త విశేషాలకై మీ { -brand-shorter-name }ను తాజాకరించుకోండి.
appmenu-update-manual =
    .label = { -brand-shorter-name } తాజా వర్షన్కు నవీకరించలేరు.
    .buttonlabel = { -brand-shorter-name }‌ను దించుకోండి
    .buttonaccesskey = D
    .secondarybuttonlabel = ఇప్పుడు వద్దు
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = { -brand-shorter-name } తాజా కాపీని దించుకోండి, దాన్ని స్థాపించుకోడానికి మేం సహాయం చేస్తాం.
appmenu-update-whats-new =
    .value = కొత్తవేమిటో చూడండి.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } సరికొత్త వెర్షనుకి తాజాకరించకోలేకున్నది.
    .buttonlabel = ఇంకా తెలుసుకోండి
    .buttonaccesskey = L
    .secondarybuttonlabel = మూసివేయి
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = { -brand-shorter-name } యొక్క సరికొత్త వెర్షనుకి మీ వ్యవస్థలో తోడ్పాటు లేదు.
appmenu-update-restart =
    .label = { -brand-shorter-name }‌ను తాజాకరించడానికి పునఃప్రారంభించండి.
    .buttonlabel = పునరుద్ధరించి పునఃప్రారంభించు
    .buttonaccesskey = R
    .secondarybuttonlabel = ఇప్పుడు వద్దు
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = పునఃప్రారంభమైన తర్వాత, అంతరంగిక విహరణలో లేని మీ తెరిచివున్న ట్యాబులను, కిటికీలను { -brand-shorter-name } పునరుద్ధరిస్తుంది.
appmenu-update-available2 =
    .label = తాజాకరణ అందుబాటులో ఉంది
    .buttonlabel = దించు
    .buttonaccesskey = D
    .secondarybuttonlabel = విస్మరించు
    .secondarybuttonaccesskey = m
appmenu-update-available-message2 = { -brand-shorter-name } యొక్క సరికొత్త వెర్షనును దించుకోండి.
appmenu-update-manual2 =
    .label = తాజాకరణ అందుబాటులో ఉంది
    .buttonlabel = దించు
    .buttonaccesskey = D
    .secondarybuttonlabel = విస్మరించు
    .secondarybuttonaccesskey = m
appmenu-update-restart2 =
    .label = తాజాకరణ అందుబాటులో ఉంది
    .buttonlabel = తాజాకరించి పునఃప్రారంభించు
    .buttonaccesskey = U
    .secondarybuttonlabel = విస్మరించు
    .secondarybuttonaccesskey = m
appmenu-addon-private-browsing-installed =
    .buttonlabel = సరే, అర్థమయ్యింది
    .buttonaccesskey = O
appmenu-addon-post-install-message = పొడిగింతల నిర్వహణకై <image data-l10n-name='addon-menu-icon'></image> మెనూ లోని <image data-l10n-name='addon-install-icon'></image> మీద నొక్కండి.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = సరే
    .buttonaccesskey = O
appmenu-addon-post-install-incognito-checkbox =
    .label = ఈ పొడగింతను అంతరంగీక కిటికీలలో నడవడానికి అనుమతించు
    .accesskey = A
appmenu-new-tab-controlled =
    .label = మీ కొత్త ట్యాబు మారిపోయింది.
    .buttonlabel = మార్పులను ఉండనివ్వు
    .buttonaccesskey = K
    .secondarybuttonlabel = పొడగింతను అనేతనం చేయి
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = మీ ముంగిలి పుట మారింది.
    .buttonlabel = మార్పులను ఉండనివ్వు
    .buttonaccesskey = K
    .secondarybuttonlabel = పొడగింతను అచేతనం చేయి
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = మీ కొత్త ట్యాబు మారిపోయింది.
    .buttonlabel = మార్పులను ఉండనివ్వు
    .buttonaccesskey = K
    .secondarybuttonlabel = కొత్త ట్యాబులను నిర్వహణ
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = మీ ముంగిలిపేజీ మారిపోయింది.
    .buttonlabel = మార్పులను ఉండనివ్వు
    .buttonaccesskey = K
    .secondarybuttonlabel = ముంగిలిపేజీ నిర్వహణ
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = మీ దాచిన ట్యాబులను చూడండి
    .buttonlabel = ట్యాబులను దాచి ఉంచండి
    .buttonaccesskey = K
    .secondarybuttonlabel = పొడగింతను అచేతనం చేయి
    .secondarybuttonaccesskey = D
