# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Poveži dodatni uređaj
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ukoliko još nisi, instaliraj <a data-l10n-name="connect-another-device">Firefox na svoj mobitel</a>.
fxa-qrcode-heading-phase2 = 2. Zatim se prijavi na { -sync-brand-short-name } ili na Android uređaju skeniraj kȏd za uparivanje unutar { -sync-brand-short-name } postavki.
fxa-qrcode-heading-step1 = 1. Ako već niste, instalirajte <a data-l10n-name="connect-another-device">Firefox na svom mobilnom uređaju</a>.
fxa-qrcode-heading-step2 = 2. Otvori Firefox na tvom mobilnom uređaju.
fxa-qrcode-heading-step3 = 3. Otvori <b>izbornik</b> (<img data-l10n-name="ios-menu-icon"/> ili <img data-l10n-name="android-menu-icon"/>), dodirni <img data-l10n-name="settings-icon"/> <b>Postavke</b> i odaberi <b>Uključi sinkronizaciju</b>
fxa-qrcode-heading-step4 = 4. Skenirajte ovaj kôd:
fxa-qrcode-error-title = Uparivanje nije uspjelo.
fxa-qrcode-error-body = Pokušaj ponovo.
