# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Połōncz inkszo maszina
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Jak go jeszcze niy mosz, to zainstaluj aplikacyjo <a data-l10n-name="connect-another-device">Firefox na swojim mobilnyj maszinie</a>.
fxa-qrcode-heading-phase2 = 2. Potym wloguj sie do { -sync-brand-short-name(case: "gen") }, abo na Androidzie zeskanuj kod porowanio we nasztalowaniach { -sync-brand-short-name(case: "gen") }.
fxa-qrcode-heading-step1 = 1. Jak go jeszcze niy mosz, to zainstaluj aplikacyjo <a data-l10n-name="connect-another-device">Firefox na swojim mobilnyj maszinie</a>.
fxa-qrcode-heading-step2 = 2. Ôdewrzij Firefox na swojij mobilnyj maszinie.
fxa-qrcode-heading-step3 = 3. Ôdewrzij <b>myni</b> (<img data-l10n-name="ios-menu-icon"/> abo <img data-l10n-name="android-menu-icon"/>), tyknij <img data-l10n-name="settings-icon"/> <b>Sztalōnki</b> i ôbier<b>Załōncz synchrōnizacyjo</b>.
fxa-qrcode-heading-step4 = 4. Zeskanuj tyn kod:
fxa-qrcode-error-title = Porowanie sie niy podarziło.
fxa-qrcode-error-body = Sprōbuj jeszcze roz.
