# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Conectar outro dispositivo
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Instale o <a data-l10n-name="connect-another-device">Firefox em seu dispositivo móvel</a>, se ainda não instalou.
fxa-qrcode-heading-phase2 = 2. Depois entre na sua conta do { -sync-brand-short-name } ou, no Android, capture o código de pareamento de dentro das configurações do { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Instale o <a data-l10n-name="connect-another-device">Firefox em seu dispositivo móvel</a>, se ainda não instalou.
fxa-qrcode-heading-step2 = 2. Abra o Firefox em seu dispositivo móvel.
fxa-qrcode-heading-step3 = 3. Abra o <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> ou <img data-l10n-name="android-menu-icon"/>), toque em <img data-l10n-name="settings-icon"/> <b>Configurações</b> e selecione <b>Ativar o Sync</b>
fxa-qrcode-heading-step4 = 4. Digitalize este código:
fxa-qrcode-error-title = Pareamento falhou.
fxa-qrcode-error-body = Tente novamente.
