# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Glean туралы
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> — Mozilla өнімдерінде қолданылатын деректерді жинау библиотекасы. Бұл парақ <a data-l10n-name="fog-debug-doc-link">Glean SDK ішінде жөндеу және журналдау режимдерін баптауды</a> керек ететін әзірлеушілер және сынаушылар үшін арналған.
about-glean-warning = Бұл интерфейсті дұрыс пайдаланбау { -brand-short-name } құлауына әкеп соғуы мүмкін.
tag-pings-label = Барлық жіберілген пингтерді осы тегпен белгілеу
log-pings-label = Жіберу алдында журналға пингті қосу керек пе?
send-pings-label = Аталған пингті жіберу
controls-button-label = Баптауларды іске асыру
