# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = חיבור מאובטח אינו זמין
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = בחרת לגלוש במצב ״HTTPS בלבד״, אבל גרסת HTTPS מאובטחת של <em>{ $websiteUrl }</em> אינה זמינה.
about-httpsonly-insecure-explanation-reasons = ככל הנראה האתר אינו תומך ב־HTTPS, אבל ייתכן גם שתוקף חוסם את גרסת ה־HTTPS.
about-httpsonly-insecure-explanation-exception = אמנם סיכון האבטחה הוא נמוך, אך אם בחירתך תהיה לבקר בגרסת ה־HTTP של האתר, מומלץ שלא להזין מידע רגיש כמו ססמאות, כתובות דוא״ל או פרטי כרטיס אשראי.
about-httpsonly-button-make-exception = קבלת הסיכון והמשך לאתר
about-httpsonly-title-alert = התראת מצב ״HTTPS בלבד״
about-httpsonly-title-connection-not-available = חיבור מאובטח אינו זמין
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = הפעלת את מצב ״HTTPS בלבד״ לטובת אבטחה משופרת, אבל גרסת HTTPS של <em>{ $websiteUrl }</em> אינה זמינה.
about-httpsonly-explanation-question = מה יכול לגרום לזה?
about-httpsonly-explanation-nosupport = סביר להניח שהאתר פשוט אינו תומך ב־HTTPS.
about-httpsonly-explanation-risk = יתכן שיש גם גורם זדוני בתמונה. אם החלטת לבקר באתר, עדיף לך לא למלא מידע רגיש כגון ססמאות, כתובות דוא״ל או פרטי כרטיסי אשראי.
about-httpsonly-explanation-continue = אם בחירתך תהיה להמשיך, מצב ״HTTPS בלבד״ יושבת באופן זמני עבור אתר זה.
about-httpsonly-button-continue-to-site = המשך לאתר בגרסת HTTP
about-httpsonly-button-go-back = חזרה
about-httpsonly-link-learn-more = מידע נוסף…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = חלופה אפשרית
about-httpsonly-suggestion-box-www-text = קיימת גרסה מאובטחת של <em>www.{ $websiteUrl }</em>. באפשרותך לבקר בדף זה במקום ב־<em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = מעבר אל www.{ $websiteUrl }
