# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Otvori privatni prozor
    .accesskey = p
about-private-browsing-search-placeholder = Pretraži web
about-private-browsing-info-title = Nalaziš se u privatnom prozoru
about-private-browsing-info-myths = Česti mitovi o privatnom pregledavanju
about-private-browsing =
    .title = Pretraži web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Traži pomoću { $engine } ili upiši adresu
about-private-browsing-handoff-no-engine =
    .title = Traži ili upiši adresu
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Traži pomoću { $engine } ili upiši adresu
about-private-browsing-handoff-text-no-engine = Traži ili upiši adresu
about-private-browsing-not-private = Trenutačno nisi u privatnom prozoru.
about-private-browsing-info-description = { -brand-short-name } čisti tvoju povijest pretraživanja i pregledavanja kad izađeš iz aplikacije ili kad zatvoriš sve kartice i prozore privatnog pregledavanja. Ovo te ne čini anonimnim prema web-stranicama ili tvom pružatelju internet usluga, ali znatno smanjuje mogućnost praćenja i olakšava da zadržiš privatnim ono što radiš na internetu od ostalih osoba koje koriste ovo računalo.
about-private-browsing-need-more-privacy = Trebaš više privatnosti?
about-private-browsing-turn-on-vpn = Isprobaj { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } je tvoj zadani pretraživač u privatnim prozorima
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Za odabir jedne druge tražilice, idi na <a data-l10n-name="link-options">Mogućnosti</a>
       *[other] Za odabir jedne druge tražilice, idi na <a data-l10n-name="link-options">Postavke</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zatvori
