# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Dostupna je nova { -brand-shorter-name } verzija.
    .buttonlabel = Preuzmi nadogradnju
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne sada
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aktualiziraj { -brand-shorter-name } za najnoviju brzinu i sigurnost.
appmenu-update-manual =
    .label = { -brand-shorter-name } nije moguće aktualizirati na najnoviju verziju.
    .buttonlabel = Preuzmi { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne sada
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Preuzmi novu { -brand-shorter-name } instalaciju i pomoći ćemo ti je instalirati.
appmenu-update-whats-new =
    .value = Pogledaj novosti.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } nije moguće aktualizirati na najnoviju verziju.
    .buttonlabel = Saznaj više
    .buttonaccesskey = S
    .secondarybuttonlabel = Zatvori
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = Najnovija { -brand-shorter-name } verzija nije podržana na tvom sustavu.
appmenu-update-restart =
    .label = Ponovo pokreni za aktualiziranje { -brand-shorter-name }a
    .buttonlabel = Ponovo pokreni i obnovi
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne sada
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Nakon brzog ponovnog pokretanja, { -brand-shorter-name } će vratiti sve tvoje otvorene kartice i prozore koji se ne nalaze u modusu privatnog pregledavanja.
appmenu-update-available2 =
    .label = Dostupna je dopuna
    .buttonlabel = Preuzmi
    .buttonaccesskey = P
    .secondarybuttonlabel = Odbaci
    .secondarybuttonaccesskey = O
appmenu-update-available-message2 = Preuzmi najnoviju verziju { -brand-shorter-name }a.
appmenu-update-manual2 =
    .label = Dostupna je dopuna
    .buttonlabel = Preuzmi
    .buttonaccesskey = P
    .secondarybuttonlabel = Odbaci
    .secondarybuttonaccesskey = O
appmenu-update-manual-message2 = { -brand-shorter-name } nije ažuriran automatski. Preuzmi novu verziju — nećeš izgubiti spremljene podatke ni prilagodbe.
appmenu-update-unsupported2 =
    .label = Ažuriranje nije moguće
    .buttonlabel = Saznaj više
    .buttonaccesskey = S
    .secondarybuttonlabel = Odbaci
    .secondarybuttonaccesskey = O
appmenu-update-unsupported-message2 = Tvoj operacijski sustav nije kompatibilan s najnovijom verzijom preglednika { -brand-shorter-name }.
appmenu-update-restart-message2 = Nabavi najnoviju verziju { -brand-shorter-name }a. Otvorene kartice i prozori bit će vraćeni.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } ne može se automatski aktualizirati na najnoviju verziju.
    .buttonlabel = Aktualiziraj ipak { -brand-shorter-name }
    .buttonaccesskey = A
    .secondarybuttonlabel = Ne sada
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Novo aktualiziranje za { -brand-shorter-name } je dostupno, ali ne može se instalirati jer je pokrenuta druga instanca { -brand-shorter-name }a. Potrebno ju je zatvoriti za nastavak aktualizacije ili ipak nastaviti aktualizaciju bez zatvaranja (druga instanca možda neće raditi ispravno dok nije ponovno pokrenuta).
appmenu-addon-private-browsing-installed =
    .buttonlabel = U redu, razumijem
    .buttonaccesskey = U
appmenu-addon-post-install-message = Upravljaj svojim dodacima klikom na <image data-l10n-name='addon-install-icon'></image> u <image data-l10n-name='addon-menu-icon'></image> izborniku.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = U redu
    .buttonaccesskey = U
appmenu-addon-post-install-message2 = Upravljaj svojim proširenjima i temama putem izbornika aplikacije.
appmenu-addon-post-install-message3 = Upravljaj svojim dodacima i temama iz izbornika aplikacije.
appmenu-addon-post-install-incognito-checkbox =
    .label = Dozvoli ovom dodatku da radi u privatnom prozoru
    .accesskey = a
appmenu-new-tab-controlled =
    .label = Tvoja nova kartica je promijenjena.
    .buttonlabel = Zadrži promjene
    .buttonaccesskey = Z
    .secondarybuttonlabel = Onemogući dodatak
    .secondarybuttonaccesskey = d
appmenu-homepage-controlled =
    .label = Tvoja početna stranica je promijenjena.
    .buttonlabel = Zadrži promjene
    .buttonaccesskey = Z
    .secondarybuttonlabel = Onemogući dodatak
    .secondarybuttonaccesskey = d
appmenu-new-tab-controlled-changes =
    .label = Tvoja nova kartica je promijenjena.
    .buttonlabel = Zadrži promjene
    .buttonaccesskey = Z
    .secondarybuttonlabel = Upravljaj novim karticama
    .secondarybuttonaccesskey = U
appmenu-homepage-controlled-changes =
    .label = Tvoja početna stranica je promijenjena.
    .buttonlabel = Zadrži promjene
    .buttonaccesskey = Z
    .secondarybuttonlabel = Upravljaj početnom stranicom
    .secondarybuttonaccesskey = U
appmenu-tab-hide-controlled =
    .label = Pristupite svojim skrivenim karticama
    .buttonlabel = Drži kartice skrivenim
    .buttonaccesskey = k
    .secondarybuttonlabel = Onemogući dodatak
    .secondarybuttonaccesskey = d
