# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Sito sequente fraudulente
safeb-blocked-malware-page-title = Visitar iste sito web pote nocer a tu computator
safeb-blocked-unwanted-page-title = Iste sito pote continer programmas nocive
safeb-blocked-harmful-page-title = Iste sito pote continer malware
safeb-blocked-phishing-page-short-desc = { -brand-short-name } ha blocate iste pagina perque illo pote inducer te a facer un cosa periculose como installar software o revelar informationes personal como contrasignos o cartas de credito.
safeb-blocked-malware-page-short-desc = { -brand-short-name } ha blocate iste pagina perque illo pote tentar de installar software malitiose que pote robar o deler informationes personal sur tu computator.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } ha blocate iste pagina perque illo pote tentar de inducer te a installar programmas que noce a tu experientia de navigation (per exemplo, modificante tu pagina principal o monstrante annuncios extra sur le sitos que tu visita).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } ha blocate iste pagina perque illo poterea tentar installar applicationes periculose que roba o dele tu informationes (per exemplo, photos, contrasignos, messages e cartas de credito).
safeb-palm-advisory-desc = Aviso providite per <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Retornar
safeb-palm-see-details-label = Vider le detalios
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como un sito periculose</a>. Tu pote <a data-l10n-name='report_detection'>reportar un problema de revelation</a> o <a data-l10n-name='ignore_warning_link'>ignorar le risco</a> e ir a iste sito insecur.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como un sito periculose</a>. Tu pote <a data-l10n-name='report_detection'>reportar un problema de revelation</a>.
safeb-blocked-phishing-page-learn-more = Apprende de plus re le sitos periculose a <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Apprende de plus re { -brand-short-name }’s Protection del phishing e del malware a <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> esseva <a data-l10n-name='error_desc_link'>reportate continer malware</a>. Tu pote <a data-l10n-name='report_detection'>reportar un problema de detection</a> o <a data-l10n-name='ignore_warning_link'>ignorar le risco</a> e ir a iste sito non secur.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> esseva <a data-l10n-name='error_desc_link'>reportate continer malware</a>. Tu pote <a data-l10n-name='report_detection'>reportar un problema de detection</a>.
safeb-blocked-malware-page-learn-more = Apprende plus re contento de web periculose como viruses e altere malware e re como proteger tu computator in <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Apprende plus re { -brand-short-name }’s Protection ab le phishing e le malware a <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como continente mal software</a>. Tu pote <a data-l10n-name='ignore_warning_link'>ignorar le risco</a> e ir a iste sito non secur.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como continente software maligne</a>.
safeb-blocked-malware-page-learn-more-sumo = Lege plus sur le protection contra phishing e malware de { -brand-short-name } sur le sito <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como continente software nocive</a>. Tu pote <a data-l10n-name='ignore_warning_link'>ignorar le risco</a> e ir a iste sito non secur.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como continente software nocive</a>.
safeb-blocked-unwanted-page-learn-more = Pro leger plus sur le software malefic e indesiderate, consulta le <a data-l10n-name='learn_more_link'>Politica sur le software indesiderate</a>. Apprende plus sur le protection de { -brand-short-name } contra phishing e malware a <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como continente un application potentialmente periculose</a>. Tu pote <a data-l10n-name='ignore_warning_link'>ignorar le risco</a> e ir a iste sito insecur.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha essite <a data-l10n-name='error_desc_link'>reportate como continente un application potentialmente periculose</a>.
safeb-blocked-harmful-page-learn-more = Apprende de plus re { -brand-short-name }’s Protection del phishing e del malware a <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Iste sito non es fraudulente…
    .accesskey = d
