# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Zmóžnja podpěru za eksperimentelnu funkciju CSS Masonry Layout. Hlejće <a data-l10n-name="explainer">rozjasnjensku stronu</a> za  dobre wopisanje tuteje funkcije. Zo byšće komentary zawostajił, komentujće prošu w <a data-l10n-name="w3c-issue">tutym GitHub issue</a> abo <a data-l10n-name="bug">tutej zmylkowej rozprawje</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Tutón nowy API podpěru na niskim niwowje za wuwjedźenje wobličenjow a grafiske zwobraznjenje z  <a data-l10n-name="wikipedia">Graphics Processing Unit (GPU)</a> grata abo ličaka wužiwarja skići. <a data-l10n-name="spec">Specifikacija</a> je hišće w dźěle. Dalše informacije dóstanjeće w <a data-l10n-name="bugzilla">zmylkowej rozprawje 1602129</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Hdyž tuta funkcija je zmóžnjena, podpěruje { -brand-short-name } AVIF-format (AV1 Image File). To je datajowy format za stejace wobrazy, kotryž kmanosće algoritmusow widejokomprimowanja AV1 wužiwa, zo by wobrazowu wulkosć redukował. Hlejće <a data-l10n-name="bugzilla">zmylkowu rozprawu 1443863</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Naša implementacija globalneho atributa <a data-l10n-name="mdn-inputmode">inputmode</a> je so po <a data-l10n-name="whatwg">WHATWG-specifikaciji</a> zaktualizowała, ale dyrbimy hišće dalše změny přewjesć, kaž na př.  poskićenje  wobsaha „contenteditable“. Hlejće <a data-l10n-name="bugzilla">zmylkowu rozprawu 1205133</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Přidawanje konstruktora interfejsej <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> kaž tež wulkeje mnohosće přisłušnych změnow zmóžnja, nowe stilowe předłohi direktnje wutworić, bjeztoho zo byšće dyrbjał předłohu HTML přidać. To wosnadja, zaso wužiwajomne stilowe předłohi za wužiwanje z <a data-l10n-name="mdn-shadowdom">Shadow DOM</a> wutworić. Hlejće <a data-l10n-name="bugzilla">zmylkowu rozprawu 1520690</a> za dalše podrobnosće.
experimental-features-devtools-color-scheme-simulation =
    .label = Wuwiwarske nastroje: Simulacija barboweje šemy
experimental-features-devtools-color-scheme-simulation-description = Přidawa opciju za simulowanje rozdźělnych barbowych šemow, kotraž wam zmóžnja, medijowe naprašowanja <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> testować. Z tutym medijowym naprašowanjom móže waša stilowa předłoha na to reagować, hač wužiwar swětły abo ćmowy wužiwarski powjerch preferuje. Tuta funkcija wam zmóžnja, waš kod testować, bjeztoho zo byšće dyrbjał nastajenja w swojim wobhladowaku (abo dźěłowym systemje, jeli wobhladowak so po nastajenju barboweje šemy systema złožuje). Hlejće <a data-l10n-name="bugzilla1">zmylkowu rozprawu 1550804</a> a <a data-l10n-name="bugzilla2">zmylkowu rozprawu 1137699</a> za dalše podrobnosće.
experimental-features-devtools-execution-context-selector =
    .label = Wuwiwarske nastroje: Selektor wuwjedźenskeho konteksta
experimental-features-devtools-execution-context-selector-description = Tuta funkcija tłóčatko w přikazowej lince konsole pokazuje, z kotrymž móžeće kontekst změnić, w kotrymž so ma zapodaty wuraz wuwjesć. Hlejće <a data-l10n-name="bugzilla1">zmylk 1605154</a> a <a data-l10n-name="bugzilla2">zmylk 1605153</a> za dalše podrobnosće.
experimental-features-devtools-compatibility-panel =
    .label = Wuwiwarske nastroje: Wokno kompatibelnosće
experimental-features-devtools-compatibility-panel-description = Bóčnica za inspektor stronow, kotraž wam informacije wo statusu kompatibelnosće cross-browser wašeho nałoženja pokazuje. Hlejće <a data-l10n-name="bugzilla">zmylkowu rozprawu 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Placki: SameSite=Lax po standardźe
experimental-features-cookie-samesite-lax-by-default2-description = Wobchadźejće z plackam jako „SameSite=Lax“ po standardźe, jeli atribut „SameSite“ podaty njeje. Wuwiwarjo dyrbja eksplicitnje „SameSite=None“ nastajić, zo bychu aktualnemu statusej quo njewobmjezowaneho wužiwanja přihłosowali.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Placki: SameSite=None atribut secure trjeba
experimental-features-cookie-samesite-none-requires-secure2-description = Placki z atributom “SameSite=None” sej atribut secure wužaduja. Tuta funkcija sej po standardźe „Placki: SameSite=Lax“ wužaduje.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = startowy pufrowak about:home
experimental-features-abouthome-startup-cache-description = Pufrowak za spočatny dokument about:home, kotryž so po standardźe při startowanju začituje. Zaměr pufrowaka je, startowy wukon polěpšić.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Placki: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Z plackami ze samsneje domeny, ale z rozdźělnymi šemami (na př. http://example.com a https://example.com) jako placki mjez wjacorymi sydłami město samsneho sydła wobchadźeja. Polěpšuje wěstotu, ale zawinuje potencielnje problemy.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Wuwiwarske nastroje: Pytanje zmylkow ze service worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Zmóžnja eksperimentelnu podpěru za service worker we woknje Pytanje za zmylkami. Tuta funkcija móže wuwiwarske nastroje spomalić a přetrjebu składa powyšić.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Globalne wodźenje za zněmjenje WebRTC
experimental-features-webrtc-global-mute-toggles-description = Přidajće globalnemu dźělenskemu pokazej WebRTC wodźenske elementy, kotrež wužiwarjam zmóžnjeja, jich kanale mikrofona a kamery globalnje zněmić.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Win32k-blokowanje
experimental-features-win32k-lockdown-description = Wužiwanje API Win32k w rajtarkach wobhladowaka znjemóžnić. Skići powyšenje wěstoty, ale móže atuchwilu njestabilne abo mylate być. (Jenož Windows)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Zmóžńće Warp, projekt za polěpšenje wukona a wužiwanja składa JavaScript,
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (sydłowa izolacija)
experimental-features-fission-description = Fission (izolowanje websydłow) je eksperimentelna funkcija w { -brand-short-name }, zo by přidatnu škitnu worštu přećiwo wěstotnym zmylkam k dispoziciji stajiła. Přez izolowanje kóždeho sydła w separatnym procesu, Fission złóstnym websydłam poćežuje, přistup k informacijam z druhich stronow dóstać, kotrež wopytujeće. To je wulka architekturna změna w { -brand-short-name } a wjeselimy so, jeli wšě problemy, na kotrež storčiće, testujeće a zdźěleće. Za dalše podrobnosće hlejće <a data-l10n-name="wiki">wiki</a>.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Wjacora podpěra za wobraz-we-wobrazu
experimental-features-multi-pip-description = Eksperimentelna podpěra za runočasne wočinjenje wjacorych woknow wobraz-we-wobrazu.
experimental-features-http3 =
    .label = Protokol HTTP/3
experimental-features-http3-description = Eksperimentelna podpěra za protokol HTTP/3.
# Search during IME
experimental-features-ime-search =
    .label = Adresowe polo: wuslědki za IME-kompoziciju pokazać
experimental-features-ime-search-description = IME (Input Method Editor, editor zapodawanskeje metody)  je nastroj, kotryž wam zmóžnja, kompleksne symbole zapodać, kaž so na přikład we wuchodoaziskich abo indiskich rěčach wužiwaja, z pomocu standardneje tastatury. Hdyž tutón eksperiment zmóžnjeće, wostawa wokno adresoweho pola wočinjene, kotrež pytanske wuslědki a namjety pokazuje, mjeztym zo tekst z pomocu IME zapodawaće. Dźiwajće na to, zo móhł IME wokno pokazać, kotrež wuslědki adresoweho pola wobsahuje, tohodla so tute nastajenje jenož za IME namjetuje, kotryž tutón typ wokna njewužiwa.
