# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Sekura konekto ne disponebla
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Vi retumas en reĝimo Nur-HTTPS, kaj ne estas disponebla sekura versio HTTPS de <em>{ $websiteUrl }</em>.
about-httpsonly-insecure-explanation-reasons = Plej verŝajne, la retejo ne subtenas HTTPS, sed ankaŭ povus esti ke atakanto blokas la version de HTTPS.
about-httpsonly-insecure-explanation-exception = Kvankam la sekureca risko estas malalta, se vi decidas vizi la version HTTP de la retejo, vi ne devus enigi konfidecajn informojn kiel pasvortojn, retpoŝtojn aŭ detalojn de kreditkarto.
about-httpsonly-button-make-exception = Akcepti la riskon kaj viziti la retejon
about-httpsonly-title-alert = Averto de HTTPS-nura reĝimo
about-httpsonly-title-connection-not-available = Sekura konekto ne disponebla
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Vi ŝaltis la HTTPS-nuran reĝimon por plibonigita sekureco, kaj versio HTTPS de <em>{ $websiteUrl }</em> ne estas disponebla.
about-httpsonly-explanation-question = Kio povus kaŭzi tion ĉi?
about-httpsonly-explanation-nosupport = Plej verŝajne, la retejo simple ne subtenas HTTPS.
about-httpsonly-explanation-risk = Ankaŭ povus esti ke atakanto rilatu tion ĉi. Se vi decidas tamen viziti la retejon, vi ne devus sendi iun ajn delikatan informon, kiel pasvortojn, retpoŝtojn aŭ detalojn de kreditkarto.
about-httpsonly-explanation-continue = Se vi daŭrigas, la HTTPS-nura reĝimo estos provizore malŝaltita por tiu ĉi retejo.
about-httpsonly-button-continue-to-site = Daŭrigi al retejo HTTP
about-httpsonly-button-go-back = Iri reen
about-httpsonly-link-learn-more = Pli da informo…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Ebla alternativo
about-httpsonly-suggestion-box-www-text = Ekzistas sekura versio de <em>www.{ $websiteUrl }</em>. Vi povas viziti tiun paĝon anstataŭ <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Iri al www.{ $websiteUrl }
