# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Konektatu beste gailu bat
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Dagoeneko ez baduzu egin, instalatu <a data-l10n-name="connect-another-device">Firefox zure gailu mugikorrean</a>.
fxa-qrcode-heading-phase2 = 2. Ondoren hasi saioa { -sync-brand-short-name }(e)n, edo Androiden bazaude, eskaneatu parekatze-kodea { -sync-brand-short-name } ezarpenetatik.
fxa-qrcode-heading-step1 = 1. Dagoeneko ez baduzu egin, instalatu <a data-l10n-name="connect-another-device">Firefox zure gailu mugikorrean</a>.
fxa-qrcode-heading-step2 = 2. Ireki Firefox zure gailu mugikorrean.
fxa-qrcode-heading-step3 = 3. Ireki <b>menua</b> (<img data-l10n-name="ios-menu-icon"/> edo <img data-l10n-name="android-menu-icon"/>), sakatu <img data-l10n-name="settings-icon"/> <b>Ezarpenak</b> eta hautatu <b>Gaitu sinkronizazioa</b>
fxa-qrcode-heading-step4 = 4. Eskaneatu kode hau:
fxa-qrcode-error-title = Parekatzeak kale egin du.
fxa-qrcode-error-body = Saiatu berriro.
