# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Σύνδεση άλλης συσκευής
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Αν δεν το έχετε κάνει ήδη, εγκαταστήστε το <a data-l10n-name="connect-another-device">Firefox στην κινητή σας συσκευή</a>.
fxa-qrcode-heading-phase2 = 2. Έπειτα, συνδεθείτε στο { -sync-brand-short-name }, ή στο Android, σαρώστε τον κωδικό σύζευξης από τις ρυθμίσεις του { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Αν δεν το έχετε κάνει ήδη, εγκαταστήστε το <a data-l10n-name="connect-another-device">Firefox στην κινητή σας συσκευή</a>.
fxa-qrcode-heading-step2 = 2. Ανοίξτε το Firefox στην κινητή σας συσκευή.
fxa-qrcode-heading-step3 = 3. Ανοίξτε το <b>μενού</b> (<img data-l10n-name="ios-menu-icon"/> ή <img data-l10n-name="android-menu-icon"/>), πατήστε το <img data-l10n-name="settings-icon"/> <b>Ρυθμίσεις</b> και επιλέξτε <b>Ενεργοποίηση Sync</b>
fxa-qrcode-heading-step4 = 4. Σαρώστε αυτό τον κωδικό:
fxa-qrcode-error-title = Ανεπιτυχής σύζευξη.
fxa-qrcode-error-body = Δοκιμάστε ξανά.
