# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Hi ha una actualització del { -brand-shorter-name } disponible.
    .buttonlabel = Baixa l'actualització
    .buttonaccesskey = B
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Actualitzeu el { -brand-shorter-name } per millorar la velocitat i privadesa.
appmenu-update-manual =
    .label = El { -brand-shorter-name } no s'ha pogut actualitzar a la versió més recent.
    .buttonlabel = Baixa el { -brand-shorter-name }
    .buttonaccesskey = B
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Baixeu una còpia nova del { -brand-shorter-name } i vos ajudarem a instal·lar-la.
appmenu-update-whats-new =
    .value = Descobriu-ne les novetats.
appmenu-update-unsupported =
    .label = El { -brand-shorter-name } no s'ha pogut actualitzar a la versió més recent.
    .buttonlabel = Més informació
    .buttonaccesskey = M
    .secondarybuttonlabel = Tanca
    .secondarybuttonaccesskey = T
appmenu-update-unsupported-message = La versió més recent del { -brand-shorter-name } no és compatible amb el vostre sistema.
appmenu-update-restart =
    .label = Reinicia per actualitzar el { -brand-shorter-name }.
    .buttonlabel = Reinicia i restaura
    .buttonaccesskey = R
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Després d'un reinici ràpid, el { -brand-shorter-name } restaurarà totes les pestanyes i obertes i les finestres que no estiguen en mode de navegació privada.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Entesos
    .buttonaccesskey = E
appmenu-addon-post-install-message = Gestioneu els vostres complements fent clic a <image data-l10n-name='addon-install-icon'></image> al menú <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permet que esta extensió s'execute en finestres privades
    .accesskey = P
appmenu-new-tab-controlled =
    .label = La pàgina de «Pestanya nova» ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Inhabilita l'extensió
    .secondarybuttonaccesskey = I
appmenu-homepage-controlled =
    .label = La pàgina d'inici ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Inhabilita l'extensió
    .secondarybuttonaccesskey = I
appmenu-new-tab-controlled-changes =
    .label = La pàgina de «Pestanya nova» ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Gestiona les pestanyes noves
    .secondarybuttonaccesskey = G
appmenu-homepage-controlled-changes =
    .label = La pàgina d'inici ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Gestiona la pàgina d'inici
    .secondarybuttonaccesskey = G
appmenu-tab-hide-controlled =
    .label = Accedeix a les pestanyes ocultes
    .buttonlabel = Mantén les pestanyes amagades
    .buttonaccesskey = M
    .secondarybuttonlabel = Inhabilita l'extensió
    .secondarybuttonaccesskey = I
