# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The question portion of the following message should have the <strong> and </strong> tags surrounding it.
default-browser-notification-message = <strong>Voleu definir el { -brand-short-name } com a navegador per defecte?</strong> Obteniu una navegació ràpida, segura i privada sempre que utilitzeu el web.
default-browser-notification-button =
    .label = Defineix per defecte
    .accesskey = D
