# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Kennaskañ un trevnad all
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ma n'ho peus ket graet endeo, stailhit <a data-l10n-name="connect-another-device">Firefox war ho trevnad hezoug</a>.
fxa-qrcode-heading-phase2 = 2. Kennaskit da c'houde da { -sync-brand-short-name }, pe war Android e c'hallit c'hwilerviñ ar boneg koublañ adalek arventennoù { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Ma n'ho peus ket graet endeo, stailhit <a data-l10n-name="connect-another-device">Firefox en ho trevnad hezoug</a>.
fxa-qrcode-heading-step2 = 2. Digorit Firefox en ho trevnad hezoug.
fxa-qrcode-heading-step3 = 3. Digorit al <b>lañser</b> (<img data-l10n-name="ios-menu-icon"/> pe <img data-l10n-name="android-menu-icon"/>), pouezit war <img data-l10n-name="settings-icon"/> <b>Arventennoù</b> ha diuzit <b>Enaouiñ Sync</b>
fxa-qrcode-heading-step4 = 4. Skanit ar c'hod-mañ:
fxa-qrcode-error-title = C'hwitet war ar c'houblañ.
fxa-qrcode-error-body = Klaskit en-dro.
