# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = È disponibile un nuovo aggiornamento di { -brand-shorter-name }.
    .buttonlabel = Scarica l’aggiornamento
    .buttonaccesskey = S
    .secondarybuttonlabel = Non adesso
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aggiorna { -brand-shorter-name } per ottenere il massimo della velocità e della privacy.
appmenu-update-manual =
    .label = Non è stato possibile aggiornare { -brand-shorter-name } all’ultima versione disponibile.
    .buttonlabel = Scarica { -brand-shorter-name }
    .buttonaccesskey = S
    .secondarybuttonlabel = Non adesso
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Scarica un’altra copia di { -brand-shorter-name } e cercheremo di aiutarti con l’installazione.
appmenu-update-whats-new =
    .value = Scopri le novità.
appmenu-update-unsupported =
    .label = Impossibile aggiornare { -brand-shorter-name } all’ultima versione disponibile.
    .buttonlabel = Ulteriori informazioni
    .buttonaccesskey = U
    .secondarybuttonlabel = Chiudi
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = La versione più recente di { -brand-shorter-name } non è compatibile con il sistema in uso.
appmenu-update-restart =
    .label = Riavvia per aggiornare { -brand-shorter-name }.
    .buttonlabel = Riavvia e ripristina
    .buttonaccesskey = R
    .secondarybuttonlabel = Non adesso
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Dopo il riavvio verranno ripristinate tutte le schede e le finestre attualmente aperte, ad eccezione di quelle in modalità Navigazione anonima.

appmenu-update-available2 =
    .label = Aggiornamento disponibile
    .buttonlabel = Scarica
    .buttonaccesskey = S
    .secondarybuttonlabel = Chiudi
    .secondarybuttonaccesskey = C
appmenu-update-available-message2 = Scarica la versione più recente di { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Aggiornamento disponibile
    .buttonlabel = Scarica
    .buttonaccesskey = S
    .secondarybuttonlabel = Chiudi
    .secondarybuttonaccesskey = C
appmenu-update-manual-message2 = Non è stato possibile aggiornare automaticamente { -brand-shorter-name }. Scarica la versione più recente, non perderai informazioni salvate né personalizzazioni.
appmenu-update-unsupported2 =
    .label = Impossibile aggiornare
    .buttonlabel = Ulteriori informazioni
    .buttonaccesskey = U
    .secondarybuttonlabel = Chiudi
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message2 = Il sistema operativo in uso non è compatibile con la versione più recente di { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Aggiornamento disponibile
    .buttonlabel = Aggiorna e riavvia
    .buttonaccesskey = A
    .secondarybuttonlabel = Chiudi
    .secondarybuttonaccesskey = C
appmenu-update-restart-message2 = Scarica la versione più recente di { -brand-shorter-name }. Le schede e le finestre aperte verranno ripristinate.

appmenu-update-other-instance =
    .label = Impossibile aggiornare automaticamente { -brand-shorter-name } all’ultima versione.
    .buttonlabel = Aggiorna comunque { -brand-shorter-name }
    .buttonaccesskey = A
    .secondarybuttonlabel = Non adesso
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = È disponibile una nuova versione di { -brand-shorter-name } ma non può essere installata in quanto è presente un’altra copia di { -brand-shorter-name } attualmente in esecuzione. Chiuderla per procedere con l’aggiornamento, oppure scegliere di aggiornare comunque (l’altra copia potrebbe non funzionare correttamente fino al riavvio).

appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, tutto chiaro
    .buttonaccesskey = O
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gestisci i componenti aggiuntivi facendo clic su <image data-l10n-name='addon-install-icon'></image> nel menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-message2 = Gestisci estensioni e temi nel menu applicazione.
appmenu-addon-post-install-message3 = Gestisci componenti aggiuntivi e temi nel menu applicazione.
appmenu-addon-post-install-incognito-checkbox =
    .label = Consenti il funzionamento di questa estensione in finestre anonime
    .accesskey = C

appmenu-new-tab-controlled =
    .label = La pagina Nuova scheda è cambiata
    .buttonlabel = Mantieni modifiche
    .buttonaccesskey = M
    .secondarybuttonlabel = Disattiva estensione
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = La pagina iniziale è cambiata.
    .buttonlabel = Mantieni modifiche
    .buttonaccesskey = M
    .secondarybuttonlabel = Disattiva estensione
    .secondarybuttonaccesskey = D
appmenu-tab-hide-controlled =
    .label = Accedi alle schede nascoste
    .buttonlabel = Mantieni schede nascoste
    .buttonaccesskey = M
    .secondarybuttonlabel = Disattiva estensione
    .secondarybuttonaccesskey = D

appmenu-new-tab-controlled-changes =
    .label = La pagina Nuova scheda è cambiata
    .buttonlabel = Mantieni modifiche
    .buttonaccesskey = M
    .secondarybuttonlabel = Gestisci nuove schede
    .secondarybuttonaccesskey = G
appmenu-homepage-controlled-changes =
    .label = La pagina iniziale è cambiata.
    .buttonlabel = Mantieni modifiche
    .buttonaccesskey = M
    .secondarybuttonlabel = Gestisci pagina iniziale
    .secondarybuttonaccesskey = G
