# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The question portion of the following message should have the <strong> and </strong> tags surrounding it.
default-browser-notification-message = <strong>Impostare { -brand-short-name } come browser predefinito?</strong> Velocità, sicurezza e privacy sempre garantiti quando navighi online.
default-browser-notification-button =
    .label = Imposta come predefinito
    .accesskey = m

## These strings are used for the default browser prompt. There are 2 variations
## depending on the operating system (Windows vs other). The checkbox label and
## secondary button are shared between the variants.

default-browser-prompt-title-pin = Impostare { -brand-short-name } come browser principale?
default-browser-prompt-message-pin = Tieni { -brand-short-name } sempre a portata di mano: impostalo come browser predefinito e aggiungilo alla barra delle applicazioni.
default-browser-prompt-button-primary-pin = Imposta come browser principale
default-browser-prompt-title-alt = Impostare { -brand-short-name } come browser predefinito?
default-browser-prompt-message-alt = Velocità, sicurezza e privacy sempre garantiti quando navighi online.
default-browser-prompt-button-primary-alt = Imposta come browser predefinito
default-browser-prompt-checkbox-label = Non chiedere nuovamente
default-browser-prompt-button-secondary = Non adesso
