# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Novità importanti
heading = Cambiamenti al profilo di { -brand-short-name }

changed-title = Che cosa è cambiato?
changed-desc-profiles = Questa installazione di { -brand-short-name } ha un nuovo profilo. Il profilo è un gruppo di file in cui Firefox salva informazioni quali segnalibri, password e preferenze dell’utente.
changed-desc-dedicated = Per rendere il passaggio da una versione all’altra di Firefox (Release, Beta, ESR, Developer Edition, Nightly) più semplice e sicuro, ora questa installazione utilizza un profilo dedicato. Le informazioni non vengono condivise automaticamente con altre installazioni di Firefox.

lost = <b>Non sono stati eliminati dati personali o impostazioni personalizzate.</b> Se hai già salvato informazioni relative a Firefox in questo computer, sono ancora disponibili in un’altra installazione di Firefox.

options-title = Quali sono le opzioni a mia disposizione?
options-do-nothing = Se non fai nulla, i dati del tuo profilo in { -brand-short-name } saranno diversi da quelli utilizzati da altre installazioni di Firefox.
options-use-sync = Per fare in modo che i dati del profilo siano uguali in tutte le installazioni di Firefox, è possibile utilizzare un { -fxaccount-brand-name } per sincronizzarli.

resources = Risorse:
support-link = Utilizzo del gestore profili - Articolo di supporto

sync-header = Accedi o crea un { -fxaccount-brand-name }
sync-label = Inserisci la tua email
sync-input =
  .placeholder = Email
sync-button = Continua
sync-terms = Proseguendo, accetti le <a data-l10n-name="terms">condizioni di utilizzo del servizio</a> e l’<a data-l10n-name="privacy">informativa sulla privacy</a>.
sync-first = È la prima volta che utilizzi { -sync-brand-name }? Dovrai accedere in ogni installazione di Firefox per sincronizzare i dati.
new-install-sync-first = È la prima volta che utilizzi la sincronizzazione? Dovrai accedere in ogni installazione di Firefox per sincronizzare i dati.
sync-learn = Ulteriori informazioni
