# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = ข่าวสำคัญ
heading = การเปลี่ยนแปลงกับโปรไฟล์ { -brand-short-name } ของคุณ
changed-title = อะไรเปลี่ยนไปบ้าง
changed-desc-profiles = การติดตั้ง { -brand-short-name } นี้มีโปรไฟล์ใหม่ โปรไฟล์คือชุดของไฟล์ที่ Firefox บันทึกข้อมูล เช่น ที่คั่นหน้า รหัสผ่าน และค่ากำหนดของผู้ใช้
changed-desc-dedicated = เพื่อให้สลับระหว่างการติดตั้ง Firefox (รวมถึง Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition และ Firefox Nightly) ได้ง่ายขึ้น การติดตั้งนี้มีโปรไฟล์เฉพาะ ซึ่งจะไม่แบ่งปันข้อมูลที่คุณบันทึกไว้กับการติดตั้ง Firefox อื่น ๆ โดยอัตโนมัติ
lost = <b>คุณจะไม่สูญเสียข้อมูลส่วนตัวหรือการปรับแต่งใด ๆ</b> หากคุณบันทึกข้อมูลไปยัง Firefox บนคอมพิวเตอร์เครื่องนี้แล้ว ข้อมูลเหล่านั้นจะยังคงพร้อมใช้งาานในการติดตั้ง Firefox อื่น
options-title = ตัวเลือกของฉันคืออะไร
options-do-nothing = หากคุณไม่ตัดสินใจ ข้อมูลโปรไฟล์ของคุณใน { -brand-short-name } จะแตกต่างจากข้อมูลในการติดตั้งรอบอื่นของ Firefox
options-use-sync = หากคุณต้องการให้ข้อมูลในโปรไฟล์ของคุณเหมือนกันในทุกการติดตั้ง Firefox คุณสามารถใช้ { -fxaccount-brand-name } เพื่อที่จะทำให้มันสอดคล้องกันได้
resources = ทรัพยากร:
support-link = ใช้งานตัวจัดการโปรไฟล์ - บทความสนับสนุน
sync-header = ลงชื่อเข้าหรือสร้าง { -fxaccount-brand-name }
sync-label = ป้อนอีเมลของคุณ
sync-input =
    .placeholder = อีเมล
sync-button = ดำเนินการต่อ
sync-terms = เพื่อจะดำเนินการต่อ คุณต้องยอมรับ <a data-l10n-name="terms">ข้อตกลงในการใช้บริการ และ</a> และ <a data-l10n-name="privacy">ข้อกำหนดความเป็นส่วนตัว</a>
sync-first = ใช้งาน { -sync-brand-name } เป็นครั้งแรก? คุณอาจต้องเข้าสู่ระบบในทุกการติดตั้ง Firefox เพื่อซิงค์ข้อมูลของคุณ
new-install-sync-first = ใช้งานซิงค์เป็นครั้งแรก? คุณอาจต้องเข้าสู่ระบบในทุกการติดตั้ง Firefox เพื่อซิงค์ข้อมูลของคุณ
sync-learn = เรียนรู้เพิ่มเติม
