# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Velkommen til { -brand-full-name }
account-settings = Kontoindstillinger
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Vælg hvad du vil konfigurere
       *[other] Opsæt en anden konto
    }
about-title = Om { -brand-full-name }
resources-title = Resurser
release-notes =
    .title = Om { -brand-full-name }
email-label = Mail
    .aria-label = Tilknyt din eksisterende mailkonto
email-description = { -brand-short-name } giver dig mulighed for at oprette forbindelse til din eksisterende mailkonto, så du nemt kan læse dine mails i programmet.
calendar-label = Kalender
    .aria-label = Opret en ny kalender
calendar-description = { -brand-short-name } giver dig mulighed for at håndtere og holde styr på begivenheder. Hvis du opretter forbindelse til en fjernkalender, vil alle dine begivenheder være synkroniseret på tværs af alle dine enheder.
chat-label = Chat
    .aria-label = Opret forbindelse til din chat-konto
chat-description = { -brand-short-name } giver dig mulighed for at oprette forbindelse til forskellige chat-konti og understøtter forskellige platforme.
filelink-label = Filelink
    .aria-label = Indstil Filelink
filelink-description = { -brand-short-name } giver dig mulighed for at oprette en praktisk filelink-cloud-konto, så du nemt kan sende store filer.
addressbook-label = Adressebog
    .aria-label = Opret en ny adressebog
addressbook-description = { -brand-short-name } giver dig mulighed for at organisere alle dine kontakter i en adressebog. Du kan også oprette forbindelse til en ekstern adressebog, så alle dine kontakter er synkroniserede.
feeds-label = Feeds
    .aria-label = Opret forbindelse til feeds
feeds-description = { -brand-short-name } giver dig mulighed for at oprette forbindelse til RSS/Atom-feeds og få nyheder og opdateringer fra hele verden.
newsgroups-label = Nyhedsgrupper
    .aria-label = Opret forbindelse til en nyhedsgruppe
newsgroups-description = { -brand-short-name } giver dig mulighed for at oprette forbindelse til alle de nyhedsgrupper, du ønsker.
import-title = Importer fra et andet program
import-paragraph = { -brand-short-name } giver dig mulighed for at importere mails, adressebogsindhold, feed-abonnementer, indstillinger og/eller filtre fra andre mailprogrammer og almindelige adressebogsformater.
import-label = Importer
    .aria-label = Importer data fra andre programmer
about-paragraph = Thunderbird er det førende platformsuafhængige mail- og kalenderprogram baseret på open source. Programmet er gratis, både til private og virksomheder. Vi ønsker, at Thunderbird fortsat skal være sikker og blive endnu bedre. Et bidrag hjælper os med at ansætte udviklere, betale for den bagvedliggende infrastruktur og med fortsat at forbedre Thunderbird.
about-paragraph-2 = <b>Thunderbird finansieres af brugere som dig! Hvis du kan lide Thunderbird, kan du overveje at donere. </b> Den bedste måde du kan sikre, at Thunderbird fortsat er tilgængelig, er at
about-donation = give en donation
about-paragraph-consider-donation = <b>Thunderbird er økonomisk støttet af vores brugere. Hvis du er glad for Thunderbird, så hjælp os gerne med et bidrag.</b> Ved at <a data-l10n-name="donation-link">give et bidrag</a> er du med til at sikre, at Thunderbird også bliver udviklet i fremtiden.
explore-link = Udforsk funktioner
support-link = Support
involved-link = Vær med
developer-link = Udviklerdokumentation
read = Læs meddelelser
compose = Skriv en ny meddelelse
search = Søg i meddelelser
filter = Håndter meddelelsesfiltre
nntp-subscription = Håndter abonnementer på nyhedsgrupper
rss-subscription = Håndter feed-abonnementer
e2e = End to end-kryptering
