# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Cysylltu Dyfais Arall
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Os nad ydych chi wedi gwneud eisoes, gosodwch <a data-l10n-name="connect-another-device"> Firefox ar eich dyfais symudol </a>.
fxa-qrcode-heading-phase2 = 2. Yna, mewngofnodwch i { -sync-brand-short-name }, neu ar Android sganio'r cod paru o fewn  gosodiadau { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Os nad ydych chi wedi gwneud eisoes, gosodwch <a data-l10n-name="connect-another-device"> Firefox ar eich dyfais symudol </a>.
fxa-qrcode-heading-step2 = 2. Agor Firefox ar eich dyfais symudol.
fxa-qrcode-heading-step3 = 3. Agorwch y <b>ddewislen</b> (<img data-l10n-name = "ios-menu-icon" /> neu <img data-l10n-name = "android-menu-icon" />), tapio <img data-l10n-name = "settings-icon" /> <b>Gosodiadau</b> a dewis <b>Cychwyn Sync</b>
fxa-qrcode-heading-step4 = Sganiwch y cod
fxa-qrcode-error-title = Paru'n aflwyddiannus.
fxa-qrcode-error-body = Ceisiwch eto
