# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Ligar outro dispositivo
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Se ainda não o fez, instale o <a data-l10n-name="connect-another-device">Firefox no seu dispositivo móvel</a>.
fxa-qrcode-heading-phase2 = 2. Depois inicie sessão no { -sync-brand-short-name } ou, no Android, digitalize o código de emparelhamento de dentro das definições do { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Se ainda não o fez, instale o <a data-l10n-name="connect-another-device">Firefox no seu dispositivo móvel</a>.
fxa-qrcode-heading-step2 = 2. Abra o Firefox no seu dispositivo móvel.
fxa-qrcode-heading-step3 = 3. Abra o <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> ou <img data-l10n-name="android-menu-icon"/>), toque em <img data-l10n-name="settings-icon"/> <b>Definições</b> e selecione <b>Ativar sincronização</b>
fxa-qrcode-heading-step4 = 4. Digitalize este código:
fxa-qrcode-error-title = Emparelhamento sem sucesso.
fxa-qrcode-error-body = Tente novamente.
