# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Nid yw'r Cysylltiad Diogel ar Gael
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Rydych yn pori yn y modd HTTPS-Only Mode, ac nid oes fersiwn HTTPS ddiogel o <em>{ $websiteUrl }</em> ar gael.
about-httpsonly-insecure-explanation-reasons = Yn fwyaf tebygol, nid yw'r wefan yn cefnogi HTTPS, ond mae hefyd yn bosibl bod ymosodwr yn rhwystro'r fersiwn HTTPS.
about-httpsonly-insecure-explanation-exception = Er bod y risg diogelwch yn isel, os penderfynwch ymweld â fersiwn HTTP y wefan, peidiwch nodi unrhyw wybodaeth sensitif fel cyfrineiriau, e-byst, neu fanylion cardiau credyd.
about-httpsonly-button-make-exception = Derbyn y Risg a Pharhau i'r Wefan
about-httpsonly-title-alert = Rhybudd Modd HTTPS-yn-Unig
about-httpsonly-title-connection-not-available = Nid yw'r Cysylltiad Diogel ar Gael
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Rydych wedi galluogi'r Modd HTTPS-yn-Unig ar gyfer gwell diogelwch, ac nid oes fersiwn HTTPS o <em>{ $websiteUrl }</em> ar gael.
about-httpsonly-explanation-question = Beth allai fod yn achosi hyn?
about-httpsonly-explanation-nosupport = Yn fwyaf tebygol, nid yw'r wefan yn cefnogi HTTPS.
about-httpsonly-explanation-risk = Mae hefyd yn bosibl bod ymosodwr yn ceisio ymyrryd. Os penderfynwch ymweld â'r wefan, peidiwch â rhannu unrhyw fanylion sensitif fel cyfrineiriau, e-byst, neu fanylion cardiau credyd.
about-httpsonly-explanation-continue = Os byddwch yn parhau, bydd y Modd HTTPS-yn-Unig yn cael ei ddiffodd dros dro ar gyfer y wefan hon.
about-httpsonly-button-continue-to-site = Ymlaen i'r Wefan HTTP
about-httpsonly-button-go-back = Mynd Nôl
about-httpsonly-link-learn-more = Dysgu Rhagor…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Dewisiadau Arall Posib
about-httpsonly-suggestion-box-www-text = Mae fersiwn ddiogel o <em>www{ $websiteUrl }</em>. Gallwch ymweld â'r dudalen hon yn lle <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Mynd i www.{ $websiteUrl }
