# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = A prepaus de vòstres dreches
rights-intro = { -brand-full-name } is free and open source software, built by a community of thousands from all over the world. There are a few things you should know:
rights-intro-point-1 = { -brand-short-name } is made available to you under the terms of the <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>(Licéncia publica Mozilla). Aquò significa que podètz utilizar, copiar e distribuir { -brand-short-name } a d'autras personas. Podètz tanben modificar lo còdi font de { -brand-short-name } coma vos agrada per respondre a vòstres besonhs. La Licéncia publica Mozilla vos autoriza tanben a distribuir vòstras versions modificadas.
rights-intro-point-2 = Cap de drech o licéncia vos es pas cedit sus las marcas depausadas de la Fondacion Mozilla o de tèrces, inclús e sens limitacion, sul nom e lo lògo de Firefox. Podètz consultar d'informacions complementàrias sus las marcas depausadas <a data-l10n-name="mozilla-trademarks-link">aicí</a>.
rights-intro-point-3 = D'unas foncionalitats de { -brand-short-name }, coma lo raportador de plantatges, vos permeton de provesir un retorn a { -vendor-short-name }. En causissent de mandar aquelas informacions, balhatz a { -vendor-short-name } la permission d'utilizar aqueste retorn per melhorar sos produits, de lo publicar sus sos sites Web e de lo distribuir.
rights-intro-point-4 = Lo biais qu'utilizam vòstras informacions personalas e lo retorn mandats a { -vendor-short-name } per l'intermediari de { -brand-short-name } es descricha dins la <a data-l10n-name="mozilla-privacy-policy-link">politica de confidencialitat de { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Any applicable privacy policies for this product should be listed here.
rights-intro-point-5 = D'unas foncionalitats de { -brand-short-name }, utilizan de servicis d'informacion sul Web, çaquelà podèm pas garantir a 100% que son apropriats o desprovesits d'errors. Podètz trobar mai de detalhs, inclús d'informacions sul biais de desactivar los servicis, dins los <a data-l10n-name="mozilla-service-terms-link">service terms</a>.
rights-intro-point-5-unbranded = If this product incorporates web services, any applicable service terms for the service(s) should be linked to the <a data-l10n-name="mozilla-website-services-link">Servicis de sites Web</a> seccion.
rights-intro-point-6 = Per poder legir de tipes de contengut vidèo, { -brand-short-name } telecarga de moduls de deschiframent de contengut dempuèi de tèrces.
rights-webservices-header = Servicis d'informacions Web de { -brand-full-name }
rights-webservices = { -brand-full-name } utiliza de servicis d'informacions Web ("Los Servicis") per provesir certanas de las foncionalitats que son mesas a vòstra disposicion dins aquesta version binària de { -brand-short-name } coma descrich çaijós. Se volètz pas utilizar un o l'autre d'aqueles Servicis o se vos sembla que las modalitats çaijós son pas acceptablas, podètz desactivar la foncionalitat o lo Servici. <a data-l10n-name="mozilla-disable-service-link">instruccions</a> que descrivon lo biais de desactivar un Servici o una foncionalitat en particular. Las autras foncionalitats o Servicis pòdon èsser desactivats dins las preferéncias de l'aplicacion.
rights-safebrowsing = <strong>Blocatge de sites malvolents : </strong>Es pas recomandat de desactivar aquesta foncionalitat perque aquò vos pòt menar a navegar sus de sites pas segurs. Se desiratz desactivar la foncionalitat completament, seguissètz aquelas instruccions :
rights-safebrowsing-term-1 = Dobrissètz las preferéncias o opcions de l'aplicacion
rights-safebrowsing-term-2 = Seleccionatz lo panèl Seguretat
rights-safebrowsing-term-3 = Deseleccionar l'opcion "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Blocar lo contengut perilhós e enganaire
rights-safebrowsing-term-4 = Lo blocatge de sites malvolents es alara desactivat.
rights-locationawarebrowsing = <strong>Navegacion segon la localizacion geografica : </strong>se fa totjorn a la demanda. Cap d'informacion a prepaus de vòstra localizacion es pas jamai mandada sens vòstra permission. Se volètz desactivar la foncionalitat completament, seguissètz aquelas instruccions :
rights-locationawarebrowsing-term-1 = Dins la barra d'adreça, picatz <code>about:config</code>
rights-locationawarebrowsing-term-2 = Fasètz una recèrca sus geo.enabled
rights-locationawarebrowsing-term-3 = Doble-clicatz sus la preferéncia geo.enabled
rights-locationawarebrowsing-term-4 = La localizacion geografica es alara desactivada.
rights-webservices-unbranded = Un apercebut dels servicis de sites Web integrats dins lo logicial, acompanhat de las instruccions sul biais de los desactivar, se fa mestièr, deu èsser indicat aicí.
rights-webservices-term-unbranded = Any applicable service terms for this product should be listed here.
rights-webservices-term-1 = { -vendor-short-name } e sos contributors, concedents de licéncia e partenaris trabalhan per produire los Servicis los mai exactes e los mai a jorn. Pasmens, podèm pas garantir qu'aquelas informacions son exaustivas e desprovesidas d'error. Per exemple, es possible que lo servici de blocatge dels sites malvolents identifique pas certans sites dangieroses o qu'identifique a tòrt d'unes sites segurs coma malvolents. D'un autre costat, totes los emplaçaments indicats pel servici de localizacion geografica son pas que d'estimacions e ni nosautres ni nòstres provesidors de servici podèm pas garantir lor precision.
rights-webservices-term-2 = { -vendor-short-name } may discontinue or change the Services at its discretion.
rights-webservices-term-3 = Podètz utilizar aqueles Servicis amb la version de { -brand-short-name } que los acompanha, e { -vendor-short-name } vos garantís los dreches necessaris per lo far. { -vendor-short-name } e sos concedents de licéncia se reservan totes los autres dreits dins los Servicis. Las presentas modalitats son pas destinadas a limitar los dreches concedits per las licéncias de logicials liures aplicablas a { -brand-short-name } e al còdi font de las versions correspondentas de { -brand-short-name }.
rights-webservices-term-4 = <strong>Los Servicis son provesits « tals coma son ». { -vendor-short-name }, sos contributors, concedents de licéncia e distributors, declinan totas garantidas, exprèssas o implicitas, inclusa mas sens s'i limitar, las garantidas que los Servicis son comercializables e s'adaptan a vòstres besonhs particulars. Suportatz integralament los risques ligats a la seleccion dels Servicis per vòstres besonhs e ligats a la qualitat e a las performàncias dels Servicis. Certanas juridiccions autorizan pas l'exclusion o la limitacion de las garantidas implicitas, e donc, benlèu qu'aquesta clausa de non-garantida s'aplica pas per vos.</strong>
rights-webservices-term-5 = <strong>Levat s'es requesit per la lei, { -vendor-short-name }, sos contributors, concedents de licéncia e distributors seràn pas passibles de damatges indirèctes, particulars, accessòris, de damatges e interèsses punitius o exemplars resultant de l'utilizacion o per tot mejan relatiu a l'utilizacion de { -brand-short-name } e dels Servicis. La responsabilitat collectiva jos las presentas modalitats excedirà pas $500 (cinc cents dòlars). D'unas juridiccions autorizan pas l'exclusion o la limitacion d'unes damatges, e doncas es possible qu'aquelas exclusions e limitacions s'apliquen pas per vos.</strong>
rights-webservices-term-6 = { -vendor-short-name } pòt metre a jorn las presentas modalitats se necessari de temps en quora. Aquelas modalitats pòdon pas èsser modificadas o anulladas sens l'acòrd escrich de { -vendor-short-name }.
rights-webservices-term-7 = Las presentas modalitats son regidas per las leis de l'estat de Califòrnia, Estats Units d'America, a l'exclusion de conflicte amb de disposicions legalas. Se una partida d'aquestas modalitats es invalidada o pòt pas èsser mesa en aplicacion, las partidas restantas demoraràn plenament aplicablas. Dins l'eventualitat d'un conflicte entre una version tradusida d'aquelas modalitats e la version en lenga anglesa, la version en lenga anglesa farà fe.
