# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Magkonekta ng Isa Pang Device
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = Kung hindi mo pa nagawa, i-install ang <a data-l10n-name="connect-another-device"> Firefox sa iyong mobile device</a>.
fxa-qrcode-heading-phase2 = Pagkatapos, mag-sign in sa { -sync-brand-short-name }, o i-scan sa Android ang pairing code mula sa loob ng setting ng { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Kung hindi mo pa nagawa, i-install ang <a data-l10n-name="connect-another-device"> Firefox sa iyong mobile device</a>.
fxa-qrcode-heading-step2 = 2. Buksan ang Firefox sa iyong mobile device.
fxa-qrcode-heading-step3 = 3. Buksan ang <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), i-tap ang <img data-l10n-name="settings-icon"/><b>Mga Setting</b> at piliin ang <b>Buksan ang Sync</b>
fxa-qrcode-heading-step4 = 4. I-scan ang code na ito:
fxa-qrcode-error-title = Ang pagpapares ay hindi matagumpay.
fxa-qrcode-error-body = Subukan muli.
