# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Čo je Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> je knižnica na zhromažďovanie údajov používaná v produktoch Mozilla. Táto stránka je určená pre vývojárov a testerov, ktorí potrebujú <a data-l10n-name="fog-debug-doc-link">konfigurovať podmienky ladenia a úroveň záznamu údajov pre Glean SDK</a>.
about-glean-warning = Nesprávne použitie tohto rozhrania môže viesť k zlyhaniu aplikácie { -brand-short-name }.
tag-pings-label = Označiť touto značkou všetky odoslané pingy
log-pings-label = Pred odoslaním zaznamenať zaťaženie pingu?
send-pings-label = Odoslať pomenovaný ping
controls-button-label = Odoslať nastavenia
