# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Tìm hiểu thêm
accessibility-text-label-header = Nhãn và tên văn bản
accessibility-keyboard-header = Bàn phím

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Cảnh báo
accessibility-fail =
    .alt = Lỗi
accessibility-best-practices =
    .alt = Thực hành tốt nhất

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Sử dụng thuộc tính <code>alt</code> để gắn nhãn các phần tử <div>area</div> có thuộc tính <span>href</span>. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-dialog = Hộp thoại phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-document-title = Tài liệu phải có <code>title</code>. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-embed = Nội dung nhúng phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-figure = Số liệu với chú thích tùy chọn nên được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-fieldset = Các phần tử </code>fieldset</code> phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-fieldset-legend2 = Sử dụng một phần tử <code>legend</code> để gắn nhãn <span>fieldset</span>. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-form = Các yếu tố hình thức phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-form-visible = Các yếu tố hình thức nên có một nhãn văn bản có thể nhìn thấy. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-frame = Các phần tử <code>frame</code> phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-glyph = Sử dụng thuộc tính <code>alt</code> để gắn nhãn các phần tử <span>mglyph</span>. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-heading = Headings phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-heading-content = Headings nên có nội dung văn bản hiển thị. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-iframe = Sử dụng thuộc tính <code>title</code> để mô tả nội dung <span>iframe</span>. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-image = Nội dung với hình ảnh phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-interactive = Các yếu tố tương tác phải được dán nhãn. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-optgroup-label2 = Sử dụng một thuộc tính <code>label</code> để gắn nhãn <span>optgroup</span>. <a>Tìm hiểu thêm</a>
accessibility-text-label-issue-toolbar = Thanh công cụ phải được dán nhãn khi có nhiều hơn một thanh công cụ. <a>Tìm hiểu thêm</a>

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has a keyboard accessibility
## issue.

accessibility-keyboard-issue-semantics = Các phần tử có thuộc tính focus nên có tính tương tác. <a>Tìm hiểu thêm</a>
accessibility-keyboard-issue-tabindex = Tránh sử dụng thuộc tính <code>tabindex</code> lớn hơn 0. <a>Tìm hiểu thêm</a>
accessibility-keyboard-issue-action = Các yếu tố tương tác phải có thể được kích hoạt bằng bàn phím. <a>Tìm hiểu thêm</a>
accessibility-keyboard-issue-focusable = Các phần tử tương tác phải có thuộc tính focus. <a>Tìm hiểu thêm</a>
