# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Lok angeya ma pire tek
changed-title = Ngo ma oloke?
options-title = Ngo ma atwero timo?
resources = Jami me tic:
sync-header = Dony iyie onyo cwe { -fxaccount-brand-name }
sync-label = Ket email mamegi
sync-input =
    .placeholder = Email
sync-button = Mede
sync-terms = Mede, nyuto ni iyee <a data-l10n-name="terms">Cik me Tic</a> ki <a data-l10n-name="privacy">Cik me Mung</a>.
sync-first = Tyeni mukwongo me tic ki { -sync-brand-name }? Bi mite ki yin me donyo iyie Firefox weng ma kiketo me ribo ngec mamegi.
sync-learn = Nong ngec mapol
