# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Unavailable ang Secure Connection
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Nagba-browse ka gamit ang HTTPS-Only Mode, at walang maaaring gamiting HTTPS na bersyon ng <em>{ $websiteUrl }</em>.
about-httpsonly-insecure-explanation-reasons = Malamang sa malamang, hindi sinusuportahan ng website na ito ang HTTPS, ngunit maaari ring may attacker na humaharang para makuha ang HTTPS na bersyon.
about-httpsonly-insecure-explanation-exception = Kahit mababa lang ang panganib sa seguridad, kapag napagdesisyunan mong bisitahin ang HTTP na bersyon ng website, huwag ka dapat magpasok ng sensitibong impormasyon kagaya ng mga password, email, o detalye ng credit card.
about-httpsonly-button-make-exception = Tanggapin ang Panganib at Magpatuloy sa Site
about-httpsonly-title = Nakakita ang { -brand-short-name } ng Potential Security Issue
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Nagba-browse ka gamit ang HTTPS-Only Mode, at walang maaaring gamiting HTTPS na bersyon ng <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = Ano kaya ang sanhi nito?
about-httpsonly-explanation-nosupport = Malamang sa malamang, ang website ay sadyang hindi suportado ang HTTPS.
about-httpsonly-explanation-risk = Posible ring may attacker na may kinalaman dito. Kapag napagdesisyunan mong bisitahin ang website, huwag ka dapat magpasok ng sensitibong impormasyon kagaya ng mga password, email, o detalye ng credit card.
about-httpsonly-button-accept-and-continue = Tanggapin ang Panganib at Magpatuloy
about-httpsonly-button-go-back = Bumalik
about-httpsonly-link-learn-more = Alamin…
