# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Conexión segura non dispoñible
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Está navegando en modo só HTTPS e non está dispoñible unha versión HTTPS segura de <em>{ $websiteUrl }</em>.
about-httpsonly-insecure-explanation-reasons = O máis probable é que o sitio web non admite HTTPS, pero tamén é posible que un atacante bloquee a versión HTTPS.
about-httpsonly-insecure-explanation-exception = Aínda que o risco de seguridade é baixo, se decide visitar a versión HTTP do sitio web, non debe introducir información confidencial como contrasinais, correos electrónicos ou detalles da tarxeta de crédito.
about-httpsonly-button-make-exception = Aceptar o risco e continuar ata o sitio
about-httpsonly-title-alert = Alerta do modo só con HTTPS
about-httpsonly-title-connection-not-available = Non hai conexión segura dispoñíbel
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Vostede activou o modo con só HTTPS para mellorar a seguranza mais non hai unha versión de HTTPS de <em>{ $websiteUrl }</em> dispoñíbel.
about-httpsonly-explanation-question = Que podería estar provocando isto?
about-httpsonly-explanation-nosupport = O máis probable é que o sitio web simplemente non admite HTTPS.
about-httpsonly-explanation-risk = Tamén é posible que estea implicado un atacante. Se decide visitar o sitio web, non debe introducir información confidencial como contrasinais, correos electrónicos ou detalles da tarxeta de crédito.
about-httpsonly-explanation-continue = Se continúa, o modo con só HTTPS será desactivado temporalmente para este sitio.
about-httpsonly-button-continue-to-site = Continuar ao sitio con HTTP
about-httpsonly-button-go-back = Ir atrás
about-httpsonly-link-learn-more = Saber máis…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Posíbel alternativa
about-httpsonly-suggestion-box-www-text = Existe unha versión segura de <em>www. { $WebsiteUrl }</em>. Pode visitar esta páxina no canto de <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Ir a www.{ $websiteUrl }
