# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ava privaatne aken
    .accesskey = p
about-private-browsing-search-placeholder = Otsi veebist
about-private-browsing-info-title = Oled privaatses aknas
about-private-browsing-info-myths = Levinumad müüdid privaatse veebilehitsemise kohta
about-private-browsing =
    .title = Otsi veebist
about-private-browsing-not-private = Sa pole praegu privaatses aknas.
about-private-browsing-info-description = { -brand-short-name } kustutab otsimise ja lehitsemise ajaloo, kui väljud rakendusest või sulged privaatsed kaardid ja aknad. Kuigi see ei muuda sind külastatavate veebilehtede või internetiteenuse pakkuja ees anonüümseks, siis kaitseb see siiski sinu privaatsust teiste selle arvuti kasutajate eest.
about-private-browsing-need-more-privacy = Vajad rohkem privaatsust?
about-private-browsing-turn-on-vpn = Proovi { -mozilla-vpn-brand-name }i
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } on privaatsete akende vaikeotsingumootor
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Teise otsingumootori valimiseks ava <a data-l10n-name="link-options">Sätted</a>
       *[other] Teise otsingumootori valimiseks ava <a data-l10n-name="link-options">Eelistused</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Sulge
