# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = { -brand-shorter-name }ile on saadaval uuendus.
    .buttonlabel = Laadi uuendus alla
    .buttonaccesskey = L
    .secondarybuttonlabel = Mitte praegu
    .secondarybuttonaccesskey = M
appmenu-update-available-message = Uuenda oma { -brand-shorter-name }, et saada osa paremast kiirusest ja privaatsusest.
appmenu-update-manual =
    .label = { -brand-shorter-name }il pole võimalik uuendada uusima versiooni peale.
    .buttonlabel = Laadi alla { -brand-shorter-name }
    .buttonaccesskey = d
    .secondarybuttonlabel = Mitte praegu
    .secondarybuttonaccesskey = M
appmenu-update-manual-message = Laadi alla { -brand-shorter-name }i värske versioon ja me aitame sul selle paigaldada.
appmenu-update-whats-new =
    .value = Vaata uuendusi.
appmenu-update-unsupported =
    .label = { -brand-shorter-name }il pole võimalik uuendada uusima versiooni peale.
    .buttonlabel = Rohkem teavet
    .buttonaccesskey = R
    .secondarybuttonlabel = Sulge
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message = Sinu süsteem ei toeta { -brand-shorter-name }i viimast versiooni.
appmenu-update-restart =
    .label = Uuendamiseks taaskäivita { -brand-shorter-name }.
    .buttonlabel = Taaskäivita ja taasta
    .buttonaccesskey = T
    .secondarybuttonlabel = Mitte praegu
    .secondarybuttonaccesskey = M
appmenu-update-restart-message = Pärast kiiret taaskäivitamist taastab { -brand-shorter-name } kõik avatud kaardid ja aknad, mis pole privaatse veebilehitsemise režiimis.
appmenu-update-other-instance =
    .label = { -brand-shorter-name }il pole võimalik automaatselt uuendada uusima versiooni peale.
    .buttonlabel = Uuenda { -brand-shorter-name } sellegipoolest
    .buttonaccesskey = U
    .secondarybuttonlabel = Mitte praegu
    .secondarybuttonaccesskey = M
appmenu-update-other-instance-message = { -brand-shorter-name }ile on saadaval uuendus, aga seda ei saa paigaldada, sest töötab veel üks versioon { -brand-shorter-name }ist. Uuendamiseks sulge see või vali uuendamine sellegipoolest (teine versioon võib vajada korrektselt töötamiseks taaskäivitamist).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Olgu, sain aru
    .buttonaccesskey = O
appmenu-addon-post-install-message = Halda oma laiendusi, klõpsates nupul <image data-l10n-name='addon-install-icon'></image> menüüs <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Sellel laiendusel lubatakse käivituda privaatsetes akendes
    .accesskey = S
appmenu-new-tab-controlled =
    .label = Uue kaardi sisu on muutunud.
    .buttonlabel = Säilita muudatused
    .buttonaccesskey = S
    .secondarybuttonlabel = Keela see laiendus
    .secondarybuttonaccesskey = l
appmenu-homepage-controlled =
    .label = Avalehe sisu on muutunud.
    .buttonlabel = Säilita muudatused
    .buttonaccesskey = S
    .secondarybuttonlabel = Keela see laiendus
    .secondarybuttonaccesskey = K
appmenu-new-tab-controlled-changes =
    .label = Uue kaardi sisu on muutunud.
    .buttonlabel = Säilita muudatused
    .buttonaccesskey = S
    .secondarybuttonlabel = Halda uue kaardi vaadet
    .secondarybuttonaccesskey = H
appmenu-homepage-controlled-changes =
    .label = Avalehe sisu on muutunud.
    .buttonlabel = Säilita muudatused
    .buttonaccesskey = S
    .secondarybuttonlabel = Halda avalehe vaadet
    .secondarybuttonaccesskey = H
appmenu-tab-hide-controlled =
    .label = Vaata peidetud kaarte
    .buttonlabel = Jäta kaardid peidetuks
    .buttonaccesskey = J
    .secondarybuttonlabel = Keela see laiendus
    .secondarybuttonaccesskey = K
