# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Wěsty zwisk njejo k dispoziciji
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Pśeglědujośo w modusu Jano-HTTPS a wěsta HTTPS-wersija <em>{ $websiteUrl }</em> njejo k dispoziciji.
about-httpsonly-insecure-explanation-reasons = Nejskerjej websedło HTTPS njepódpěra, ale jo teke móžno, až napadowaŕ HTTPS-wersiju blokěrujo.
about-httpsonly-insecure-explanation-exception = Lěcrownož wěstotne riziko jo małe, jolic se rozsuźujośo, se k HTTPS-wersiji websedła woglědaś, njeměł wy sensibelne daty ako gronidła, e-mailowe adrese abo drobnostki kreditowych kórtow zapódaś.
about-httpsonly-button-make-exception = Riziko akceptěrowaś a k sedłoju pókšacowaś
about-httpsonly-title-alert = Warnowanje modusa Jano-HTTPS
about-httpsonly-title-connection-not-available = Wěsty zwisk njejo k dispoziciji
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Sćo zmóžnił modus Jano-HTTPS za pólěpšonu wěstotu a HTTPS-wersija <em>{ $websiteUrl }</em> njejo k dispoziciji.
about-httpsonly-explanation-question = Co mógło to zawinowaś?
about-httpsonly-explanation-nosupport = Nejskerjej websedło jadnorje HTTPS njepódpěra.
about-httpsonly-explanation-risk = Jo teke móžno,až napadowaŕ jo wobźělony. Jolic se rozsuźujośo, se k websedłoju woglědaś, njeměł wy sensibelne daty ako gronidła, e-mailowe adrese abo drobnostki kreditowych kórtow zapódaś.
about-httpsonly-explanation-continue = Jolic pókšacujośo, se modus Jano-HTTPS za toś to sedło nachylu znjemóžnijo.
about-httpsonly-button-continue-to-site = Dalej k HTTP-sedłoju
about-httpsonly-button-go-back = Slědk
about-httpsonly-link-learn-more = Dalšne informacije…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Móžna alternatiwa
about-httpsonly-suggestion-box-www-text = Dajo wěstu wersiju <em>www.{ $websiteUrl }</em>. Móžośo se k toś tomu bokoju město <em>{ $websiteUrl }</em> woglědaś.
about-httpsonly-suggestion-box-www-button = K www.{ $websiteUrl }
