# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Storage Inspector.

# Hint shown when the selected storage host does not contain any data
storage-table-empty-text = Walang natagpuang data para sa napiling host
# Hint shown when the cookies storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Cookies
storage-table-type-cookies-hint = Tingnan at baguhin ang mga cookie sa pamamagitan ng pagpili ng host. <a data-l10n-name="learn-more-link">Alamin</a>
# Hint shown when the local storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Local_Storage_Session_Storage
storage-table-type-localstorage-hint = Tingnan at baguhin ang local storage sa pamamagitan ng pagpili ng host. <a data-l10n-name="learn-more-link">Alamin</a>
# Hint shown when the session storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Local_Storage_Session_Storage
storage-table-type-sessionstorage-hint = Tingnan at baguhin ang session storage sa pamamagitan ng pagpili ng host. <a data-l10n-name="learn-more-link">Alamin</a>
# Hint shown when the IndexedDB storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/IndexedDB
storage-table-type-indexeddb-hint = Tingnan at magbura ng mga IndexedDB entry sa pamamagitan ng pagpili ng database. <a data-l10n-name="learn-more-link">Alamin</a>
# Hint shown when the cache storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Cache_Storage
storage-table-type-cache-hint = Tingnan at burahin ang mga cache storage entry sa pamamagitan ng pagpili ng storage. <a data-l10n-name="learn-more-link">Alamin</a>
# Hint shown when the extension storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Extension_Storage
storage-table-type-extensionstorage-hint = Tingnan at baguhin ang extension storage sa pamamagitan ng pagpili ng host. <a data-l10n-name="learn-more-link">Alamin</a>
