# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Problem həll etmə məlumatları
page-subtitle =   Bu səhifə, bir problemi həll etməyə çalışarkən işinizə yaraya biləcək texniki məlumatlara malikdir. { -brand-short-name } haqqında ümumi suallarla bağlı cavab axtarırsınızsa <a data-l10n-name="support-link">dəstək saytımıza</a> baxın.

crashes-title = Çökmə Məlumatları
crashes-id = Hesabat kimliyi
crashes-send-date = Göndərilib
crashes-all-reports = Bütün Çökmə Məlumatları
crashes-no-config = Bu tətbiqetmə çökmə məlumatlarını göstərmək üçün tənzimlənməyib.
extensions-title = Uzantılar
extensions-name = Ad
extensions-enabled = Aktivdir
extensions-version = Buraxılış
extensions-id = ID
support-addons-name = Ad
support-addons-version = Buraxılış
support-addons-id = ID
security-software-title = Təhlükəsizlik Proqramı
security-software-type = Növü
security-software-name = Adı
security-software-antivirus = Antivirus
security-software-antispyware = Antispyware
security-software-firewall = Qoruyucu divar
features-title = { -brand-short-name } Özəllikləri
features-name = Ad
features-version = Versiya
features-id = ID
app-basics-title = Proqramın əsasları
app-basics-name = Ad
app-basics-version = Buraxılış
app-basics-build-id = Quruluş İdentifikatoru
app-basics-update-channel = Yeniləmə Kanalı
app-basics-update-history = Yenilənmə Tarixçəsi
app-basics-show-update-history = Yenilənmə tarixçəsini göstər
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Kimlik qovluğu
       *[other] Profil qovluğu
    }
app-basics-enabled-plugins = Aktiv Qoşmalar
app-basics-build-config = Konfiqurasiya
app-basics-user-agent = İstifadəçi Vəkli
app-basics-os = ƏS
app-basics-memory-use = Yaddaş istifadəsi
app-basics-performance = Məhsuldarlıq
app-basics-service-workers = Qeyd Olunmuş Service Worker-lar
app-basics-profiles = Profillər
app-basics-launcher-process-status = Başladıcı Prosesi
app-basics-multi-process-support = Çox əməliyyatlı Pəncərələr
app-basics-enterprise-policies = Sahibkarlıq Siyasəti
app-basics-key-mozilla = Mozilla Mövqe Xidməti Açarı
app-basics-safe-mode = Təhlükəsiz Rejim
show-dir-label =
    { PLATFORM() ->
        [macos] Finder-də göstər
        [windows] Qovluğu Aç
       *[other] Qovluğu Aç
    }
modified-key-prefs-title = Dəyişdirilən seçimlər
modified-prefs-name = Ad
modified-prefs-value = Dəyər
user-js-title = user.js Preferences
user-js-description = Your profile folder contains a <a data-l10n-name="user-js-link">user.js file</a>, which includes preferences that were not created by { -brand-short-name }.
locked-key-prefs-title = Vacib kilitlənmiş nizamlamalar
locked-prefs-name = Ad
locked-prefs-value = Dəyər
graphics-title = Təchizat məlumatlar
graphics-features-title = Özəlliklər
graphics-diagnostics-title = Diaqnostikalar
graphics-failure-log-title = Xəta Qeydi
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Qərar qeydi
graphics-crash-guards-title = Çökmə qoruyucusu tərəfindən söndürülən özəlliklər
graphics-workarounds-title = Həllər
place-database-title = Yerlər Məlumat Bazası
place-database-integrity = Bütünlük
place-database-verify-integrity = Bütünlüyü təsdiqlə
a11y-title = Əlçatanlıq
a11y-activated = Aktivləşdirilib
a11y-force-disabled = Əlçatanlığın qarşısını al
a11y-handler-used = Əlçatılan işləyicilər istifadə edilib
a11y-instantiator = Əlçatanlıq başladıcı
library-version-title = Kitabxana versiyaları
copy-text-to-clipboard-label = Mətni buferə köçür
copy-raw-data-to-clipboard-label = Xam məlumatı buferə köçür
sandbox-title = Qum qutusu
sandbox-sys-call-log-title = Rədd edilən sistem çağrıları
sandbox-sys-call-index = #
sandbox-sys-call-age = Saniyə əvvəl
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = Prosses növü
sandbox-sys-call-number = Sistem çağrısı
sandbox-sys-call-args = Parametrlər
safe-mode-title = Təhlükəsiz Modu Yoxlayın
restart-in-safe-mode-label = Əlavələr sönülü olaraq yenidən başlat…

## Media titles

audio-backend = Səs arxa tərəfi
max-audio-channels = Maksimum kanal
sample-rate = Üstünlük verilən nümunə tempi
media-title = Media
media-output-devices-title = Çıxış cihazları
media-input-devices-title = Giriş cihazları
media-device-name = Ad
media-device-group = Qrup
media-device-vendor = Təminatçı
media-device-state = Vəziyyəti
media-device-preferred = Üstün tutulan
media-device-format = Format
media-device-channels = Kanallar
media-device-rate = Tempi
media-device-latency = Ləngimə

##

intl-title = Beynəlmiləlləşdirmə və Lokallaşdırma
intl-app-title = Tətbiqetmə Tənzimləmələri
intl-locales-requested = İstənilən Dillər
intl-locales-available = Mövcud Dillər
intl-locales-supported = Tətbiq Dilləri
intl-locales-default = Ön seçili dil
intl-os-title = Əməliyyat Sistemi
intl-os-prefs-system-locales = Sistem Dilləri
intl-regional-prefs = Regional Nizamlamalar

## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/


##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Son { $days } Gün üçün Çökmə Hesabatı
       *[other] Son { $days } Gün üçün Çökmə Hesabatı
    }

# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } dəqiqə əvvəl
       *[other] { $minutes } dəqiqə əvvəl
    }

# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } saat əvvəl
       *[other] { $hours } saat əvvəl
    }

# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } gün əvvəl
       *[other] { $days } gün əvvəl
    }

# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Bütün Çökmə Hesabatları (verilən zaman aralığındaki { $reports } gözləyən çökmə də daxil olmaqla)
       *[other] Bütün Çökmə Hesabatları (verilən zaman aralığındaki { $reports } gözləyən çökmələr də daxil olmaqla)
    }

raw-data-copied = Raw data copied to clipboard
text-copied = Text copied to clipboard

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = VGA sürücüsü versiyanız üçün bloklanmışdır.
blocked-gfx-card = Analiz edilə bilməyən problemlər səbəbi ilə VGA-niz üçün bloklanmışdır.
blocked-os-version = Əməliyyat sistemi versiyanız üçün bloklanmışdır.
blocked-mismatched-version = Qeyd jurnalıyla DLL arasındakı qrafik sürücüsü uyğunsuzluğuna görə bloklandı.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = VGA sürücüsü versiyanız üçün bloklanmışdır. VGA sürücünüzü { $driverVersion } və ya daha yeni bir versiyaya yeniləyin.

# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType parametrləri

compositing = Birləşdirici
hardware-h264 = Avadanlıq H264 Dekodlama
main-thread-no-omtc = ana axın, OMTC yoxdur
yes = Bəli
no = Xeyr
unknown = Bilinməyən
virtual-monitor-disp = Virtual Monitor Ekranı

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Tapıldı
missing = Əksik

gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = Açıqlama
gpu-vendor-id = Satıcı kimliyi
gpu-device-id = Cihaz kimliyi
gpu-subsys-id = Subsys identifikatoru
gpu-drivers = Sürücülər
gpu-ram = RAM
gpu-driver-version = Sürücü versiyası
gpu-driver-date = Sürücü tarixi
gpu-active = Aktiv
webgl1-wsiinfo = WebGL 1 Sürücü WSI məlumatı
webgl1-renderer = WebGL 1 Sürücü Renderer-i
webgl1-version = WebGL 1 Sürücü Buraxılışı
webgl1-driver-extensions = WebGL 1 Sürücü Əlavəsi
webgl1-extensions = WebGL 1 Əlavələr
webgl2-wsiinfo = WebGL 2 Sürücü WSI məlumatı
webgl2-renderer = WebGL2 Vizuallaşdırıcı
webgl2-version = WebGL 2 Sürücü Buraxılışı
webgl2-driver-extensions = WebGL 2 Sürücü Əlavəsi
webgl2-extensions = WebGL 2 Əlavələr
blocklisted-bug = Bilinən xətalara görə qara siyahıya alındı

# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = xəta { $bugNumber }

# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Əngəlləndi; xəta kodu { $failureCode }

d3d11layers-crash-guard = D3D11 Compositor
d3d11video-crash-guard = D3D11 Video Dekodlayıcı
d3d9video-crash-guard = D3D9 Video Dekodlayıcı
glcontext-crash-guard = OpenGL

reset-on-next-restart = Sonrakı yenidən başlatmada sıfırla
gpu-process-kill-button = GPU Prosesi Dayandır
gpu-device-reset = Cihaz Sıfırlama
gpu-device-reset-button = Cihaz sıfırlamanı tətiklə
uses-tiling = Lövhəcik işlədir
content-uses-tiling = Lövhə işlədir (Məzmun)
off-main-thread-paint-enabled = Sönülü əsas bağın rənglənməsi aktivdir
off-main-thread-paint-worker-count = Sönülü əsas bağın rənglənməsi işçi sayı
target-frame-rate = Hədəf Kadr Sürəti

min-lib-versions = Gözlənilən minimum versiya
loaded-lib-versions = İstifadə olunan versiya

has-seccomp-bpf = Seccomp-BPF (Sistem Çağırışı Filtrləmə)
has-seccomp-tsync = Seccomp əməliyyat sinxronlaşdırması
has-user-namespaces = İstifadəçi ad boşluqları
has-privileged-user-namespaces = Üstün səlahiyyətli əməliyyatlar üçün İstifadəçi ad boşluqları
can-sandbox-content = Məzmun İşləmə Sandbox-u
can-sandbox-media = Media Qoşması Sandbox-u
content-sandbox-level = Məzmun İşləmə Sandbox Səviyyəsi
effective-content-sandbox-level = Effektiv məzmun emalı Sandbox səviyyəsi
sandbox-proc-type-content = məzmun
sandbox-proc-type-file = fayl məzmunu
sandbox-proc-type-media-plugin = media qoşması
sandbox-proc-type-data-decoder = məlumat dekodlaşdırıcısı

launcher-process-status-0 = Aktivdir
launcher-process-status-1 = Xətadan dolayı söndürülüb
launcher-process-status-2 = Zorla söndürülüb
launcher-process-status-unknown = Bilinməyən status

# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = İstifadəçi tərəfindən aktivləşdirilib
multi-process-status-1 = İlkin olaraq aktivləşdirilib
multi-process-status-2 = Söndürülüb
multi-process-status-4 = Mümkünlük alətləri tərəfindən söndürülüb
multi-process-status-6 = Dəstəklənməyən mətn girişi tərəfindən söndürülüb
multi-process-status-7 = Əlavələr tərəfindən söndürülüb
multi-process-status-8 = Zorla söndürüldü
multi-process-status-unknown = Bilinməyən durum

async-pan-zoom = Asinxron Sürüşdür/Yaxınlaşdır
apz-none = heç biri
wheel-enabled = təkər girişi aktivdir
touch-enabled = toxunma girişi aktivdir
drag-enabled = sürüşdürmə zolağının diyirləndirmə açıqdır
keyboard-enabled = klaviatura aktivdir
autoscroll-enabled = avtomatik sürüşdürmə aktivdir

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = dəstəklənməyən seçimdən dolayı asinxron təkər girişi sönülüdür: { $preferenceKey }
touch-warning = dəstəklənməyən seçimdən dolayı asinxron toxunma girişi sönülüdür: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = Passiv
policies-active = Aktiv
policies-error = Xəta
