# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = त्रुटीनिवारन माहिती
page-subtitle = This page contains technical information that might be useful when you're trying to solve a problem. If you are looking for answers to common questions about { -brand-short-name }, check out our <a data-l10n-name="support-link">support web site</a>.

crashes-title = क्रॅश अहवाल
crashes-id = अहवाल ID
crashes-send-date = सादर केलेले
crashes-all-reports = सर्व क्रॅश अहवाल
crashes-no-config = ह्या ॲप्लिकेशनला क्रॅश अहवाल सादर करण्यास संरचीत केले नाही.
extensions-title = वाढ
extensions-name = नाव
extensions-enabled = समर्थीत
extensions-version = आवृत्ती
extensions-id = ID
support-addons-name = नाव
support-addons-version = आवृत्ती
support-addons-id = ID
security-software-title = सुरक्षा सॉफ्टवेअर
security-software-type = प्रकार
security-software-name = नाव
security-software-antivirus = विषाणूरोधक
security-software-antispyware = हेरगिरीविरोधक
security-software-firewall = फायरवॉल
features-title = { -brand-short-name } गुणविशेष
features-name = नाव
features-version = आवृत्ती
features-id = ID
processes-count = गणना
app-basics-title = ॲप्लिकेशनचे मुळ
app-basics-name = नाव
app-basics-version = आवृत्ती
app-basics-build-id = बिल्ड आयडी
app-basics-update-channel = अद्ययावत वाहिनी
app-basics-update-history = इतिहास सुधारीत करा
app-basics-show-update-history = सुधारीत इतिहास दाखवा
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] प्रोफाइल डिरेक्ट्री
       *[other] प्रोफाइल फोल्डर
    }
app-basics-enabled-plugins = समर्थीत प्लगईंस्
app-basics-build-config = बिल्ड् संरचना
app-basics-user-agent = युजर एजेंट
app-basics-os = OS
app-basics-memory-use = मेमरिचा वापर
app-basics-performance = कामगिरी
app-basics-service-workers = नोंदणीकृत Service Workers
app-basics-profiles = प्रोफाइल
app-basics-multi-process-support = मल्टिप्रोसेस पटल
app-basics-key-mozilla = Mozilla स्थान सेवा की
app-basics-safe-mode = सुरक्षित मोड
show-dir-label =
    { PLATFORM() ->
        [macos] फाइंडरमध्ये दाखवा
        [windows] फोल्डर उघडा
       *[other] डिरेक्ट्रि उघडा
    }
modified-key-prefs-title = महत्वाचे संपादित केलेले प्राधान्यक्रम
modified-prefs-name = नाव
modified-prefs-value = मूल्य
user-js-title = user.js प्राधान्यक्रम
user-js-description = आपल्या प्रोफाइल फोल्डर मध्ये <a data-l10n-name="user-js-link"> user.js फाइल </a> आहे, ज्यात { -brand-short-name } द्वारे तयार न केलेला प्राधान्यक्रम समाविष्ट करण्यात आला आहे.
locked-key-prefs-title = महत्वाचे कुलूपबंद प्राधान्यक्रम
locked-prefs-name = नाव
locked-prefs-value = मूल्य
graphics-title = ग्राफिक्स्
graphics-features-title = वैशिष्ट्ये
graphics-diagnostics-title = डायग्नोस्टीक्स
graphics-failure-log-title = अपयश लॉग
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = निर्णय यादी
graphics-crash-guards-title = क्रॅश गार्ड निष्क्रिय वैशिष्ट्ये
graphics-workarounds-title = वर्कअरोउंड्स
place-database-title = जागांचा डेटाबेस
place-database-integrity = प्रामाणिकता
place-database-verify-integrity = प्रामाणिकता तपासा
a11y-title = ॲक्सेसिबिलिटि
a11y-activated = सुरू केले
a11y-force-disabled = ॲक्सेसिबिलिटि टाळा
a11y-handler-used = सुलभ हाताळणारा वापरला
a11y-instantiator = सुलभता इंस्टंशिएटर
library-version-title = वाचनालय आवृत्ती
copy-text-to-clipboard-label = क्लिपबोर्डमध्ये मजकूरचे प्रत बनवा
copy-raw-data-to-clipboard-label = क्लिपबोर्डमध्ये रॉ माहितीचे प्रत बनवा
sandbox-title = सॅंडबॉक्स
sandbox-sys-call-log-title = नाकारलेले सिस्टिम कॉल
sandbox-sys-call-index = #
sandbox-sys-call-age = सेकंदांपूर्वी
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = प्रोसेस प्रकार
sandbox-sys-call-number = Syscall
sandbox-sys-call-args = बाब
safe-mode-title = सुरक्षित पद्धत वापरुन बघा
restart-in-safe-mode-label = ॲड-ऑन्स् निष्क्रिय करुन पुनःसुरू करा…

## Media titles

audio-backend = ऑडिओ बॅकेण्ड
max-audio-channels = अधिकतम चॅनल
sample-rate = प्राधान्यकृत नमुना दर
media-title = मीडिया
media-output-devices-title = आऊटपुट साधने
media-input-devices-title = इनपुट साधने
media-device-name = नाव
media-device-group = समूह
media-device-vendor = पुरवठादार
media-device-state = स्थिती
media-device-preferred = प्राधान्यतेचे
media-device-format = स्वरूप
media-device-channels = माध्यम
media-device-rate = दर
media-device-latency = विलंब

##

intl-title = आंतरराष्ट्रीयकरण & स्थानिकीकरण
intl-app-title = अनुप्रयोग सेटिंग्ज
intl-locales-requested = विनंती केलेले लोकेल
intl-locales-available = उपलब्ध लोकेल
intl-locales-supported = अँप लोकेल
intl-locales-default = पूर्वनिर्धारित लोकॅल
intl-os-title = ऑपरेटिंग प्रणाली
intl-os-prefs-system-locales = सिस्टम लोकॅल
intl-regional-prefs = प्रादेशिक प्राधान्यता

## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/


##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] क्रॅश रिपोर्ट्स, शेवटच्या { $days } दिवसकरिता
       *[other] क्रॅश रिपोर्ट्स, शेवटच्या { $days } दिवसांकरिता
    }

# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } मिनीट पूर्वी
       *[other] { $minutes } मिनीटांपूर्वी
    }

# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } तास पूर्वी
       *[other] { $hours } तास पूर्वी
    }

# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } दिवस पूर्वी
       *[other] { $days } दिवसांपूर्वी
    }

# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] सर्व क्रॅश अहवाल (दिलेल्या वेळ व्याप्तिमध्ये { $reports } उर्वरित क्रॅश समाविष्टीत)
       *[other] सर्व क्रॅश अहवाल (दिलेल्या वेळ व्याप्तिमध्ये { $reports } उर्वरित क्रॅश)
    }

raw-data-copied = क्लिपबोर्डमध्ये नवख्या माहितीचे प्रत बनविले
text-copied = क्लिपबोर्डमध्ये मजकूरचे प्रत बनविले

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = ग्राफिक्स् ड्राइव्हर आवृत्तीकरीता अडवले.
blocked-gfx-card = निवारण अशक्य ड्राइव्हर अडचणींमुळे ग्राफिक्स् कार्ड अडवले.
blocked-os-version = कार्यप्रणाली आवृत्तीकरीता अडवले.
blocked-mismatched-version = रजिस्ट्री व DLL मध्ये आपल्या ग्राफिक्स ड्रायव्हरची आवृत्ती जुळत नसल्यामुळे रोखले आहे.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = ग्राफिक्स् ड्राइव्हर आवृत्तीकरीता अडवले. ग्राफिक्स् ड्राइव्हरला आवृत्ती { $driverVersion } किंवा नवीनकरीता सुधारित करा.

# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = क्लिअरटाइप घटके नष्ट करा

compositing = संयुक्त
hardware-h264 = हार्डवेअर H264 डिकोडिंग
main-thread-no-omtc = मुख्य थ्रेड, OMTC नाही
yes = होय
no = नाही
unknown = अपरिचीत

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = सापडले
missing = हरवलेले

gpu-description = वर्णन
gpu-vendor-id = विक्रेताचे ID
gpu-device-id = साधनचे ID
gpu-subsys-id = Subsys ID
gpu-drivers = ड्राइव्हर्स्
gpu-ram = RAM
gpu-driver-version = ड्राइव्हर आवृत्ती
gpu-driver-date = ड्राइव्हर दिनांक
gpu-active = सक्रीय
webgl1-wsiinfo = WebGL 1 ड्राइव्हर WSI माहिती
webgl1-renderer = WebGL 1 ड्राइव्हर रेंडरर
webgl1-version = WebGL 1 ड्राइव्हर आवृत्ती
webgl1-driver-extensions = WebGL 1 ड्राइव्हर विस्तार
webgl1-extensions = WebGL 1 विस्तार
webgl2-wsiinfo = WebGL 2 ड्राइव्हर WSI माहिती
webgl2-renderer = WebGL २ ड्राइव्हर रेंडरर
webgl2-version = WebGL २ ड्राइव्हर आवृत्ती
webgl2-driver-extensions = WebGL २ ड्राइव्हर विस्तार
webgl2-extensions = WebGL २ विस्तार
blocklisted-bug = ज्ञात समस्यांमुळे काळ्या सूचित टाकले आहे

# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = बग { $bugNumber }

# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = काळ्यासूचित; अयशस्वी कोड { $failureCode }

d3d11layers-crash-guard = D3D11 कॉम्पोझिटर
d3d11video-crash-guard = D3D11 व्हिडिओ डीकोडर
d3d9video-crash-guard = D3D9 व्हिडिओ डीकोडर
glcontext-crash-guard = OpenGL

reset-on-next-restart = पुढच्यावेळी पुन्हा सुरु करताना पूर्वस्थितीत आणा
gpu-process-kill-button = GPU प्रक्रिया समाप्त करा
gpu-device-reset-button = ट्रिगर साधन पुनःस्थापान
uses-tiling = टाइलिंग वापरते
off-main-thread-paint-enabled = मुख्य थ्रेडपेक्षा वेगळी चित्रकला सक्षम

min-lib-versions = अपेक्षीत किमान आवृत्ती
loaded-lib-versions = वापरण्याजोगी आवृत्ती

has-seccomp-bpf = Seccomp-BPF (सिस्टम कॉल फिल्टरिंग)
has-seccomp-tsync = सेकॉम्प थ्रेड सिंक्रोनायझेशन
has-user-namespaces = वापरकर्ता नामअवकाश
has-privileged-user-namespaces = विशेष प्रक्रियांसाठी वापरकर्ता नामअवकाश
can-sandbox-content = सॅंडबॉक्सिंग सामग्री प्रक्रिया
can-sandbox-media = मीडिया प्लगइन सॅंडबॉक्सिंग
content-sandbox-level = सॅंडबॉक्सिंग सामग्री प्रक्रिया
effective-content-sandbox-level = प्रभावी मजकूर प्रक्रिया सँडबाॅक्स स्तर
sandbox-proc-type-content = मजकूर
sandbox-proc-type-file = फाईलचा मजकूर
sandbox-proc-type-media-plugin = मिडीया प्लगइन

launcher-process-status-0 = सक्षम

# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = वापरकर्ताद्वारे सक्रीय केले आहे
multi-process-status-1 = पूर्वनिर्धारितरित्या सक्रीय केले आहे
multi-process-status-2 = निष्क्रिय केले
multi-process-status-4 = अॅक्सेसिबिलिटी टूल्स द्वारा निष्क्रीय केले आहे
multi-process-status-6 = असमर्थीत मजकूर इनपूट द्वारे निष्क्रीय केले आहे
multi-process-status-7 = ॲड-ऑन्स् ने निष्क्रीय केले आहे
multi-process-status-8 = जबरदस्तीने निष्क्रीय केले
multi-process-status-unknown = अपरिचीत स्थिती

async-pan-zoom = असंकालिक पॅन/झूम
apz-none = काहीच नाही
wheel-enabled = व्हील इनपुट कार्यान्वित
touch-enabled = टच इनपुट कार्यान्वित
drag-enabled = सरकपट्टी हलविण्यासाठी कार्यान्वीत
keyboard-enabled = किबोर्ड कार्यान्वित
autoscroll-enabled = ऑटोस्क्रोल सक्षम

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = असंकालिक व्हील इनपुट आधारहीन निवडीमुळे अकार्यान्वित: { $preferenceKey }
touch-warning = असंकालिक टच इनपुट आधारहीन निवडीमुळे अकार्यान्वित: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = निष्क्रिय
policies-active = सक्रिय
policies-error = त्रुटी
