# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Másik eszköz csatlakoztatása
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ha még nem tette, telepítse a <a data-l10n-name="connect-another-device">Firefoxot a mobileszközére</a>.
fxa-qrcode-heading-phase2 = 2. Ezután jelentkezzen be a { -sync-brand-short-name }be, vagy Androidon olvassa le a párosító kódot a { -sync-brand-short-name } beállításaiban.
fxa-qrcode-heading-step1 = 1. Ha még nem tette, telepítse a <a data-l10n-name="connect-another-device">Firefoxot a mobileszközére</a>.
fxa-qrcode-heading-step2 = 2. Nyissa meg a Firefoxot a mobileszközén.
fxa-qrcode-heading-step3 = 3. Nyissa meg a <b>menüt</b> (<img data-l10n-name="ios-menu-icon"/> vagy <img data-l10n-name="android-menu-icon"/>), koppintson a <img data-l10n-name="settings-icon"/> <b>Beállításokra</b> és válassza a <b>Sync bekapcsolását</b>
fxa-qrcode-heading-step4 = 4. Olvassa le ezt a kódot:
fxa-qrcode-error-title = A párosítás sikertelen.
fxa-qrcode-error-body = Próbálja újra.
