# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Доступна нова версія { -brand-shorter-name }.
    .buttonlabel = Завантажити оновлення
    .buttonaccesskey = З
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-available-message = Оновіть { -brand-shorter-name } для підвищення рівня швидкодії та приватності.
appmenu-update-manual =
    .label = { -brand-shorter-name } не може оновитися до останньої версії.
    .buttonlabel = Завантажити { -brand-shorter-name }
    .buttonaccesskey = З
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-manual-message = Завантажте нову версію { -brand-shorter-name } і ми допоможемо вам її встановити.
appmenu-update-whats-new =
    .value = Перегляньте, що нового.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } не може оновитися.
    .buttonlabel = Докладніше
    .buttonaccesskey = л
    .secondarybuttonlabel = Закрити
    .secondarybuttonaccesskey = к
appmenu-update-unsupported-message = Найновіша версія { -brand-shorter-name } не підтримується вашою системою.
appmenu-update-restart =
    .label = Перезапуск для оновлення { -brand-shorter-name }.
    .buttonlabel = Перезапустити й відновити
    .buttonaccesskey = П
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-restart-message = Після швидкого перезапуску { -brand-shorter-name } відновить всі відкриті вкладки й вікна, які не були відкриті в режимі приватного перегляду.
appmenu-update-available2 =
    .label = Доступне оновлення
    .buttonlabel = Завантажити
    .buttonaccesskey = З
    .secondarybuttonlabel = Відхилити
    .secondarybuttonaccesskey = х
appmenu-update-available-message2 = Завантажити найновішу версію { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Доступне оновлення
    .buttonlabel = Завантажити
    .buttonaccesskey = З
    .secondarybuttonlabel = Відхилити
    .secondarybuttonaccesskey = х
appmenu-update-manual-message2 = Не вдалося автоматично оновити { -brand-shorter-name }. Завантажте нову версію — ви не втратите збережених даних та налаштувань.
appmenu-update-unsupported2 =
    .label = Не вдалося оновити
    .buttonlabel = Докладніше
    .buttonaccesskey = л
    .secondarybuttonlabel = Відхилити
    .secondarybuttonaccesskey = х
appmenu-update-unsupported-message2 = Ваша операційна система несумісна з найновішою версією { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Доступне оновлення
    .buttonlabel = Оновити й перезапустити
    .buttonaccesskey = О
    .secondarybuttonlabel = Відхилити
    .secondarybuttonaccesskey = х
appmenu-update-restart-message2 = Отримайте найновішу версію { -brand-shorter-name }. Відкриті вкладки та вікна будуть відновлені.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } не може автоматично встановити найновішу версію.
    .buttonlabel = Все одно оновити { -brand-shorter-name }
    .buttonaccesskey = т
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-other-instance-message = Доступне оновлення для { -brand-shorter-name }, але його не можна встановити, тому що працює інша копія { -brand-shorter-name }. Закрийте її, щоб продовжити оновлення, або виберіть оновлення в будь-якому випадку (інша копія може працювати неправильно, доки ви її не перезапустите).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Гаразд, зрозуміло
    .buttonaccesskey = Г
appmenu-addon-post-install-message = Керуйте своїми додатками, натиснувши <image data-l10n-name='addon-install-icon'></image> в меню <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Гаразд
    .buttonaccesskey = Г
appmenu-addon-post-install-message2 = Керуйте своїми розширеннями й темами в меню програми.
appmenu-addon-post-install-message3 = Керуйте своїми додатками й темами з меню програми.
appmenu-addon-post-install-incognito-checkbox =
    .label = Дозволити цьому розширенню виконуватися в приватних вікнах
    .accesskey = л
appmenu-new-tab-controlled =
    .label = Ваша нова вкладка була змінена.
    .buttonlabel = Зберегти зміни
    .buttonaccesskey = б
    .secondarybuttonlabel = Вимкнути розширення
    .secondarybuttonaccesskey = м
appmenu-homepage-controlled =
    .label = Сторінка вашої домівки була змінена.
    .buttonlabel = Зберегти зміни
    .buttonaccesskey = б
    .secondarybuttonlabel = Вимкнути розширення
    .secondarybuttonaccesskey = В
appmenu-new-tab-controlled-changes =
    .label = Ваша нова вкладка змінилася.
    .buttonlabel = Зберегти зміни
    .buttonaccesskey = б
    .secondarybuttonlabel = Керувати новими вкладками
    .secondarybuttonaccesskey = в
appmenu-homepage-controlled-changes =
    .label = Ваша домівка змінилася.
    .buttonlabel = Зберегти зміни
    .buttonaccesskey = б
    .secondarybuttonlabel = Керувати домівкою
    .secondarybuttonaccesskey = в
appmenu-tab-hide-controlled =
    .label = Доступ до ваших прихованих вкладок
    .buttonlabel = Продовжити приховувати вкладки
    .buttonaccesskey = х
    .secondarybuttonlabel = Вимкнути розширення
    .secondarybuttonaccesskey = к
