# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Важливі новини
heading = Зміни, що стосуються вашого профілю { -brand-short-name }
changed-title = Що змінилося?
changed-desc-profiles = Це встановлення { -brand-short-name } має новий профіль. Профіль - це набір файлів, де Firefox зберігає таку інформацію як закладки, паролі та користувацькі налаштування.
changed-desc-dedicated = З метою спрощення перемикання між різними встановленнями Firefox (включаючи Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition та Firefox Nightly), це встановлення відтепер має окремий профіль. Він не передає автоматично вашу збережену інформацію до інших встановлень Firefox.
lost = <b>Ви не втратили жодних особистих даних чи налаштувань.</b> Якщо ви вже зберігали інформацію в Firefox на цьому комп'ютері, вона все ще доступна в іншому встановленні Firefox.
options-title = Які в мене є можливості?
options-do-nothing = Якщо ви нічого не зробите, дані вашого профілю в { -brand-short-name } відрізнятимуться від даних профілю інших встановлень Firefox.
options-use-sync = Якщо ви бажаєте, щоб всі дані вашого профілю були однаковими в усіх встановленнях Firefox, ви можете скористатися { -fxaccount-brand-name(case: "abl") } для їх синхронізації.
resources = Джерела:
support-link = Керування профілями - Стаття підтримки
sync-header = Увійдіть або створіть { -fxaccount-brand-name }
sync-label = Адреса електронної пошти
sync-input =
    .placeholder = Е-пошта
sync-button = Продовжити
sync-terms = Продовжуючи, ви погоджуєтеся з <a data-l10n-name="terms">Умовами користування</a> і <a data-l10n-name="privacy">Політикою приватності</a>.
sync-first = Вперше використовуєте { -sync-brand-name(case: "acc") }? Вам необхідно виконати вхід в кожному встановленні Firefox для синхронізації даних.
new-install-sync-first = Вперше користуєтеся синхронізацією? Вам необхідно ввійти до кожного встановленого Firefox для синхронізації даних.
sync-learn = Докладніше
