# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Associar in auter apparat
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Fa la segira dad avair installà <a data-l10n-name="connect-another-device">Firefox sin tes apparat mobil</a>.
fxa-qrcode-heading-phase2 = 2. T'annunzia lura tar { -sync-brand-short-name } u scannescha – en il cas dad Android – il code d'associaziun directamain en ils parameters da { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Fa la segira dad avair installà <a data-l10n-name="connect-another-device">Firefox sin tes apparat mobil</a>.
fxa-qrcode-heading-step2 = 2. Avra Firefox sin tes apparat mobil.
fxa-qrcode-heading-step3 = 3. Avra il <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> u <img data-l10n-name="android-menu-icon"/>), smatga sin <img data-l10n-name="settings-icon"/> <b>Parameters</b> e tscherna <b>Activar Sync</b>
fxa-qrcode-heading-step4 = 4. Scannescha quest code:
fxa-qrcode-error-title = Betg reussì dad associar.
fxa-qrcode-error-body = Emprova anc ina giada.
