# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Digeriñ ur prenestr merdeiñ prevez
    .accesskey = p
about-private-browsing-search-placeholder = Klask er web
about-private-browsing-info-title = En ur prenestr merdeiñ prevez emaoc’h
about-private-browsing-info-myths = Mojennoù a vez alies diwar-benn ar merdeiñ prevez
about-private-browsing =
    .title = Klask er web
about-private-browsing-not-private = N'emaoc’h ket e-barzh ur prenestr merdeiñ prevez.
about-private-browsing-info-description = { -brand-short-name } a skarzh ho roll istor klask ha merdeiñ pa guitait an arload pe pa serrit an holl brenestroù hag ivinelloù merdeiñ prevez. Daoust ma ne lak ket ac’hanoc’h da vezañ dizanv evit al lec’hiennoù pe evit ho pourchaser kenrouedad e vo aesoc’h da zerc’hel prevez ar pezh a rit enlinenn evit an dud all a implij an urzhiataer-mañ.
about-private-browsing-need-more-privacy = Ezhomm ho peus muioc’h a brevezded?
about-private-browsing-turn-on-vpn = Esaeit { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } eo ho lusker klask dre ziouer er prenestroù prevez
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Evit dibab ul lusker klask all, kit en <a data-l10n-name="link-options">Dibarzhioù</a>
       *[other] Evit dibab ul lusker klask all, kit er <a data-l10n-name="link-options">Gwellvezioù</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Serriñ
