# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Un hizivadenn nevez a zo evit { -brand-shorter-name }.
    .buttonlabel = Pellgargañ an hizivadenn
    .buttonaccesskey = P
    .secondarybuttonlabel = Diwezhatoc'h
    .secondarybuttonaccesskey = D
appmenu-update-available-message = Hizivait { -brand-shorter-name } evit gwellaat e dizh hag e brevezded.
appmenu-update-manual =
    .label = N’haller ket hizivaat { -brand-shorter-name } d’an handelv nevez.
    .buttonlabel = Pellgargañ { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Ket bremañ
    .secondarybuttonaccesskey = K
appmenu-update-manual-message = Pellgargit un eilad nevez eus { -brand-shorter-name } ha skoazellañ a raimp d’e staliañ.
appmenu-update-whats-new =
    .value = Lennit petra zo nevez.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } n’hall ket hizivaat d’an handelv diwezhañ.
    .buttonlabel = Gouzout hiroc’h
    .buttonaccesskey = G
    .secondarybuttonlabel = Serriñ
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message = Handelv diwezhañ { -brand-shorter-name } n'eo ket skoret war ho reizhad.
appmenu-update-restart =
    .label = Adloc'hit evit hizivaat { -brand-shorter-name }
    .buttonlabel = Adloc'hañ hag atoriñ
    .buttonaccesskey = A
    .secondarybuttonlabel = Diwezhatoc'h
    .secondarybuttonaccesskey = D
appmenu-update-restart-message = Goude un adloc'hadur prim e vo atoret gant { -brand-shorter-name } ho holl ivinelloù ha prenestroù na oa ket e mod merdeiñ prevez.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Mat eo, komprenet am eus
    .buttonaccesskey = M
appmenu-addon-post-install-message = Merit hoc'h askouezhioù en ur glikañ war <image data-l10n-name='addon-install-icon'></image> el lañser <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Aotren an askouezh-mañ da vezañ lañset en ur prenestr merdeiñ prevez
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Kemmet eo bet pajenn an ivinell nevez.
    .buttonlabel = Mirout ar c'hemmoù
    .buttonaccesskey = M
    .secondarybuttonlabel = Diweredekaat an askouezh
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Kemmet eo bet ho pennbajenn.
    .buttonlabel = Mirout ar c'hemmoù
    .buttonaccesskey = K
    .secondarybuttonlabel = Diweredekaat an askouezh
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Kemmet eo bet pajenn an ivinell nevez.
    .buttonlabel = Mirout ar c'hemmoù
    .buttonaccesskey = M
    .secondarybuttonlabel = Ardeiñ an ivinelloù nevez
    .secondarybuttonaccesskey = A
appmenu-homepage-controlled-changes =
    .label = Kemmet eo bet ho pennbajenn.
    .buttonlabel = Mirout ar c'hemmoù
    .buttonaccesskey = M
    .secondarybuttonlabel = Ardeiñ ar pennbajenn
    .secondarybuttonaccesskey = A
appmenu-tab-hide-controlled =
    .label = Haeziñ hoc'h ivinelloù kuzh
    .buttonlabel = Derc'hel an ivinelloù kuzhet
    .buttonaccesskey = D
    .secondarybuttonlabel = Diweredekaat an askouezhioù
    .secondarybuttonaccesskey = D
