# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Dispone de una nueva actualización para { -brand-shorter-name }
    .buttonlabel = Descargue la actualización
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Para obtener lo último en velocidad y seguridad, actualice su { -brand-shorter-name }.
appmenu-update-manual =
    .label = No se puede actualizar { -brand-shorter-name } a la última versión.
    .buttonlabel = Descargue { -brand-shorter-name }.
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Descargue una copia nueva de { -brand-shorter-name } y lo ayudaremos a instalarlo.
appmenu-update-whats-new =
    .value = Vea qué hay de nuevo.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } no puede actualizarse a la última versión.
    .buttonlabel = Conocer más
    .buttonaccesskey = S
    .secondarybuttonlabel = Cerrar
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = Su sistema no admite la última versión de { -brand-shorter-name }.
appmenu-update-restart =
    .label = Reiniciar para actualizar { -brand-shorter-name }.
    .buttonlabel = Reiniciar y restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Después de un reinicio rápido, { -brand-shorter-name } restaurará todas las pestañas y ventanas abiertas que no estén en el modo de navegación privada.
appmenu-update-available2 =
    .label = Actualización disponible
    .buttonlabel = Descargar
    .buttonaccesskey = D
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-available-message2 = Descargar la última versión de { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Actualización disponible
    .buttonlabel = Descargar
    .buttonaccesskey = D
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-manual-message2 = { -brand-shorter-name } no se pudo actualizar automáticamente. Descargue la nueva versión — no perderá la información guardada ni las personalizaciones.
appmenu-update-unsupported2 =
    .label = No se pudo actualizar
    .buttonlabel = Conocer más
    .buttonaccesskey = C
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-unsupported-message2 = El sistema operativo no es compatible con la última versión de { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Actualización disponible
    .buttonlabel = Actualizar y reiniciar
    .buttonaccesskey = u
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-restart-message2 = Obtener la última versión de { -brand-shorter-name }. Las pestañas y ventanas abiertas se restaurarán.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } no puede actualizarse automáticamente a la última versión.
    .buttonlabel = Actualizar { -brand-shorter-name } de cualquier manera
    .buttonaccesskey = U
    .secondarybuttonlabel = No ahora
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Una nueva actualización de { -brand-shorter-name } está disponible, pero no puede instalarse porque otra copia de { -brand-shorter-name } se está ejecutando. Ciérrela para continuar la actualización o elija actualizar de cualquier manera (la otra copia puede no funcionar correctamente hasta que la reinicie).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Listo, lo entendí
    .buttonaccesskey = o
appmenu-addon-post-install-message = Administre sus complementos haciendo clic <image data-l10n-name='addon-install-icon'></image> en el <image data-l10n-name='addon-menu-icon'></image> menú.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Aceptar
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Administre sus complementos y temas a través del menú de aplicaciones.
appmenu-addon-post-install-message3 = Administre los complementos y temas desde el menú de la aplicación.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir que esta extensión se ejecute en pestañas privadas
    .accesskey = A
appmenu-new-tab-controlled =
    .label = La nueva pestaña ha cambiado.
    .buttonlabel = Mantener cambios
    .buttonaccesskey = t
    .secondarybuttonlabel = Deshabilitar extensión
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Cambió su página de inicio.
    .buttonlabel = Mantener los cambios
    .buttonaccesskey = K
    .secondarybuttonlabel = Deshabilitar la extensión
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = La nueva pestaña cambió.
    .buttonlabel = Mantener los cambios
    .buttonaccesskey = K
    .secondarybuttonlabel = Administrar las pestañas nuevas
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = La página de inicio cambió
    .buttonlabel = Mantener los cambios
    .buttonaccesskey = K
    .secondarybuttonlabel = Administrar la página de incio
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Acceder a sus pestañas ocultas
    .buttonlabel = Mantener las Pestañas ocultas
    .buttonaccesskey = o
    .secondarybuttonlabel = Deshabilitar la extensión
    .secondarybuttonaccesskey = D
