# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Noticias importantes
heading = Cambios en su perfil de { -brand-short-name }
changed-title = ¿Qué cambió?
changed-desc-profiles = Esta instalación de { -brand-short-name } tiene un nuevo perfil. Un perfil es el conjunto de archivos donde Firefox guarda información como marcadores, contraseñas y preferencias del usuario.
changed-desc-dedicated = Para que sea más fácil y seguro alternar entre las instalaciones de Firefox (incluyendo Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition y Firefox Nightly), esta instalación ahora tiene un perfil dedicado. No comparte automáticamente su información guardada con otras instalaciones de Firefox.
lost = <b> No perdió ningún dato personal ni las personalizaciones. </b> Si ya guardó información en Firefox en esta computadora, todavía está disponible en otra instalación de Firefox.
options-title = ¿Qué opciones tengo?
options-do-nothing = Si no hace nada, sus datos de perfil de { -brand-short-name } serán diferentes de los datos del perfil en otras instalaciones de Firefox.
options-use-sync = Si quiere que todos los datos de su perfil sean iguales en todas las instalaciones de Firefox, puede usar { -fxaccount-brand-name } para mantenerlos sincronizados.
resources = Recursos:
support-link = Usando el administrador de perfiles - Artículo de soporte
sync-header = Inicie la sesión o cree una { -fxaccount-brand-name }
sync-label = Ingrese su correo electrónico
sync-input =
    .placeholder = Correo electrónico
sync-button = Continuar
sync-terms = Al continuar, se aceptan los <a data-l10n-name="terms">términos de servicio</a> y <a data-l10n-name="privacy">nota de privacidad</a>.
sync-first = ¿Primera vez usando { -sync-brand-name }? Deberá iniciar sesión en cada instalación de Firefox para sincronizar la información.
new-install-sync-first = ¿Primera vez usando la sincronización? Hace falta ingresar en cada instalación de Firefox para sincronizar la información.
sync-learn = Conocer más
