# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } परिचय
releaseNotes-link = क्या नया है?
update-checkForUpdatesButton =
    .label = अपडेट के लिए जांच करें
    .accesskey = C
update-updateButton =
    .label = { -brand-shorter-name } अपडेट करने के लिए पुन: चालू करें
    .accesskey = R
update-checkingForUpdates = अपडेट के लिए जाँचा जा रहा है…
update-downloading = <img data-l10n-name="icon"/>अपडेट डाउनलोड हो रहा है — <label data-l10n-name="download-status"/>
update-downloading-message = अपडेट डाउनलोड हो रहा है — <label data-l10n-name="download-status"/>
update-applying = अपडेट लागू हो रहा है…
update-failed = अपडेट विफल. <label data-l10n-name="failed-link">नवीनतम संस्करण डाउनलोड करें</label>
update-failed-main = अपडेट विफल. <a data-l10n-name="failed-link-main">नवीनतम संस्करण डाउनलोड करें</a>
update-adminDisabled = अद्यतनों को आपके सिस्टम प्रशासक के द्वारा निष्क्रिय किया गया है
update-noUpdatesFound = { -brand-short-name } अद्यतन है
update-otherInstanceHandlingUpdates = { -brand-short-name } को दूसरे उदाहरण के द्वारा अद्यतन किया जा रहा है
update-manual = उपलब्ध अद्यतन <label data-l10n-name="manual-link"/>
update-unsupported = आप इस तंत्र पर आगे अद्यतन नहीं कर सकते हैं. <label data-l10n-name="unsupported-link">अधिक जानें</label>
update-restarting = पुन: प्रारंभ...
channel-description = आप अभी यहाँ हैं <label data-l10n-name="current-channel"></label> चैनल अद्यतन करें.
warningDesc-version = { -brand-short-name } प्रायोगिक स्तर पर है और अस्थिर हो सकता है.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> एक है <label data-l10n-name="community-exp-creditsLink">वैश्विक समुदाय</label> जो वेब को खुला, सार्वजनिक और सभी की पहुँच के लिए बने रहने देने के लिए काम करते हैं.
community-2 = { -brand-short-name } बनाया गया है <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, एक <label data-l10n-name="community-creditsLink">वैश्विक समुदाय</label> जो वेब को खुला, सार्वजनिक और सभी की पहुँच के लिए बने रहने देने के लिए काम करते हैं.
helpus = मदद करना चाहते हैं? <label data-l10n-name="helpus-donateLink">दान करें</label> या <label data-l10n-name="helpus-getInvolvedLink">शामिल हों!</label>
bottomLinks-license = लाइसेंसिंग सूचना
bottomLinks-rights = अंत्य उपयोक्ता अधिकार
bottomLinks-privacy = गोपनीयता नीति
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
