# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Kết nối an toàn không khả dụng
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Bạn duyệt web ở chế độ chỉ HTTPS và phiên bản HTTPS an toàn của <em>{ $websiteUrl }</em> không khả dụng.
about-httpsonly-insecure-explanation-reasons = Nhiều khả năng, trang web không hỗ trợ HTTPS, nhưng cũng có khả năng kẻ tấn công đang chặn phiên bản HTTPS.
about-httpsonly-insecure-explanation-exception = Mặc dù rủi ro bảo mật thấp, nhưng nếu bạn quyết định truy cập phiên bản HTTP của trang web, bạn không nên nhập bất kỳ thông tin nhạy cảm nào như mật khẩu, email hoặc chi tiết thẻ tín dụng.
about-httpsonly-button-make-exception = Chấp nhận rủi ro và tiếp tục đến trang web
about-httpsonly-title-alert = Cảnh báo Chế độ chỉ HTTPS
about-httpsonly-title-connection-not-available = Kết nối an toàn không khả dụng
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Bạn đã bật Chế độ chỉ HTTPS để tăng cường bảo mật, và phiên bản HTTPS của <em>{ $websiteUrl }</em> không khả dụng.
about-httpsonly-explanation-question = Điều gì có thể gây ra điều này?
about-httpsonly-explanation-nosupport = Rất có thể, trang web chỉ đơn giản là không hỗ trợ HTTPS.
about-httpsonly-explanation-risk = Nó cũng có thể là một kẻ tấn công có liên quan. Nếu bạn quyết định truy cập trang web, bạn không nên nhập bất kỳ thông tin nhạy cảm nào như mật khẩu, email hoặc chi tiết thẻ tín dụng.
about-httpsonly-explanation-continue = Nếu bạn tiếp tục, Chế độ chỉ HTTPS sẽ tạm thời bị tắt cho trang web này.
about-httpsonly-button-continue-to-site = Tiếp tục đến trang web HTTP
about-httpsonly-button-go-back = Quay lại
about-httpsonly-link-learn-more = Tìm hiểu thêm…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Có thể thay thế
about-httpsonly-suggestion-box-www-text = Có một phiên bản an toàn của <em>www.{ $websiteUrl }</em>. Bạn có thể truy cập trang này thay vì <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Truy cập www.{ $websiteUrl }
