# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Giới thiệu về Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> là thư viện thu thập dữ liệu được sử dụng trong các sản phẩm của Mozilla. Trang này dành cho các nhà phát triển và người kiểm tra, những người cần <a data-l10n-name="fog-debug-doc-link">định cấu hình trạng thái gỡ lỗi và ghi nhật ký trong Glean SDK</a>.
about-glean-warning = Việc sử dụng sai giao diện này có thể làm vỡ { -brand-short-name }.
tag-pings-label = Gắn thẻ tất cả các ping đã gửi với thẻ này
log-pings-label = Ghi log tải trọng ping trước khi gửi?
send-pings-label = Gửi ping được đặt tên
controls-button-label = Gửi cài đặt
