# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Weiteres Gerät verbinden
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Falls Sie es noch nicht durchgeführt haben, so installieren Sie <a data-l10n-name="connect-another-device">Firefox auf einem Mobilgerät</a>.
fxa-qrcode-heading-phase2 = 2. Melden Sie sich mit { -sync-brand-short-name } an oder - falls Sie Android nutzen - scannen Sie den Code zum Verbinden aus den Einstellungen für { -sync-brand-short-name } heraus.
fxa-qrcode-heading-step1 = 1. Falls Sie es noch nicht durchgeführt haben, so installieren Sie <a data-l10n-name="connect-another-device">Firefox auf einem Mobilgerät</a>.
fxa-qrcode-heading-step2 = 2. Öffnen Sie Firefox auf Ihrem Mobilgerät.
fxa-qrcode-heading-step3 = 3. Öffnen Sie das <b>Menü</b> (<img data-l10n-name="ios-menu-icon"/> oder <img data-l10n-name="android-menu-icon"/>), tippen Sie auf <img data-l10n-name="settings-icon"/> <b>Einstellungen</b> und wählen Sie <b>Sync aktivieren</b>
fxa-qrcode-heading-step4 = 4. Scannen Sie diesen Code:
fxa-qrcode-error-title = Verbinden fehlschlagen
fxa-qrcode-error-body = Erneut versuchen
