# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Об Инструментах разработчика
enable-title = Включить Инструменты разработчика
enable-inspect-element-title = Включить Инструменты разработчика для использования Инспектора элементов
enable-inspect-element-message = Просмотр и редактирование HTML и CSS помощью Инспектора из Инструментов разработчика.
enable-about-debugging-message = Разработка и отладка WebExtensions, Web worker'ов, Service worker'ов и много другого в Инструментах разработчика.
enable-key-shortcut-message = Вы активировали ярлык Инструментов разработчика. Если вы ошиблись, то можете закрыть эту вкладку.
enable-menu-message = Улучшите HTML, CSS и JavaScript своего веб-сайта, используя инструменты, такие как Инспектор и Отладчик.
enable-common-message = Инструменты разработчика по умолчанию отключены, что даёт вам лучший контроль над браузером.
enable-learn-more-link = Подробнее об Инструментах разработчика
enable-enable-button = Включить Инструменты разработчика
enable-close-button = Закрыть эту вкладку
welcome-title = Добро пожаловать в Инструменты разработчика!
newsletter-title = Новостная рассылка для разработчиков от Mozilla
newsletter-message = Получайте новости от разработчиков, советы и ресурсы, отправляемые прямо к вам в почтовый ящик.
newsletter-email-placeholder =
    .placeholder = Эл. почта
newsletter-privacy-label = Я соглашаюсь с тем, как Mozilla обращается с моей информацией, согласно <a data-l10n-name="privacy-policy">Политике приватности</a>.
newsletter-subscribe-button = Подписаться
newsletter-thanks-title = Спасибо!
newsletter-thanks-message = Если вы ранее не подтверждали подписку на новостные рассылки Mozilla, то вам может понадобится сделать это. Пожалуйста, проверьте вашу папку "Входящие" или "Спам" на наличие письма от нас.
footer-title = Firefox Developer Edition
footer-message = Ищете не только Инструменты разработчика? Испытайте браузер Firefox, построенный специально для разработчиков и современных рабочих процессов.
footer-learn-more-link = Подробнее
features-learn-more = Подробнее
features-inspector-title = Инспектор
features-inspector-desc = Изучайте и совершенствуйте код, чтобы создавать попиксельно-идеальные макеты. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Консоль
features-console-desc = Отлаживайте CSS, JavaScript, а также проблемы с сетью и безопасностью. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Отладчик
features-debugger-desc = Мощный отладчик JavaScript с поддержкой вашего любимого фреймворка. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Сеть
features-network-desc = Контролируйте сетевые запросы, которые могут замедлить или заблокировать ваш сайт. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Хранилище
features-storage-desc = Добавляйте, редактируйте и удаляйте кэш, куки, базы данных и данные сессий. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Режим адаптивного дизайна
features-responsive-desc = Тестируйте сайты на эмулируемых устройствах в вашем браузере. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Визуальное редактирование
features-visual-editing-desc = Точная настройка анимаций, выравнивания и отступов. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Производительность
features-performance-desc = Разблокируйте узкие места, обеспечьте упрощение процессов и оптимизируйте производительность. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Память
features-memory-desc = Находите утечки памяти и уменьшите её потребление вашим приложением. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Не удалось сделать запрос на подписку ({ $errorDescription }).
newsletter-error-unknown = Произошла непредвиденная ошибка.
newsletter-error-timeout = Время ожидания ответа на запрос на подписку истекло.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Вы успешно включили Инструменты разработчика! Чтобы начать работу, откройте меню Веб-разработки или откройте инструменты через { $shortcut }.
