# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Даступна новая версія { -brand-shorter-name }.
    .buttonlabel = Сцягнуць абнаўленне
    .buttonaccesskey = С
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-available-message = Абнавіце { -brand-shorter-name } для павышэння хуткадзейнасці і прыватнасці.
appmenu-update-manual =
    .label = { -brand-shorter-name } не можа абнавіцца да апошняй версіі.
    .buttonlabel = Сцягнуць { -brand-shorter-name }
    .buttonaccesskey = С
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-manual-message = Сцягніце новую версію { -brand-shorter-name } і мы дапаможам вам яе ўсталяваць.
appmenu-update-whats-new =
    .value = Што новага.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } не можа абнавіцца да апошняй версіі.
    .buttonlabel = Даведацца больш
    .buttonaccesskey = Д
    .secondarybuttonlabel = Закрыць
    .secondarybuttonaccesskey = З
appmenu-update-unsupported-message = Апошняя версія { -brand-shorter-name } не падтрымліваецца ў вашай сістэме.
appmenu-update-restart =
    .label = Перазапуск для абнаўлення { -brand-shorter-name }.
    .buttonlabel = Перазапусціць і аднавіць
    .buttonaccesskey = К
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-restart-message = Пасля хуткага перазапуску { -brand-shorter-name } адновіць ўсе адкрытыя карткі і вокны, якія не былі адчынены ў рэжыме прыватнага аглядання.
appmenu-update-available2 =
    .label = Даступна абнаўленне
    .buttonlabel = Сцягнуць
    .buttonaccesskey = С
    .secondarybuttonlabel = Адхіліць
    .secondarybuttonaccesskey = ь
appmenu-update-available-message2 = Сцягніце найноўшую версію { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Даступна абнаўленне
    .buttonlabel = Сцягнуць
    .buttonaccesskey = С
    .secondarybuttonlabel = Адхіліць
    .secondarybuttonaccesskey = ь
appmenu-update-manual-message2 = Не ўдалося аўтаматычна абнавіць { -brand-shorter-name }. Сцягніце новую версію — вы не згубіце захаваную інфармацыю і налады.
appmenu-update-unsupported2 =
    .label = Не ўдалося абнавіцца
    .buttonlabel = Падрабязней
    .buttonaccesskey = П
    .secondarybuttonlabel = Закрыць
    .secondarybuttonaccesskey = ь
appmenu-update-unsupported-message2 = Ваша аперацыйная сістэма не сумяшчальная з апошняй версіяй { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Даступна абнаўленне
    .buttonlabel = Абнавіць і перазапусціць
    .buttonaccesskey = П
    .secondarybuttonlabel = Адхіліць
    .secondarybuttonaccesskey = ь
appmenu-update-restart-message2 = Атрымайце найноўшую версію { -brand-shorter-name }. Адкрытыя карткі і вокны будуць адноўленыя.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } не можа аўтаматычна абнавіцца да апошняй версіі.
    .buttonlabel = Усё роўна абнавіць { -brand-shorter-name }
    .buttonaccesskey = У
    .secondarybuttonlabel = Не зараз
    .secondarybuttonaccesskey = Н
appmenu-update-other-instance-message = Даступна абнаўленне для { -brand-shorter-name }, але яго нельга ўсталяваць, бо запушчана іншая копія { -brand-shorter-name }. Закрыйце яе, каб працягнуць абнаўленне, або выберыце абнаўленне ў любым выпадку (іншая копія можа не працаваць належным чынам, пакуль вы не перазапусціце яе).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Добра, зразумела
    .buttonaccesskey = з
appmenu-addon-post-install-message = Кіруйце вашымі дадаткамі, націснуўшы <image data-l10n-name='addon-install-icon'></image> у меню <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Добра
    .buttonaccesskey = Д
appmenu-addon-post-install-message2 = Кіруйце сваімі пашырэннямі і тэмамі праз меню праграмы.
appmenu-addon-post-install-message3 = Кіруйце сваімі дадаткамі і тэмамі праз меню праграмы.
appmenu-addon-post-install-incognito-checkbox =
    .label = Дазволіць гэтаму пашырэнню дзейнічаць у прыватных вокнах
    .accesskey = в
appmenu-new-tab-controlled =
    .label = Ваша новая картка была зменена.
    .buttonlabel = Замацаваць змены
    .buttonaccesskey = З
    .secondarybuttonlabel = Адключыць пашырэнне
    .secondarybuttonaccesskey = А
appmenu-homepage-controlled =
    .label = Ваша хатняя старонка зменена.
    .buttonlabel = Замацаваць змены
    .buttonaccesskey = З
    .secondarybuttonlabel = Адключыць пашырэнне
    .secondarybuttonaccesskey = А
appmenu-new-tab-controlled-changes =
    .label = Ваша новая картка была зменена.
    .buttonlabel = Захаваць змены
    .buttonaccesskey = З
    .secondarybuttonlabel = Налады новай карткі
    .secondarybuttonaccesskey = Н
appmenu-homepage-controlled-changes =
    .label = Ваша хатняя старонка зменена.
    .buttonlabel = Захаваць змены
    .buttonaccesskey = З
    .secondarybuttonlabel = Налады хатняй старонкі
    .secondarybuttonaccesskey = Н
appmenu-tab-hide-controlled =
    .label = Доступ да схаваных картак
    .buttonlabel = Трымаць карткі схаванымі
    .buttonaccesskey = Т
    .secondarybuttonlabel = Адключыць пашырэнне
    .secondarybuttonaccesskey = А
