# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = קיים עדכון חדש של { -brand-shorter-name }.
    .buttonlabel = הורדת עדכון
    .buttonaccesskey = ה
    .secondarybuttonlabel = לא כעת
    .secondarybuttonaccesskey = ל
appmenu-update-available-message = נא לעדכן את { -brand-shorter-name } כדי ליהנות משיפורי מהירות ופרטיות.
appmenu-update-manual =
    .label = לא ניתן לעדכן את { -brand-shorter-name } לגרסה החדשה.
    .buttonlabel = הורדת { -brand-shorter-name }
    .buttonaccesskey = ה
    .secondarybuttonlabel = לא כעת
    .secondarybuttonaccesskey = ל
appmenu-update-manual-message = נא להוריד עותק חדש של { -brand-shorter-name } ואנו נסייע לך בהתקנה.
appmenu-update-whats-new =
    .value = מידע נוסף על החידושים בגרסה זו.
appmenu-update-unsupported =
    .label = לא ניתן לעדכן את { -brand-shorter-name } לגרסה העדכנית.
    .buttonlabel = מידע נוסף
    .buttonaccesskey = מ
    .secondarybuttonlabel = סגירה
    .secondarybuttonaccesskey = ס
appmenu-update-unsupported-message = הגרסה העדכנית של { -brand-shorter-name } אינה נתמכת במערכת שלך.
appmenu-update-restart =
    .label = יש להפעיל מחדש כדי לעדכן את { -brand-shorter-name }.
    .buttonlabel = הפעלה מחדש ושחזור
    .buttonaccesskey = פ
    .secondarybuttonlabel = לא כעת
    .secondarybuttonaccesskey = ל
appmenu-update-restart-message = לאחר הפעלה מחדש, { -brand-shorter-name } ישחזר את כל הלשוניות והחלונות הפתוחים שאינם במצב גלישה פרטית.
appmenu-update-available2 =
    .label = עדכון זמין
    .buttonlabel = הורדה
    .buttonaccesskey = ה
    .secondarybuttonlabel = סגירה
    .secondarybuttonaccesskey = ס
appmenu-update-available-message2 = הורדת הגרסה העדכנית ביותר של { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = עדכון זמין
    .buttonlabel = הורדה
    .buttonaccesskey = ה
    .secondarybuttonlabel = סגירה
    .secondarybuttonaccesskey = ס
appmenu-update-manual-message2 = לא ניתן היה לעדכן את { -brand-shorter-name } באופן אוטומטי. כדאי להוריד את הגרסה החדשה — מידע שמור או התאמות אישיות לא יאבדו.
appmenu-update-unsupported2 =
    .label = לא ניתן לעדכן
    .buttonlabel = מידע נוסף
    .buttonaccesskey = מ
    .secondarybuttonlabel = סגירה
    .secondarybuttonaccesskey = ס
appmenu-update-unsupported-message2 = מערכת ההפעלה שלך אינה תואמת לגרסה העדכנית ביותר של { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = עדכון זמין
    .buttonlabel = עדכון והפעלה מחדש
    .buttonaccesskey = ע
    .secondarybuttonlabel = סגירה
    .secondarybuttonaccesskey = ס
appmenu-update-restart-message2 = קבלת הגרסה העדכנית ביותר של { -brand-shorter-name }. לשוניות וחלונות פתוחים ישוחזרו.
appmenu-update-other-instance =
    .label = לא ניתן לעדכן באופן אוטומטי את { -brand-shorter-name } לגרסה העדכנית ביותר.
    .buttonlabel = לעדכן את { -brand-shorter-name } בכל מקרה
    .buttonaccesskey = ע
    .secondarybuttonlabel = לא כעת
    .secondarybuttonaccesskey = ל
appmenu-update-other-instance-message = זמין עדכון חדש ל־{ -brand-shorter-name }, אבל לא ניתן היה להתקין אותו מכיוון שפועל עותק אחר של { -brand-shorter-name }. יש לסגור אותו כדי להמשיך בעדכון, או לבחור לעדכן אותו בכל מקרה (ייתכן שהעותק האחר לא יפעל כראוי עד שיופעל מחדש).
appmenu-addon-private-browsing-installed =
    .buttonlabel = בסדר, הבנתי
    .buttonaccesskey = ב
appmenu-addon-post-install-message = ניתן לנהל את התוספות שלך על־ידי לחיצה על <image data-l10n-name='addon-install-icon'></image> שבתפריט <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = בסדר
    .buttonaccesskey = ב
appmenu-addon-post-install-message2 = ניתן לנהל את ההרחבות וערכות הנושא שלך דרך תפריט היישום.
appmenu-addon-post-install-message3 = ניתן לנהל את התוספות וערכות הנושא שלך דרך תפריט היישום.
appmenu-addon-post-install-incognito-checkbox =
    .label = לאפשר להרחבה זו לפעול בחלונות פרטיים
    .accesskey = ל
appmenu-new-tab-controlled =
    .label = הלשונית החדשה שלך השתנתה.
    .buttonlabel = להשאיר שינויים
    .buttonaccesskey = ש
    .secondarybuttonlabel = השבתת הרחבה
    .secondarybuttonaccesskey = ה
appmenu-homepage-controlled =
    .label = דף הבית שלך השתנה.
    .buttonlabel = שמירת השינויים
    .buttonaccesskey = ש
    .secondarybuttonlabel = השבתת הרחבה
    .secondarybuttonaccesskey = ר
appmenu-new-tab-controlled-changes =
    .label = הלשונית החדשה שלך השתנתה.
    .buttonlabel = שמירת השינויים
    .buttonaccesskey = ש
    .secondarybuttonlabel = ניהול לשוניות חדשות
    .secondarybuttonaccesskey = נ
appmenu-homepage-controlled-changes =
    .label = דף הבית שלך השתנה.
    .buttonlabel = שמירת השינויים
    .buttonaccesskey = ש
    .secondarybuttonlabel = ניהול דף הבית
    .secondarybuttonaccesskey = נ
appmenu-tab-hide-controlled =
    .label = גישה ללשוניות המוסתרות שלך
    .buttonlabel = השארת הלשוניות מוסתרות
    .buttonaccesskey = ש
    .secondarybuttonlabel = השבתת הרחבה
    .secondarybuttonaccesskey = ב
