# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Обмањујући сајт
safeb-blocked-malware-page-title = Посећивање овог веб сајта може нашкодити вашем рачунару
safeb-blocked-unwanted-page-title = Овај сајт можда садржи штетне програме
safeb-blocked-harmful-page-title = Овај сајт можда садржи малициозни софтвер
safeb-blocked-phishing-page-short-desc = { -brand-short-name } је блокирао ову страницу јер би можда покушала да вас наведе на нешто опасно као што је инсталирање злонамерног софтвера или откривање личних информација као што су лозинке или кредитне картице.
safeb-blocked-malware-page-short-desc = { -brand-short-name } је блокирао ову страницу зато што може покушати да инсталира злонамерни софтвер који може украсти или обрисати ваше личне информације на вашем рачунару.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } је блокирао ову страницу јер би можда покушала да вас наведе да инсталирате програме који би нашкодили вашем прегледачу (на пример, променио би вашу почетну страницу или би приказивао рекламе).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } је блокирао ову страницу зато што може покушати да инсталира опасне програме који би украли или обрисали ваше податке (на пример, слике, лозинке, поруке и кредитне картице).
safeb-palm-advisory-desc = Саветодавно мишљење дато од <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Назад
safeb-palm-see-details-label = Погледајте детаље
safeb-blocked-phishing-page-error-desc-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен као обмањујућ</a>. Ако мислите да је то грешка, <a data-l10n-name='report_detection'>пријавите проблем</a> или <a data-l10n-name='ignore_warning_link'>игноришите упозорење</a> и наставите на сајт.
safeb-blocked-phishing-page-error-desc-no-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен као обмањујућ</a>. Ако мислите да је то грешка, <a data-l10n-name='report_detection'>пријавите проблем</a>.
safeb-blocked-phishing-page-learn-more = Сазнајте више о обманљивим сајтовима и “пецању” на <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Сазнајте више о { -brand-short-name }-овој заштити од “пецања” и злонамерног софтвера на <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи злонамеран софтвер</a>. Ако мислите да је то грешка, <a data-l10n-name='report_detection'>пријавите проблем</a> или <a data-l10n-name='ignore_warning_link'>игноришите упозорење</a> и наставите на сајт.
safeb-blocked-malware-page-error-desc-no-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи злонамеран софтвер</a>. Ако мислите да је то грешка, <a data-l10n-name='report_detection'>пријавите проблем</a>.
safeb-blocked-malware-page-learn-more = Сазнајте више о штетном веб садржају укључујући и вирусе и друге злонамерне софтвере и како да заштитите ваш рачунар на <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Сазнајте више о { -brand-short-name }-овој заштити од “пецања” и злонамерног софтвера на <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override-sumo = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи злонамеран софтвер</a>. Можете да <a data-l10n-name='ignore_warning_link'>игноришете упозорење</a> и наставите на сајт.
safeb-blocked-malware-page-error-desc-no-override-sumo = Сајт { $sitename }<span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи злонамеран софтвер</a>.
safeb-blocked-malware-page-learn-more-sumo = Сазнате више о { -brand-short-name }-овој заштити од "пецања" и злонамерног софтвера на <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи штетан софтвер</a>. Можете да <a data-l10n-name='ignore_warning_link'>игноришете упозорење</a> и наставите на сајт.
safeb-blocked-unwanted-page-error-desc-no-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи штетан софтвер</a>.
safeb-blocked-unwanted-page-learn-more = Сазнајте више о штетном и нежељеном софтверу у <a data-l10n-name='learn_more_link'>полиси о нежељеном софтверу</a>. Сазнајте више о { -brand-short-name }-овој заштити од “пецања” и злонамерног софтвера на <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи штетан програм</a>. Можете да <a data-l10n-name='ignore_warning_link'>игноришете упозорење</a> и наставите на сајт.
safeb-blocked-harmful-page-error-desc-no-override = Сајт <span data-l10n-name='sitename'>{ $sitename }</span> је <a data-l10n-name='error_desc_link'>пријављен да садржи потенцијално штетан програм</a>.
safeb-blocked-harmful-page-learn-more = Сазнајте више о { -brand-short-name }-овој заштити од “пецања” и злонамерног софтвера на <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Ово није обмањујућ сајт…
    .accesskey = б
