# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = En ny { -brand-shorter-name } uppdatering är tillgänglig.
    .buttonlabel = Ladda ned uppdatering
    .buttonaccesskey = L
    .secondarybuttonlabel = Inte nu
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Uppdatera { -brand-shorter-name } för det senaste inom hastighet och integritet.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan inte uppdateras till den senaste versionen.
    .buttonlabel = Ladda ner { -brand-shorter-name }
    .buttonaccesskey = L
    .secondarybuttonlabel = Inte nu
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Ladda ner en ny kopia av { -brand-shorter-name } och vi kommer att hjälpa dig att installera den.
appmenu-update-whats-new =
    .value = Se vad som är nytt.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } kan inte uppdateras till den senaste versionen.
    .buttonlabel = Läs mer
    .buttonaccesskey = L
    .secondarybuttonlabel = Stäng
    .secondarybuttonaccesskey = n
appmenu-update-unsupported-message = Den senaste versionen av { -brand-shorter-name } stöds inte av ditt system.
appmenu-update-restart =
    .label = Starta om för att uppdatera { -brand-shorter-name }.
    .buttonlabel = Starta om och återställ
    .buttonaccesskey = S
    .secondarybuttonlabel = Inte nu
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Efter en snabb omstart, kommer { -brand-shorter-name } att återställa alla dina öppna flikar och fönster som inte är i privat surfläge.
appmenu-update-available2 =
    .label = Uppdatering tillgänglig
    .buttonlabel = Hämta
    .buttonaccesskey = H
    .secondarybuttonlabel = Ignorera
    .secondarybuttonaccesskey = g
appmenu-update-available-message2 = Hämta den senaste versionen av { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Uppdatering tillgänglig
    .buttonlabel = Hämta
    .buttonaccesskey = H
    .secondarybuttonlabel = Ignorera
    .secondarybuttonaccesskey = g
appmenu-update-manual-message2 = { -brand-shorter-name } kunde inte uppdateras automatiskt. Hämta den nya versionen — du förlorar inte sparad information eller anpassningar.
appmenu-update-unsupported2 =
    .label = Det gick inte att uppdatera
    .buttonlabel = Läs mer
    .buttonaccesskey = L
    .secondarybuttonlabel = Ignorera
    .secondarybuttonaccesskey = g
appmenu-update-unsupported-message2 = Ditt operativsystem är inte kompatibelt med den senaste versionen av { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Uppdatering tillgänglig
    .buttonlabel = Uppdatera och starta om
    .buttonaccesskey = U
    .secondarybuttonlabel = Ignorera
    .secondarybuttonaccesskey = g
appmenu-update-restart-message2 = Hämta den senaste versionen av { -brand-shorter-name }. Öppna flikar och fönster återställs.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } kan inte uppdateras automatiskt till den senaste versionen.
    .buttonlabel = Uppdatera { -brand-shorter-name } ändå
    .buttonaccesskey = U
    .secondarybuttonlabel = Inte nu
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = En ny { -brand-shorter-name }-uppdatering är tillgänglig, men den kan inte installeras eftersom en annan kopia av { -brand-shorter-name } körs. Stäng den för att fortsätta uppdateringen eller välj att uppdatera ändå (den andra kopian kanske inte fungerar korrekt förrän du startar om den).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, jag förstår
    .buttonaccesskey = O
appmenu-addon-post-install-message = Hantera dina tillägg genom att klicka på <image data-l10n-name='addon-install-icon'></image> i menyn <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Okej
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Hantera dina tillägg och teman via applikationsmenyn.
appmenu-addon-post-install-message3 = Hantera dina tillägg och teman via applikationsmenyn.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tillåt att detta tillägg körs i privata fönster
    .accesskey = T
appmenu-new-tab-controlled =
    .label = Din nya flik har ändrats.
    .buttonlabel = Behåll ändringar
    .buttonaccesskey = B
    .secondarybuttonlabel = Inaktivera tillägg
    .secondarybuttonaccesskey = n
appmenu-homepage-controlled =
    .label = Din startsida har ändrats.
    .buttonlabel = Behåll ändringar
    .buttonaccesskey = B
    .secondarybuttonlabel = Inaktivera tillägg
    .secondarybuttonaccesskey = n
appmenu-new-tab-controlled-changes =
    .label = Din nya flik har ändrats.
    .buttonlabel = Behåll ändringar
    .buttonaccesskey = B
    .secondarybuttonlabel = Hantera ny flik
    .secondarybuttonaccesskey = H
appmenu-homepage-controlled-changes =
    .label = Din startsida har ändrats.
    .buttonlabel = Behåll ändringar
    .buttonaccesskey = B
    .secondarybuttonlabel = Hantera Startsida
    .secondarybuttonaccesskey = H
appmenu-tab-hide-controlled =
    .label = Öppna dina dolda flikar
    .buttonlabel = Håll flikar gömda
    .buttonaccesskey = H
    .secondarybuttonlabel = Inaktivera tillägg
    .secondarybuttonaccesskey = n
