# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Viktiga nyheter
heading = Ändringar till din { -brand-short-name } profil
changed-title = Vad har ändrats?
changed-desc-profiles = Denna installation av { -brand-short-name } har en ny profil. En profil är en uppsättning filer där Firefox sparar information som bokmärken, lösenord och användarinställningar.
changed-desc-dedicated = För att göra det enklare och säkrare att växla mellan installationer av Firefox (inklusive Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition och Firefox Nightly), har denna installation nu en dedikerad profil. Den delar inte automatiskt din sparade information med andra Firefox-installationer.
lost = <b>Du har inte förlorat någon personlig data eller anpassningar.</b> Om du redan har sparat information till Firefox på den här datorn är den fortfarande tillgänglig i en annan Firefox-installation.
options-title = Vilka är mina alternativ?
options-do-nothing = Om du inte gör något, kommer din profilinformation i { -brand-short-name } att skilja sig från profildata i andra installationer av Firefox.
options-use-sync = Om du vill att alla dina profildata ska vara desamma på alla installationer av Firefox kan du använda ett { -fxaccount-brand-name } för att hålla dem synkroniserade.
resources = Resurser:
support-link = Använda Profilhanteraren - supportartikel
sync-header = Logga in eller skapa ett { -fxaccount-brand-name }
sync-label = Ange din e-postadress
sync-input =
    .placeholder = E-post
sync-button = Fortsätt
sync-terms = Genom att fortsätta godkänner du <a data-l10n-name="terms">användarvillkoren</a> och <a data-l10n-name="privacy">sekretesspolicy</a>.
sync-first = Första gången du använder { -sync-brand-name }? Du måste logga in på varje installation av Firefox för att synkronisera din information.
new-install-sync-first = Första gången du använder synkronisering? Du måste logga in på varje installation av Firefox för att synkronisera din information.
sync-learn = Läs mer
