% This Source Code Form is subject to the terms of the Mozilla Public
% License, v. 2.0. If a copy of the MPL was not distributed with this
% file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* ===== global.css =====================================================
  == Styles that apply everywhere.
  ======================================================================= */

%include ../../shared/global.inc.css

@media (-moz-menubar-drag) {
  xul|toolbar[type="menubar"] {
    -moz-window-dragging: drag;
  }
}

:root {
  appearance: auto;
  -moz-default-appearance: dialog;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  font: message-box;
}

@supports not -moz-bool-pref("browser.proton.enabled") {
:root {
  --arrowpanel-padding: 10px;
  --arrowpanel-border-radius: 0;
}
} /** END not Proton **/

/* ::::: Alert icons :::::*/

.message-icon {
  list-style-image: url("moz-icon://stock/gtk-dialog-info?size=dialog");
}

.alert-dialog #infoIcon,
.alert-icon {
  list-style-image: url("moz-icon://stock/gtk-dialog-warning?size=dialog");
}

.error-icon {
  list-style-image: url("moz-icon://stock/gtk-dialog-error?size=dialog");
}

.question-icon {
  list-style-image: url("moz-icon://stock/gtk-dialog-question?size=dialog");
}

.authentication-icon {
  list-style-image: url("chrome://global/skin/icons/Authentication.png");
}

/* XXX(ntim): [mode="text"] is only used by comm-central */

xul|toolbar[mode="text"] .toolbarbutton-text {
  padding: 0 !important;
  margin: 3px 5px !important;
}

/* ::::: Print preview ::::: */

.print-preview-navigate-button {
  min-width: 1.9em;
}

.print-preview-navigate-button > .toolbarbutton-icon {
  display: none;
}

#print-preview-portrait-button {
  list-style-image: url("moz-icon://stock/gtk-orientation-portrait?size=button");
}

#print-preview-landscape-button {
  list-style-image: url("moz-icon://stock/gtk-orientation-landscape?size=button");
}

#print-preview-portrait-button > .toolbarbutton-icon,
#print-preview-landscape-button > .toolbarbutton-icon {
  margin-inline-end: 2px;
}

html|*#print-preview-pageNumber {
  /* 3 chars + (3px border + 1px padding) on both sides */
  width: calc(8px + 3ch);
  margin: 0 4px;
}

/* Separators */

xul|separator:not([orient="vertical"]) {
  height: 1.5em;
}
xul|separator[orient="vertical"] {
  width: 1.5em;
}

xul|separator.thin:not([orient="vertical"]) {
  height: 0.5em;
}
xul|separator.thin[orient="vertical"] {
  width: 0.5em;
}

xul|separator.groove:not([orient="vertical"]) {
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
  height: 0;
  margin-block: 0.4em;
}
xul|separator.groove[orient="vertical"] {
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  width: 0;
  margin-inline: 0.4em;
}

/* Link focus outline */

.text-link:-moz-focusring {
  outline: 1px dotted;
}

/* Other margins */

html|input {
  margin: 2px 4px;
}

xul|notification > xul|hbox > xul|button {
  margin-block: 0;
}

/* Notification popups */

%include ../../shared/notification-popup.inc.css
