# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ ਨੂੰ ਖੋਲ੍ਹੋ
    .accesskey = P
about-private-browsing-search-placeholder = ਵੈੱਬ ‘ਤੇ ਲੱਭੋ
about-private-browsing-info-title = ਤੁਸੀਂ ਨਿੱਜੀ ਵਿੰਡੋ ‘ਚ ਹੋ
about-private-browsing-info-myths = ਪ੍ਰਾਈਵਏਟ ਬਰਾਊਜ਼ਿੰਗ ਬਾਰੇ ਆਮ ਮਿੱਥਾਂ
about-private-browsing =
    .title = ਵੈੱਬ ‘ਤੇ ਲੱਭੋ
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine } ਨਾਲ ਖੋਜ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
about-private-browsing-handoff-no-engine =
    .title = ਖੋਜੋ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine } ਨਾਲ ਖੋਜ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
about-private-browsing-handoff-text-no-engine = ਖੋਜੋ ਜਾਂ ਸਿਰਨਾਵਾਂ ਦਿਓ
about-private-browsing-not-private = ਇਸ ਸਮੇਂ ਤੁਸੀਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ ਨੂੰ ਨਹੀਂ ਵਰਤ ਰਹੇ ਹੋ।
about-private-browsing-info-description = ਜਦੋਂ ਤੁਸੀਂ ਐਪ ਤੋਂ ਬਾਹਰ ਜਾਂਦੇ ਹੋ ਜਾਂ ਸਾਰੀਆਂ ਪ੍ਰਾਈਵੇਟ ਬਰਾਊਜ਼ ਕੀਤੀਆਂ ਟੈਬਾਂ ਅਤੇ ਵਿੰਡੋਆਂ ਨੂੰ ਬੰਦ ਕਰਦੇ ਹੋ ਤਾਂ { -brand-short-name } ਤੁਹਾਡੀ ਖੋਜ ਅਤੇ ਬਰਾਊਜ਼ਿੰਗ ਅਤੀਤ ਨੂੰ ਸਾਫ ਕਰਦਾ ਹੈ। ਹਾਲਾਂਕਿ ਇਹ ਤੁਹਾਨੂੰ ਵੈਬਸਾਈਟਾਂ ਜਾਂ ਤੁਹਾਡੇ ਇੰਟਰਨੈੱਟ ਦੇਣ ਵਾਲੇ ਲਈ ਅਣਪਛਾਤਾ ਨਹੀਂ ਬਣਾਉਂਦਾ, ਪਰ ਇਸ ਨਾਲ¶ ਇਸ ਡਿਵਾਈਸ ਨੂੰ ਵਰਤੇ ਵਾਲੇ ਕਿਸੇ ਤੋਂ ਵੀ ਤੁਹਾਡੇ ਵਲੋਂ ਆਨਲਾਈਨ ਕੀਤੇ ਨੂੰ ਪ੍ਰਾਈਵੇਟ ਰੱਖਣਾ ਹੋਰ ਸੌਖਾ ਹੋ ਜਾਂਦਾ ਹੈ।
about-private-browsing-need-more-privacy = ਹੋਰ ਪਰਦੇਦਾਰੀ ਦੀ ਲੋੜ ਹੈ?
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name } ਅਜ਼ਮਾਓ
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋਆਂ ਵਿੱਚ ਤੁਹਾਡਾ ਮੂਲ ਖੋਜ ਇੰਜਣ ਹੈ
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] ਵੱਖਰਾ ਖੋਜ ਇੰਜਣ ਵਿੱਚ ਜਾਣ ਲਈ <a data-l10n-name="link-options">ਚੋਣਾਂ</a> ਉੱਤੇ ਜਾਓ
       *[other] ਵੱਖਰਾ ਖੋਜ ਇੰਜਣ ਵਿੱਚ ਜਾਣ ਲਈ <a data-l10n-name="link-options">ਮੇਰੀ ਪਸੰਦ</a> ਉੱਤੇ ਜਾਓ
    }
about-private-browsing-search-banner-close-button =
    .aria-label = ਬੰਦ ਕਰੋ
