# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = ਨਵਾਂ { -brand-shorter-name } ਅੱਪਡੇਟ ਮੌਜੂਦ ਹੈ।
    .buttonlabel = ਅੱਪਡੇਟ ਡਾਊਨਲੋਡ ਕਰੋ
    .buttonaccesskey = D
    .secondarybuttonlabel = ਹੁਣੇ ਨਹੀਂ
    .secondarybuttonaccesskey = N
appmenu-update-available-message = ਸਪੀਡ ਅਤੇ ਪਰਦੇਦਾਰੀ ਨਾਲ ਨਵਾਂ-ਨਕੋਰ ਵਾਸਤੇ ਆਪਣੇ { -brand-shorter-name } ਨੂੰ ਅੱਪਡੇਟ ਕਰੋ।
appmenu-update-manual =
    .label = { -brand-shorter-name } ਨੂੰ ਨਵੇਂ ਵਰਜ਼ਨ ਲਈ ਅੱਪਡੇਟ ਨਹੀਂ ਕੀਤਾ ਜਾ ਸਕਿਆ।
    .buttonlabel = { -brand-shorter-name } ਡਾਊਨਲੋਡ ਕਰੋ
    .buttonaccesskey = D
    .secondarybuttonlabel = ਹੁਣੇ ਨਹੀਂ
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = { -brand-shorter-name } ਦੀ ਨਵੀਂ ਕਾਪੀ ਡਾਊਨਲੋਡ ਕਰੋ ਅਤੇ ਅਸੀਂ ਇਸ ਨੂੰ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਤੁਹਾਡੀ ਮਦਦ ਕਰਾਂਗੇ।
appmenu-update-whats-new =
    .value = ਵੇਖੋ ਕਿ ਕੀ ਨਵਾਂ ਹੈ।
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ਨਵੇਂ ਵਰਜ਼ਨ ਲਈ ਅੱਪਡੇਟ ਕਰਨ ਵਾਸਤੇ ਅਸਮਰੱਥ ਹੈ।
    .buttonlabel = ਹੋਰ ਜਾਣੋ
    .buttonaccesskey = L
    .secondarybuttonlabel = ਬੰਦ ਕਰੋ
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = { -brand-shorter-name } ਦਾ ਨਵਾਂ ਵਰਜ਼ਨ ਤੁਹਾਡੇ ਸਿਸਟਮ ਉੱਤੇ ਸਹਾਇਕ ਨਹੀਂ ਹੈ।
appmenu-update-restart =
    .label = { -brand-shorter-name } ਅੱਪਡੇਟ ਕਰਨ ਵਾਸਤੇ ਮੁੜ-ਚਾਲੂ ਕਰੋ।
    .buttonlabel = ਮੁੜ-ਚਾਲੂ ਅਤੇ ਬਹਾਲ ਕਰੋ
    .buttonaccesskey = R
    .secondarybuttonlabel = ਹੁਣੇ ਨਹੀਂ
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = ਤੁਰੰਤ ਮੁੜ-ਚਾਲੂ ਕਰਨ ਦੇ ਬਾਅਦ { -brand-shorter-name } ਤੁਹਾਡੀਆਂ ਖੁੱਲੀਆਂ ਟੈਬਾਂ ਅਤੇ ਵਿੰਡੋ, ਜੋ ਕਿ ਤੁਸੀਂ ਪ੍ਰਾਈਵੇਟ ਬਰਾਊਜ਼ਿੰਗ ਮੋਡ 'ਚ ਨਹੀਂ ਹਨ, ਨੂੰ ਬਹਾਲ ਕਰੇਗਾ।
appmenu-update-available2 =
    .label = ਅੱਪਡੇਟ ਮੌਜੂਦ ਹਨ
    .buttonlabel = ਡਾਊਨਲੋਡ
    .buttonaccesskey = D
    .secondarybuttonlabel = ਖ਼ਾਰਜ ਕਰੋ
    .secondarybuttonaccesskey = m
appmenu-update-available-message2 = { -brand-shorter-name } ਦਾ ਨਵਾਂ ਵਰਜ਼ਨ ਡਾਊਨਲੋਡ ਕਰੋ।
appmenu-update-manual2 =
    .label = ਅੱਪਡੇਟ ਮੌਜੂਦ ਹਨ
    .buttonlabel = ਡਾਊਨਲੋਡ
    .buttonaccesskey = D
    .secondarybuttonlabel = ਖ਼ਾਰਜ ਕਰੋ
    .secondarybuttonaccesskey = m
appmenu-update-manual-message2 = { -brand-shorter-name } ਨੂੰ ਆਪਣੇ-ਆਪ ਅੱਪਡੇਟ ਨਹੀਂ ਕੀਤਾ ਜਾ ਸਕਿਆ। ਨਵਾਂ ਵਰਜ਼ਨ ਡਾਊਨਲੋਡ ਕਰੋ — ਤੁਸੀਂ ਜਾਣਕਾਰੀ ਜਾਂ ਕਸਟਮਾਈਜ਼ ਨੂੰ ਨਹੀਂ ਗੁਆਉਂਗੇ।
appmenu-update-unsupported2 =
    .label = ਅੱਪਡੇਟ ਕਰਨ ਲਈ ਅਸਮਰੱਥ
    .buttonlabel = ਹੋਰ ਸਿੱਖੋ
    .buttonaccesskey = L
    .secondarybuttonlabel = ਖ਼ਾਰਜ ਕਰੋ
    .secondarybuttonaccesskey = m
appmenu-update-unsupported-message2 = ਤੁਹਾਡਾ ਓਪਰੇਟਿੰਗ ਸਿਸਟਮ { -brand-shorter-name } ਦੇ ਨਵੇਂ ਵਰਜ਼ਨ ਦੇ ਅਨੁਕੂਲ ਨਹੀਂ ਹੈ।
appmenu-update-restart2 =
    .label = ਅੱਪਡੇਟ ਮੌਜੂਦ ਹਨ
    .buttonlabel = ਅੱਪਡੇਟ ਕਰੋ ਤੇ ਮੁੜ-ਸ਼ੁਰੂ ਕਰੋ
    .buttonaccesskey = U
    .secondarybuttonlabel = ਖ਼ਾਰਜ ਕਰੋ
    .secondarybuttonaccesskey = m
appmenu-update-restart-message2 = { -brand-shorter-name } ਦਾ ਨਵਾਂ ਵਰਜ਼ਨ ਲਵੋ। ਟੈਬਾਂ ਤੇ ਵਿੰਡੋਆਂ ਨੂੰ ਬਹਾਲ ਕੀਤਾ ਜਾਵੇਗਾ।
appmenu-update-other-instance =
    .label = { -brand-shorter-name } ਆਪਣੇ-ਆਪ ਨਵੇਂ ਵਰਜ਼ਨ ਲਈ ਅੱਪਡੇਟ ਕਰਨ ਵਾਸਤੇ ਅਸਮਰੱਥ ਹੈ।
    .buttonlabel = ਕਿਵੇਂ ਵੀ { -brand-shorter-name } ਅੱਪਡੇਟ ਕਰੋ।
    .buttonaccesskey = U
    .secondarybuttonlabel = ਹੁਣੇ ਨਹੀਂ
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = ਨਵਾਂ { -brand-shorter-name } ਅੱਪਡੇਟ ਮੌਜੂਦ ਹੈ, ਪਰ { -brand-shorter-name } ਦੀ ਹੋਰ ਕਾਪੀ ਚੱਲ ਰਹੀ ਹੋਣ ਕਰਕੇ ਇੰਸਟਾਲ ਨਹੀਂ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ। ਅੱਪਡੇਟ ਕਰਨ ਤੋਂ ਪਹਿਲਾਂ ਇਸ ਨੂੰ ਬੰਦ ਕਰੋ ਜਾਂ ਕਿਵੇਂ ਵੀ ਅੱਪਡੇਟ ਕਰੋ (ਤੁਹਾਡੇ ਵਲੋਂ ਉਸ ਕਾਪੀ ਨੂੰ ਮੁੜ-ਚਾਲੂ ਕਰਨ ਤੋਂ ਉਹ ਠੀਕ ਤਰ੍ਹਾਂ ਕੰਮ ਨਹੀਂ ਵੀ ਕਰ ਸਕਦੀ ਹੈ)।
appmenu-addon-private-browsing-installed =
    .buttonlabel = ਠੀਕ ਹੈ, ਸਮਝ ਗਏ
    .buttonaccesskey = O
appmenu-addon-post-install-message = <image data-l10n-name='addon-install-icon'></image> ਮੇਨੂ ਵਿੱਚ <image data-l10n-name='addon-menu-icon'></image> ਤੇ ਕਲਿੱਕ ਕਰਕੇ ਆਪਣੇ ਐਡਆਨ ਦਾ ਬੰਦੋਬਸਤ ਕਰੋੋ।
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = ਠੀਕ ਹੈ
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = ਆਪਣੀਆਂ ਇਕਸਟੈਨਸ਼ਨਾਂ ਅਤੇ ਥੀਮਾਂ ਦਾ ਐਪਲੀਕੇਸ਼ਨ ਮੀਨੂ ਰਾਹੀਂ ਇੰਤਜ਼ਾਮ ਕਰੋ।
appmenu-addon-post-install-message3 = ਐਪਲੀਕੇਸ਼ਨ ਮੇਨੂ ਰਾਹੀਂ ਆਪਣੀਆਂ ਐਡ-ਆਨ ਤੇ ਥੀਮ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ।
appmenu-addon-post-install-incognito-checkbox =
    .label = ਇਸ ਇਕਸਟੈਨਸ਼ਨ ਨੂੰ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋਜ਼ ਵਿੱਚ ਚੱਲਣ ਦੀ ਇਜਾਜ਼ਤ ਦਿਓ
    .accesskey = A
appmenu-new-tab-controlled =
    .label = ਤੁਹਾਡੀ ਨਵੀਂ ਟੈਬ ਬਦਲੀ ਜਾ ਚੁੱਕੀ ਹੈ।
    .buttonlabel = ਤਬਦੀਲੀਆਂ ਨੂੰ ਰੱਖੋ
    .buttonaccesskey = K
    .secondarybuttonlabel = ਇਕਟੈਨਸ਼ਨ ਅਸਮਰੱਥ ਕਰੋ
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = ਤੁਹਾਡਾ ਮੁੱਖ ਸਫ਼ਾ ਬਦਲਿਆ ਗਿਆ ਹੈ।
    .buttonlabel = ਤਬਦੀਲੀਆਂ ਰੱਖੋ
    .buttonaccesskey = K
    .secondarybuttonlabel = ਇਕਟੈਨਸ਼ਨ ਅਸਮਰੱਥ ਕਰੋ
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = ਤੁਹਾਡੀ ਨਵੀਂ ਟੈਬ ਬਦਲੀ ਗਈ ਹੈ।
    .buttonlabel = ਤਬਦੀਲੀਆਂ ਰੱਖੋ
    .buttonaccesskey = K
    .secondarybuttonlabel = ਨਵੀਆਂ ਟੈਬਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = ਤੁਹਾਡਾ ਮੁੱਖ-ਸਫ਼ਾ ਬਦਲਿਆ ਗਿਆ ਹੈ।
    .buttonlabel = ਤਬਦੀਲੀਆਂ ਰੱਖੋ
    .buttonaccesskey = K
    .secondarybuttonlabel = ਮੁੱਖ-ਸਫ਼ੇ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = ਤੁਹਾਡੀਆਂ ਲੁਕਵੀਆਂ ਟੈਬਾਂ ਲਈ ਪਹੁੰਚ
    .buttonlabel = ਟੈਬਾਂ ਨੂੰ ਲੁਕਾ ਕੇ ਰੱਖੋ
    .buttonaccesskey = K
    .secondarybuttonlabel = ਇਕਸਟੈਨਸ਼ਨ ਅਸਮਰੱਥ ਕਰੋ
    .secondarybuttonaccesskey = D
