# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = ਅਹਿਮ ਖ਼ਬਰਾਂ
heading = ਆਪਣੇ { -brand-short-name } ਪਰੋਫਾਇਲ ਲਈ ਬਦਲੋ
changed-title = ਕੀ ਬਦਲ ਗਿਆ?
changed-desc-profiles = { -brand-short-name } ਦੀ ਇੰਸਟਾਲੇਸ਼ਨ ਦੀ ਨਵੀਂ ਪਰੋਫਾਈਲ ਹੈ। ਪਰੋਫਾਈਲ ਉਹਨਾਂ ਫਾਇਲਾਂ ਦਾ ਸਮੂਹ ਹੈ, ਜਿੱਥੇ ਫਾਇਰਫਾਕਸ ਬੁੱਕਮਾਰਕ, ਪਾਸਵਰਡ ਅਤੇ ਵਰਤੋਂਕਾਰ ਪਸੰਦ ਵਰਗੀਆਂ ਜਾਣਕਾਰੀ ਸੰਭਾਲਦਾ ਹੈ।
changed-desc-dedicated = ਫਾਇਰਫਾਕਸ (ਫਾਇਰਫਾਕਸ, ਫਾਇਰਫਾਕਸ ESR, ਫਾਇਰਫਾਕਸ ਬੀਟਾ, ਫਾਇਰਫਾਕਸ ਡਿਵੈਲਪਰ ਐਡੀਸ਼ਨ ਅਤੇ ਫਾਇਰਫਾਕਸ ਨਾਈਟਲੀ ਸਮੇਤ) ਫਾਊਂਡੇਸ਼ਨ ਦੇ ਇੰਸਟਾਲੇਸ਼ਨਾਂ ਵਿਚਕਾਰ ਸਵਿੱਚ ਕਰਨ ਲਈ ਇਸਨੂੰ ਆਸਾਨ ਅਤੇ ਸੁਰੱਖਿਅਤ ਕਰਨ ਲਈ, ਇਸ ਇੰਸਟਾਲੇਸ਼ਨ ਲਈ ਹੁਣ ਇੱਕ ਸਮਰਥਿਤ ਪਰੋਫਾਈਲ ਹੈ। ਇਹ ਤੁਹਾਡੀ ਸੁਰੱਖਿਅਤ ਜਾਣਕਾਰੀ ਨੂੰ ਫਾਇਰਫਾਰਮ ਇੰਸਟਾਲੇਸ਼ਨ ਨਾਲ ਆਪਣੇ-ਆਪ ਸਾਂਝ ਨਹੀਂ ਕਰਦਾ।
lost = <b> ਤੁਸੀਂ ਕੋਈ ਨਿੱਜੀ ਡਾਟਾ ਜਾਂ ਅਨੁਕੂਲਤਾ ਗੁਆ ਲਈ ਨਹੀਂ ਹੈ। </ b> ਜੇਕਰ ਤੁਸੀਂ ਇਸ ਕੰਪਿਊਟਰ ਤੇ ਫਾਇਰਫਾਕਸ ਲਈ ਪਹਿਲਾਂ ਹੀ ਜਾਣਕਾਰੀ ਸੰਭਾਲੀ ਹੈ, ਤਾਂ ਇਹ ਅਜੇ ਵੀ ਇਕ ਹੋਰ ਫਾਇਰਫਾਕਸ ਇੰਸਟਾਲੇਸ਼ਨ ਵਿੱਚ ਉਪਲੱਬਧ ਹੈ।
options-title = ਮੇਰੇ ਕੋਲ ਕੀ ਚੋਣਾਂ ਹਨ?
options-do-nothing = ਜੇ ਤੁਸੀਂ ਕੁਝ ਨਹੀਂ ਕਰਦੇ ਹੋ, ਤਾਂ ਤੁਹਾਡਾ ਪਰੋਫਾਈਲ ਡਾਟਾ { -brand-short-name } ਵਿੱਚ ਫਾਇਰਫਾਕਸ ਦੇ ਹੋਰ ਇੰਸਟਾਲੇਸ਼ਨ ਵਿੱਚ ਪਰੋਫਾਈਲ ਡਾਟਾ ਤੋਂ ਵੱਖਰਾ ਹੋਵੇਗਾ।
options-use-sync = ਜੇ ਤੁਸੀਂ ਚਾਹੁੰਦੇ ਹੋ ਕਿ ਤੁਹਾਡਾ ਸਾਰਾ ਪਰੋਫਾਇਲ ਡਾਟਾ ਫਾਇਰਫਾਕਸ ਦੇ ਸਾਰੇ ਇੰਸਟਾਲੇਸ਼ਨਾਂ ਉੱਤੇ ਹੋਵੇ, ਤਾਂ ਤੁਸੀਂ ਇਹਨਾਂ ਨੂੰ ਸਿੰਕ ਰੱਖਣ ਲਈ { -fxaccount-brand-name } ਇਸਤੇਮਾਲ ਕਰ ਸਕਦੇ ਹੋੋ।
resources = ਸਰੋਤ:
support-link = ਪਰੋਫਾਇਲ ਮੈਨੇਜਰ ਦਾ ਇਸਤੇਮਾਲ ਕਰਨਾ - ਸਮਰਥਨ ਲੇਖ
sync-header = ਸਾਈਨ ਇਨ ਕਰੋ ਜਾਂ { -fxaccount-brand-name } ਬਣਾਓ
sync-label = ਆਪਣਾ ਈਮੇਲ ਭਰੋ
sync-input =
    .placeholder = ਈਮੇਲ
sync-button = ਜਾਰੀ ਰੱਖੋ
sync-terms = ਜਾਰੀ ਰੱਖ ਕੇ ਤੁਸੀਂ <a data-l10n-name="terms">ਸੇਵਾ ਦੀਆਂ ਸ਼ਰਤਾਂ</a> ਅਤੇ <a data-l10n-name="privacy">ਪਰਦੇਦਾਰੀ ਨੀਤੀ</a> ਨਾਲ ਸਹਿਮਤ ਹੁੰਦੇ ਹੋ।
sync-first = ਪਹਿਲੀ ਵਾਰ { -sync-brand-name } ਵਰਤ ਰਹੇ ਹੋ? ਤੁਹਾਨੂੰ ਆਪਣੀ ਜਾਣਕਾਰੀ ਨੂੰ ਸਿੰਕ ਕਰਨ ਲਈ ਫਾਇਰਫਾਕਸ ਦੀ ਹਰੇਕ ਇੰਸਟਾਲੇਸ਼ਨ ਲਈ ਸਾਈਨ ਇਨ ਕਰਨ ਦੀ ਲੋੜ ਪਵੇਗੀ।
new-install-sync-first = ਪਹਿਲੀ ਵਾਰ ਸਿੰਕ ਵਰਤ ਰਹੇ ਹੋ? ਆਪਣੀ ਜਾਣਕਾਰੀ ਸਿੰਕ ਕਰਨ ਵਾਸਤੇ Firefox ਦੀ ਹਰ ਇੰਸਟਾਲੇਸ਼ਨ ਵਿੱਚ ਤੁਹਾਨੂੰ ਸਾਈਨ ਇਨ ਕਰਨ ਦੀ ਲੋੜ ਪਵੇਗੀ।
sync-learn = ਹੋਰ ਜਾਣੋ
