# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = O tvojim pravima
rights-intro = { -brand-full-name } je slobodan program otvorenog koda, koju je izradila zajednica od tisuću osoba iz cijelog svijeta. Neke podatke trebaš znati:
rights-intro-point-1 = { -brand-short-name } je dostupan pod uvjetima <a data-l10n-name="mozilla-public-license-link">Mozilline javne licence</a>. To znači da možeš koristiti, kopirati i distribuirati { -brand-short-name } drugima. Također smiješ mijenjati izvorni kod { -brand-short-name } kako god želiš. Mozillina javna licenca daje ti pravo distribuirati promijenjene verzije.
rights-intro-point-2 = Nemaš prava na zaštitni znak ili licenciranje zaštitnih znakova Mozilla zaklade ili bilo kojih drugih strana, uključujući, ali ne i ograničeno na, Firefox ime ili logotip. Dodatne informacije o zaštitnim znacima možeš pronaći <a data-l10n-name="mozilla-trademarks-link">ovdje</a>.
rights-intro-point-3 = Neke mogućnosti u { -brand-short-name }, poput izvjestitelja o rušenjima, nude izbor slanja povratnih informacija na { -vendor-short-name }. Odabirom slanja povratnih informacija, automatski dopuštaš da { -vendor-short-name } koristi tvoje informacije za unaprijeđenje svojih proizoda, objavi informacije na svojim web stranicama i da distribuira tvoje povratne informacije.
rights-intro-point-4 = Način na koji koristimo tvoje osobne informacije i povratne informacije poslane na { -vendor-short-name } kroz { -brand-short-name } je opisan u <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } pravilima o privatnosti</a>.
rights-intro-point-4-unbranded = Bilo koje primjenjivo pravilo privatnosti za ovaj proizvod mora biti navedeno ovdje.
rights-intro-point-5 = Neke { -brand-short-name } mogućnosti koriste informacijske usluge na webu, međutim, ne možemo jamčiti da su one 100% točne i bez grešaka. Više detalja, uključujući i informacije kako onemogućiti ovu mogućnosti koje koriste te usluge možete pronaći u <a data-l10n-name="mozilla-service-terms-link">uvjetima usluga</a>.
rights-intro-point-5-unbranded = Ukoliko ovaj proizvod uključuje web usluge, svi primjenjivi uvjeti za tu uslugu bi trebali biti povezani na <a data-l10n-name="mozilla-website-services-link">Usluge web stranica</a> odjeljku.
rights-intro-point-6 = Da bi mogao reproducirati neke vrste video zapisa, { -brand-short-name } preuzima određene module za dekripciju od trećih strana.
rights-webservices-header = { -brand-full-name }ove informacijske usluge na webu
rights-webservices = { -brand-full-name } koristi web-bazirane usluge („Usluge”) kako bi se omogućile neke funkcije koje možeš koristiti s ovom binarnom verzijom { -brand-short-name }a pod uvjetima koji su dolje navedeni. Ako ne želiš koristiti jednu ili više usluga ili, ako su ti uslovi korištenja neprihvatljivi, možeš onemogućiti funkciju ili usluge. Instrukcije o tome, kako onemogućiti određenu funkciju ili uslugu, možeš pronaći <a data-l10n-name="mozilla-disable-service-link">ovdje</a>. Druge funkcije i usluge mogu biti onemogućene u postavkama aplikacije.
rights-safebrowsing = <strong>Sigurno pregledavanje: </strong>Ne preporučuje se deaktivirati funkciju za sigurno pregledavanje, jer u tom slučaju ne postoji zaštita od pristupanja nesigurnim stranicama.  Ako u potpunosti želiš deaktivirati ovu funkciju, slijedi ove korake:
rights-safebrowsing-term-1 = Otvori postavke programa
rights-safebrowsing-term-2 = Odaberi izbor Sigurnost
rights-safebrowsing-term-3 = Isključite mogućnost kako biste "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Blokiraj opasni i zavaravajući sadržaj
rights-safebrowsing-term-4 = Sigurno pregledavanje je sad onemogućeno
rights-locationawarebrowsing = <strong>Geolokacijsko pregledavanje: </strong>je uvijek dobrovoljno. Podaci o lokaciji nikada se ne šalju bez tvojeg dopuštenja. Ako želiš u potpunosti deaktivirati ovu funkciju, slijedi ove korake:
rights-locationawarebrowsing-term-1 = U adresnu traku upišite <code>about:config</code>
rights-locationawarebrowsing-term-2 = Upiši geo.enabled
rights-locationawarebrowsing-term-3 = Dvaput klikni na postavku geo.enabled
rights-locationawarebrowsing-term-4 = Geolokacijsko pregledavanje je sada isključeno
rights-webservices-unbranded = Pregled usluga za web stranice, koje ovaj proizvod uključuje, uz upute kako ih onemogućiti, ako je moguće, trebao bi se nalaziti ovdje.
rights-webservices-term-unbranded = Bilo koji primijenjivi uvjeti usluga za ovaj proizvod bi trebali biti navedeni ovdje.
rights-webservices-term-1 = { -vendor-short-name } i njegovi doprinositelji, izdavatelji licencija i partneri rade na pružanju najpreciznijih i ažurnih usluga.  Međutim, ne možemo jamčiti da su ove informacije sveobuhvatne i bez grešaka.  Na primjer, usluga Sigurno pretraživanje možda neće identificirati neke rizične stranice ili će pak neke sigurne stranice označiti rizičnima. Lokacije u usluzi geolociranja su procjene naših pružatelja usluge koji ne jamče preciznost dobivenih lokacija.
rights-webservices-term-2 = { -vendor-short-name } može ukinuti ili promijeniti uslugu prema vlastitom nahođenju.
rights-webservices-term-3 = Uz danu inačicu { -brand-short-name }a možeš slobodno koristiti ove usluge i { -vendor-short-name } ti daje pravo za to.  { -vendor-short-name } i njezini pružatelji licence zadržavaju sva ostala prava u uslugama. Ovi uvjeti nisu namjenjeni ograničavanju tvojih prava koja su omogućena pod licencama otvorenog koda koje se primjenjuju na { -brand-short-name } i odgovarajući izvorni kod { -brand-short-name }a.
rights-webservices-term-4 = <strong>Usluge se pružaju „bez jamstva”. { -vendor-short-name }, njegovi programeri, vlasnici licenca i distributeri, poriču sva jamstva, izražena ili podrazumijevana, uključujući bez ograničenja, jamstva da su usluge uporabljive kvalitete i da su primjenjive na tvoje potrebe. Snosiš cijeli rizik odabirom usluga za vlastite potrebe kao i po pitanju kvalitete i performansi usluga. Neki entiteti ne dozvoljavaju izuzeće ili ograničavanje podrazumijevanih jamstava, pa se ovo odricanje možda ne primjenjuje i na tebe.</strong>
rights-webservices-term-5 = <strong>Osim kad to zahtijeva zakon, { -vendor-short-name }, njegovi programeri, vlasnici licenca i distributeri neće biti odgovorni za nikakvu indirektnu, posebnu, slučajnu, posljedičnu, kaznenu ili primjernu štetu nastalu od ili na bilo koji način povezano uz uporabu { -brand-short-name } i njegovih Usluge. Ukupna odgovornost pod ovim uvjetima neće prelaziti $500 (pet stotina dolara). Neki entiteti ne dozvoljavaju izuzeće ili ograničavanje podrazumijevanih jamstava, pa se ovo odricanje možda ne primjenjuje i na tebe.</strong>
rights-webservices-term-6 = { -vendor-short-name } može izmijeniti ove uvjete s vremena na vrijeme, ukoliko je to potrebno. Ovi se uvjeti ne mogu promijeniti  ili ukinuti bez pisanog sporazuma s { -vendor-short-name }.
rights-webservices-term-7 = Ovi uvjeti su pokriveni zakonima države Kalifornija, SAD, izuzimajući konflikte u zakonskim propisima. Ako je bilo koji dio ovih uvjeta nevaljan ili neprimjenjiv, preostali dio ostaje u punoj snazi i djelovanju. U slučaju konflikta između prevedene verzije ovih uvjeta i verzije na engleskom jeziku, primjenjuje se verzija na engleskom jeziku.
