# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Import Logins Autocomplete

# Variables:
#   $browser (String) - Browser name to import logins from.
#   $host (String) - Host name of the current site.
autocomplete-import-logins =
    <div data-l10n-name="line1">Importuokite savo { $host } ir kitų svetainių</div>¶
    <div data-l10n-name="line2">prisijungimus iš „{ $browser }“</div>
autocomplete-import-logins-info =
    .tooltiptext = Sužinoti daugiau

## Variables:
##   $host (String) - Host name of the current site.

autocomplete-import-logins-chrome =
    <div data-l10n-name="line1">Importuoti jūsų prisijungimą</div>¶
    <div data-l10n-name="line2">prie { $host } ir kitų svetainių iš „Google Chrome“</div>
autocomplete-import-logins-chromium =
    <div data-l10n-name="line1">Importuoti jūsų prisijungimą</div>¶
    <div data-l10n-name="line2">prie { $host } ir kitų svetainių iš „Chromium“</div>
autocomplete-import-logins-chromium-edge =
    <div data-l10n-name="line1">Importuoti jūsų prisijungimą</div>¶
    <div data-l10n-name="line2">prie { $host } ir kitų svetainių iš „Micorosft Edge“</div>

##

autocomplete-import-learn-more = Sužinoti daugiau
