# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = 실험적인 CSS Masonry 레이아웃 기능을 지원합니다. 기능에 대한 자세한 내용은 <a data-l10n-name="explainer">설명자</a>를 참조하세요. 사용자 의견을 제공하시려면, <a data-l10n-name="w3c-issue">이 GitHub 문제</a> 또는 <a data-l10n-name="bug">이 버그</a>에 의견을 보내주세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = 이 새로운 API는 사용자의 장치 또는 컴퓨터의 <a data-l10n-name="wikipedia">GPU (그래픽 처리 장치)</a>를 사용하여 계산 및 그래픽 렌더링을 수행하기 위한 낮은 수준의 지원을 제공합니다. <a data-l10n-name="spec">사양</a>은 여전히 진행 중입니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1602129</a>를 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = 이 기능을 사용하면 { -brand-short-name }는 AVIF (AV1 이미지 파일) 형식을 지원합니다. 이것은 이미지 크기를 줄이기 위해 AV1 비디오 압축 알고리즘의 기능을 활용하는 정지 이미지 파일 형식입니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1443863</a>을 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = <a data-l10n-name="mdn-inputmode">inputmode</a> 전역 속성 구현은 <a data-l10n-name="whatwg">WHATWG 사양</a>에 따라 업데이트되었습니다. 그러나 contenteditable 콘텐츠에서 사용할 수 있도록 하는 것과 같은 다른 변경도 여전히 필요합니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1205133</a>을 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> 인터페이스에 생성자를 추가하는 것뿐만 아니라 다양한 관련 변경으로 인해 시트를 HTML에 추가하지 않고도 새로운 스타일시트를 직접 만들 수 있습니다. 이를 통해 <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>과 함께 사용할 수 있는 재사용 가능한 스타일시트를 훨씬 쉽게 만들 수 있습니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1520690</a>을 참고하세요.
experimental-features-devtools-color-scheme-simulation =
    .label = 개발자 도구: 색 구성표 시뮬레이션
experimental-features-devtools-color-scheme-simulation-description = <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> 미디어 쿼리를 테스트 할 수 있는 다양한 색 구성표를 시뮬레이션하는 옵션을 추가합니다. 이 미디어 쿼리를 사용하면 스타일시트가 사용자가 밝은 사용자 인터페이스를 선호하는지 어두운 사용자 인터페이스를 선호하는지에 응답할 수 있습니다. 이 기능을 사용하면 브라우저(또는 브라우저가 시스템 전체 색 구성표 설정을 따르는 경우는 운영 체제)의 설정을 변경하지 않고도 코드를 테스트 할 수 있습니다. 자세한 내용은 <a data-l10n-name="bugzilla1">bug 1550804</a> 및 <a data-l10n-name="bugzilla2">bug 1137699</a>를 참고하세요.
experimental-features-devtools-execution-context-selector =
    .label = 개발자 도구: 실행 컨텍스트 선택기
experimental-features-devtools-execution-context-selector-description = 이 기능은 콘솔의 명령줄에 입력한 표현식이 실행될 컨텍스트를 변경할 수 있는 버튼을 표시합니다. 자세한 내용은 <a data-l10n-name="bugzilla1">bug 1605154</a> 및 <a data-l10n-name="bugzilla2">bug 1605153</a>을 참고하세요.
experimental-features-devtools-compatibility-panel =
    .label = 개발자 도구: 호환성 패널
experimental-features-devtools-compatibility-panel-description = 앱의 브라우저 간 호환성 상태를 자세히 설명하는 정보를 표시하는 페이지 검사기의 측면 패널입니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1584464</a>를 참고하세요.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax가 기본값
experimental-features-cookie-samesite-lax-by-default2-description = 쿠키에 “SameSite” 속성이 지정되지 않은 경우 “SameSite=Lax”를 기본값으로 간주합니다. 무제한 사용시에는 개발자는 “SameSite=None”을 명확하게 명시해야 합니다.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None은 secure 속성 필요
experimental-features-cookie-samesite-none-requires-secure2-description = “SameSite=None” 속성을 가진 쿠키에는 secure 속성이 필요합니다. 이 기능에는 “Cookies: SameSite=Lax가 기본값”이 필요합니다.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home 시작 캐시
experimental-features-abouthome-startup-cache-description = 시작시 기본적으로 로드되는 초기 about:home 문서에 대한 캐시입니다. 캐시의 목적은 시작 성능을 향상시키는 것입니다.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = 같은 도메인이지만 다른 체계 (예: http://example.com과 https://example.com)의 쿠키를 same-site 대신 cross-site로 처리합니다. 보안을 향상시키지만 잠재적으로 깨짐이 발생할 수 있습니다.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = 개발자 도구: Service Worker 디버깅
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = 디버거 패널에서 Service Worker를 실험적으로 지원합니다. 이 기능은 개발자 도구의 속도를 저하시키고 메모리 소비를 증가시킬 수 있습니다.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC 전역 음소거 설정/해제
experimental-features-webrtc-global-mute-toggles-description = WebRTC 전역 공유 표시기에 컨트롤을 추가하여 사용자가 전역적으로 마이크 및 카메라 피드를 음소거 할 수 있습니다.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Win32k 잠금
experimental-features-win32k-lockdown-description = 브라우저 탭에서 Win32k API를 사용하지 않도록 합니다. 보안을 강화하지만 현재 불안정해지거나 문제가 생길 수 있습니다. (Windows 전용)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = JavaScript 성능 및 메모리 사용량을 향상시키는 프로젝트인 Warp를 활성화합니다.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (사이트 격리)
experimental-features-fission-description = Fission (사이트 격리)은 { -brand-short-name }의 실험적 기능으로 보안 버그에 대한 추가적인 방어 계층을 제공합니다. 각 사이트를 별도의 프로세스로 분리함으로써 Fission은 악성 웹 사이트가 방문 중인 다른 페이지의 정보에 액세스하는 것을 더 어렵게 합니다. 이는 { -brand-short-name }의 주요 아키텍처 변경 사항이며 발생할 수 있는 문제를 테스트하고 보고해 주셔서 감사합니다. 자세한 내용은 <a data-l10n-name="wiki">위키</a>를 참조하세요.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = 다중 화면 속 화면 지원
experimental-features-multi-pip-description = 여러 화면 속 화면 창을 동시에 열 수 있는 기능을 실험적으로 지원합니다.
experimental-features-http3 =
    .label = HTTP/3 프로토콜
experimental-features-http3-description = HTTP/3 프로토콜을 실험적으로 지원합니다.
# Search during IME
experimental-features-ime-search =
    .label = 주소 표시줄: IME 입력 중 결과 표시
experimental-features-ime-search-description = IME (Input Method Editor)는 표준 키보드를 사용하여 동아시아 또는 인도어에서 사용되는 것과 같은 복잡한 기호를 입력 할 수 있는 도구입니다. 이 실험을 활성화하면 IME를 사용하여 텍스트를 입력하는 동안 주소 표시줄 패널이 열려 검색 결과와 제안을 표시합니다. IME는 주소 표시줄 결과를 포함하는 패널을 표시할 수 있으므로, 이 설정은 이러한 유형의 패널을 사용하지 않는 IME에만 권장됩니다.
