# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Viktig nytt
heading = Endringar i { -brand-short-name }-profilen din
changed-title = Kva er endra?
changed-desc-profiles = Denne installasjonen av { -brand-short-name } har ein ny profil. Ein profil er ei samling av filer der Firefox lagrar informasjon som bokmerke, passord og brukarinnstillingar.
changed-desc-dedicated = For å gjere det enklare og sikrare å byte mellom installasjonar av Firefox (inkludert Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition og Firefox Nightly), har denne installasjon no ein tilpassa profil. Han deler ikkje automatisk din lagra informasjon med andre Firefox-installasjonar.
lost = <b>Du har ikkje mista personlege data eller tilpassingar.</b> Dersom du allereie har lagra informasjon i Firefox på denne datamaskina, er han framleis tilgjengeleg i ein annan Firefox-installasjon.
options-title = Kva for mulegheiter har egt?
options-do-nothing = Som standard vil profildataa dine i { -brand-short-name } ikkje verte synkroniserte med profildata på dei andre Firefox-installasjonane dine.
options-use-sync = Om du vil at alle profildataa dine skal vere dei same på alle installasjonar av Firefox, kan du bruke ein { -fxaccount-brand-name } for å halde dei synkroniserte.
resources = Resursar:
support-link = Bruke profilhandtering - supportartikkel
sync-header = Logg inn eller opprett ein { -fxaccount-brand-name }
sync-label = Skriv inn e-postadressa di
sync-input =
    .placeholder = E-post
sync-button = Hald fram
sync-terms = Ved å fortsetje godtek du <a data-l10n-name="terms">tenestevilkåra</a> og <a data-l10n-name="privacy">personvernpraksisen</a> vår.
sync-first = Er det første gong du brukar { -sync-brand-name }? Du må logge inn på kvar installasjon av Firefox for å synkronisere informasjonen din.
new-install-sync-first = Første gong du brukar synkronisering? Du må logge inn på kvar installasjon av Firefox for å synkronisere informasjonen din.
sync-learn = Les meir
