# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Ô noczyniach do deweloprōw
enable-title = Załōncz noczynia do deweloprōw
enable-inspect-element-title = Załōncz noczynia do deweloprōw, coby użyć ôpcyje "Zbadej elymynt"
enable-inspect-element-message = Badej i edytuj HTML a CSS z inspektorym noczyń do deweloprōw
enable-about-debugging-message = Rozwijej i debuguj WebExtensions, web a service workers i inksze z noczyniami do deweloprōw ôd Firefoxa.
enable-key-shortcut-message = Skrōt noczyń do deweloprōw ôstoł aktywowany. Jak to było bez cufal, to możesz zawrzić ta karta.
enable-menu-message = Polepszej HTML, CSS a JavaScript ôd swojij strōny z noczyniami choby Inspektōr abo debugger.
enable-common-message = Noczynia do deweloprōw ôd Firefoxa sōm bazowo zastawiōne, coby używocz mioł wiyncyj kōntrole nad swojōm przeglōndarkōm.
enable-learn-more-link = Przewiydz sie wiyncyj ô noczyniach do deweloprōw
enable-enable-button = Załōncz noczynia do deweloprōw
enable-close-button = Zawrzij ta karta
welcome-title = Witej we noczyniach do dewelorpōw ôd Firefoxa!
newsletter-title = Newsletter do deweloprōw ôd Mozille
newsletter-message = Dostowej nowiny, knify i źdrzōdła do deweloprōw drek do swojij krzinki.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Dowōm zgoda, coby Mozilla robiyła z mojimi informacyjami podug tych <a data-l10n-name="privacy-policy">Prawideł ôchrōny prywatności</a>.
newsletter-subscribe-button = Abōnuj
newsletter-thanks-title = Dziynkujymy!
newsletter-thanks-message = Jak niy mosz przituplowanego abōnowanio newslettera ôd Mozille, to możno trza bydzie to zrobić. Poszukej we swojij krzince abo miyndzy spamym za emailym ôd nos.
footer-title = Firefox Developer Edition
footer-message = Szukosz za czym wiyncyj jak ino za noczyniami do deweloprōw? Badnij na ta przeglōndarka Firefox, co je zbudowano ekstra do deweloprōw i modernego trybu roboty.
footer-learn-more-link = Przewiydz sie wiyncyj
features-learn-more = Przewiydz sie wiyncyj
features-inspector-title = Inspektōr
features-inspector-desc = Badej i polepszej kod, coby zbudować pikselowo doskonałe rozłożynia. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Kōnsola
features-console-desc = Śledź problymy ze CSS, JavaScript, bezpieczyństwym i necym. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Sprowny debugger JavaScript z ôbsugōm framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Nec
features-network-desc = Baden na prośby z neca, co mogōm spōmalić abo zaszperować twoja strōna. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Schranianie danych
features-storage-desc = Przidowej, zmiyniej i kasuj elymynta z podryncznyj pamiynci, cookies, bazy danych i dane sesyji. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Respōnsywny design
features-responsive-desc = Testuj strōny na maszinach ymulowanych we przeglōndarce. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Wizualno edycyjo
features-visual-editing-desc = Nastow animacyje, przirōwnania i absztand.  <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Sprowność
features-performance-desc = Ôdszperuj zawady, poleksz procesy, optymalizuj assety. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Pamiynć
features-memory-desc = Znojdź wyciyki pamiynci i zrōb zwoja aplikacyjo za gibko i snadno. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Prośba ô abōnowanie sie niy podarziła ({ $errorDescription }).
newsletter-error-unknown = Pokozoł sie niyôczekowany feler.
newsletter-error-timeout = Czas ôczekowanio prośby je przestōmpiōny.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Załōnczynie noczyń do deweloprōw sie podarziło! Coby zacznōnć, wejrzij na myni "Necowy deweloper" abo ôdewrzij noczynia ze { $shortcut }.
