# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Tatz'ija' ri k'amoj rik'in ri tojtob'enel rusamaj ruwachib'enik mamposteria CSS. Tab'etz'eta' ri <a data-l10n-name="explainer">rutzijol</a> richin nik'ul jun nïm rutzijoxik rusamaj. Richin nitaq rutzijol. Richin nitaq rutzijol, katzijon pa <a data-l10n-name="w3c-issue"> rere' ruk'ayewal GitHub</a> o <a data-l10n-name="bug"> re sacjpk re'</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Re k'ak'a' API ko'öl to'ïk nuya' richin niq'ijüx chuqa' rumolsamaj wachib'äl akuchi' nokisäx ri <a data-l10n-name="wikipedia">Graphics Processing Unit (GPU)</a> pa rukematz'ib' o royonib'al okisaxel. Ri <a data-l10n-name="spec">rujikib'axik</a> k'a man jikïl ta. Tab'etz'eta' ri <a data-l10n-name="bugzilla">bug1602129</a> richin ch'aqa' rutzijol.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Rik'in re samaj tzijon re', { -brand-short-name } nutob'ej ri rub'anikil ruyakb'al wachib'äl AV1 (AVIF). Re re' jun rub'anikil ruyakb'al wachib'äl ri nikokisab'ej ketamab'al taq algoritmo richin kijitz'oj AV1 richin nich'utinisäx rupalem. Tab'etz'eta' ri <a data-l10n-name="bugzilla">bug 1443863</a> richin ri rub'anikil.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Ri qanimirisanem richin ri chijun b'anikil <a data-l10n-name="mdn-inputmode">inputmode</a> xk'ex rik'in <a data-l10n-name="whatwg">ri WHATWG retal</a>, po k'a k'o na chi niqab'än taq jaloj, achi'el chi kek'ojel pa contenteditable content. Titz'et <a data-l10n-name="bugzilla">sachoj 1205133</a> richin ri retal.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Ri rutz'aqatisaxik jun nuk'unel pa ri <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> k'amal achi'el chuqa' juley taq jaloj kik'amon ki' nub'än chi jumul yetz'uk k'ak'a' taq ruxaq rik'in kib'anikil akuchi' man nitz'aqatisäx ta ri HTML ruxaq. Re re' nub'än chi man k'ayew ta yetz'uk kib'anikil ruxaq ri ye'okisäx chik rik'in <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Titz'et <a data-l10n-name="bugzilla">bug 1520690</a> richin ch'aqa' rutzijol.
experimental-features-devtools-color-scheme-simulation =
    .label = Developer Tools: Color Scheme Simulation
experimental-features-devtools-color-scheme-simulation-description = Titz'aqatisäx jun cha'oj richin yetojtob'ëx jalajöj taq kichib'enik b'onil, nikiya' q'ij chawe richin ye'atz'ét taq q'ojom <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a>. Ri rokisaxik re samaj re' nuya' q'ij chi ri ruxaq b'anikil tutzolij pe tzij chi rij we ri okisanel nrajo' jun ruk'amal okisanel q'equm o säq  ruwa. Re re' nuya' q'ij chawe natojtob'ej ri b'itz'ib' akuchi' man najäl ta ri runuk'ulem okik'amaya'l (o ri rusamajel q'inoj we ri okik'amaya'l nrojqaj jun runuk'ulem ruchib'enik b'onil jikib'an richin chijun ri q'inoj). Tatz'eta' <a data-l10n-name="bugzilla1">bug 1550804</a> chuqa' <a data-l10n-name="bugzilla2">bug 1137699</a> richin ch'aqa' retal.
experimental-features-devtools-execution-context-selector =
    .label = Developer Tools: Execution Context Selector
experimental-features-devtools-execution-context-selector-description = Re samaj nuk'üt jun pitz'b'äl pa ruk'amal rukomanto' konsola richin yatikïr najäl rub'eyal ruk'ojlem xtisamajïx ri tz'ib'anïk xatz'ib'aj, Tatz'eta' <a data-l10n-name="bugzilla1">sachoj 1605154</a> chuqa' <a data-l10n-name="bugzilla2">bug 1605153</a> richin ch'aqa' retal.
experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = Jun ruchi' pas richin ri Runik'onel Ruxaq ri nuk'üt pe ri etamab'äl akuchi' nuya' retal rub'anikil k'amoj chi kikojol ri okik'amaya' richin ri achokoy. Tatz'eta' <a data-l10n-name="bugzilla">bug 1584464</a> richin ch'aqa' rutzijol.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax k'o wi
experimental-features-cookie-samesite-lax-by-default2-description = Yerutz'ët ri taq cookies achi'el “SameSite=Lax” ri k'o wi we man nijikib'äx ta ri “SameSite” b'anikil. Ri b'anonela' k'o chi nikojqaj ri status quo k'o wakami toq nub'ij “SameSite=None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None nrajo' jun jikïl b'anikil
experimental-features-cookie-samesite-none-requires-secure2-description = Taq cookies rik'in “SameSite=None” nrajo' ri jikïl b'anikil. Re b'anikil re' nrajo' “Cookies: SameSite=Lax k'o wi”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home rujumejyak tikirib'äl
experimental-features-abouthome-startup-cache-description = Rujumejyak tikirinel wuj  about:home ri nusamajij ri' ruyon pa rutikiribal. Ri nrojqaj ri jumejyak richin ninimirisäx rusamaj ri tikirib'äl.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Kisamajixik taq cookies richin junam ajk'amal po rik'in jalajöj chib'enïk (achi'el, http://example.com chuqa' https://example.com) achi'el xoch'in taq ruxaq pa ruk'exel ri jun ruxaq. Nrutzilaj ri jikomal po nuya' k'ïy sachoj.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Nutzïj ri tojtob'enel tob'äl richin Service Workers pa Rupas Chojmirisanel. Re rub'anikil re' nub'än eqal chi ke ri Kisamajib'al B'anonela' chuqa' yalan uchuqa' nrokisaj.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Chijun K'oxom Silowäch
experimental-features-webrtc-global-mute-toggles-description = Ketz'aqatisäx taq samajib'äl pa ri WebRTC chijun komonïk etanel ri nikiya' q'ij chi ke ri okisanela' yekichüp chijun ri ketal q'asäy taq kich'ab'äl chuqa' elesäy wachib'äl.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Win32k Lockdown
experimental-features-win32k-lockdown-description = Nichup rokisaxik Win32k APIs pa taq ruwi' okik'amaya'l. Nunimirisaj ri jikomal, xa xe chi man nïm ta ruchuq'a' o k'o ruk'ayewal. (Xa xe pa Windows)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Titzij Warp, jun nuk'samaj richin nutziläx ri rub'eyal nisamäj chuqa' rokisaxik ruchuq'a' JavaScript.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Rujech'unik Ruxaq)
experimental-features-fission-description = Fission (rujech'unik ruxaq) jun tojtob'enel samaj pa richin jun rutz'aqat pisoj richin yeruchajij taq rusachoj jikomal. Toq yerujech'uj jujun ruxaq pa kiyonil, Fission k'ayew nub'än chi ke ri itzel taq ajk'amaya'l ruxaq richin ye'ok pa ketamab'al ch'aqa' chik taq ruxaq ye'atz'ët. Re re' jun nimaläj tz'aqonel jaloj pa { -brand-short-name } chuqa' niqamatyoxij chawe chi natojtob'ej chuqa' naya' rutzijol xab'achike k'ayewal nawïl. Richin nawetamaj ch'aqa' chik rub'anikil, tatz'eta' <a data-l10n-name="wiki">ri wiki</a>.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Rutob'al Picture-in-Picture
experimental-features-multi-pip-description = Tojtob'enel chi to'ïk richin niya' q'ij chi yejaq k'ïy taq rutzub'al Picture-in-Picture pa jub'ey.
experimental-features-http3 =
    .label = HTTP/3 protokolo'
experimental-features-http3-description = Tojtob'enel Rutob'al ri HTTP/3 protokolo'.
# Search during IME
experimental-features-ime-search =
    .label = Rukajtz'ik Ochochib'äl: Kek'ut ri xe'ilitäj ri runuk'uj IME
experimental-features-ime-search-description = Jun IME (Input Method Editor) jun samajib'äl richin tikirel yetz'ib'äx jalajöj taq tz'ib', achi'el ri ye'okisäx pa indico o Asia Oriental taq ch'ab'äl rik'in jun pa rub'eyal tz'ib'ab'äl. Toq nitzij re tojtob'enel xtujäq ri rupas kikajtz'ik taq ochochib'äl, akuchi' yeruk'üt ri e'ilon chuqa' taq chilab'enïk toq nokisäx ri IME richin yetz'ib'äx taq tzij. Tatz'eta' chi ri IME nitikïr nuk'üt jun pas nuq'alajisaj ronojel ri xekanöx pa kikajtz'ik ochochib'äl, ruma ri' nichilab'ëx chi tokisäx re runuk'ulem xa xe we ri IME man nrokisaj ta re ruwäch pas.
