# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Welkom bij { -brand-full-name }
account-settings = Accountinstellingen
#   $accounts (Number) - the number of configured accounts
setup-title = Kies wat u wilt instellen
about-title = Over { -brand-full-name }
resources-title = Bronnen
release-notes =
    .title = Over { -brand-full-name }
email-label = E-mail
    .aria-label = Uw bestaande e-mailaccount verbinden
email-description = Met { -brand-short-name } kunt u uw bestaande e-mailaccount verbinden, om uw e-mailberichten handig en efficiënt vanuit de toepassing te lezen.
calendar-label = Agenda
    .aria-label = Een nieuwe agenda maken
calendar-description = Met { -brand-short-name } kunt u afspraken beheren en georganiseerd blijven. Door verbinding te leggen met een externe agenda blijven al uw afspraken op al uw apparaten gesynchroniseerd.
chat-label = Chat
    .aria-label = Verbinden met uw chataccount
chat-description = Met { -brand-short-name } kunt u met meerdere berichtenaccounts verbinden, met ondersteuning voor diverse platformen.
filelink-label = Filelink
    .aria-label = Filelink instellen
filelink-description = Met { -brand-short-name } kunt u een handig cloudaccount van filelink instellen om grote bijlagen te verzenden.
addressbook-label = Adresboek
    .aria-label = Een nieuw adresboek maken
addressbook-description = Met { -brand-short-name } kunt u al uw contacten in een adresboek ordenen. U kunt ook verbinden met een extern adresboek om al uw contacten gesynchroniseerd te houden.
feeds-label = Feeds
    .aria-label = Verbinden met feeds
feeds-description = Met { -brand-short-name } kunt u verbinden met RSS/Atom-feeds om nieuws en updates van overal te ontvangen.
newsgroups-label = Nieuwsgroepen
    .aria-label = Verbinden met een nieuwsgroep
newsgroups-description = Met { -brand-short-name } kunt u met alle nieuwsgroepen die u wilt verbinden.
import-title = Importeren vanuit een ander programma
import-paragraph = Met { -brand-short-name } kunt u e-mailberichten, adresboekvermeldingen, feedabonnementen, voorkeuren en/of filters uit andere e-mailprogramma’s en bekende adresboekindelingen importeren.
import-label = Importeren
    .aria-label = Gegevens uit andere programma’s importeren
about-paragraph = Thunderbird is de leidende opensource, platformonafhankelijke e-mail- en agendaclient, gratis voor zakelijk en persoonlijk gebruik. We willen dat het veilig blijft en zelfs beter wordt. Met een donatie kunnen we ontwikkelaars inhuren, voor infrastructuur betalen en blijven verbeteren.
about-paragraph-2 = <b>Thunderbird wordt gefinancierd door gebruikers als u! Als u van Thunderbird houdt, overweeg dan een donatie.</b> De beste manier om ervoor te zorgen dat Thunderbird beschikbaar blijft, is door
about-donation = een donatie te doen
about-paragraph-consider-donation = <b>Thunderbird wordt gefinancierd door gebruikers zoals u! Als Thunderbird u bevalt, overweeg dan een donatie.</b> De beste manier om ervoor te zorgen dat Thunderbird beschikbaar blijft, is <a data-l10n-name="donation-link">een donatie doen.</a>
explore-link = Functies verkennen
support-link = Ondersteuning
involved-link = Meewerken
developer-link = Documentatie voor ontwikkelaars
read = Berichten lezen
compose = Nieuw bericht opstellen
search = Berichten zoeken
filter = Berichtenfilters beheren
nntp-subscription = Nieuwsgroepabonnementen beheren
rss-subscription = Feedabonnementen beheren
e2e = End-to-end-versleuteling
