# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Gune iruzurtia
safeb-blocked-malware-page-title = Webgune hau bisitatzeak zure ordenagailua kalte lezake
safeb-blocked-unwanted-page-title = Hurrengo webguneak programa kaltegarriak izan litzake
safeb-blocked-harmful-page-title = Hurrengo webguneak malwarea izan lezake
safeb-blocked-phishing-page-short-desc = { -brand-short-name }(e)k orri hau blokeatu du softwarea instalatzera edo pasahitz edo kreditu-txartelen tankerako informazio pertsonala argitara ematera bultza liezazukeelako.
safeb-blocked-malware-page-short-desc = { -brand-short-name }(e)k orri hau blokeatu du zure ordenagailuko informazio pertsonala lapur edo ezaba lezakeen software maltzurra instalatzen saia litekeelako.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name }(e)k orri hau blokeatu du zure nabigatzaile-esperientzia kalte lezaketen programak instalatzera bultza baitiezazuke (adibidez, zure hasiera-orria aldatuz edo bisitatzen dituzun guneetan aparteko iragarkiak erakutsiz).
safeb-blocked-harmful-page-short-desc = { -brand-short-name }(e)k orri hau blokeatu du zure informazio pertsonala lapurtzen edo ezabatzen duten aplikazioak instalatzen saia daitekeelako (adibidez argazkiak, mezuak edo kreditu-txartelak).
safeb-palm-advisory-desc = Aholkularitza <a data-l10n-name='advisory_provider'>{ $advisoryname }</a> zerbitzuak eskainia.
safeb-palm-accept-label = Joan atzera
safeb-palm-see-details-label = Ikusi xehetasunak
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>iruzurgilea izateagatik salatuta dago</a>. <a data-l10n-name='report_detection'>Atzemate-arazo baten berri eman</a> edo <a data-l10n-name='ignore_warning_link'>arriskua ezikusi</a> eta gune ez-segurura joan zaitezke.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>gune iruzurti gisa salatuta dago</a>. <a data-l10n-name='report_detection'>Atzemate-arazo baten berri eman</a> dezakezu.
safeb-blocked-phishing-page-learn-more = <a data-l10n-name='learn_more_link'>www.antiphishing.org</a> gunean phishing-a eta iruzurra egiten duten guneei buruzko argibide gehiago dituzu. <a data-l10n-name='firefox_support'>support.mozilla.org</a> gunean { -brand-short-name }(r)en phishing eta malware babesari buruzko argibide gehiago dituzu.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>software maltzurra izateagatik salatuta dago</a>. <a data-l10n-name='report_detection'>Atzemate-arazo baten berri eman</a> edo <a data-l10n-name='ignore_warning_link'>arriskua ezikusi</a> eta gune ez-segurura joan zaitezke.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>software maltzurra izateagatik salatuta dago</a>. <a data-l10n-name='report_detection'>Atzemate-arazo baten berri eman</a> dezakezu.
safeb-blocked-malware-page-learn-more = <a data-l10n-name='learn_more_link'>StopBadware.org</a> gunean web eduki kaltegarriari buruzko argibide gehiago dituzu, hala nola birus eta malware-ari buruzko eta ordenagailua babesteko informazioa. <a data-l10n-name='firefox_support'>support.mozilla.org</a> gunean { -brand-short-name }(r)en phishing eta malware babesari buruzko argibide gehiago dituzu.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>asmo txarreko softwarea izateagatik salatuta dago</a>. <a data-l10n-name='ignore_warning_link'>Arriskua ezikusi</a> eta gune ez-segurura joan zaitezke.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>asmo txarreko softwarea izateagatik salatuta dago</a>.
safeb-blocked-malware-page-learn-more-sumo = <a data-l10n-name='firefox_support'>support.mozilla.org</a> gunean { -brand-short-name }(r)en phishing eta malware babesari buruzko argibide gehiago dituzu.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>software kaltegarria izateagatik salatuta dago</a>. <a data-l10n-name='ignore_warning_link'>Arriskua ezikusi</a> eta gune ez-segurura joan zaitezke.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>software kaltegarria izateagatik salatuta dago</a>.
safeb-blocked-unwanted-page-learn-more = <a data-l10n-name='learn_more_link'>Eskatu gabeko softwarearen politika</a>n kaltegarria den eta nahi ez den softwareari buruzko argibide gehiago dituzu. <a data-l10n-name='firefox_support'>support.mozilla.org</a> gunean { -brand-short-name }(r)en phishing eta malware babesari buruzko argibide gehiago dituzu.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>balizko aplikazio kaltegarri bat izateagatik salatuta dago</a>. <a data-l10n-name='ignore_warning_link'>Arriskua ezikusi</a> eta gune ez-segurura joan zaitezke.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> gunea <a data-l10n-name='error_desc_link'>balizko aplikazio kaltegarri bat izateagatik salatuta dago</a>.
safeb-blocked-harmful-page-learn-more = <a data-l10n-name='firefox_support'>support.mozilla.org</a> gunean { -brand-short-name }(r)en phishing eta malware babesari buruzko argibide gehiago dituzu.
safeb-palm-notdeceptive =
    .label = Hau ez da gune iruzurtia…
    .accesskey = i
