# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Tijaq jun Ichinan Tzuwäch
    .accesskey = I
about-private-browsing-search-placeholder = Tikanöx pan Ajk'amaya'l
about-private-browsing-info-title = At k'o pa jun Ichinan Tzuwäch
about-private-browsing-info-myths = Ch'ob'on taq tzij chi rij ri ichinan okem pa k'amaya'l
about-private-browsing =
    .title = Tikanöx pan Ajk'amaya'l
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Takanoj pa { $engine } o tatz'ib'aj ri rochochib'al
about-private-browsing-handoff-no-engine =
    .title = Tikanöx o titz'ib'äx ochochib'äl
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Takanoj pa { $engine } o tatz'ib'aj ri rochochib'al
about-private-browsing-handoff-text-no-engine = Tikanöx o titz'ib'äx ochochib'äl
about-private-browsing-not-private = Wakami man at k'o ta chupam jun ichinan tzuwäch.
about-private-browsing-info-description = { -brand-short-name } nuyüj ri ri rukanoxik chuqa' runatab'al awokem pa k'amaya'l toq yatel pa ri okisab'äl o ye'atz'ajij ri taq ruwi' chuqa' ichinan okem taq tzuwäch. Estape' re re' man yatrewaj ta pan ajk'amaya'l o chuwäch ri niya'on k'amaya'l chawe. Nub'än chi man k'ayew ta nachajij ri ichinan nab'än pa k'amab'ey chuwäch jun chik winäq nrokisaj ri kematz'ib' ri'.
about-private-browsing-need-more-privacy = ¿La nawajo' mas ichinanem?
about-private-browsing-turn-on-vpn = Tatojtob'ej { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = Ja ri { $engineName } awokik'amaya'l k'o wakami kichin Ichinan taq Tzuwäch
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Richin nicha' jun chik okik'amaya'l, jät pa <a data-l10n-name="link-options">Taq Cha'oj</a>
       *[other] Richin nicha' jun chik okik'amaya'l, jät pa <a data-l10n-name="link-options">Taq Ajowab'äl</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Titz'apïx
