# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Wakami k'o jun k'ak'a' ruk'exoj { -brand-shorter-name }.
    .buttonlabel = Tiqasäx K'exoj
    .buttonaccesskey = T
    .secondarybuttonlabel = Wakami Mani
    .secondarybuttonaccesskey = W
appmenu-update-available-message = Tak'exa' ri { -brand-shorter-name } richin ri ruk'isib'al anin chuqa' ichinanem.
appmenu-update-manual =
    .label = { -brand-shorter-name } Man nitikïr ta nuk'ëx ri' rik'in ri ruk'isib'äl ruwäch.
    .buttonlabel = Tiqasäx { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Wakami Mani
    .secondarybuttonaccesskey = m
appmenu-update-manual-message = Taqasaj jun k'ak'a' ruwachib'al { -brand-shorter-name } richin yatqato' chuyakik.
appmenu-update-whats-new =
    .value = Titz'et achike ri k'ak'a' k'o.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } man nitikïr ta nuk'ëx ri' pa ri ruk'isib'äl ruwäch.
    .buttonlabel = Tetamäx ch'aqa' chik
    .buttonaccesskey = T
    .secondarybuttonlabel = Titz'apïx
    .secondarybuttonaccesskey = T
appmenu-update-unsupported-message = Man nuk'ül ta ri ruk'isib'äl ruwäch { -brand-shorter-name } ri aq'inoj.
appmenu-update-restart =
    .label = Titikirisäx chik richin nik'ex { -brand-shorter-name }.
    .buttonlabel = Titikirisäx chik chuqa' Tichojmirisäx
    .buttonaccesskey = T
    .secondarybuttonlabel = Wakami Mani
    .secondarybuttonaccesskey = m
appmenu-update-restart-message = Chi rij jun aninäq tikirisanïk, { -brand-shorter-name } xkerutzolij ri taq ruwi', jaqon taq tzuwäch ri man e k'o pa Ichinan Okem pa K'amaya'l rub'anikil.
appmenu-update-available2 =
    .label = Wachel ri K'exoj Ruwäch
    .buttonlabel = Tiqasäx
    .buttonaccesskey = q
    .secondarybuttonlabel = Tichup
    .secondarybuttonaccesskey = h
appmenu-update-available-message2 = Taqasaj ruk'isib'äl ruwäch { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Wachel ri k'exoj ruwäch
    .buttonlabel = Tiqasäx
    .buttonaccesskey = T
    .secondarybuttonlabel = Tichup
    .secondarybuttonaccesskey = h
appmenu-update-manual-message2 = { -brand-shorter-name } man xk'extäx ta ruyon. Taqasaj ri k'ak'a' ruwäch — man xtasäch ta ri etamab'äl yakon ni xa ta ri taq ichinanem.
appmenu-update-unsupported2 =
    .label = Man nitikïr ta nuk'ëx ruwäch
    .buttonlabel = Tetamäx ch'aqa' chik
    .buttonaccesskey = t
    .secondarybuttonlabel = Tichup
    .secondarybuttonaccesskey = h
appmenu-update-other-instance =
    .label = { -brand-shorter-name } man nitikïr ta nuk'ëx ri' pa ruyonil ri ruk'isib'äl ruwäch.
    .buttonlabel = Tik'ex { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Wakami Mani
    .secondarybuttonaccesskey = M
appmenu-update-other-instance-message = K'o jun k'ak'a' ruk'exoj { -brand-shorter-name }, man tikirel ta nik'ëx ruma chi k'o chik jun ruwäch { -brand-shorter-name } nisamäj. Tatz'apij richin ri nik'ex o tacha' ri tik'ex (rik'in jub'a' ri jun chik man ütz ta nisamäj k'a jampe' xatatikirisaj chik).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ütz, Xq'ax pa nuwi'
    .buttonaccesskey = O
appmenu-addon-post-install-message = Ke'anuk'samajij ri taq achokoy rik'in napïtz' <image data-l10n-name='addon-install-icon'></image> pa ri <image data-l10n-name='addon-menu-icon'></image> k'utsamaj.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Ütz
    .buttonaccesskey = z
appmenu-addon-post-install-message2 = Ke'anuk'samajij ri taq ak'amal chuqa' taq wachinel pa kik'utsamaj taq chokoy.
appmenu-addon-post-install-message3 = Ke'anuk'samajij ri taq atz'aqat chuqa' taq wachinel pa kik'utsamaj taq chokoy.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tiya' q'ij chi re k'amal re' nisamäj pan Ichinan Tzuwäch
    .accesskey = T
appmenu-new-tab-controlled =
    .label = Xjal ri K'ak'a' Ruwi'.
    .buttonlabel = Kek'oje' na ri taq Jaloj
    .buttonaccesskey = K
    .secondarybuttonlabel = Tichup ri K'amal
    .secondarybuttonaccesskey = T
appmenu-homepage-controlled =
    .label = Xajäl ri tikirib'äl ruxaq.
    .buttonlabel = Kek'oje' na ri taq Jaloj
    .buttonaccesskey = K
    .secondarybuttonlabel = Tichup ri K'amal
    .secondarybuttonaccesskey = T
appmenu-new-tab-controlled-changes =
    .label = Xjal ri k'ak'a' ruwi'.
    .buttonlabel = Kek'oje' ri Taq Jaloj
    .buttonaccesskey = K
    .secondarybuttonlabel = Kenuk'samajïx K'ak'a' Taq Ruwi'
    .secondarybuttonaccesskey = k
appmenu-homepage-controlled-changes =
    .label = Xajäl ri tikirib'äl ruxaq.
    .buttonlabel = Kek'oje' na ri taq Jaloj
    .buttonaccesskey = K
    .secondarybuttonlabel = Tinuk'samajïx Tikirib'äl Ruxaq
    .secondarybuttonaccesskey = T
appmenu-tab-hide-controlled =
    .label = Katok pa ri Ewan taq Ruwi'
    .buttonlabel = Ke’ewäx ri Ewan taq Ruwi’
    .buttonaccesskey = K
    .secondarybuttonlabel = Tichup ri K'amal
    .secondarybuttonaccesskey = T
