# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connessione dispositivo
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-phase1 = 1. Assicurati di aver installato <a data-l10n-name="connect-another-device">Firefox sul tuo dispositivo mobile</a>.
fxa-qrcode-heading-phase2 = 2. Accedi a { -sync-brand-short-name } oppure effettua la scansione del codice di associazione direttamente dalle impostazioni di { -sync-brand-short-name } su Android.

fxa-qrcode-heading-step1 = 1. Assicurati di aver installato <a data-l10n-name="connect-another-device">Firefox sul tuo dispositivo mobile</a>.
fxa-qrcode-heading-step2 = 2. Apri Firefox sul tuo dispositivo mobile.
fxa-qrcode-heading-step3 = 3. Apri il <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), tocca <img data-l10n-name="settings-icon"/> <b>Impostazioni</b> e seleziona <b>Attiva Sync</b>
fxa-qrcode-heading-step4 = 4. Effettua la scansione di questo codice:

fxa-qrcode-error-title = Associazione non riuscita

fxa-qrcode-error-body = Riprova.
