# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Segnalato sito ingannevole
safeb-blocked-malware-page-title = Visitare questo sito web potrebbe danneggiare il computer
safeb-blocked-unwanted-page-title = Questo sito web potrebbe contenere software dannoso
safeb-blocked-harmful-page-title = Questo sito potrebbe contenere malware
safeb-blocked-phishing-page-short-desc = Questa pagina è stata bloccata da { -brand-short-name } in quanto potrebbe cercare di raggirare l’utente, cercando di convincerlo a installare programmi o rivelare informazioni personali come password e numeri di carte di credito.
safeb-blocked-malware-page-short-desc = Questa pagina è stata bloccata da { -brand-short-name } in quanto potrebbe cercare di installare software in grado di rubare o eliminare informazioni personali presenti nel computer.
safeb-blocked-unwanted-page-short-desc = Questa pagina è stata bloccata da { -brand-short-name } in quanto potrebbe cercare di raggirare l’utente, cercando di convincerlo a installare programmi in grado di modificare l’esperienza di navigazione (ad esempio, cambiando la pagina iniziale o aggiungendo pubblicità ai siti visitati).
safeb-blocked-harmful-page-short-desc = Questa pagina è stata bloccata da { -brand-short-name } in quanto potrebbe cercare di installare app dannose, in grado di rubare o eliminare informazioni personali come foto, password, messaggi e numeri di carte di credito.
safeb-palm-advisory-desc = Servizio fornito da <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Torna indietro
safeb-palm-see-details-label = Visualizza dettagli
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito ingannevole</a>. È possibile <a data-l10n-name='report_detection'>segnalare un errore relativo a questo avviso</a> oppure <a data-l10n-name='ignore_warning_link'>ignorare il rischio</a> e visitare il sito non sicuro.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito ingannevole</a>. È possibile <a data-l10n-name='report_detection'>segnalare un errore relativo a questo avviso</a>.
safeb-blocked-phishing-page-learn-more = Scopri ulteriori informazioni relative a siti ingannevoli e phishing sul sito <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Per approfondimenti sulla protezione da phishing e malware di { -brand-short-name } visita <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente software indesiderato</a>. È possibile <a data-l10n-name='report_detection'>segnalare un errore relativo a questo avviso</a> oppure <a data-l10n-name='ignore_warning_link'>ignorare il rischio</a> e visitare il sito non sicuro.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente software indesiderato</a>. È possibile <a data-l10n-name='report_detection'>segnalare un errore relativo a questo avviso</a>.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente software indesiderato</a>. È possibile <a data-l10n-name='ignore_warning_link'>ignorare il rischio</a> e visitare il sito non sicuro.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente software indesiderato</a>.
safeb-blocked-malware-page-learn-more = Scopri ulteriori informazioni relative ai contenuti web dannosi, inclusi virus e altri malware, e come proteggere il computer sul sito <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Per approfondimenti sulla protezione da phishing e malware di { -brand-short-name } visita <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-learn-more-sumo = Ulteriori informazioni relative alla protezione da phishing e malware di { -brand-short-name } sono disponibili su <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente software dannoso</a>. È possibile <a data-l10n-name='ignore_warning_link'>ignorare il rischio</a> e visitare il sito non sicuro.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente software dannoso</a>.
safeb-blocked-unwanted-page-learn-more = Scopri ulteriori informazioni relative a software dannoso e indesiderato nella pagina <a data-l10n-name='learn_more_link'>Norme relative al software indesiderato</a>. Per approfondimenti sulla protezione da phishing e malware di { -brand-short-name } visita <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente un’applicazione potenzialmente dannosa</a>. È possibile <a data-l10n-name='ignore_warning_link'>ignorare il rischio</a> e visitare il sito non sicuro.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> è stato <a data-l10n-name='error_desc_link'>identificato come sito contenente un’applicazione potenzialmente dannosa</a>.
safeb-blocked-harmful-page-learn-more = Per ulteriori informazioni sulla protezione da phishing e malware di { -brand-short-name } visita <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Non è un sito ingannevole…
    .accesskey = e
