# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Conexón d'otru preséu
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Si entá nun lo ficiesti, instala <a data-l10n-name="connect-another-device">Firefox nun preséu móvil</a>.
fxa-qrcode-heading-phase2 = 2. Darréu, anicia sesión en { -sync-brand-short-name } o escania'l códigu de conexón n'Android, dientro de los axustes de { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Si entá nun lo ficiesti, instala <a data-l10n-name="connect-another-device">Firefox nun preséu móvil</a>.
fxa-qrcode-heading-step2 = 2. Abri Firefox nel preséu móvil.
fxa-qrcode-heading-step3 = 3. Abri'l <b>menú</b> (<img data-l10n-name = "ios-menu-icon" /> o <img data-l10n-name = "android-menu-icon" />), toca <img data-l10n-name = "settings-icon" /> n'<b>Axustes</b> y esbilla <b>Activación de Sync</b>
fxa-qrcode-heading-step4 = 4. Escania esti códigu:
fxa-qrcode-error-title = L'empareyamientu nun tuvo ésitu.
fxa-qrcode-error-body = Volvi tentalo.
