# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Ważna informacja
heading = Zmiany w profilu programu { -brand-short-name }
changed-title = Co się zmieniło?
changed-desc-profiles = Ta instalacja programu { -brand-short-name } ma nowy profil. Profil to zestaw plików, w których Firefox zachowuje dane, takie jak zakładki, hasła i preferencje użytkownika.
changed-desc-dedicated = Aby móc łatwiej i bezpieczniej przełączać się między instalacjami Firefoksa (w tym Firefoksa, Firefoksa ESR, Firefoksa Beta, Firefox Developer Edition i Firefox Nightly), ta instalacja ma teraz oddzielny profil. Zachowane dane nie są automatycznie współdzielone z pozostałymi instalacjami Firefoksa.
lost = <b>Żadne dane osobiste ani konfiguracja nie zostały utracone.</b> Jeśli już zachowano jakieś dane w Firefoksie na tym komputerze, to są one nadal dostępne w innej instalacji Firefoksa.
options-title = Co mogę zrobić?
options-do-nothing = Jeśli nic nie zrobisz, to dane profilu w programie { -brand-short-name } będą inne niż dane profilu w pozostałych instalacjach Firefoksa.
options-use-sync = Jeśli chcesz, aby dane profilu były takie same we wszystkich instalacjach Firefoksa, to możesz skorzystać z { -fxaccount-brand-name(case: "gen", capitalization: "lower") }, aby je synchronizować.
resources = Więcej informacji:
support-link = Zarządzanie profilami — artykuł pomocy
sync-header = Zaloguj się lub utwórz { -fxaccount-brand-name(case: "nom", capitalization: "lower") }
sync-label = Wprowadź adres e-mail
sync-input =
    .placeholder = Adres e-mail
sync-button = Kontynuuj
sync-terms = Kontynuując, wyrażasz zgodę na <a data-l10n-name="terms">warunki korzystania z usługi</a> i <a data-l10n-name="privacy">zasady ochrony prywatności</a>.
sync-first = Korzystasz z { -sync-brand-name(case: "gen", capitalization: "lower") } po raz pierwszy? Musisz zalogować się w każdej instalacji Firefoksa, aby synchronizować dane.
new-install-sync-first = Korzystasz z synchronizacji po raz pierwszy? Musisz zalogować się w każdej instalacji Firefoksa, aby synchronizować dane.
sync-learn = Więcej informacji
