# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Noticias importantes
heading = Cambios en su perfil de { -brand-short-name }
changed-title = ¿Qué ha cambiado?
changed-desc-profiles = Esta instalación de { -brand-short-name } incluye un nuevo perfil. Un perfil es un conjunto de archivos en el que Firefox almacena información como marcadores, contraseñas y preferencias del usuario.
changed-desc-dedicated = Para que sea más fácil y seguro intercambiar las instalaciones de Firefox (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition y Firefox Nightly), esta instalación usa ahora un perfil específico. No se compartirá automáticamente la información almacenada con otras instalaciones de Firefox.
lost = <b>No ha perdido ningún dato personal ni personalizaciones.</b> Si usted ya ha guardado información en Firefox en este ordenador, todavía está disponible en otras instalaciones de Firefox.
options-title = ¿Cuáles son mis opciones?
options-do-nothing = Si no hace nada, sus datos de perfil en { -brand-short-name } serán diferentes a los datos de perfil en otras instalaciones de Firefox.
options-use-sync = Si quiere que todos sus datos de perfiles sean iguales en todas las instalaciones de Firefox, puede usar una { -fxaccount-brand-name } para mantenerlos sincronizados.
resources = Recursos:
support-link = Usar el administrador de perfiles - Artículo de ayuda
sync-header = Inicie sesión o cree una { -fxaccount-brand-name }
sync-label = Escriba su correo electrónico
sync-input =
    .placeholder = Correo electrónico
sync-button = Continuar
sync-terms = Al continuar, acepta los <a data-l10n-name="terms">Términos de servicio</a> y el <a data-l10n-name="privacy">aviso de privacidad</a>.
sync-first = ¿Es la primera vez que usa { -sync-brand-name }? Deberá iniciar sesión en cada instalación de Firefox para sincronizar su información.
new-install-sync-first = ¿Es la primera vez que usa la sincronización? Deberá iniciar sesión en cada instalación de Firefox para sincronizar su información.
sync-learn = Saber más
