# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = O { -brand-full-name }u
releaseNotes-link = Novosti
update-checkForUpdatesButton =
    .label = Preveri posodobitve
    .accesskey = P
update-updateButton =
    .label = Ponovno zaženi za posodobitev { -brand-shorter-name(sklon: "rodilnik") }
    .accesskey = Z
update-checkingForUpdates = Preverjanje posodobitev …
update-downloading = <img data-l10n-name="icon"/>Prenašanje posodobitev — <label data-l10n-name="download-status"/>
update-downloading-message = Prenašanje posodobitve – <label data-l10n-name="download-status"/>
update-applying = Nameščanje posodobitev …
update-failed = Posodobitev ni uspela. <label data-l10n-name="failed-link">Prenesite najnovejšo različico</label>
update-failed-main = Posodobitev ni uspela. <a data-l10n-name="failed-link-main">Prenesite najnovejšo različico</a>
update-adminDisabled = Vaš sistemski skrbnik je onemogočil posodabljanje
update-noUpdatesFound = { -brand-short-name } je posodobljen
update-otherInstanceHandlingUpdates = { -brand-short-name } se posodablja v drugem primerku
update-manual = Posodobitve so na voljo na <label data-l10n-name="manual-link"/>
update-unsupported = Nadaljnje posodobitve niso več mogoče. <label data-l10n-name="unsupported-link">Več o tem</label>
update-restarting = Ponovni zagon …
channel-description = Uporabljate posodobitveni kanal <label data-l10n-name="current-channel"></label>.
warningDesc-version = Izdaja { -brand-short-name } je poskusna in lahko deluje nezanesljivo.
aboutdialog-help-user = Pomoč za { -brand-product-name }
aboutdialog-submit-feedback = Pošlji povratne informacije
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> je <label data-l10n-name="community-exp-creditsLink">globalna skupnost</label>, ki si prizadeva, da bi splet ostal odprt, javen in dostopen vsem.
community-2 = { -brand-short-name } razvija <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, <label data-l10n-name="community-creditsLink">globalna skupnost</label>, ki si prizadeva, da bi splet ostal odprt, javen in dostopen vsem.
helpus = Želite pomagati? <label data-l10n-name="helpus-donateLink">Donirajte</label> ali <label data-l10n-name="helpus-getInvolvedLink">se nam pridružite!</label>
bottomLinks-license = Dovoljenja
bottomLinks-rights = Vaše pravice
bottomLinks-privacy = Politika zasebnosti
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bitni)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bitni)
