# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Na voljo je nova posodobitev za { -brand-shorter-name }.
    .buttonlabel = Prenesi posodobitev
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne zdaj
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Posodobite svoj { -brand-shorter-name } za najnovejše izboljšave hitrosti in zasebnosti.
appmenu-update-manual =
    .label = { -brand-shorter-name }a ni mogoče posodobiti na najnovejšo različico.
    .buttonlabel = Prenesi { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne zdaj
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Prenesite svežo kopijo { -brand-shorter-name }a, mi pa vam jo bomo pomagali namestiti.
appmenu-update-whats-new =
    .value = Oglejte si, kaj je novega.
appmenu-update-unsupported =
    .label = { -brand-shorter-name }a ni mogoče posodobiti na najnovejšo različico.
    .buttonlabel = Več o tem
    .buttonaccesskey = V
    .secondarybuttonlabel = Zapri
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = Najnovejša različica { -brand-shorter-name }a ni podprta v vašem sistemu.
appmenu-update-restart =
    .label = Ponovno zaženi za posodobitev { -brand-shorter-name(sklon: "rodilnik") }.
    .buttonlabel = Ponovno zaženi in obnovi
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne zdaj
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Po hitrem ponovnem zagonu bo { -brand-shorter-name } obnovil vse vaše odprte zavihke in okna, razen tistih v zasebnem brskanju.
appmenu-update-available2 =
    .label = Na voljo je posodobitev
    .buttonlabel = Prenesi
    .buttonaccesskey = P
    .secondarybuttonlabel = Skrij
    .secondarybuttonaccesskey = k
appmenu-update-available-message2 = Prenesite najnovejšo različico { -brand-shorter-name(sklon: "rodilnik") }.
appmenu-update-manual2 =
    .label = Na voljo je posodobitev
    .buttonlabel = Prenesi
    .buttonaccesskey = P
    .secondarybuttonlabel = Skrij
    .secondarybuttonaccesskey = k
appmenu-update-manual-message2 = { -brand-shorter-name(sklon: "rodilnik") } ni bilo mogoče samodejno posodobiti. Prenesite novo različico – shranjeni podatki in prilagoditve bodo ohranjeni.
appmenu-update-unsupported2 =
    .label = Posodobitev ni mogoča
    .buttonlabel = Podrobnosti
    .buttonaccesskey = P
    .secondarybuttonlabel = Skrij
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message2 = Vaš operacijski sistem ni združljiv z najnovejšo različico { -brand-shorter-name(sklon: "rodilnik") }.
appmenu-update-restart2 =
    .label = Na voljo je posodobitev
    .buttonlabel = Posodobi in zaženi znova
    .buttonaccesskey = P
    .secondarybuttonlabel = Skrij
    .secondarybuttonaccesskey = k
appmenu-update-restart-message2 = Namestite najnovejšo različico { -brand-shorter-name(sklon: "rodilnik") }. Odprta okna in zavihki bodo obnovljeni.
appmenu-update-other-instance =
    .label = { -brand-shorter-name }a ni mogoče samodejno posodobiti na najnovejšo različico.
    .buttonlabel = Vseeno posodobi { -brand-shorter-name }
    .buttonaccesskey = V
    .secondarybuttonlabel = Ne zdaj
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Na voljo je nova posodobitev za { -brand-shorter-name }, vendar je ni mogoče namestiti, ker se izvaja drug izvod { -brand-shorter-name }a. Za nadaljevanje posodobitve ga zaprite, lahko pa jo vseeno namestite, pri čemer drugi izvod morda ne bo deloval pravilno, dokler ga ne zaženete znova.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Razumem
    .buttonaccesskey = z
appmenu-addon-post-install-message = Upravljajte dodatke s klikom na <image data-l10n-name='addon-install-icon'></image> v meniju <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = V redu
    .buttonaccesskey = V
appmenu-addon-post-install-message2 = Upravljajte razširitve in teme v meniju aplikacije.
appmenu-addon-post-install-message3 = Upravljajte dodatke in teme v meniju aplikacije.
appmenu-addon-post-install-incognito-checkbox =
    .label = Dovoli, da se ta razširitev izvaja v zasebnih oknih
    .accesskey = D
appmenu-new-tab-controlled =
    .label = Stran novega zavihka se je spremenila.
    .buttonlabel = Ohrani spremembe
    .buttonaccesskey = h
    .secondarybuttonlabel = Onemogoči razširitev
    .secondarybuttonaccesskey = n
appmenu-homepage-controlled =
    .label = Domača stran se je spremenila.
    .buttonlabel = Ohrani spremembe
    .buttonaccesskey = h
    .secondarybuttonlabel = Onemogoči razširitev
    .secondarybuttonaccesskey = n
appmenu-new-tab-controlled-changes =
    .label = Stran novega zavihka se je spremenila.
    .buttonlabel = Obdrži spremembe
    .buttonaccesskey = O
    .secondarybuttonlabel = Nastavitve novega zavihka
    .secondarybuttonaccesskey = N
appmenu-homepage-controlled-changes =
    .label = Domača stran se je spremenila.
    .buttonlabel = Obdrži spremembe
    .buttonaccesskey = O
    .secondarybuttonlabel = Nastavitve domače strani
    .secondarybuttonaccesskey = N
appmenu-tab-hide-controlled =
    .label = Dostopajte do skritih zavihkov
    .buttonlabel = Ohrani zavihke skrite
    .buttonaccesskey = h
    .secondarybuttonlabel = Onemogoči razširitev
    .secondarybuttonaccesskey = n
