# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Pomembne novice
heading = Spremembe v vašem profilu { -brand-short-name }
changed-title = Kaj se je spremenilo?
changed-desc-profiles = Ta namestitev { -brand-short-name(sklon: "rodilnik") } ima nov profil. Profil je zbirka datotek, v katerih Firefox shranjuje podatke, kot so zaznamki, gesla in uporabniške nastavitve.
changed-desc-dedicated = Za lažje in varnejše preklapljanje med namestitvami Firefoxa (velja za Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition in Firefox Nightly) ima ta različica zdaj poseben profil. Shranjeni podatki se ne delijo z drugimi različicami Firefoxa samodejno.
lost = <b>Nobenih osebnih podatkov ali prilagoditev niste izgubili.</b> Če ste na tem računalniku že shranili podatke v Firefox, so ti še vedno na voljo v drugi namestitvi Firefoxa.
options-title = Kakšne so moje možnosti?
options-do-nothing = Če ne boste storili ničesar, bodo podatki vašega profila za { -brand-short-name } drugačni od podatkov profilov za druge različice Firefoxa.
options-use-sync = Če želite, da so vsi podatki profila enaki v vseh različicah Firefoxa, lahko uporabite { -fxaccount-brand-name }, da jih sinhronizirate.
resources = Viri:
support-link = Uporaba upravitelja profilov – članek podpore
sync-header = Prijavite se ali ustvarite { -fxaccount-brand-name }
sync-label = Vnesite e-poštni naslov
sync-input =
    .placeholder = E-pošta
sync-button = Nadaljuj
sync-terms = Z nadaljevanjem se strinjate s <a data-l10n-name="terms">pogoji uporabe</a> in z <a data-l10n-name="privacy">obvestilom o zasebnosti</a>.
sync-first = Prvič uporabljate { -sync-brand-name }? Za sinhronizacijo podatkov se boste morali prijaviti v vse različice Firefoxa.
new-install-sync-first = Prvič uporabljate sinhronizacijo? Za sinhronizacijo podatkov se boste morali prijaviti v vse različice Firefoxa.
sync-learn = Več o tem
