# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Malfermi privatan fenestron
    .accesskey = p
about-private-browsing-search-placeholder = Serĉi en la teksaĵo
about-private-browsing-info-title = Vi estas en privata fenestro
about-private-browsing-info-myths = Oftaj mitoj pri privata retumo
about-private-browsing =
    .title = Serĉi en la teksaĵo
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Serĉi per { $engine } aŭ tajpi adreson
about-private-browsing-handoff-no-engine =
    .title = Serĉi aŭ tajpi adreson
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Serĉi per { $engine } aŭ tajpi adreson
about-private-browsing-handoff-text-no-engine = Serĉi aŭ tajpi adreson
about-private-browsing-not-private = Vi ne estas nun en privata fenestro.
about-private-browsing-info-description = { -brand-short-name } forviŝos vian serĉan kaj retuman historion kiam vi finas la programon aŭ fermas ĉiujn langetojn kaj fenestrojn en privata retumo. Kvankam tio ĉi ne igas vin anonima por retejoj aŭ via reta provizanto, ĝi faciligas la taskon kaŝi vian retumon de aliaj uzantoj en la sama komputilo.
about-private-browsing-need-more-privacy = Ĉu vi bezonas pli da privateco?
about-private-browsing-turn-on-vpn = Provu { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } estas via norma serĉilo en privataj fenestroj
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Por elekti malsaman serĉilon, iru al <a data-l10n-name="link-options">Preferoj</a>
       *[other] Por elekti malsaman serĉilon, iru al <a data-l10n-name="link-options">Preferoj</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Fermi
