# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Nova ĝisdatigo de { -brand-shorter-name } estas disponebla.
    .buttonlabel = Elŝuti ĝisdatigon
    .buttonaccesskey = E
    .secondarybuttonlabel = Nun ne
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Ĝisdatigu vian { -brand-shorter-name } al la plej nova versio por sperti la lastajn rapidecajn kaj privatecajn plibonigojn.
appmenu-update-manual =
    .label = { -brand-shorter-name } ne povas esti ĝisdatigita al la plej nova versio.
    .buttonlabel = Elŝuti { -brand-shorter-name }
    .buttonaccesskey = E
    .secondarybuttonlabel = Ne nun
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Denove elŝutu { -brand-shorter-name } kaj ni helpos vin instali ĝin.
appmenu-update-whats-new =
    .value = Vidi la novaĵojn.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ne povas esti ĝisdatigita al la plej nova versio.
    .buttonlabel = Pli da informo
    .buttonaccesskey = P
    .secondarybuttonlabel = Fermi
    .secondarybuttonaccesskey = F
appmenu-update-unsupported-message = La lasta versio de { -brand-shorter-name } ne estas subtenata en via sistemo.
appmenu-update-restart =
    .label = Restartigu por ĝisdatigi { -brand-shorter-name }.
    .buttonlabel = Restarti kaj restarigi
    .buttonaccesskey = R
    .secondarybuttonlabel = Ne nun
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Post rapida restarto { -brand-shorter-name } restarigos ĉiujn viajn malfermitajn langetojn kaj fenestrojn, kiuj ne estas en reĝimo de privata retumo.
appmenu-update-available2 =
    .label = Ĝisdatigo disponebla
    .buttonlabel = Elŝuti
    .buttonaccesskey = E
    .secondarybuttonlabel = Ignori
    .secondarybuttonaccesskey = I
appmenu-update-available-message2 = Elŝuti la lastan version de { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Ĝisdatigo disponebla
    .buttonlabel = Elŝuti
    .buttonaccesskey = E
    .secondarybuttonlabel = Ignori
    .secondarybuttonaccesskey = I
appmenu-update-manual-message2 = { -brand-shorter-name } ne povis ĝisdatiĝi aŭtomate. Elŝutu la novan version — vi ne perdos konservitajn informojn nek personecigojn.
appmenu-update-unsupported2 =
    .label = Ne eblas ĝisdatigi
    .buttonlabel = Pli da informo
    .buttonaccesskey = P
    .secondarybuttonlabel = Ignori
    .secondarybuttonaccesskey = I
appmenu-update-unsupported-message2 = Via mastruma sistemo ne kongruas kun la lasta versio de { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Ĝisdatigo disponebla
    .buttonlabel = Ĝisdatigi kaj restartigi
    .buttonaccesskey = r
    .secondarybuttonlabel = Ignori
    .secondarybuttonaccesskey = I
appmenu-update-restart-message2 = Elŝutu la lastan version de { -brand-shorter-name }. Malfermitaj langetoj kaj fenestroj estos restarigitaj.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } ne povas aŭtomate ĝisdatiĝi al la lasta versio.
    .buttonlabel = Tamen ĝisdatigi { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Nun ne
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Nova { -brand-shorter-name } estas disponebla, sed ĝi ne povas esti instalita ĉar alia kopio de { -brand-shorter-name } nuntempe estas uzata. Fermu ĝin por daŭrigi la ĝisdatigon, aŭ elektu tamen daŭrigi la ĝisdatigon ĉi tiel (la alia kopio povus ne bone funkcii ĝis restarto).
appmenu-addon-private-browsing-installed =
    .buttonlabel = En ordo, mi komprenis
    .buttonaccesskey = o
appmenu-addon-post-install-message = Administru viajn aldonaĵojn per alklako de <image data-l10n-name='addon-install-icon'></image> en la menuo <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = En ordo
    .buttonaccesskey = o
appmenu-addon-post-install-message2 = Administru viajn etendaĵojn kaj etosojn ekde la menuo de la programo.
appmenu-addon-post-install-message3 = Administru viajn aldonaĵojn kaj etosojn ekde la menuo de la programo.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permesi al tiu ĉi etendaĵo funkcii en privataj fenestroj
    .accesskey = P
appmenu-new-tab-controlled =
    .label = Via nova langeto ŝanĝiĝis.
    .buttonlabel = Gardi ŝanĝojn
    .buttonaccesskey = G
    .secondarybuttonlabel = Malaktivigi etendaĵon
    .secondarybuttonaccesskey = e
appmenu-homepage-controlled =
    .label = Via ĉefpaĝo ŝanĝiĝis.
    .buttonlabel = Gardi ŝanĝojn
    .buttonaccesskey = G
    .secondarybuttonlabel = Malaktivigi etendaĵon
    .secondarybuttonaccesskey = M
appmenu-new-tab-controlled-changes =
    .label = Via paĝo de nova langeto ŝanĝiĝis.
    .buttonlabel = Gardi ŝanĝojn
    .buttonaccesskey = G
    .secondarybuttonlabel = Agordi la novajn langetojn
    .secondarybuttonaccesskey = A
appmenu-homepage-controlled-changes =
    .label = Via ĉefpaĝo ŝanĝiĝis.
    .buttonlabel = Gardi ŝanĝojn
    .buttonaccesskey = G
    .secondarybuttonlabel = Agordi la ĉefan paĝon
    .secondarybuttonaccesskey = A
appmenu-tab-hide-controlled =
    .label = Aliri viajn kaŝitajn langetojn
    .buttonlabel = Teni langetojn kaŝitaj
    .buttonaccesskey = k
    .secondarybuttonlabel = Malaktivigi etendaĵon
    .secondarybuttonaccesskey = e
