# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Gravaj novaĵoj
heading = Ŝanĝoj al via profilo de { -brand-short-name }
changed-title = Kio ŝanĝiĝis?
changed-desc-profiles = Tiu ĉi instalaĵo de { -brand-short-name } havas novan profilon. Profilo estas aro da dosieroj en kiuj Firefox konservas informojn, kiel viajn legosignojn, pasvortojn kaj preferojn de uzanto.
changed-desc-dedicated = Por plifaciligi kaj plisekurigi ŝanĝadon inter diversaj instalaĵoj de Firefox (kiel Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition kaj Firefox Nightly), tiu ĉi instalaĵo nun havas apartan profilon. Ĝi ne aŭtomate kundividas datumojn kun aliaj instalaĵoj de Firefox.
lost = <b>Vi ne perdis viajn personajn datumojn kaj agordojn.</b> Datumoj konservitaj en alia instalaĵo de Firefox ĉe tiu ĉi komputilo plue estas disponeblaj en tiu alia instalaĵo.
options-title = Kion mi faru?
options-do-nothing = Se vi faras nenion, viaj profilaj datumoj de { -brand-short-name } estos malsamaj ol profilaj datumoj de aliaj instalaĵoj de Firefox.
options-use-sync = Se vi volas havi la samajn profilajn datumojn por ĉiuj viaj instalaĵoj de Firefox, vi povas uzi { -fxaccount-brand-name } por teni ilin spegulitaj.
resources = Rimedoj:
support-link = Uzo de administrilo de profiloj – subtena artikolo
sync-header = Komenci seancon aŭ krei konton de { -fxaccount-brand-name }
sync-label = Tajpu vian retpoŝtan adreson
sync-input =
    .placeholder = Retpoŝto
sync-button = Daŭrigi
sync-terms = Se vi daŭrigas, vi akceptas la <a data-l10n-name="terms">kondiĉojn de uzo</a> kaj <a data-l10n-name="privacy">rimarkon pri privateco</a>.
sync-first = Ĉu via unua uzo de { -sync-brand-name }? Vi devos komenci seancon en ĉiu instalaĵo de Firefox por speguli viajn datumojn.
new-install-sync-first = Ĉu tiu ĉi estas via unua spegulado? Vi devos komenci seancon en ĉiu instalaĵo de Firefox por speguli viajn datumojn.
sync-learn = Pli da informo
