# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = ਹੋਰ ਡਿਵਾਈਸ ਨਾਲ ਕਨੈਕਟ ਕਰੋ
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. ਜੇ ਤੁਸੀਂ ਪਹਿਲਾਂ ਨਹੀਂ ਕੀਤਾ ਤਾਂ <a data-l10n-name="connect-another-device">ਆਪਣੇ ਮੋਬਾਈਲ ਡਿਵਾਈਸ ਉੱਤੇ ਫਾਇਰਫਾਕਸ</a> ਇੰਸਟਾਲ ਕਰੋ।
fxa-qrcode-heading-phase2 = 2. ਤਦ { -sync-brand-short-name } ਵਿੱਚ ਸਾਇਨ-ਇਨ ਕਰੋ ਜਾਂ Android ਉੱਤੇ { -sync-brand-short-name } ਸੈਟਿੰਗਾਂ ਵਿੱਚ ਪੇਅਰਿੰਗ ਕੋਡ ਸਕੈਨ ਕਰੋ।
fxa-qrcode-heading-step1 = 1. ਜੇ ਤੁਸੀਂ ਹਾਲੇ ਇੰਸਟਾਲ ਨਹੀਂ ਕੀਤਾ ਹੈ ਤਾਂ <a data-l10n-name="connect-another-device">ਆਪਣੇ ਮੋਬਾਈਲ ਡਿਵਾਈਸ ਉੱਤੇ Firefox</a> ਇੰਸਟਾਲ ਕਰੋ।
fxa-qrcode-heading-step2 = 2. ਆਪਣੇ ਮੋਬਾਈਲ ਡਿਵਾਈਸ ਉੱਤੇ ਫਾਇਰਫਾਕਸ ਖੋਲ੍ਹੋ।
fxa-qrcode-heading-step3 = 3. <b>ਮੇਨੂ</b> (<img data-l10n-name="ios-menu-icon"/> or <img data-l10n-name="android-menu-icon"/>) ਖੋਲ੍ਹੋ, <img data-l10n-name="settings-icon"/> <b>ਸੈਟਿੰਗਾਂ</b> ਨੂੰ ਛੂਹੋ ਅਤੇ <b>ਸਿੰਕ ਚਾਲੂ ਕਰੋ</b> ਨੂੰ ਚੁਣੋ।
fxa-qrcode-heading-step4 = 4. ਇਹ ਕੋਡ ਸਕੈਨ ਕਰੋ:
fxa-qrcode-error-title = ਜੋੜਾ ਬਣਾਉਣ ਲਈ ਨਾ-ਕਮਾਯਾਬ।
fxa-qrcode-error-body = ਮੁੜ ਕੋਸ਼ਿਸ਼ ਕਰੋ।
