# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Uma nova atualização do { -brand-shorter-name } está disponível.
    .buttonlabel = Baixar atualização
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Atualize o { -brand-shorter-name } para ganhar mais velocidade e privacidade.
appmenu-update-manual =
    .label = Não é possível atualizar o { -brand-shorter-name } para a versão mais recente.
    .buttonlabel = Baixar o { -brand-shorter-name }
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Baixe uma nova cópia do { -brand-shorter-name } e ajudaremos a instalar.
appmenu-update-whats-new =
    .value = Veja o que há de novo.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } não conseguiu atualizar para a versão mais recente.
    .buttonlabel = Saiba mais
    .buttonaccesskey = S
    .secondarybuttonlabel = Fechar
    .secondarybuttonaccesskey = F
appmenu-update-unsupported-message = A versão mais recente do { -brand-shorter-name } não é suportada pelo seu sistema.
appmenu-update-restart =
    .label = Reiniciar o { -brand-shorter-name } para atualizar.
    .buttonlabel = Reiniciar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Após um reinício rápido, o { -brand-shorter-name } irá restaurar todas as abas e janelas abertas que não sejam de navegação privativa.
appmenu-update-available2 =
    .label = Atualização disponível
    .buttonlabel = Baixar
    .buttonaccesskey = B
    .secondarybuttonlabel = Descartar
    .secondarybuttonaccesskey = e
appmenu-update-available-message2 = Baixe a versão mais recente do { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Atualização disponível
    .buttonlabel = Baixar
    .buttonaccesskey = B
    .secondarybuttonlabel = Descartar
    .secondarybuttonaccesskey = e
appmenu-update-manual-message2 = O { -brand-shorter-name } não pôde ser atualizado automaticamente. Baixe a nova versão. Você não perderá informações salvas nem personalizações.
appmenu-update-unsupported2 =
    .label = Não foi possível atualizar
    .buttonlabel = Saiba mais
    .buttonaccesskey = S
    .secondarybuttonlabel = Descartar
    .secondarybuttonaccesskey = e
appmenu-update-unsupported-message2 = Seu sistema operacional não é compatível com a versão mais recente do { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Atualização disponível
    .buttonlabel = Atualizar e reiniciar
    .buttonaccesskey = A
    .secondarybuttonlabel = Descartar
    .secondarybuttonaccesskey = e
appmenu-update-restart-message2 = Instale a versão mais recente do { -brand-shorter-name }. As abas e janelas abertas serão restauradas.
appmenu-update-other-instance =
    .label = O { -brand-shorter-name } não conseguiu atualizar automaticamente para a versão mais recente.
    .buttonlabel = Atualizar o { -brand-shorter-name } mesmo assim
    .buttonaccesskey = A
    .secondarybuttonlabel = Mais tarde
    .secondarybuttonaccesskey = M
appmenu-update-other-instance-message = Uma nova atualização do { -brand-shorter-name } está disponível, mas não pode ser instalada porque outra cópia do { -brand-shorter-name } está em execução. Feche a outra cópia para continuar a atualização, ou escolha atualizar assim mesmo (a outra cópia pode não funcionar corretamente enquanto não for reiniciada).
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, entendi
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gerencie extensões clicando em <image data-l10n-name='addon-install-icon'></image> no menu <image data-l10n-name='addon-menu-icon'></image>
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Gerencie suas extensões e temas através do menu do aplicativo.
appmenu-addon-post-install-message3 = Gerencie suas extensões e temas através do menu do aplicativo.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir esta extensão em janelas privativas
    .accesskey = P
appmenu-new-tab-controlled =
    .label = Sua página de nova aba foi alterada.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Sua página inicial foi alterada.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = A página de nova aba mudou.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Gerenciar página de nova aba
    .secondarybuttonaccesskey = G
appmenu-homepage-controlled-changes =
    .label = A página inicial mudou.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Gerenciar página inicial
    .secondarybuttonaccesskey = G
appmenu-tab-hide-controlled =
    .label = Acessar suas abas ocultadas
    .buttonlabel = Manter abas ocultadas
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
