# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The question portion of the following message should have the <strong> and </strong> tags surrounding it.
default-browser-notification-message = <strong>Definir o { -brand-short-name } como navegador padrão?</strong> Tenha uma navegação rápida, segura e privativa sempre que usar a web.
default-browser-notification-button =
    .label = Definir como padrão
    .accesskey = D
