# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Notícias importantes
heading = Mudanças no seu perfil do { -brand-short-name }
changed-title = O que mudou?
changed-desc-profiles = Esta instalação do { -brand-short-name } tem um novo perfil. Um perfil é um conjunto de arquivos onde o Firefox salva informações como favoritos, senhas e preferências do usuário.
changed-desc-dedicated = Para tornar mais fácil e seguro alternar entre instalações do Firefox (incluindo Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition e Firefox Nightly), esta instalação agora tem um perfil dedicado. Ele não compartilha automaticamente suas informações salvas com outras instalações do Firefox.
lost = <b>Você não perdeu nenhum dado pessoal nem personalização.</b> Se você já tiver salvo informações no Firefox neste computador, elas ainda estão disponíveis em outra instalação do Firefox.
options-title = Quais são minhas opções?
options-do-nothing = Se não fizer nada, seus dados de perfil no { -brand-short-name } serão diferentes dos dados de perfil em outras instalações do Firefox.
options-use-sync = Se quiser que todos os seus dados de perfil sejam os mesmos em todas as instalações do Firefox, pode usar uma { -fxaccount-brand-name } para manter sincronizados.
resources = Recursos:
support-link = Como usar o gerenciador de perfis (artigo de suporte)
sync-header = Entre na sua { -fxaccount-brand-name }, ou crie uma
sync-label = Digite seu email
sync-input =
    .placeholder = Email
sync-button = Continuar
sync-terms = Ao continuar, você concorda com os <a data-l10n-name="terms">Termos do serviço</a> e o <a data-l10n-name="privacy">Aviso de privacidade</a>.
sync-first = Primeira vez usando o { -sync-brand-name }? Você precisa se identificar em cada instalação do Firefox para sincronizar suas informações.
new-install-sync-first = Primeira vez usando a sincronização? Você precisa entrar na sua conta em cada instalação do Firefox para sincronizar suas informações.
sync-learn = Saiba mais
