# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Er is een nieuwe { -brand-shorter-name }-update beschikbaar.
    .buttonlabel = Update downloaden
    .buttonaccesskey = d
    .secondarybuttonlabel = Niet nu
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Werk uw { -brand-shorter-name } bij voor het nieuwste in snelheid en privacy.
appmenu-update-manual =
    .label = { -brand-shorter-name } kan niet naar de nieuwste versie worden bijgewerkt.
    .buttonlabel = { -brand-shorter-name } downloaden
    .buttonaccesskey = d
    .secondarybuttonlabel = Niet nu
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Download een nieuwe kopie van { -brand-shorter-name } en we helpen u deze te installeren.
appmenu-update-whats-new =
    .value = Bekijk wat er nieuw is.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } kan niet naar de nieuwste versie worden bijgewerkt.
    .buttonlabel = Meer info
    .buttonaccesskey = M
    .secondarybuttonlabel = Sluiten
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message = De nieuwste versie van { -brand-shorter-name } wordt niet ondersteund op uw systeem.
appmenu-update-restart =
    .label = Herstart om { -brand-shorter-name } bij te werken.
    .buttonlabel = Herstarten en herstellen
    .buttonaccesskey = H
    .secondarybuttonlabel = Niet nu
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Na een snelle herstart zal { -brand-shorter-name } al uw open tabbladen en vensters herstellen die zich niet in privénavigatiemodus bevinden.
appmenu-update-available2 =
    .label = Update beschikbaar
    .buttonlabel = Downloaden
    .buttonaccesskey = D
    .secondarybuttonlabel = Afwijzen
    .secondarybuttonaccesskey = A
appmenu-update-available-message2 = Download de nieuwste versie van { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Update beschikbaar
    .buttonlabel = Downloaden
    .buttonaccesskey = D
    .secondarybuttonlabel = Afwijzen
    .secondarybuttonaccesskey = A
appmenu-update-manual-message2 = { -brand-shorter-name } kan niet automatisch worden bijgewerkt. Download de nieuwe versie – u raakt geen opgeslagen gegevens of aanpassingen kwijt.
appmenu-update-unsupported2 =
    .label = Bijwerken niet mogelijk
    .buttonlabel = Meer info
    .buttonaccesskey = M
    .secondarybuttonlabel = Afwijzen
    .secondarybuttonaccesskey = A
appmenu-update-unsupported-message2 = Uw besturingssysteem is niet compatibel met de nieuwste versie van { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Update beschikbaar
    .buttonlabel = Bijwerken en herstarten
    .buttonaccesskey = B
    .secondarybuttonlabel = Afwijzen
    .secondarybuttonaccesskey = A
appmenu-update-restart-message2 = Download de nieuwste versie van { -brand-shorter-name }. Open tabbladen en vensters worden hersteld.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } kan niet automatisch naar de nieuwste versie bijwerken.
    .buttonlabel = { -brand-shorter-name } toch bijwerken
    .buttonaccesskey = b
    .secondarybuttonlabel = j
    .secondarybuttonaccesskey = w
appmenu-update-other-instance-message = Er is een nieuwe update voor { -brand-shorter-name } beschikbaar, maar deze kan niet worden geïnstalleerd omdat er een ander exemplaar van { -brand-shorter-name } wordt uitgevoerd. Sluit deze om de update door te voeren, of kies ervoor om toch bij te werken (het andere exemplaar werkt mogelijk niet goed totdat u dit opnieuw start).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Oké, begrepen
    .buttonaccesskey = O
appmenu-addon-post-install-message = Beheer uw add-ons door op <image data-l10n-name='addon-install-icon'></image> in het menu <image data-l10n-name='addon-menu-icon'></image> te klikken.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Oké
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Beheer uw extensies en thema’s via het toepassingsmenu.
appmenu-addon-post-install-message3 = Beheer uw add-ons en thema’s via het toepassingsmenu.
appmenu-addon-post-install-incognito-checkbox =
    .label = Deze extensie in privévensters laten uitvoeren
    .accesskey = D
appmenu-new-tab-controlled =
    .label = Uw nieuwe tabblad is gewijzigd.
    .buttonlabel = Wijzigingen behouden
    .buttonaccesskey = b
    .secondarybuttonlabel = Extensie uitschakelen
    .secondarybuttonaccesskey = u
appmenu-homepage-controlled =
    .label = Uw startpagina is gewijzigd.
    .buttonlabel = Wijzigingen behouden
    .buttonaccesskey = b
    .secondarybuttonlabel = Extensie uitschakelen
    .secondarybuttonaccesskey = u
appmenu-new-tab-controlled-changes =
    .label = Uw nieuwe tabblad is gewijzigd.
    .buttonlabel = Wijzigingen behouden
    .buttonaccesskey = b
    .secondarybuttonlabel = Nieuwe tabbladen beheren
    .secondarybuttonaccesskey = h
appmenu-homepage-controlled-changes =
    .label = Uw startpagina is gewijzigd.
    .buttonlabel = Wijzigingen behouden
    .buttonaccesskey = b
    .secondarybuttonlabel = Startpagina beheren
    .secondarybuttonaccesskey = h
appmenu-tab-hide-controlled =
    .label = Uw verborgen tabbladen benaderen
    .buttonlabel = Tabbladen verborgen houden
    .buttonaccesskey = v
    .secondarybuttonlabel = Extensie uitschakelen
    .secondarybuttonaccesskey = u
