# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Belangrijk nieuws
heading = Wijzigingen aan uw { -brand-short-name }-profiel
changed-title = Wat is er gewijzigd?
changed-desc-profiles = Deze installatie van { -brand-short-name } heeft een nieuw profiel. Een profiel is de groep bestanden waarin Firefox informatie zoals bladwijzers, wachtwoorden en gebruikersvookeuren opslaat.
changed-desc-dedicated = Om het wisselen tussen installaties van Firefox (waaronder Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition en Firefox Nightly) makkelijker en veiliger te maken, heeft deze installatie nu een specifiek profiel. Uw opgeslagen informatie wordt niet automatisch met andere installaties van Firefox gedeeld.
lost = <b>U bent geen persoonlijke gegevens of aanpassingen kwijtgeraakt.</b> Als u al informatie in Firefox op deze computer hebt opgeslagen, is deze nog steeds in een andere installatie van Firefox beschikbaar.
options-title = Welke opties heb ik?
options-do-nothing = Als u niets doet, zullen uw profielgegevens in { -brand-short-name } anders zijn dan profielgegevens in andere installaties van Firefox.
options-use-sync = Als u wilt dat al uw profielgegevens in alle installaties van Firefox hetzelfde zijn, kunt u een { -fxaccount-brand-name } gebruiken om ze synchroon te houden.
resources = Bronnen:
support-link = De profielbeheerder gebruiken - Ondersteuningsartikel
sync-header = Meld u aan of maak een { -fxaccount-brand-name } aan
sync-label = Voer uw e-mailadres in
sync-input =
    .placeholder = E-mailadres
sync-button = Doorgaan
sync-terms = Door verder te gaan, gaat u akkoord met de <a data-l10n-name="terms">Servicevoorwaarden</a> en <a data-l10n-name="privacy">Privacyverklaring</a>.
sync-first = Gebruikt u { -sync-brand-name } voor het eerst? U dient zich bij elke installatie van Firefox aan te melden om uw informatie te synchroniseren.
new-install-sync-first = Gebruikt u synchronisatie voor het eerst? U dient zich bij elke installatie van Firefox aan te melden om uw gegevens te synchroniseren.
sync-learn = Meer info
