# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Anslut en annan enhet
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Om du inte redan har installerat <a data-l10n-name="connect-another-device">Firefox på din mobila enhet</a>.
fxa-qrcode-heading-phase2 = 2. Logga in på { -sync-brand-short-name } eller skanna parningskoden på Android från inställningarna i { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Om du inte redan har, installera <a data-l10n-name="connect-another-device">Firefox på din mobila enhet</a>.
fxa-qrcode-heading-step2 = 2. Öppna Firefox på din mobila enhet.
fxa-qrcode-heading-step3 = 3. Öppna <b>menyn</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), tryck på <img data-l10n-name="settings-icon"/> <b>Inställningar</b> och välj <b>Aktivera Sync</b>
fxa-qrcode-heading-step4 = 4. Skanna den här koden:
fxa-qrcode-error-title = Parning misslyckades.
fxa-qrcode-error-body = Försök igen.
