# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Site decetivo adiante
safeb-blocked-malware-page-title = Visitar este site pode danificar o seu computador
safeb-blocked-unwanted-page-title = O site adiante pode conter programas prejudiciais
safeb-blocked-harmful-page-title = O site adiante pode conter malware
safeb-blocked-phishing-page-short-desc = O { -brand-short-name } bloqueou esta página porque poderia tentar levar-lhe a fazer algo perigoso como instalar software ou revelar informação pessoal como palavras-passe ou cartões de crédito.
safeb-blocked-malware-page-short-desc = O { -brand-short-name } bloqueou esta página porque poderia tentar instalar software malicioso que poderia furtar ou apagar informação pessoal do seu computador.
safeb-blocked-unwanted-page-short-desc = O { -brand-short-name } bloqueou esta página porque poderia tentar levar-lhe a instalar programas que prejudicam a sua experiência de navegação (por exemplo, ao mudar a sua página inicial ou mostrar anúncios extra em sites que visita).
safeb-blocked-harmful-page-short-desc = O { -brand-short-name } bloqueou esta página porque poderia tentar instalar aplicações perigosas que furtam ou apagam a sua informação (por exemplo, fotos, palavras-passe, mensagens e cartões de crédito).
safeb-palm-advisory-desc = Aconselhamento providenciado por <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>
safeb-palm-accept-label = Retroceder
safeb-palm-see-details-label = Ver detalhes
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como um site decetivo</a>. Pode <a data-l10n-name='report_detection'>reportar um problema de deteção</a> ou <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e ir para este site inseguro.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como um site decetivo</a>. Pode <a data-l10n-name='report_detection'>reportar um problema de deteção</a>.
safeb-blocked-phishing-page-learn-more = Saiba mais acerca de sites decetivos e phishing em <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Saiba mais acerca da proteção contra phishing e malware do { -brand-short-name } em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como contendo software malicioso</a>. Pode <a data-l10n-name='report_detection'>reportar um problema de deteção</a> ou <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e ir para este site inseguro.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como contendo software malicioso</a>. Pode <a data-l10n-name='report_detection'>reportar um problema de deteção</a>.
safeb-blocked-malware-page-learn-more = Saiba mais acerca de conteúdo web prejudicial incluindo virus e outro malware e como proteger o seu computador em <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Saiba mais acerca da proteção contra phishing e malware do { -brand-short-name } em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span>foi<a data-l10n-name='error_desc_link'>reportado por conter software malicioso</a>. Pode ignorar o risco e proceder para este site inseguro.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'> reportado por conter software malicioso</a>
safeb-blocked-malware-page-learn-more-sumo = Saiba mais sobre a proteção contra phishing e malware do { -brand-short-name } em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como contendo software prejudicial</a>. Pode <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e ir para este site inseguro.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como contendo software prejudicial</a>.
safeb-blocked-unwanted-page-learn-more = Saiba mais acerca de software prejudicial e não-solicitado em <a data-l10n-name='learn_more_link'>política de software não-solicitado</a>. Saiba mais acerca da proteção contra phishing e malware do { -brand-short-name } em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como contendo uma aplicação potencialmente prejudicial</a>. Pode <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e ir para este site inseguro.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>reportado como contendo uma aplicação potencialmente prejudicial</a>.
safeb-blocked-harmful-page-learn-more = Saiba mais acerca da proteção contra phishing e malware do { -brand-short-name } em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Este não é um site decetivo…
    .accesskey = d
