# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Zabezpieczone połączenie jest niedostępne
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Włączony jest tryb używania wyłącznie protokołu HTTPS, a zabezpieczona wersja HTTPS witryny <em>{ $websiteUrl }</em> nie jest dostępna.
about-httpsonly-insecure-explanation-reasons = Prawdopodobnie witryna nie obsługuje protokołu HTTPS, ale możliwe jest również, że atakujący blokuje wersję HTTPS.
about-httpsonly-insecure-explanation-exception = Chociaż zagrożenie bezpieczeństwa jest niskie, jeśli zdecydujesz się otworzyć wersję HTTP witryny, nie powinno się podawać na niej żadnych prywatnych informacji, takich jak hasła, adresy e-mail czy dane karty płatniczej.
about-httpsonly-button-make-exception = Akceptuję ryzyko, kontynuuj
about-httpsonly-title-alert = Ostrzeżenie trybu używania wyłącznie protokołu HTTPS
about-httpsonly-title-connection-not-available = Zabezpieczone połączenie jest niedostępne
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = W celu zwiększenia bezpieczeństwa włączony jest tryb używania wyłącznie protokołu HTTPS, a wersja HTTPS witryny <em>{ $websiteUrl }</em> nie jest dostępna.
about-httpsonly-explanation-question = Co może być tego przyczyną?
about-httpsonly-explanation-nosupport = Prawdopodobnie witryna po prostu nie obsługuje protokołu HTTPS.
about-httpsonly-explanation-risk = Możliwe jest również, że atakujący próbuje przechwycić informacje. Jeśli zdecydujesz się otworzyć tę witrynę, nie powinno się podawać na niej żadnych prywatnych informacji, takich jak hasła, adresy e-mail czy dane karty płatniczej.
about-httpsonly-explanation-continue = Otwarcie witryny spowoduje tymczasowe wyłączenie dla niej trybu używania wyłącznie protokołu HTTPS.
about-httpsonly-button-continue-to-site = Otwórz witrynę przez HTTP
about-httpsonly-button-go-back = Wróć do poprzedniej strony
about-httpsonly-link-learn-more = Więcej informacji…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Możliwy zamiennik
about-httpsonly-suggestion-box-www-text = Dostępna jest zabezpieczona wersja strony <em>www.{ $websiteUrl }</em>. Można ją otworzyć zamiast <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Otwórz www.{ $websiteUrl }
