# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Dobrodošli v { -brand-full-name }
account-settings = Nastavitve računa
#   $accounts (Number) - the number of configured accounts
setup-title = Izberite, kaj nastaviti
about-title = O { -brand-full-name }u
resources-title = Viri
release-notes =
    .title = O { -brand-full-name }u
email-label = E-pošta
    .aria-label = Poveži z obstoječim e-poštnim računom
email-description = { -brand-short-name } vam omogoča, da povežete svoj obstoječi e-poštni račun ter hitro in udobno prebirate pošto v programu.
calendar-label = Koledar
    .aria-label = Ustvari nov koledar
calendar-description = { -brand-short-name } omogoča urejanje dogodkov za boljšo organiziranost. Če vzpostavite povezavo z oddaljenim koledarjem, bodo vsi vaši dogodki sinhronizirani v vseh napravah.
chat-label = Klepet
    .aria-label = Poveži račun za klepet
chat-description = { -brand-short-name } vam omogoča povezati več računov za neposredno sporočanje in ponuja podporo za različne platforme.
filelink-label = Filelink
    .aria-label = Nastavi Filelink
filelink-description = { -brand-short-name } vam omogoča nastaviti priročen račun v oblaku, v katerega lahko naložite velike datoteke za preprosto pošiljanje.
addressbook-label = Imenik
    .aria-label = Ustvari nov imenik
addressbook-description = { -brand-short-name } vam omogoča organizirati vse stike v imenik. Povežete lahko tudi oddaljen imenik, s katerim bodo vsi vaši stiki sinhronizirani.
feeds-label = Viri
    .aria-label = Poveži z viri
feeds-description = { -brand-short-name } se vam omogoča naročiti na vire RSS/Atom za prejemanje novic in različnih posodobitev.
newsgroups-label = Novičarske skupine
    .aria-label = Poveži v novičarsko skupino
newsgroups-description = { -brand-short-name } se vam omogoča priključiti vsem mogočim novičarskim skupinam.
import-title = Uvoz iz drugega programa
import-paragraph = { -brand-short-name } vam omogoča uvoziti e-poštna sporočila, stike, naročnine na vire, nastavitve in filtre iz drugih programov za e-pošto in iz običajnih oblik imenikov.
import-label = Uvozi
    .aria-label = Uvozi podatke iz drugih programov
about-paragraph = Thunderbird je vodilni odprtokodni odjemalec za e-pošto in koledar, ki deluje v več okoljih ter je brezplačen tako za poslovno kot za osebno uporabo. Želimo, da ostane varen in postane še boljši. Donacija nam bo omogočala najeti razvijalce, plačati stroške infrastrukture in nadaljevati izboljševanje.
about-paragraph-2 = <b>Thunderbird financirajo uporabniki, kot ste vi! Če vam je Thunderbird všeč, bi bila vaša donacija dobrodošla.</b> Najboljši način, da podprete nadaljnji razvoj Thunderbirda, je z
about-donation = donacijo
about-paragraph-consider-donation = <b>Thunderbird financirajo uporabniki, kot ste vi! Če imate radi Thunderbird, nam lahko namenite donacijo.</b> Najboljši način, da pomagate ohraniti Thunderbird pri življenju, je <a data-l10n-name="donation-link">donacija</a>.
explore-link = Raziščite možnosti
support-link = Podpora
involved-link = Pridružite se
developer-link = Dokumentacija za razvijalce
read = Beri sporočila
compose = Sestavi novo sporočilo
search = Išči po sporočilih
filter = Upravljaj s filtri sporočil
nntp-subscription = Naroči se na novičarske skupine
rss-subscription = Naroči se na vire
e2e = Šifriranje od konca do konca
