# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Obre una finestra privada
    .accesskey = p
about-private-browsing-search-placeholder = Cerca al web
about-private-browsing-info-title = Esteu en una finestra privada
about-private-browsing-info-myths = Mites comuns sobre la navegació privada
about-private-browsing =
    .title = Cerca al web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Cerqueu amb { $engine } o escriviu una adreça
about-private-browsing-handoff-no-engine =
    .title = Escriviu una cerca o adreça
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Cerqueu amb { $engine } o escriviu una adreça
about-private-browsing-handoff-text-no-engine = Escriviu una cerca o adreça
about-private-browsing-not-private = Actualment no esteu en una finestra privada.
about-private-browsing-info-description = El { -brand-short-name } esborra el vostre historial de cerques i de navegació quan sortiu de l'aplicació o tanqueu totes les pestanyes i finestres de navegació privada. Malgrat que això no fa que sigueu anònim per als llocs web o per al vostre proveïdor de serveis d'Internet, és més fàcil mantenir en privat allò que feu en línia davant de qualsevol altra persona que utilitzi aquest ordinador.
about-private-browsing-need-more-privacy = Us cal més privadesa?
about-private-browsing-turn-on-vpn = Proveu el { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } és el motor de cerca per defecte en les finestres privades
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Per seleccionar un altre motor de cerca, aneu a les <a data-l10n-name="link-options">Opcions</a>
       *[other] Per seleccionar un altre motor de cerca, aneu a les <a data-l10n-name="link-options">Preferències</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Tanca
