# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Hi ha una actualització del { -brand-shorter-name } disponible.
    .buttonlabel = Baixa l'actualització
    .buttonaccesskey = B
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Actualitzeu el { -brand-shorter-name } per millorar la velocitat i privadesa.
appmenu-update-manual =
    .label = El { -brand-shorter-name } no s'ha pogut actualitzar a la versió més recent.
    .buttonlabel = Baixa el { -brand-shorter-name }
    .buttonaccesskey = B
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Baixeu una còpia nova del { -brand-shorter-name } i us ajudarem a instal·lar-la.
appmenu-update-whats-new =
    .value = Descobriu-ne les novetats.
appmenu-update-unsupported =
    .label = El { -brand-shorter-name } no s'ha pogut actualitzar a la versió més recent.
    .buttonlabel = Més informació
    .buttonaccesskey = M
    .secondarybuttonlabel = Tanca
    .secondarybuttonaccesskey = T
appmenu-update-unsupported-message = La versió més recent del { -brand-shorter-name } no és compatible amb el vostre sistema.
appmenu-update-restart =
    .label = Reinicia per actualitzar el { -brand-shorter-name }.
    .buttonlabel = Reinicia i restaura
    .buttonaccesskey = R
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Després d'un reinici ràpid, el { -brand-shorter-name } restaurarà totes les pestanyes i obertes i les finestres que no estiguin en mode de navegació privada.
appmenu-update-available2 =
    .label = Actualització disponible
    .buttonlabel = Baixa
    .buttonaccesskey = B
    .secondarybuttonlabel = Descarta
    .secondarybuttonaccesskey = D
appmenu-update-available-message2 = Baixeu la darrera versió del { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Actualització disponible
    .buttonlabel = Baixa
    .buttonaccesskey = B
    .secondarybuttonlabel = Descarta
    .secondarybuttonaccesskey = D
appmenu-update-manual-message2 = El { -brand-shorter-name } no s'ha pogut actualitzar automàticament. Baixeu la versió nova; no perdreu la informació desada ni les personalitzacions.
appmenu-update-unsupported2 =
    .label = No es pot actualitzar
    .buttonlabel = Més informació
    .buttonaccesskey = M
    .secondarybuttonlabel = Descarta
    .secondarybuttonaccesskey = D
appmenu-update-unsupported-message2 = El vostre sistema operatiu és incompatible amb la versió més recent del { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Actualització disponible
    .buttonlabel = Actualitza i reinicia
    .buttonaccesskey = A
    .secondarybuttonlabel = Descarta
    .secondarybuttonaccesskey = D
appmenu-update-restart-message2 = Obteniu la versió més recent del { -brand-shorter-name }. Les pestanyes i finestres obertes es restauraran.
appmenu-update-other-instance =
    .label = El { -brand-shorter-name } no s'ha pogut actualitzar a la versió més recent.
    .buttonlabel = Actualitza el { -brand-shorter-name } de totes maneres.
    .buttonaccesskey = u
    .secondarybuttonlabel = Ara no
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = Hi ha disponible una actualització del { -brand-shorter-name }, però no es pot instal·lar perquè hi ha una altra còpia del { -brand-shorter-name } en execució. Tanqueu-la per a continuar l'actualització, o trieu actualitzar-la igualment (és possible que l'altra còpia no funcioni correctament fins que no la reinicieu).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Entesos
    .buttonaccesskey = E
appmenu-addon-post-install-message = Gestioneu els vostres complements fent clic a <image data-l10n-name='addon-install-icon'></image> al menú <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = D'acord
    .buttonaccesskey = D
appmenu-addon-post-install-message2 = Gestioneu les vostres extensions i temes mitjançant el menú de l'aplicació.
appmenu-addon-post-install-message3 = Gestioneu els vostres complements i temes mitjançant el menú de l'aplicació.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permet que aquesta extensió s'executi en finestres privades
    .accesskey = P
appmenu-new-tab-controlled =
    .label = La pàgina de «Pestanya nova» ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Inhabilita l'extensió
    .secondarybuttonaccesskey = I
appmenu-homepage-controlled =
    .label = La pàgina d'inici ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Inhabilita l'extensió
    .secondarybuttonaccesskey = I
appmenu-new-tab-controlled-changes =
    .label = La pàgina de «Pestanya nova» ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Gestiona les pestanyes noves
    .secondarybuttonaccesskey = G
appmenu-homepage-controlled-changes =
    .label = La pàgina d'inici ha canviat.
    .buttonlabel = Mantén els canvis
    .buttonaccesskey = M
    .secondarybuttonlabel = Gestiona la pàgina d'inici
    .secondarybuttonaccesskey = G
appmenu-tab-hide-controlled =
    .label = Accedeix a les pestanyes ocultes
    .buttonlabel = Mantén les pestanyes amagades
    .buttonaccesskey = M
    .secondarybuttonlabel = Inhabilita l'extensió
    .secondarybuttonaccesskey = I
