# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Es ist ein neues { -brand-shorter-name }-Update verfügbar.
    .buttonlabel = Update herunterladen
    .buttonaccesskey = h
    .secondarybuttonlabel = Nicht jetzt
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aktualisieren Sie { -brand-shorter-name } für die neuesten Verbesserungen in Sachen Geschwindigkeit und Datenschutz.
appmenu-update-manual =
    .label = { -brand-shorter-name } kann nicht auf die neueste Version aktualisieren.
    .buttonlabel = { -brand-shorter-name } herunterladen
    .buttonaccesskey = h
    .secondarybuttonlabel = Nicht jetzt
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Laden Sie sich die aktuelle Version von { -brand-shorter-name } herunter und wir helfen Ihnen bei der Installation.
appmenu-update-whats-new =
    .value = Die Änderungen im Detail.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } kann nicht auf die neueste Version aktualisiert werden.
    .buttonlabel = Weitere Informationen
    .buttonaccesskey = W
    .secondarybuttonlabel = Schließen
    .secondarybuttonaccesskey = c
appmenu-update-unsupported-message = Die neueste Version von { -brand-shorter-name } wird auf Ihrem System nicht unterstützt.
appmenu-update-restart =
    .label = Zum Aktualisieren von { -brand-shorter-name } neu starten
    .buttonlabel = Neu starten und wiederherstellen
    .buttonaccesskey = w
    .secondarybuttonlabel = Nicht jetzt
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Nach einem schnellen Neustart des Browsers wird { -brand-shorter-name } alle offenen Tabs und Fenster wiederherstellen, die sich nicht im Privaten Modus befinden.
appmenu-update-available2 =
    .label = Update verfügbar
    .buttonlabel = Herunterladen
    .buttonaccesskey = H
    .secondarybuttonlabel = Ignorieren
    .secondarybuttonaccesskey = g
appmenu-update-available-message2 = Laden Sie die neueste Version von { -brand-shorter-name } herunter.
appmenu-update-manual2 =
    .label = Update verfügbar
    .buttonlabel = Herunterladen
    .buttonaccesskey = H
    .secondarybuttonlabel = Ignorieren
    .secondarybuttonaccesskey = g
appmenu-update-manual-message2 = { -brand-shorter-name } konnte nicht automatisch aktualisiert werden. Laden Sie die neue Version herunter – Sie verlieren keine gespeicherten Informationen oder Anpassungen.
appmenu-update-unsupported2 =
    .label = Update unmöglich
    .buttonlabel = Weitere Informationen
    .buttonaccesskey = W
    .secondarybuttonlabel = Ignorieren
    .secondarybuttonaccesskey = I
appmenu-update-unsupported-message2 = Ihr Betriebssystem ist nicht mit der neuesten Version von { -brand-shorter-name } kompatibel.
appmenu-update-restart2 =
    .label = Update verfügbar
    .buttonlabel = Aktualisieren und neu starten
    .buttonaccesskey = A
    .secondarybuttonlabel = Ignorieren
    .secondarybuttonaccesskey = I
appmenu-update-restart-message2 = Holen Sie sich die neueste Version von { -brand-shorter-name }. Offene Tabs und Fenster werden wiederhergestellt.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } kann nicht automatisch auf die neueste Version aktualisiert werden.
    .buttonlabel = { -brand-shorter-name } trotzdem aktualisieren
    .buttonaccesskey = a
    .secondarybuttonlabel = Nicht jetzt
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Ein neues { -brand-shorter-name }-Update ist verfügbar. Es kann aber nicht installiert werden, weil eine andere Kopie von { -brand-shorter-name } ausgeführt wird. Schließen Sie diese, um das Update fortzusetzen, oder führen Sie das Update trotzdem durch (die andere Kopie funktioniert möglicherweise nicht korrekt, bis Sie jene neu starten).
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message = Die Add-ons lassen sich durch Klicken auf <image data-l10n-name='addon-install-icon'></image> im <image data-l10n-name='addon-menu-icon'></image>-Menü verwalten.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Erweiterungen und Themes können über das Anwendungsmenü verwaltet werden.
appmenu-addon-post-install-message3 = Add-ons und Themes können über das Anwendungsmenü verwaltet werden.
appmenu-addon-post-install-incognito-checkbox =
    .label = Ausführen der Erweiterung in privaten Fenstern erlauben
    .accesskey = e
appmenu-new-tab-controlled =
    .label = Startseite neuer Tabs wurde geändert
    .buttonlabel = Änderung beibehalten
    .buttonaccesskey = b
    .secondarybuttonlabel = Erweiterung deaktivieren
    .secondarybuttonaccesskey = d
appmenu-homepage-controlled =
    .label = Ihre Startseite hat sich geändert.
    .buttonlabel = Änderungen behalten
    .buttonaccesskey = b
    .secondarybuttonlabel = Erweiterung deaktivieren
    .secondarybuttonaccesskey = d
appmenu-new-tab-controlled-changes =
    .label = Ihre Startseite für neue Tabs hat sich geändert.
    .buttonlabel = Änderungen beibehalten
    .buttonaccesskey = b
    .secondarybuttonlabel = Startseite für neue Tabs verwalten
    .secondarybuttonaccesskey = v
appmenu-homepage-controlled-changes =
    .label = Ihre Startseite hat sich geändert.
    .buttonlabel = Änderungen beibehalten
    .buttonaccesskey = b
    .secondarybuttonlabel = Startseite verwalten
    .secondarybuttonaccesskey = v
appmenu-tab-hide-controlled =
    .label = Auf ausgeblendete Tabs zugreifen
    .buttonlabel = Tabs ausgeblendet belassen
    .buttonaccesskey = a
    .secondarybuttonlabel = Erweiterung deaktivieren
    .secondarybuttonaccesskey = d
