# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Wichtige Information
heading = Änderungen an Ihrem Profil für { -brand-short-name }
changed-title = Was hat sich geändert?
changed-desc-profiles = Diese Installation von { -brand-short-name } nutzt jetzt ein neues Profil. Ein Profil ist eine Gruppe von Dateien, in welchen Daten wie Lesezeichen, Passwörter und vom Benutzer geänderte Einstellungen gespeichert werden.
changed-desc-dedicated = Um den Wechsel zwischen verschiedenen Firefox-Installationen (einschließlich Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition und Firefox Nightly) zu erleichtern und sicherer zu machen, verwendet diese Installation ab jetzt ihr eigenes, gesondertes Profil. Andere Firefox-Installationen haben keinen automatischen Zugriff auf die in diesem Profil gespeicherten Daten.
lost = <b>Es sind keine persönlichen Daten oder Anpassungen verloren gegangen.</b> Falls bereits Profildaten auf diesem Computer in Firefox gespeichert wurden, sind diese weiterhin in einer anderen Firefox-Installation verfügbar.
options-title = Welche Optionen habe ich?
options-do-nothing = Falls Sie den derzeitigen Zustand beibehalten, werden Ihre Profildaten für { -brand-short-name } sich von denen für andere Firefox-Installationen unterscheiden.
options-use-sync = Falls Sie die gleichen Profildaten in allen Ihren Installationen von Firefox bevorzugen, können Sie diese mit einem { -fxaccount-brand-name } synchron halten.
resources = Weitere Informationen:
support-link = Verwenden der Profilverwaltung - Hilfeartikel
sync-header = Anmelden oder ein { -fxaccount-brand-name } erstellen
sync-label = E-Mail-Adresse eingeben
sync-input =
    .placeholder = E-Mail-Adresse
sync-button = Weiter
sync-terms = Indem Sie fortfahren, stimmen Sie den <a data-l10n-name="terms">Nutzungsbedingungen</a> und dem <a data-l10n-name="privacy">Datenschutzhinweis</a> zu.
sync-first = Nutzen Sie { -sync-brand-name } das erste Mal? Melden Sie sich in jeder Firefox-Installation an, um Ihre Firefox-Daten zu synchronisieren.
new-install-sync-first = Nutzen Sie die Synchronisation das erste Mal? Melden Sie sich in jeder Firefox-Installation an, um Ihre Firefox-Daten zu synchronisieren.
sync-learn = Weitere Informationen
