# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connecta un altre dispositiu
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Si encara no ho heu fet, instal·leu el <a data-l10n-name="connect-another-device">Firefox en el vostre dispositiu mòbil</a>.
fxa-qrcode-heading-phase2 = 2. A continuació, inicieu la sessió al { -sync-brand-short-name } o, en l'Android, escanegeu el codi d'aparellament des dels paràmetres del { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Si encara no ho heu fet, instal·leu el <a data-l10n-name="connect-another-device">Firefox en el vostre dispositiu mòbil</a>.
fxa-qrcode-heading-step2 = 2. Obriu el Firefox en el dispositiu mòbil.
fxa-qrcode-heading-step3 = 3. Obriu el <b>menú</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), toqueu <img data-l10n-name="settings-icon"/><b>Paràmetres</b> i trieu <b>Activa la sincronització</b>
fxa-qrcode-heading-step4 = 4. Escanegeu aquest codi:
fxa-qrcode-error-title = Aparellament incorrecte.
fxa-qrcode-error-body = Torneu-ho a provar.
