# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Saiba mais
accessibility-text-label-header = Nomes e rótulos de texto
accessibility-keyboard-header = Teclado

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Aviso
accessibility-fail =
    .alt = Erro
accessibility-best-practices =
    .alt = Melhores práticas

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Use o atributo <code>alt</code> para rotular elementos <div>area</div> que têm o atributo <span>href</span>. <a>Saiba mais</a>
accessibility-text-label-issue-dialog = Diálogos devem ser rotulados. <a>Saiba mais</a>
accessibility-text-label-issue-document-title = Documentos devem ter um <code>title</code>. <a>Saiba mais</a>
accessibility-text-label-issue-embed = Conteúdo incorporado deve ser rotulado. <a>Saiba mais</a>
accessibility-text-label-issue-figure = Figuras com legendas opcionais devem ser rotuladas. <a>Saiba mais</a>
accessibility-text-label-issue-fieldset = Elementos <code>fieldset</code> devem ser rotulados. <a>Saiba mais</a>
accessibility-text-label-issue-fieldset-legend2 = Use um elemento <code>legend</code> para rotular um <span>fieldset</span>. <a>Saiba mais</a>
accessibility-text-label-issue-form = Elementos de formulários devem ser rotulados. <a>Saiba mais</a>
accessibility-text-label-issue-form-visible = Elementos de formulários devem ter um rótulo de texto visível. <a>Saiba mais</a>
accessibility-text-label-issue-frame = Elementos <code>frame</code> devem ser rotulados. <a>Saiba mais</a>
accessibility-text-label-issue-glyph = Use o atributo <code>alt</code> para rotular elementos <span>mglyph</span>. <a>Saiba mais</a>
accessibility-text-label-issue-heading = Cabeçalhos devem ser rotulados. <a>Saiba mais</a>
accessibility-text-label-issue-heading-content = Cabeçalhos devem ter conteúdo de texto visível. <a>Saiba mais</a>
accessibility-text-label-issue-iframe = Use o atributo <code>title</code> para descrever conteúdo <span>iframe</span>. <a>Saiba mais</a>
accessibility-text-label-issue-image = Imagens de conteúdo devem ser rotuladas. <a>Saiba mais</a>
accessibility-text-label-issue-interactive = Elementos interativos devem ser rotulados. <a>Saiba mais</a>
accessibility-text-label-issue-optgroup-label2 = Use um atributo <code>label</code> para rotular um <span>optgroup</span>. <a>Saiba mais</a>
accessibility-text-label-issue-toolbar = Barras de ferramentas devem ser rotuladas quando há mais de uma barra de ferramentas. <a>Saiba mais</a>

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has a keyboard accessibility
## issue.

accessibility-keyboard-issue-semantics = Elementos que podem receber foco devem ter semânticas interativas. <a>Saiba mais</a>
accessibility-keyboard-issue-tabindex = Evite usar o atributo <code>tabindex</code> maior que zero. <a>Saiba mais</a>
accessibility-keyboard-issue-action = Elementos interativos devem poder ser ativados através do teclado. <a>Saiba mais</a>
accessibility-keyboard-issue-focusable = Elementos interativos devem poder receber foco. <a>Saiba mais</a>
accessibility-keyboard-issue-focus-visible = Pode estar faltando estilo de foco em elementos que podem receber foco. <a>Saiba mais</a>
accessibility-keyboard-issue-mouse-only = Elementos cicláveis devem poder receber foco e ter semânticas interativas. <a>Saiba mais</a>
