# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Víta vás { -brand-full-name }
account-settings = Nastavenia účtu
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Vyberte si, čo chcete nastaviť
        [one] Založiť ďalší účet
        [few] Založiť ďalší účet
       *[other] Založiť ďalší účet
    }
about-title = O aplikácii { -brand-full-name }
resources-title = Zdroje
release-notes =
    .title = O aplikácii { -brand-full-name }
email-label = E-mail
    .aria-label = Pripojte sa k svojmu existujúcemu e-mailovému účtu
email-description = { -brand-short-name } vám umožňuje pripojiť sa k existujúcemu e-mailovému účtu a pohodlne čítať svoje e-maily z prostredia aplikácie.
calendar-label = Kalendár
    .aria-label = Vytvoriť nový kalendár
calendar-description = { -brand-short-name } vám umožňuje spravovať udalosti a mať vždy prehľad. Pripojením k vzdialenému kalendáru zabezpečíte synchronizáciu vašich udalostí vo všetkých vašich zariadeniach.
chat-label = Konverzácie
    .aria-label = Pripojte sa k svojmu účtu pre konverzácie
chat-description = { -brand-short-name } vám umožňuje pripojiť sa k viacerým účtom okamžitých správ, ponúkajúc podporu pre rôzne platformy.
filelink-label = Filelink
    .aria-label = Nastaviť Filelink
filelink-description = { -brand-short-name } vám umožní pohodlne nastaviť účet pre cloudovú službu filelink určenú na jednoduché odosielanie veľkých príloh.
addressbook-label = Adresár
    .aria-label = Vytvoriť nový adresár kontaktov
addressbook-description = { -brand-short-name } vám umožňuje usporiadať všetky vaše kontakty v adresári. Môžete sa tiež pripojiť k vzdialenému adresáru, aby ste udržali všetky svoje kontakty synchronizované.
feeds-label = Kanály RSS
    .aria-label = Pripojte s k informačným kanálom (RSS)
feeds-description = { -brand-short-name } vám umožňuje pripojiť sa k informačným kanálom RSS/Atom a získať tak správy a novinky z celého sveta.
newsgroups-label = Diskusné skupiny
    .aria-label = Pripojte sa do diskusnej skupiny
newsgroups-description = { -brand-short-name } vám umožňuje pripojiť sa k rôznym diskusným skupinám.
import-title = Importovať z inej aplikácie
import-paragraph = { -brand-short-name } vám umožní importovať emailové správy, položky adresára, odoberané informačné kanály, nastavenia a/alebo filtre z iných poštových klientov a z bežných formátov adresárov.
import-label = Importovať
    .aria-label = Importovať údaje z iných aplikácii
about-paragraph = Thunderbird je dôležitý open source a multiplatformový e-mailový klient s funkciou kalendára, ktorý je zadarmo pre osobné použitie i pre firmy. Chceme, aby ostal bezpečný a neustále sa zlepšoval. Príspevok nám umožní najať vývojárov, zaplatiť za infraštruktúru a pomôže nám rozvíjať sa.
about-paragraph-2 = <b>Thunderbird je financovaný používateľmi, ako ste vy! Ak máte radi Thunderbird, zvážte poskytnutie príspevku. </b> Najlepším spôsobom, ako zaistiť, že Thunderbird ostane k dispozícii, je
about-donation = poskytnutie príspevku
about-paragraph-consider-donation = <b>Thunderbird je financovaný používateľmi ako ste vy! Ak sa vám Thunderbird páči, zvážte poskytnutie príspevku.</b> Najlepším spôsobom, ako sa môžete uistiť, že Thunderbird ostane dostupný aj naďalej je <a data-l10n-name="donation-link">poskytnutie príspevku.</a>
explore-link = Spoznajte funkcie
support-link = Podpora
involved-link = Zapojte sa
developer-link = Dokumentácia pre vývojárov
read = Prečítať správy
compose = Napísať novú správu
search = Hľadať v správach
filter = Spravovať filtre správ
nntp-subscription = Spravovať odbery diskusných skupín
rss-subscription = Spravovať odbery kanálov
e2e = Obojstranné šifrovanie
