# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Een ander apparaat verbinden
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Installeer <a data-l10n-name="connect-another-device">Firefox op uw mobiele apparaat</a> als u dat nog niet hebt gedaan.
fxa-qrcode-heading-phase2 = 2. Meld u aan bij { -sync-brand-short-name }, of scan in Android de koppelingscode vanuit de instellingen van { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Installeer <a data-l10n-name="connect-another-device">Firefox op uw mobiele apparaat</a> als u dat nog niet hebt gedaan.
fxa-qrcode-heading-step2 = 2. Open Firefox op uw mobiele apparaat.
fxa-qrcode-heading-step3 = 3. Open het <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> of <img data-l10n-name="android-menu-icon"/>), tik op <img data-l10n-name="settings-icon"/> <b>Instellingen</b></b> en selecteer <b>Sync inschakelen</b>
fxa-qrcode-heading-step4 = 4. Scan deze code:
fxa-qrcode-error-title = Koppelen mislukt.
fxa-qrcode-error-body = Probeer het opnieuw.
