# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Us donem la benvinguda al { -brand-full-name }
account-settings = Paràmetres del compte
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Trieu què voleu configurar
       *[other] Configureu un altre compte
    }
about-title = Quant al { -brand-full-name }
resources-title = Recursos
release-notes =
    .title = Quant al { -brand-full-name }
email-label = Correu electrònic
    .aria-label = Connecteu el vostre compte de correu existent
email-description = El { -brand-short-name } us permet connectar al vostre compte de correu electrònic existent per llegir el correu de forma còmoda i eficaç dins de l'aplicació.
calendar-label = Calendari
    .aria-label = Creeu un calendari nou
calendar-description = El { -brand-short-name } us permet gestionar cites i organitzar la vostra agenda. Connecteu-vos a un calendari remot per mantenir totes les vostres cites sincronitzades entre tots els vostres dispositius.
chat-label = Xat
    .aria-label = Connecteu el vostre compte de xat
chat-description = El { -brand-short-name } us permet connectar a diferents comptes de missatgeria instantània, i admet diverses plataformes.
filelink-label = Filelink
    .aria-label = Configureu el Filelink
filelink-description = El { -brand-short-name } us permet configurar un compte de núvol de Filelink per enviar fàcilment fitxers adjunts grossos.
addressbook-label = Llibreta d'adreces
    .aria-label = Creeu una llibreta d'adreces nova
addressbook-description = El { -brand-short-name } us permet organitzar tots els vostres contactes en una llibreta d'adreces. També podeu connectar-vos a una llibreta d'adreces remota per mantenir sincronitzats tots els contactes.
feeds-label = Canals
    .aria-label = Connecteu-vos a canals
feeds-description = El { -brand-short-name } us permet connectar a canals RSS / Atom per rebre notícies i actualitzacions de tot el món.
newsgroups-label = Grups de discussió
    .aria-label = Connecteu-vos a grups de discussió
newsgroups-description = El { -brand-short-name } us permet connectar a tots els grups de discussió que vulgueu.
import-title = Importeu d'un altre programa
import-paragraph = El { -brand-short-name } us permet importar missatges de correu, entrades de llibreta d'adreces, preferències i/o filtres d'altres programes de correu i formats habituals de llibretes d'adreces.
import-label = Importa
    .aria-label = Importeu dades d'altres programes
about-paragraph = El Thunderbird és el gestor de correu i calendari líder de codi obert, multiplataforma i gratuït per a ús comercial i personal. Volem garantir-ne la seguretat i millorar-lo. Una donació ens permetrà contractar desenvolupadors, pagar la infraestructura i seguir millorant.
about-paragraph-2 = <b>El Thunderbird se subvenciona mitjançant els donatius dels usuaris. Si us agrada el Thunderbird, considereu fer un donatiu.</b> La millor forma de garantir la continuïtat del Thunderbird és
about-donation = fent un donatiu
about-paragraph-consider-donation = <b>El Thunderbird se subvenciona mitjançant els donatius dels usuaris. Si us agrada el Thunderbird, considereu fer un donatiu.</b> La millor forma de garantir la continuïtat del Thunderbird és <a data-l10n-name="donation-link">fent un donatiu</a>.
explore-link = Exploreu les funcions
support-link = Assistència
involved-link = Col·laboreu-hi
developer-link = Documentació per a desenvolupadors
read = Llegeix els missatges
compose = Redacta un missatge nou
search = Cerca missatges
filter = Crea filtres de missatge
nntp-subscription = Gestiona les subscripcions als grups de discussió
rss-subscription = Gestiona les subscripcions als canals
e2e = Xifratge d'extrem a extrem
