/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%filter substitution
%define findUiDefaultBorderColor rgba(0,0,0,.35)

%include ../../shared/findBar.inc.css

findbar {
  background-image: linear-gradient(#e8e8e8, #d0d0d0);
  border-top-color: #888;
}

.findbar-container {
  padding-inline-start: 2px;
}

label.findbar-find-fast {
  color: #6d6d6d;
  margin: 0;
  margin-inline-start: 12px;
}

label.findbar-find-fast:-moz-lwtheme {
  color: inherit;
}

.findbar-closebutton {
  border: none;
  /* make sure the closebutton is displayed as the first element in the bar: */
  -moz-box-ordinal-group: 0;
}

.findbar-find-next:not(:-moz-lwtheme),
.findbar-find-previous:not(:-moz-lwtheme),
.findbar-button {
  border-style: solid;
  border-color: @findUiDefaultBorderColor@;
  color: black;
  background-image: linear-gradient(#f6f6f6, #e9e9e9);
}

.findbar-button {
  appearance: none;
  border-width: 1px;
  margin-inline-end: 5px;
  padding: 2px 9px;
  border-radius: 10000px;
}

.findbar-find-next:-moz-lwtheme,
.findbar-find-previous:-moz-lwtheme {
  border-color: var(--lwt-toolbar-field-border-color, @findUiDefaultBorderColor@);
}

.findbar-find-next:not(:-moz-lwtheme, [disabled]):hover:active,
.findbar-find-previous:not(:-moz-lwtheme, [disabled]):hover:active,
.findbar-button:not([disabled]):hover:active,
.findbar-button:not([disabled])[checked="true"] {
  background-image: linear-gradient(#dadada, #dadada);
  box-shadow: 0 1px rgba(255,255,255,.4), inset 0 1px 3px rgba(0,0,0,.2);
}

html|input.findbar-textbox {
  border: 1px solid var(--lwt-toolbar-field-border-color, @findUiDefaultBorderColor@);
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.8;
  background-image: url("chrome://global/skin/icons/search-textbox.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  margin: 0;
  padding-inline-start: 19px;
}

html|input.findbar-textbox:focus {
  box-shadow: 0 0 0 1px var(--toolbar-field-focus-border-color) inset,
              0 0 0 1px var(--toolbar-field-focus-border-color);
}

html|input.findbar-textbox:-moz-locale-dir(rtl) {
  background-position-x: right 5px;
}
