# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Sveiki, čia „{ -brand-full-name }“
account-settings = Paskyros nuostatos
#   $accounts (Number) - the number of configured accounts
setup-title = Pasirinkite ką norite nustatyti
about-title = Apie „{ -brand-full-name }“
resources-title = Ištekliai
release-notes =
    .title = Apie „{ -brand-full-name }“
email-label = El. paštas
    .aria-label = Naudoti turimą el. pašto adresą
email-description = „{ -brand-short-name }“ naudoja jūsų turimą el. pašto paskyrą ir leidžia patogiai bei efektyviai skaityti el. laiškus šioje programoje.
calendar-label = Kalendorius
    .aria-label = Kurti naują kalendorių
calendar-description = „{ -brand-short-name }“ pagelbės tvarkant įvykius ir būsite labiau organizuoti. Prisijungus prie nuotolinio kalendoriaus, visi įvykiai bus sinchronizuoti visuose jūsų įrenginiuose.
chat-label = Pokalbiai
    .aria-label = Naudoti turimą pokalbių paskyrą
chat-description = „{ -brand-short-name }“ suteikia galimybę prisijungti prie kelių momentinių pranešimų paskyrų ir palaiko įvairias jų platformas.
filelink-label = Failų talpykla
    .aria-label = Pridėti failų talpyklą
filelink-description = „{ -brand-short-name }“ leis naudoti šią failų talpyklos paskyrą siunčiant didelius pranešimų priedus.
addressbook-label = Adresų knyga
    .aria-label = Kurti naują adresų knygą
addressbook-description = „{ -brand-short-name }“ pagelbės sutvarkant jūsų turimus kontaktus adresų knygoje. Taip pat galite naudoti nutolusią adresų knygą ir visi jūsų kontaktai bus sinchronizuoti.
feeds-label = Sklaidos kanalai
    .aria-label = Prijungti sklaidos kanalą
feeds-description = „{ -brand-short-name }“ padės skaityti RSS / „Atom“ naujienų ir informacijos santraukas.
newsgroups-label = Naujienų grupės
    .aria-label = Prijungti naujienų grupę
newsgroups-description = „{ -brand-short-name }“ padės prisijungti prie norimų naujienų grupių.
import-title = Importuoti iš kitos programos
import-paragraph = „{ -brand-short-name }“ padės importuoti pašto pranešimus, adresų knygas, sklaidos kanalų prenumeratas, nuostatas ir (arba) filtrus iš kitų pašto programų ir įprastų adresų knygų formatų.
import-label = Importuoti
    .aria-label = Importuoti duomenis iš kitų programų
about-paragraph = „Thunderbird“ – tai pirmaujanti daugiaplatformė laisvoji elektroninio pašto ir kalendoriaus programa, nemokama tiek verslui, tiek asmeniniam naudojimui. Mes norime, kad ji ir toliau išliktų saugi ir taptų dar geresnė. Jūsų parama mums padės pasamdyti programuotojų, padengti infrastruktūros išlaikymo kaštus ir toliau tobulėti.
about-paragraph-2 = <b> „Thunderbird“ finansuoja tokie vartotojai kaip jūs! Jei jums patinka „Thunderbird“, apsvarstykite galimybę paaukoti. </b> Geriausi būdas užtikrinti, kad „Thunderbird“ liks prieinama, yra:
about-donation = paaukoti
about-paragraph-consider-donation = <b>„Thunderbird“ išsilaiko naudotojų – tokių kaip jūs – dėka! Jeigu „Thunderbird“ jums patinka, gal sutiktumėte šią programą paremti?</b> Geriausias būdas užtikrinti tolesnį „Thunderbird“ gyvavimą – <a data-l10n-name="donation-link"> paaukoti</a>.
explore-link = Savybės
support-link = Palaikymas
involved-link = Įsitraukite
developer-link = Dokumentacija kūrėjams
read = Skaityti laiškus
compose = Rašyti naują laišką
search = Laiškų paieška
filter = Laiškų filtrai
nntp-subscription = Naujienų grupių prenumerata
rss-subscription = Sklaidos kanalų prenumerata
e2e = Abipusis šifravimas
