# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Trygg tilkopling ikkje tilgjengeleg
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Du surfar i moduset «Bere HTTPS» (HTTPS-Only), og ein trygg HTTPS-versjon av <em>{ $websiteUrl }</em> er ikkje tilgjengeleg.
about-httpsonly-insecure-explanation-reasons = Mest sannsynleg støttar nettstaden ikkje HTTPS, men det kan òg vere at ein angripar blokkerer HTTPS-versjonen.
about-httpsonly-insecure-explanation-exception = Sjølv om tryggingsrisikoen er låg om du bestemmer deg for å besøke HTTP-versjonen av nettstaden, bør du ikkje oppgi sensitiv informasjon som passord, e-post eller kredittkortinformasjon.
about-httpsonly-button-make-exception = Godta risikoen og fortset til nettstaden
about-httpsonly-title-alert = Berre HTTPS-modus-åtvaring
about-httpsonly-title-connection-not-available = Trygg tilkopling er ikkje tilgjengeleg
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Du har slått på berre-HTTPS-modus for forbetra sikkerheit, og ein HTTPS-versjon av <em>{ $websiteUrl }</em> er ikkje tilgjengeleg.
about-httpsonly-explanation-question = Kva kan vere årsaka til dette?
about-httpsonly-explanation-nosupport = Mest sannsynleg støttar nettstaden ganske enkelt ikkje HTTPS.
about-httpsonly-explanation-risk = Det er også mogleg at ein angripar er involvert. Dersom du bestemmer deg for å besøke nettstaden, bør du ikkje oppgi sensitiv informasjon som passord, e-post eller betalingskortinformasjon.
about-httpsonly-explanation-continue = Dersom du fortset, vert berre-HTTPS-modus slått av mellombels for denne nettstaden.
about-httpsonly-button-continue-to-site = Fortset til HTTP-nettstaden
about-httpsonly-button-go-back = Gå tilbake
about-httpsonly-link-learn-more = Les meir…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Mogleg alternativ
about-httpsonly-suggestion-box-www-text = Det finst ein sikker versjon av <em>www.{ $websiteUrl }</em>. Du kan gå til denne nettsida i staden for <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Gå til www.{ $websiteUrl }
