# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Доступна новая версия { -brand-shorter-name }.
    .buttonlabel = Загрузить обновление
    .buttonaccesskey = а
    .secondarybuttonlabel = Не сейчас
    .secondarybuttonaccesskey = е
appmenu-update-available-message = Обновите свой { -brand-shorter-name } для повышения скорости и приватности.
appmenu-update-manual =
    .label = { -brand-shorter-name } не может обновиться до последней версии.
    .buttonlabel = Загрузить { -brand-shorter-name }
    .buttonaccesskey = а
    .secondarybuttonlabel = Не сейчас
    .secondarybuttonaccesskey = е
appmenu-update-manual-message = Загрузите новую версию { -brand-shorter-name } и мы поможем вам её установить.
appmenu-update-whats-new =
    .value = Посмотреть, что нового.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } не может обновиться до последней версии.
    .buttonlabel = Подробнее
    .buttonaccesskey = о
    .secondarybuttonlabel = Закрыть
    .secondarybuttonaccesskey = ы
appmenu-update-unsupported-message = Последняя версия { -brand-shorter-name } не поддерживается на вашей системе.
appmenu-update-restart =
    .label = Перезапустить { -brand-shorter-name } для обновления.
    .buttonlabel = Перезапустить и восстановить
    .buttonaccesskey = з
    .secondarybuttonlabel = Не сейчас
    .secondarybuttonaccesskey = е
appmenu-update-restart-message = После быстрого перезапуска, { -brand-shorter-name } восстановит все открытые вкладки и окна, которые не были открыты в режиме приватного просмотра.
appmenu-update-available2 =
    .label = Доступно обновление
    .buttonlabel = Загрузить
    .buttonaccesskey = и
    .secondarybuttonlabel = Отклонить
    .secondarybuttonaccesskey = л
appmenu-update-available-message2 = Загрузите последнюю версию { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Доступно обновление
    .buttonlabel = Загрузить
    .buttonaccesskey = и
    .secondarybuttonlabel = Отклонить
    .secondarybuttonaccesskey = л
appmenu-update-manual-message2 = { -brand-shorter-name } не удалось обновить автоматически. Загрузите новую версию — вы не потеряете сохранённую информацию или настройки.
appmenu-update-unsupported2 =
    .label = Не удалось произвести обновление
    .buttonlabel = Узнать больше
    .buttonaccesskey = з
    .secondarybuttonlabel = Отклонить
    .secondarybuttonaccesskey = л
appmenu-update-unsupported-message2 = Ваша операционная система несовместима с последней версией { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Доступно обновление
    .buttonlabel = Обновить и перезапустить
    .buttonaccesskey = н
    .secondarybuttonlabel = Отклонить
    .secondarybuttonaccesskey = л
appmenu-update-restart-message2 = Загрузите последнюю версию { -brand-shorter-name }. Открытые вкладки и окна будут восстановлены.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } не может автоматически обновиться до последней версии.
    .buttonlabel = Всё равно обновить { -brand-shorter-name }
    .buttonaccesskey = н
    .secondarybuttonlabel = Не сейчас
    .secondarybuttonaccesskey = е
appmenu-update-other-instance-message = Доступно новое обновление { -brand-shorter-name }, но его нельзя установить, так как запущена другая копия { -brand-shorter-name }. Закройте её, чтобы продолжить обновление, или выберите обновление в любом случае (другая копия может работать неправильно, пока вы её не перезапустите).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ок, понятно
    .buttonaccesskey = я
appmenu-addon-post-install-message = Управляйте своими дополнениями, щёлкнув по <image data-l10n-name='addon-install-icon'></image> в меню <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Хорошо
    .buttonaccesskey = ш
appmenu-addon-post-install-message2 = Управляйте своими расширениями и темами через меню приложений.
appmenu-addon-post-install-message3 = Управляйте своими дополнениями и темами через меню приложений.
appmenu-addon-post-install-incognito-checkbox =
    .label = Разрешить этому расширению работать в приватных окнах
    .accesskey = ш
appmenu-new-tab-controlled =
    .label = Ваша Новая вкладка была изменена.
    .buttonlabel = Сохранить изменение
    .buttonaccesskey = х
    .secondarybuttonlabel = Отключить расширение
    .secondarybuttonaccesskey = ю
appmenu-homepage-controlled =
    .label = Ваша домашняя страница была изменена.
    .buttonlabel = Сохранить изменения
    .buttonaccesskey = х
    .secondarybuttonlabel = Отключить расширение
    .secondarybuttonaccesskey = ю
appmenu-new-tab-controlled-changes =
    .label = Ваша страница «Новая вкладка» была изменена.
    .buttonlabel = Сохранить изменения
    .buttonaccesskey = х
    .secondarybuttonlabel = Настроить страницу «Новая вкладка»
    .secondarybuttonaccesskey = о
appmenu-homepage-controlled-changes =
    .label = Ваша домашняя страница была изменена.
    .buttonlabel = Сохранить изменения
    .buttonaccesskey = х
    .secondarybuttonlabel = Изменить домашнюю страницу
    .secondarybuttonaccesskey = м
appmenu-tab-hide-controlled =
    .label = Доступ к вашим скрытым вкладкам
    .buttonlabel = Продолжать скрывать вкладки
    .buttonaccesskey = ж
    .secondarybuttonlabel = Отключить расширение
    .secondarybuttonaccesskey = ю
