# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Важная новость
heading = Изменения, касающиеся вашего профиля { -brand-short-name }
changed-title = Что изменилось?
changed-desc-profiles = Эта установка { -brand-short-name } имеет новый профиль. Профиль — это набор файлов, в которых Firefox сохраняет такую информацию, как закладки, пароли и пользовательские настройки.
changed-desc-dedicated = Чтобы было проще и безопаснее переключаться между установками Firefox (включая Firefox, Firefox ESR, Firefox Бета, Firefox Developer Edition и Firefox Nightly), эта установка теперь будет иметь отдельный профиль. Он не будет автоматически делиться данными с другими установками Firefox.
lost = <b>Вы не потеряли никаких личных данных или настроек.</b> Если вы уже сохранили информацию в Firefox на этом компьютере, она всё ещё доступна из другой установки Firefox.
options-title = Какие у меня варианты?
options-do-nothing = Если вы ничего не сделаете, данные вашего профиля в { -brand-short-name } будут отличаться от данных профиля в других установках Firefox.
options-use-sync = Если вы хотите, чтобы все данные вашего профиля были одинаковыми во всех установках Firefox, вы можете использовать { -fxaccount-brand-name } для их синхронизации.
resources = Ресурсы:
support-link = Использование менеджера профилей - Статья поддержки
sync-header = Войдите или создайте { -fxaccount-brand-name }
sync-label = Введите ваш адрес электронной почты
sync-input =
    .placeholder = Электронная почта
sync-button = Продолжить
sync-terms = Продолжая, вы соглашаетесь с <a data-l10n-name="terms">условиями предоставления услуг</a> и <a data-l10n-name="privacy">уведомлением о конфиденциальности</a>.
sync-first = Используете { -sync-brand-name(case: "accusative") } в первый раз? Вам нужно будет войти в неё из каждой установки Firefox, чтобы синхронизировать свою информацию.
new-install-sync-first = Используете синхронизацию в первый раз? Вам нужно будет войти в неё из каждой установки Firefox, чтобы синхронизировать свою информацию.
sync-learn = Подробнее
