# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Otvoriť súkromné okno
    .accesskey = S
about-private-browsing-search-placeholder = Hľadať
about-private-browsing-info-title = Ste v súkromnom okne
about-private-browsing-info-myths = Časté omyly o súkromnom prehliadaní
about-private-browsing =
    .title = Hľadať
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Vyhľadávajte cez { $engine } alebo zadajte webovú adresu
about-private-browsing-handoff-no-engine =
    .title = Zadajte adresu alebo výraz vyhľadávania
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Vyhľadávajte cez { $engine } alebo zadajte webovú adresu
about-private-browsing-handoff-text-no-engine = Zadajte adresu alebo výraz vyhľadávania
about-private-browsing-not-private = Práve nie ste v súkromnom prehliadaní
about-private-browsing-info-description = { -brand-short-name } vymaže históriu vyhľadávania a navštívených stránok po zavretí aplikácie alebo všetkých súkromných kariet a okien. S touto funkciou nie ste na internete neviditeľní a napríklad váš poskytovateľ pripojenia na internet môže stále zistiť, aké stránky navštevujete. Vaša aktivita na internete ale zostane utajená pred ďalšími používateľmi na tomto počítači.
about-private-browsing-need-more-privacy = Potrebujete viac súkromia?
about-private-browsing-turn-on-vpn = Vyskúšajte { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = V súkromnom prehliadaní je vašim predvoleným vyhľadávacím modulom { $engineName }
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Ak chcete vybrať iný vyhľadávací modul, prejdite do <a data-l10n-name="link-options">Možností</a>
       *[other] Ak chcete vybrať iný vyhľadávací modul, prejdite do <a data-l10n-name="link-options">Možností</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zavrieť
