# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = K dispozícii je nová aktualizácia prehliadača { -brand-shorter-name }.
    .buttonlabel = Prevziať aktualizáciu
    .buttonaccesskey = P
    .secondarybuttonlabel = Teraz nie
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Aktualizujte si svoj { -brand-shorter-name } a získajte najnovšie vylepšenia rýchlosti a súkromia.
appmenu-update-manual =
    .label = Aplikácii { -brand-shorter-name } sa nepodarilo nainštalovať najnovšiu verziu.
    .buttonlabel = Prevziať { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Teraz nie
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Prevezmite si novú verziu aplikácie { -brand-shorter-name } a my vám pomôžeme ju nainštalovať.
appmenu-update-whats-new =
    .value = Pozrite sa, čo je nové.
appmenu-update-unsupported =
    .label = Aplikácia { -brand-shorter-name } nemôže nainštalovať najnovšiu verziu.
    .buttonlabel = Ďalšie informácie
    .buttonaccesskey = i
    .secondarybuttonlabel = Zavrieť
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = Najnovšia verzia aplikácie { -brand-shorter-name } nie je vo vašom systéme podporovaná.
appmenu-update-restart =
    .label = Reštartovať a aktualizovať aplikáciu { -brand-shorter-name }.
    .buttonlabel = Reštartovať a obnoviť
    .buttonaccesskey = R
    .secondarybuttonlabel = Teraz nie
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Po rýchlom reštarte obnoví { -brand-shorter-name } všetky vaše otvorené karty okná, ktoré nie sú otvorené v súkromnom prehliadaní.
appmenu-update-available2 =
    .label = Dostupná aktualizácia
    .buttonlabel = Prevziať
    .buttonaccesskey = P
    .secondarybuttonlabel = Odmietnuť
    .secondarybuttonaccesskey = O
appmenu-update-available-message2 = Prevziať najnovšiu verziu prehliadača { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Dostupná aktualizácia
    .buttonlabel = Prevziať
    .buttonaccesskey = P
    .secondarybuttonlabel = Odmietnuť
    .secondarybuttonaccesskey = O
appmenu-update-manual-message2 = { -brand-shorter-name } nebolo možné aktualizovať automaticky. Novú verziu si môžete prevziať manuálne, neprídete pritom o uložené informácie ani prispôsobenia.
appmenu-update-unsupported2 =
    .label = Aktualizácia zlyhala
    .buttonlabel = Ďalšie informácie
    .buttonaccesskey = a
    .secondarybuttonlabel = Odmietnuť
    .secondarybuttonaccesskey = O
appmenu-update-unsupported-message2 = Váš operačný systém nie je kompatibilný s najnovšou verziou prehliadača { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Dostupná aktualizácia
    .buttonlabel = Aktualizovať a reštartovať
    .buttonaccesskey = A
    .secondarybuttonlabel = Odmietnuť
    .secondarybuttonaccesskey = O
appmenu-update-restart-message2 = Získajte najnovšiu verziu prehliadača { -brand-shorter-name }. Otvorené karty a okná budú po inštalácii obnovené.
appmenu-update-other-instance =
    .label = Aplikácia { -brand-shorter-name } nemôže automaticky nainštalovať najnovšiu verziu.
    .buttonlabel = Napriek tomu { -brand-shorter-name } aktualizovať
    .buttonaccesskey = a
    .secondarybuttonlabel = Teraz nie
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = K dispozícii je nová aktualizácia aplikácie { -brand-shorter-name }, ale nemôže byť nainštalovaná, pretože je spustená ďalšia kópia aplikácie { -brand-shorter-name }. Pre spustenie aktualizácie túto kópiu ukončite alebo spustenie aktualizácie vynúťte (spustená aplikácia môže prestať správne fungovať, dokým ju nereštartujete).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, rozumiem
    .buttonaccesskey = O
appmenu-addon-post-install-message = Spravujte svoje doplnky kliknutím na <image data-l10n-name='addon-install-icon'></image> v ponuke <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Spravujte svoje rozšírenia a témy prostredníctvom ponuky aplikácie.
appmenu-addon-post-install-message3 = Spravujte svoje doplnky a témy prostredníctvom ponuky aplikácie.
appmenu-addon-post-install-incognito-checkbox =
    .label = Povoliť toto rozšírenie v súkromných oknách
    .accesskey = P
appmenu-new-tab-controlled =
    .label = Vaša stránka novej karty bola zmenená.
    .buttonlabel = Zachovať zmeny
    .buttonaccesskey = Z
    .secondarybuttonlabel = Zakázať rozšírenie
    .secondarybuttonaccesskey = Z
appmenu-homepage-controlled =
    .label = Vaša domovská stránka bola zmenená.
    .buttonlabel = Zachovať zmeny
    .buttonaccesskey = Z
    .secondarybuttonlabel = Zakázať rozšírenie
    .secondarybuttonaccesskey = Z
appmenu-new-tab-controlled-changes =
    .label = Vaša stránka novej karty bola zmenená.
    .buttonlabel = Ponechať zmeny
    .buttonaccesskey = P
    .secondarybuttonlabel = Spravovať stránku novej karty
    .secondarybuttonaccesskey = S
appmenu-homepage-controlled-changes =
    .label = Vaša domovská stránka bola zmenená.
    .buttonlabel = Ponechať zmeny
    .buttonaccesskey = P
    .secondarybuttonlabel = Spravovať domovskú stránku
    .secondarybuttonaccesskey = S
appmenu-tab-hide-controlled =
    .label = Prístup k vašim skrytým kartám
    .buttonlabel = Ponechať karty skryté
    .buttonaccesskey = k
    .secondarybuttonlabel = Zakázať rozšírenie
    .secondarybuttonaccesskey = Z
