# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Dôležité novinky
heading = Zmeny v používaní profilov aplikácie { -brand-short-name }
changed-title = Čo sa zmenilo?
changed-desc-profiles = Táto inštalácia aplikácie { -brand-short-name } má nový profil. Profil je miesto, kam Firefox ukladá informácie, ako sú záložky, heslá a vaše nastavenia.
changed-desc-dedicated = Aby ste mohli jednoduchšie a bezpečnejšie používať viacero inštalácií Firefoxu naraz (vrátane Firefoxu, Firefoxu ESR, Firefoxu Beta, Firefoxu Developer Edition a Firefoxu Nightly), táto inštalácia má odteraz vlastný profil. Tento profil odteraz automaticky nezdieľa uložené údaje s ostatnými inštaláciami.
lost = <b>Neprišli ste o žiadne osobné údaje alebo prispôsobenia.</ b> Ak ste už v tomto počítači uložili informácie do Firefoxu, sú stále dostupné v inej inštalácii Firefoxu.
options-title = Aké sú moje možnosti?
options-do-nothing = Ak nič neurobíte, vaša aplikácia { -brand-short-name } bude používať odlišný profil ako ostatné inštalácie Firefoxu.
options-use-sync = Ak chcete mať rovnaké údaje vo všetkých inštaláciách Firefoxu, môžete použiť na ich synchronizáciu { -fxaccount-brand-name }.
resources = Zdroje:
support-link = Používanie Správcu profilov - článok podpory
sync-header = Prihláste sa alebo si vytvorte { -fxaccount-brand-name }
sync-label = Zadajte e-mailovú adresu
sync-input =
    .placeholder = E-mailová adresa
sync-button = Pokračovať
sync-terms = Pokračovaním vyjadrujete súhlas s <a data-l10n-name="terms">podmienkami používania služby</a> a so <a data-l10n-name="privacy">zásadami ochrany súkromia</a>.
sync-first = Používate { -sync-brand-name } po prvý raz? Pre synchronizáciu svojich údajov sa budete musieť prihlásiť do každej inštalácie Firefoxu.
new-install-sync-first = Používate synchronizáciu prvýkrát? Ak chcete synchronizovať svoje informácie, musíte sa prihlásiť v každej inštalácii prehliadača Firefox.
sync-learn = Ďalšie informácie
