# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Import Logins Autocomplete

# Variables:
#   $browser (String) - Browser name to import logins from.
#   $host (String) - Host name of the current site.
autocomplete-import-logins =
    <div data-l10n-name="line1">Внесете данни за вход от { $browser }</div>
    <div data-l10n-name="line2">в { $host } и други страници</div>
autocomplete-import-logins-info =
    .tooltiptext = Научете повече

## Variables:
##   $host (String) - Host name of the current site.


##

autocomplete-import-learn-more = Научете повече
