# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Połącz inne urządzenie
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Jeśli jeszcze go nie masz, zainstaluj <a data-l10n-name="connect-another-device">Firefoksa na telefonie</a>.
fxa-qrcode-heading-phase2 = 2. Następnie zaloguj się do { -sync-brand-short-name(case: "gen", capitalization: "lower") } lub na Androidzie zeskanuj kod wiązania w ustawieniach { -sync-brand-short-name(case: "gen", capitalization: "lower") }.
fxa-qrcode-heading-step1 = 1. Jeśli jeszcze go nie masz, zainstaluj <a data-l10n-name="connect-another-device">Firefoksa na telefonie</a>.
fxa-qrcode-heading-step2 = 2. Otwórz Firefoksa na telefonie.
fxa-qrcode-heading-step3 = 3. Otwórz <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> lub <img data-l10n-name="android-menu-icon"/>), stuknij <img data-l10n-name="settings-icon"/> <b>Ustawienia</b> i wybierz <b>Włącz synchronizację</b>.
fxa-qrcode-heading-step4 = 4. Zeskanuj ten kod:
fxa-qrcode-error-title = Powiązanie się nie powiodło.
fxa-qrcode-error-body = Spróbuj ponownie.
