# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Agor Ffenestr Breifat
    .accesskey = F
about-private-browsing-search-placeholder = Chwilio'r We
about-private-browsing-info-title = Rydych mewn Ffenestr Breifat
about-private-browsing-info-myths = Mythau cyffredin am bori preifat
about-private-browsing =
    .title = Chwilio'r We
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Chwilio gyda { $engine } neu roi cyfeiriad
about-private-browsing-handoff-no-engine =
    .title = Chwilio neu roi cyfeiriad
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Chwilio gyda { $engine } neu roi cyfeiriad
about-private-browsing-handoff-text-no-engine = Chwilio neu roi cyfeiriad
about-private-browsing-not-private = Nid ydych mewn ffenestr breifat ar hyn o bryd.
about-private-browsing-info-description = Mae { -brand-short-name } yn clirio eich hanes chwilio a phori pan fyddwch yn cau'r ap neu'n cau pob tab a ffenestr Pori Preifat. Er nad yw hyn yn eich gwneud yn ddienw i wefannau neu i'ch darparwr gwasanaeth rhyngrwyd, mae'n ei gwneud yn haws i chi gadw'r hyn rydych chi'n ei wneud ar-lein yn breifat rhag unrhyw un arall sy'n defnyddio'r cyfrifiadur hwn.
about-private-browsing-need-more-privacy = Angen mwy o breifatrwydd?
about-private-browsing-turn-on-vpn = Rhowch gynnig ar { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } yw eich peiriant chwilio rhagosodedig mewn Ffenestri Preifat
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] I ddewis peiriant chwilio gwahanol ewch i <a data-l10n-name="link-options">Opsiynau</a>
       *[other] I ddewis peiriant chwilio gwahanol ewch i <a data-l10n-name="link-options">Dewisiadau</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Cau
