# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Mae diweddariad newydd o { -brand-shorter-name } ar gael.
    .buttonlabel = Llwytho'r Diweddariad i Lawr
    .buttonaccesskey = L
    .secondarybuttonlabel = Nid Nawr
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Diweddarwch { -brand-shorter-name } ar gyfer y diweddaraf mewn cyflymder a phreifatrwydd.
appmenu-update-manual =
    .label = Nid yw { -brand-shorter-name } yn gallu diweddaru i'r fersiwn diweddaraf.
    .buttonlabel = Llwytho { -brand-shorter-name } i lawr.
    .buttonaccesskey = L
    .secondarybuttonlabel = Nid Nawr
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Llwythwch gopi newydd o { -brand-shorter-name } i lawr ac mi wnawn ni eich helpu i'w gosod.
appmenu-update-whats-new =
    .value = Gweld beth sy'n newydd.
appmenu-update-unsupported =
    .label = Nid yw { -brand-shorter-name } yn gallu diweddaru i'r fersiwn diweddaraf.
    .buttonlabel = Dysgu rhagor
    .buttonaccesskey = D
    .secondarybuttonlabel = Cau
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = Nid yw'r fersiwn diweddaraf o { -brand-shorter-name } yn cael ei gefnogi ar eich system.
appmenu-update-restart =
    .label = Ailgychwyn i ddiweddaru { -brand-shorter-name }
    .buttonlabel = Ail gychwyn ac Adfer
    .buttonaccesskey = A
    .secondarybuttonlabel = Nid Nawr
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Ar ôl ailgychwyn cyflym, bydd { -brand-shorter-name } yn adfer eich tabiau a ffenestri agored sydd ddim yn y modd Pori Preifat.
appmenu-update-available2 =
    .label = Diweddariad ar gael
    .buttonlabel = Llwytho i lawr
    .buttonaccesskey = L
    .secondarybuttonlabel = Cau
    .secondarybuttonaccesskey = C
appmenu-update-available-message2 = Llwythwch y fersiwn ddiweddaraf o { -brand-shorter-name } i lawr.
appmenu-update-manual2 =
    .label = Diweddariad ar gael
    .buttonlabel = Llwytho i lawr
    .buttonaccesskey = L
    .secondarybuttonlabel = Cau
    .secondarybuttonaccesskey = C
appmenu-update-manual-message2 = Methodd { -brand-shorter-name } a ddiweddaru'n awtomatig. Llwythwch y fersiwn newydd i lawr — fyddwch chi ddim yn colli eich gwybodaeth na'ch cyfaddasiadau.
appmenu-update-unsupported2 =
    .label = Methu diweddaru
    .buttonlabel = Dysgu rhagor
    .buttonaccesskey = D
    .secondarybuttonlabel = Cau
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message2 = Nid yw'ch system weithredu yn gydnaws â'r fersiwn ddiweddaraf o { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Mae diweddariad ar gael
    .buttonlabel = Diweddarwch ac ailgychwyn
    .buttonaccesskey = D
    .secondarybuttonlabel = Cau
    .secondarybuttonaccesskey = C
appmenu-update-restart-message2 = Cael y fersiwn ddiweddaraf o { -brand-shorter-name }. Bydd tabiau a ffenestri sydd ar agor yn cael eu hadfer.
appmenu-update-other-instance =
    .label = Nid yw { -brand-shorter-name } yn gallu diweddaru i'r fersiwn diweddaraf.
    .buttonlabel = Diweddaru { -brand-shorter-name } beth bynnag
    .buttonaccesskey = D
    .secondarybuttonlabel = Nid Nawr
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Mae diweddariad newydd { -brand-shorter-name } ar gael, ond nid oes modd ei osod oherwydd bod copi arall o { -brand-shorter-name } yn rhedeg. Caewch ef i barhau â'r diweddariad, neu dewiswch ei ddiweddaru beth bynnag (efallai na fydd y copi arall yn gweithio'n iawn nes i chi ei ailgychwyn).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Iawn, rwy'n deall
    .buttonaccesskey = I
appmenu-addon-post-install-message = Rheolwch eich ychwanegion drwy glicio <image data-l10n-name='addon-install-icon'></image> yn newislen <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Iawn
    .buttonaccesskey = I
appmenu-addon-post-install-message2 = Rheolwch eich estyniadau a'ch themâu trwy'r ddewislen apiau.
appmenu-addon-post-install-message3 = Rheolwch eich estyniadau a'ch themâu trwy'r ddewislen apiau.
appmenu-addon-post-install-incognito-checkbox =
    .label = Caniatáu i'r estyniad yma redeg mewn Ffenestri Preifat
    .accesskey = C
appmenu-new-tab-controlled =
    .label = Mae eich Tab Newydd wedi newid.
    .buttonlabel = Cadw Newidiadau
    .buttonaccesskey = N
    .secondarybuttonlabel = Analluogi Estyniad
    .secondarybuttonaccesskey = A
appmenu-homepage-controlled =
    .label = Mae eich tudalen cartref wedi newid.
    .buttonlabel = Cadw'r Newidiadau
    .buttonaccesskey = C
    .secondarybuttonlabel = Analluogi'r Estyniad
    .secondarybuttonaccesskey = A
appmenu-new-tab-controlled-changes =
    .label = Mae eich tab newydd wedi newid.
    .buttonlabel = Cadw'r Newidiadau
    .buttonaccesskey = N
    .secondarybuttonlabel = Rheoli Tabiau Newydd
    .secondarybuttonaccesskey = R
appmenu-homepage-controlled-changes =
    .label = Mae eich tudalen cartref wedi newid.
    .buttonlabel = Cadw'r Newidiadau
    .buttonaccesskey = N
    .secondarybuttonlabel = Rheoli'r Dudalen Cartref
    .secondarybuttonaccesskey = T
appmenu-tab-hide-controlled =
    .label = Mynd i’ch Tabiau Cudd
    .buttonlabel = Cadw Tabiau’n Gudd
    .buttonaccesskey = C
    .secondarybuttonlabel = Analluogi’r Estyniad
    .secondarybuttonaccesskey = A
