# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Storage Inspector.

# Hint shown when the selected storage host does not contain any data
storage-table-empty-text = Pre aktuálnu stránku nie sú dostupné žiadne údaje
# Hint shown when the cookies storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Cookies
storage-table-type-cookies-hint = Súbory cookie môžete zobraziť a upraviť zvolením servera. <a data-l10n-name="learn-more-link">Ďalšie informácie</a>
# Hint shown when the local storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Local_Storage_Session_Storage
storage-table-type-localstorage-hint = Miestne úložisko môžete zobraziť a upraviť zvolením servera. <a data-l10n-name="learn-more-link"> Ďalšie informácie </a>
# Hint shown when the session storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Local_Storage_Session_Storage
storage-table-type-sessionstorage-hint = Úložisko relácie môžete zobraziť a upraviť zvolením servera. <a data-l10n-name="learn-more-link">Ďalšie informácie</a>
# Hint shown when the IndexedDB storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/IndexedDB
storage-table-type-indexeddb-hint = Položky IndexedDB môžete zobraziť a odstrániť zvolením databázy. <a data-l10n-name="learn-more-link">Ďalšie informácie</a>
# Hint shown when the cache storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Cache_Storage
storage-table-type-cache-hint = Položky ukladacieho priestoru vyrovnávacej pamäte môžete zobraziť a odstrániť zvolením úložiska. <a data-l10n-name="learn-more-link">Ďalšie informácie</a>
# Hint shown when the extension storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Extension_Storage
storage-table-type-extensionstorage-hint = Úložisko rozšírení môžete zobraziť a upraviť výberom servera. <a data-l10n-name="learn-more-link">Ďalšie informácie</a>
