# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = { -brand-shorter-name } жаңартуы бар.
    .buttonlabel = Жаңартуды жүктеп алу
    .buttonaccesskey = д
    .secondarybuttonlabel = Қазір емес
    .secondarybuttonaccesskey = м
appmenu-update-available-message = Жылдамдық және жекелігіңіз үшін { -brand-shorter-name } жаңартыңыз
appmenu-update-manual =
    .label = { -brand-shorter-name } соңғы нұсқаға дейін жаңартыла алмайды.
    .buttonlabel = { -brand-shorter-name } жүктеп алу
    .buttonaccesskey = к
    .secondarybuttonlabel = Қазір емес
    .secondarybuttonaccesskey = м
appmenu-update-manual-message = { -brand-shorter-name } жаңа нұсқасын жүктеп алыңыз, оны орнатуға көмектесеміз.
appmenu-update-whats-new =
    .value = Жаңалықтарын біліңіз.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } соңғы нұсқаға дейін жаңартыла алмайды.
    .buttonlabel = Көбірек білу
    .buttonaccesskey = л
    .secondarybuttonlabel = Жабу
    .secondarybuttonaccesskey = ж
appmenu-update-unsupported-message = { -brand-shorter-name } соңғы нұсқасына сіздің жүйеде қолдау жоқ.
appmenu-update-restart =
    .label = { -brand-shorter-name } жаңарту үшін қайта іске қосу.
    .buttonlabel = Қайта іске қосу және қалпына келтіру
    .buttonaccesskey = т
    .secondarybuttonlabel = Қазір емес
    .secondarybuttonaccesskey = м
appmenu-update-restart-message = Жылдам қайта іске қосылудан кейін, { -brand-shorter-name } Жекелік шолу режиміндегі емес сіздің барлық ашық беттер мен терезелеріңізді қалпына келтіреді.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } соңғы нұсқаға дейін автоматты түрде жаңартыла алмайды.
    .buttonlabel = Сонда да { -brand-shorter-name } жаңарту
    .buttonaccesskey = у
    .secondarybuttonlabel = Қазір емес
    .secondarybuttonaccesskey = м
appmenu-update-other-instance-message = Жаңа { -brand-shorter-name } жаңартуы бар, бірақ оны орнату мүмкін емес, себебі { -brand-shorter-name } басқа көшірмесі жұмыс істеп тұр. Жаңартуды жалғастыру үшін оны жабыңыз немесе сонда да жаңартуды таңдаңыз (басқа көшірме оны қайта іске қосқанға дейін дұрыс жұмыс істемеуі мүмкін).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Жақсы, түсіндім
    .buttonaccesskey = а
appmenu-addon-post-install-message = Қосымшаларыңызды <image data-l10n-name='addon-menu-icon'></image> мәзірінен <image data-l10n-name='addon-install-icon'></image> шерту арқылы басқарыңыз.
appmenu-addon-post-install-incognito-checkbox =
    .label = Бұл кеңейтуге жекелік шолу терезелерінде орындалуға рұқсат ету
    .accesskey = а
appmenu-new-tab-controlled =
    .label = Сіздің жаңа бетіңіз өзгертілген.
    .buttonlabel = Өзгерістерді сақтау
    .buttonaccesskey = с
    .secondarybuttonlabel = Кеңейтуді сөндіру
    .secondarybuttonaccesskey = д
appmenu-homepage-controlled =
    .label = Сіздің үй бетіңіз өзгертілген.
    .buttonlabel = Өзгерістерді сақтау
    .buttonaccesskey = с
    .secondarybuttonlabel = Кеңейтуді сөндіру
    .secondarybuttonaccesskey = д
appmenu-new-tab-controlled-changes =
    .label = Сіздің жаңа бетіңіз өзгертілген.
    .buttonlabel = Өзгерістерді сақтау
    .buttonaccesskey = т
    .secondarybuttonlabel = Жаңа беттерді басқару
    .secondarybuttonaccesskey = б
appmenu-homepage-controlled-changes =
    .label = Сіздің үй бетіңіз өзгертілген.
    .buttonlabel = Өзгерістерді сақтау
    .buttonaccesskey = т
    .secondarybuttonlabel = Үй парағын басқару
    .secondarybuttonaccesskey = б
appmenu-tab-hide-controlled =
    .label = Жасырын беттеріңізге қатынау
    .buttonlabel = Беттерді жасырын етіп ұстау
    .buttonaccesskey = с
    .secondarybuttonlabel = Кеңейтуді сөндіру
    .secondarybuttonaccesskey = д
