# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Quant a les eines per a desenvolupadors
enable-title = Activa les eines per a desenvolupadors del Firefox
enable-inspect-element-title = Activeu les eines per a desenvolupadors del Firefox per utilitzar «Inspecciona l'element»
enable-inspect-element-message = Examineu i editeu HTML i CSS amb l'Inspector de les eines per a desenvolupadors.
enable-about-debugging-message = Desenvolupeu i depureu WebExtensions, processos de treball web, processos de treball de servei i més amb les eines per a desenvolupadors del Firefox.
enable-key-shortcut-message = Heu activat una drecera a les Eines per a desenvolupadors. Si és un error, podeu tancar aquesta pestanya.
enable-menu-message = Perfeccioneu l'HTML, el CSS i el JavaScript del vostre lloc web amb eines com l'Inspector o el Depurador.
enable-common-message = Les eines per a desenvolupadors del Firefox estan desactivades per defecte per donar-vos més control sobre el navegador.
enable-learn-more-link = Més informació sobre les eines per a desenvolupadors
enable-enable-button = Activa les eines per a desenvolupadors
enable-close-button = Tanca aquesta pestanya
welcome-title = Us donem la benvinguda a les eines per a desenvolupadors del Firefox!
newsletter-title = Butlletí de desenvolupadors de Mozilla
newsletter-email-placeholder =
    .placeholder = Adreça electrònica
newsletter-privacy-label = Accepto que Mozilla gestioni la meva informació en els termes descrits en la <a data-l10n-name="privacy-policy">política de privadesa</a>.
newsletter-subscribe-button = Subscriu-m'hi
newsletter-thanks-title = Gràcies!
newsletter-thanks-message = Si anteriorment no heu confirmat la subscripció a algun butlletí de notícies relacionat amb Mozilla, és possible que ho hàgiu de fer. Comproveu la safata d'entrada o el filtre de correu brossa per veure si hi ha algun missatge de Mozilla.
footer-title = Firefox Developer Edition
footer-learn-more-link = Més informació
features-learn-more = Més informació
features-inspector-title = Inspector
features-console-title = Consola
features-debugger-title = Depurador
features-network-title = Xarxa
features-network-desc = Superviseu les sol·licituds de xarxa que poden alentir o blocar el vostre lloc. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Emmagatzematge
features-storage-desc = Afegiu, modifiqueu i elimineu la memòria cau, les galetes, bases de dades i les dades de sessió. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Mode de disseny responsiu
features-visual-editing-title = Edició visual
features-visual-editing-desc = Ajusteu les animacions, l'alineació i el farciment. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Rendiment
features-performance-desc = Desbloqueu els colls d'ampolla, optimitzeu els processos i els recursos. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memòria
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Ha fallat la sol·licitud de subscripció ({ $errorDescription }).
newsletter-error-unknown = S'ha produït un error inesperat.
newsletter-error-timeout = S'ha esgotat el temps d'espera de la sol·licitud de subscripció
