# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Բացել Գաղտնի պատուհան
    .accesskey = Գ
about-private-browsing-search-placeholder = Որոնել առցանց
about-private-browsing-info-title = Դուք Գաղտնի դիտարկման մեջ եք
about-private-browsing-info-myths = Տարածված առասպելներ գաղտնի դիտարկման մասին
about-private-browsing =
    .title = Որոնել առցանց
about-private-browsing-not-private = Այժմ դուք Գաղտնի դիտարկման էջում չեք։
about-private-browsing-info-description = { -brand-short-name }֊ը մաքրում է ձեր որոնման և զննարկման պատմությունը, երբ դուրս եք գալիս ծրագրից կամ փակում եք անձնական դիտման բոլոր ներդիրներն ու պատուհանները: Չնայած դա ձեզ անանուն չի դարձնում կայքէջերի կամ ձեր ինտերնետային ծառայություններ մատուցողի համար, այն ավելի հեշտացնում է այն, ինչ անում եք առցանց, անհատական պահելով այս համակարգչից օգտվող ցանկացած այլ անձի կողմից:
about-private-browsing-need-more-privacy = Ավելի շատ գաղտնիությո՞ւն է պետք:
about-private-browsing-turn-on-vpn = Փորձեք { -mozilla-vpn-brand-name }-ը
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = Անձնական պատուհաններում { $engineName }-ը ձեր որոնման լռելյայն միջոցն է
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Տարբեր որոնման միջոցներ ընտրելու համար գնացեք դեպի <a data-l10n-name="link-options">Ընտրանքներ</a>
       *[other] Տարբեր որոնման միջոցներ ընտրելու համար գնացեք դեպի <a data-l10n-name="link-options"> Նախընտրություններ</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Փակել
