# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Հասանելի է { -brand-shorter-name }-ի նոր թարմացում:
    .buttonlabel = Ներբեռնել թարմացումը
    .buttonaccesskey = Ն
    .secondarybuttonlabel = Ոչ հիմա
    .secondarybuttonaccesskey = Ո
appmenu-update-available-message = Թարմացրեք { -brand-shorter-name }-ը՝ արագագործության և անվտանգության համար:
appmenu-update-manual =
    .label = { -brand-shorter-name }-ը հնարավոր չէ թարմացնել:
    .buttonlabel = Ներբեռնել { -brand-shorter-name }-ը
    .buttonaccesskey = Ն
    .secondarybuttonlabel = Ոչ հիմա
    .secondarybuttonaccesskey = Ո
appmenu-update-manual-message = Ներբեռնեք { -brand-shorter-name }-ի նոր տարբերակը և մենք կօգնենք Ձեզ տեղադրել այն:
appmenu-update-whats-new =
    .value = Ինչն է նոր:
appmenu-update-unsupported =
    .label = { -brand-shorter-name }-ը հնարավոր չէ արդիացնել նոր տարբերակի:
    .buttonlabel = Իմանալ ավելին
    .buttonaccesskey = L
    .secondarybuttonlabel = Փակել
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = { -brand-shorter-name }-ի տարբերակը չի աջակցվում ձեր համակարգում:
appmenu-update-restart =
    .label = Վերամեկնարկեք՝ { -brand-shorter-name }-ը թարմացնելու համար:
    .buttonlabel = Վերամեկնարկել և վերականգնել
    .buttonaccesskey = Վ
    .secondarybuttonlabel = Ոչ հիմա
    .secondarybuttonaccesskey = Ո
appmenu-update-restart-message = Արագ վերամեկնարկից հետո { -brand-shorter-name }-ը կվերականգնի բոլոր բաց ներդիրները և պատուհանները, որոնք Գաղտնի Դիտարկման կերպում չեն:
appmenu-update-other-instance =
    .label = { -brand-shorter-name }-ը հնարավոր չէ արդիացնել նոր տարբերակի:
    .buttonlabel = Այդոհանդերձ, թարմացնել { -brand-shorter-name }-ը
    .buttonaccesskey = U
    .secondarybuttonlabel = Ոչ հիմա
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Հասանելի է { -brand-shorter-name }-ի նոր տարբերակը, բայց այն չի կարող տեղա.դրվել, քանի որ աշխատեցված է { -brand-shorter-name }-ի մեկ այլ օրինակ: Փակեք այն՝ թարմացումը շարունակելու համար կամ ընտրեք այդուհանդերձ թարմացնել (այլ օրինակը կարող է նորմալ չաշխատի, քանի դեռ դուքչվերամեկնարկեք այն):
appmenu-addon-private-browsing-installed =
    .buttonlabel = Հասկանալի է:
    .buttonaccesskey = O
appmenu-addon-post-install-message = Կառավարեք ձեր հավելումները սեղմելով <image data-l10n-name='addon-install-icon'></image><image data-l10n-name='addon-menu-icon'></image>ցանկին:
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Լավ
    .buttonaccesskey = O
appmenu-addon-post-install-incognito-checkbox =
    .label = Թույլատրել այս ընդլայնմանը աշխատեցնել Գաղտնի պատուհանը
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Ձեր Նոր Ներդիրը փոխվել է:
    .buttonlabel = Պահել փոփոխությունները
    .buttonaccesskey = K
    .secondarybuttonlabel = Անջատել ընդլայնումը
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Ձեր գլխավոր էջը փոխվել է:
    .buttonlabel = Պահել փոփոխությունները
    .buttonaccesskey = K
    .secondarybuttonlabel = Անջատել ընդլայնումը
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Ձեր նոր ներդիրը փոխվել է:
    .buttonlabel = Պահել փոփոխությունները
    .buttonaccesskey = K
    .secondarybuttonlabel = Կառավարել նոր ներդիրները
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Մուտք գործել ձեր թաքնված ներդիրներում
    .buttonlabel = Թաքնված պահել ներդիրները
    .buttonaccesskey = K
    .secondarybuttonlabel = Անջատել ընդլայնումը
    .secondarybuttonaccesskey = D
