# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Druhi grat zwjazać
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Jeli to hišće njejsće činił, instalujće <a data-l10n-name="connect-another-device">Firefox na swojim mobilnym graće</a>.
fxa-qrcode-heading-phase2 = 2. Přizjewjće so potom pola { -sync-brand-short-name } abo skenujće na Android koplowanski kod z nastajenjow { -sync-brand-short-name } won.
fxa-qrcode-heading-step1 = 1. Jeli to hišće njejsće činił, instalujće <a data-l10n-name="connect-another-device">Firefox na swojim mobilnym graće</a>.
fxa-qrcode-heading-step2 = 2. Wočińće Firefox na swojim mobilnym graće.
fxa-qrcode-heading-step3 = 3. Wočińće <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> abo <img data-l10n-name="android-menu-icon"/>), podótkńće so symbola <img data-l10n-name="settings-icon"/> <b>Nastajenja</b> a wubjerće <b>Synchronizowanje zmóžnić</b>
fxa-qrcode-heading-step4 = Tutón kod skenować:
fxa-qrcode-error-title = Koplowanje je so nimokuliło.
fxa-qrcode-error-body = Hišće raz spytać.
