# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Der is in nije { -brand-shorter-name }-fernijing beskikber.
    .buttonlabel = Fernijing downloade
    .buttonaccesskey = F
    .secondarybuttonlabel = No net
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Wurkje jo { -brand-shorter-name } by foar it nijste yn faasje en privacy.
appmenu-update-manual =
    .label = { -brand-shorter-name } kin net fernije nei de lêste ferzje.
    .buttonlabel = { -brand-shorter-name } downloade
    .buttonaccesskey = d
    .secondarybuttonlabel = No net
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Download in farske kopy fan { -brand-shorter-name } en wy helpe jo it te ynstallearjen.
appmenu-update-whats-new =
    .value = Wat is nij.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } kin net nei de nijste ferzje bywurke wurde.
    .buttonlabel = Mear ynfo
    .buttonaccesskey = M
    .secondarybuttonlabel = Slute
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message = De nijste ferzje fan { -brand-shorter-name } wurdt net stipe op jo systeem.
appmenu-update-restart =
    .label = Start opnij om { -brand-shorter-name } by te wurkjen.
    .buttonlabel = Opnij starte en werstelle
    .buttonaccesskey = O
    .secondarybuttonlabel = No net
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Nij in flugge werstart, sil { -brand-shorter-name } al jo iepen ljepblêden en finsters dy't net yn priveemodus binne werstelle.
appmenu-update-available2 =
    .label = Fernijing beskikber
    .buttonlabel = Downloade
    .buttonaccesskey = D
    .secondarybuttonlabel = Ofwize
    .secondarybuttonaccesskey = O
appmenu-update-available-message2 = Download de nijste ferzje fan { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Fernijing beskikber
    .buttonlabel = Downloade
    .buttonaccesskey = D
    .secondarybuttonlabel = Ofwize
    .secondarybuttonaccesskey = O
appmenu-update-manual-message2 = { -brand-shorter-name } kin net automatysk bywurke wurde. Download de nije ferzje – jo reitsje gjin bewarre gegevens of oanpassingen kwyt.
appmenu-update-unsupported2 =
    .label = Bywurkjen net mooglik
    .buttonlabel = Mear ynfo
    .buttonaccesskey = M
    .secondarybuttonlabel = Ofwize
    .secondarybuttonaccesskey = O
appmenu-update-unsupported-message2 = Jo bestjoeringssysteem is net kompatibel mei de nijste ferzje fan { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Fernijing beskikber
    .buttonlabel = Bywurkje en opnij starte
    .buttonaccesskey = B
    .secondarybuttonlabel = Ofwize
    .secondarybuttonaccesskey = O
appmenu-update-restart-message2 = Download de nijste ferzje fan { -brand-shorter-name }. Iepen ljepblêden en finsters wurde wersteld.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } kin net automatysk nei de nijste ferzje bywurkje.
    .buttonlabel = { -brand-shorter-name } dochs bywurkje
    .buttonaccesskey = b
    .secondarybuttonlabel = j
    .secondarybuttonaccesskey = w
appmenu-update-other-instance-message = Der is in nije fernijing foar { -brand-shorter-name } beskikber, mar dizze kin net ynstallearre wurde omdat der in oar eksimplaar fan { -brand-shorter-name } útfierd wurdt. Slút dizze om de fernijing troch te fieren, of kies derfoar om dochs by te wurkjen (it oare eksimplaar wurket mooglik net goed oant jo dit opnij starte).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Oké, begrepen
    .buttonaccesskey = O
appmenu-addon-post-install-message = Behear jo add-ons troch op <image data-l10n-name='addon-install-icon'></image> yn it menu <image data-l10n-name='addon-menu-icon'></image> te klikken.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Oké
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Behear jo útwreidingen en tema’s fia it tapassingsmenu.
appmenu-addon-post-install-message3 = Behear jo add-ons en tema’s fia it tapassingsmenu.
appmenu-addon-post-install-incognito-checkbox =
    .label = Dizze útwreiding yn priveefinsters útfiere litte
    .accesskey = D
appmenu-new-tab-controlled =
    .label = Jo nije ljepblêd is wizige.
    .buttonlabel = Wizigingen bewarje
    .buttonaccesskey = W
    .secondarybuttonlabel = Utwreiding útskeakelje
    .secondarybuttonaccesskey = U
appmenu-homepage-controlled =
    .label = Jo startside is wizige.
    .buttonlabel = Wizigingen bewarje
    .buttonaccesskey = W
    .secondarybuttonlabel = Utwreiding útskeakelje
    .secondarybuttonaccesskey = U
appmenu-new-tab-controlled-changes =
    .label = Jo nije ljepblêd is wizige.
    .buttonlabel = Wizigingen behâlde
    .buttonaccesskey = b
    .secondarybuttonlabel = Nije ljepblêden beheare
    .secondarybuttonaccesskey = h
appmenu-homepage-controlled-changes =
    .label = Jo startside is wizige.
    .buttonlabel = Wizigingen behâlde
    .buttonaccesskey = b
    .secondarybuttonlabel = Startside beheare
    .secondarybuttonaccesskey = h
appmenu-tab-hide-controlled =
    .label = Jo ferstoppe ljepblêden benaderje
    .buttonlabel = Ljepblêden ferstoppe hâlde
    .buttonaccesskey = f
    .secondarybuttonlabel = Utwreiding útskeakelje
    .secondarybuttonaccesskey = U
