# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = 新版 { -brand-shorter-name } 发布了。
    .buttonlabel = 下载更新
    .buttonaccesskey = D
    .secondarybuttonlabel = 暂时不要
    .secondarybuttonaccesskey = N
appmenu-update-available-message = 更新您的 { -brand-shorter-name }，享受最新速度性能与隐私权保障。
appmenu-update-manual =
    .label = { -brand-shorter-name } 无法更新至最新版本。
    .buttonlabel = 下载 { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = 暂时不要
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = 建议下载 { -brand-shorter-name } 完整包，我们将协助您安装它。
appmenu-update-whats-new =
    .value = 看看有什么新功能。
appmenu-update-unsupported =
    .label = { -brand-shorter-name } 无法更新至最新版本。
    .buttonlabel = 详细了解
    .buttonaccesskey = L
    .secondarybuttonlabel = 关闭
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = 您的系统不支持最新版本的 { -brand-shorter-name }。
appmenu-update-restart =
    .label = 重启 { -brand-shorter-name } 以更新。
    .buttonlabel = 重启并恢复当前浏览状态
    .buttonaccesskey = R
    .secondarybuttonlabel = 暂时不要
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = 稍等片刻，{ -brand-shorter-name } 重启后将恢复您所有不在隐私浏览模式中打开的标签页和窗口。
appmenu-update-available2 =
    .label = 有可用更新
    .buttonlabel = 下载
    .buttonaccesskey = D
    .secondarybuttonlabel = 忽略
    .secondarybuttonaccesskey = m
appmenu-update-available-message2 = 下载最新版 { -brand-shorter-name }。
appmenu-update-manual2 =
    .label = 有可用更新
    .buttonlabel = 下载
    .buttonaccesskey = D
    .secondarybuttonlabel = 忽略
    .secondarybuttonaccesskey = m
appmenu-update-manual-message2 = { -brand-shorter-name } 无法自动更新。请下载最新安装程序覆盖安装 — 您不会丢失任何已保存的信息或定制项。
appmenu-update-unsupported2 =
    .label = 无法更新
    .buttonlabel = 详细了解
    .buttonaccesskey = L
    .secondarybuttonlabel = 忽略
    .secondarybuttonaccesskey = m
appmenu-update-unsupported-message2 = 您的操作系统与最新版 { -brand-shorter-name } 不兼容。
appmenu-update-restart2 =
    .label = 有可用更新
    .buttonlabel = 更新并重启
    .buttonaccesskey = U
    .secondarybuttonlabel = 忽略
    .secondarybuttonaccesskey = m
appmenu-update-restart-message2 = 升级至最新版 { -brand-shorter-name } 。打开的标签页和窗口将在下次启动时恢复。
appmenu-update-other-instance =
    .label = { -brand-shorter-name } 无法自动更新至最新版本。
    .buttonlabel = 仍要更新 { -brand-shorter-name }
    .buttonaccesskey = U
    .secondarybuttonlabel = 暂时不要
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = { -brand-shorter-name } 有更新可用，由于 { -brand-shorter-name } 的另一副本还在运行，因此无法安装。您可以将其关闭以继续更新，或选择仍要更新（其他副本在重新启动之前可能无法正常工作）。
appmenu-addon-private-browsing-installed =
    .buttonlabel = 好的，明白了
    .buttonaccesskey = O
appmenu-addon-post-install-message = 点击 <image data-l10n-name='addon-menu-icon'></image> 菜单中的 <image data-l10n-name='addon-install-icon'></image> 来管理您的附加组件。
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = 好的
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = 通过应用程序菜单管理扩展和主题。
appmenu-addon-post-install-message3 = 通过应用程序菜单管理扩展和主题。
appmenu-addon-post-install-incognito-checkbox =
    .label = 允许此扩展在隐私窗口中运行
    .accesskey = A
appmenu-new-tab-controlled =
    .label = 您的新标签页已变更。
    .buttonlabel = 保留变更
    .buttonaccesskey = K
    .secondarybuttonlabel = 禁用扩展
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = 您的主页已变更。
    .buttonlabel = 保留变更
    .buttonaccesskey = K
    .secondarybuttonlabel = 禁用扩展
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = 您的新标签页已变更。
    .buttonlabel = 保留变更
    .buttonaccesskey = K
    .secondarybuttonlabel = 管理新标签页
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = 您的主页已变更。
    .buttonlabel = 保留变更
    .buttonaccesskey = K
    .secondarybuttonlabel = 管理主页
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = 存取您隐藏的标签页
    .buttonlabel = 保持隐藏标签页
    .buttonaccesskey = K
    .secondarybuttonlabel = 禁用扩展
    .secondarybuttonaccesskey = D
