# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = 重要消息
heading = 涉及您的 { -brand-short-name } 配置文件的变化
changed-title = 怎么了？
changed-desc-profiles = 我们为此版本的 { -brand-short-name } 新建了专门的用户配置文件。Firefox 会在用户配置文件中保存书签、密码、用户偏好设置等信息。
changed-desc-dedicated = 为了保证您可以在安装的各个版本的 Firefox（包括 Firefox、Firefox ESR、Firefox Beta、Firefox Developer Edition 和 Firefox Nightly）顺畅地切换，现在不同版本的 Firefox 会使用其专门的用户配置文件，不再自动与其他版本共享。
lost = <b>您之前的个人数据和定制信息还在您的电脑上。</b>如果您之前在这台电脑上用过 Firefox，这些数据仍然存于另一份安装的版本中。
options-title = 我可以做什么？
options-do-nothing = 您可以什么也不做，您的 { -brand-short-name } 将与此计算机上安装的其他 Firefox 有不同的配置文件。
options-use-sync = 若您想在所有安装的 Firefox 上享用相同的配置文件数据，可使用 { -fxaccount-brand-name }保持同步。
resources = 还可参考：
support-link = 技术支持文章 - 使用配置文件管理器
sync-header = 登录或创建 { -fxaccount-brand-name }
sync-label = 输入您的电子邮件地址
sync-input =
    .placeholder = 电子邮件地址
sync-button = 继续
sync-terms = 若继续，即表示您同意我们的<a data-l10n-name="terms">服务条款</a>和<a data-l10n-name="privacy">隐私声明</a>。
sync-first = 初次使用 { -sync-brand-name }？您需要在每套安装的 Firefox 中登录才能同步您的信息。
new-install-sync-first = 初次使用同步？您需要在所有安装的 Firefox 中登录才能同步您的信息。
sync-learn = 详细了解
