# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ang { -brand-shorter-name } ay may bagong update.
    .buttonlabel = I-download ang Update
    .buttonaccesskey = D
    .secondarybuttonlabel = Huwag Muna
    .secondarybuttonaccesskey = N
appmenu-update-available-message = I-update ang iyong { -brand-shorter-name } para sa pinaka-latest sa bilis and seguridad.
appmenu-update-manual =
    .label = Ang { -brand-shorter-name } ay hindi makapag-update sa bagong bersyon na ito.
    .buttonlabel = I-download ang { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Hindi Sa Ngayon
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Mag-download ng bagong kopya ng { -brand-shorter-name } at tutulungan ka naming ikabit ito.
appmenu-update-whats-new =
    .value = Tingnan kung ano ang bago.
appmenu-update-unsupported =
    .label = Hindi nakapag-update sa pinakabagong version ang { -brand-shorter-name }.
    .buttonlabel = Alamin
    .buttonaccesskey = L
    .secondarybuttonlabel = Isara
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = Hindi suportado sa iyong system ang pinakabagong version ng { -brand-shorter-name }.
appmenu-update-restart =
    .label = Mag-restart para ma-update ang { -brand-shorter-name }.
    .buttonlabel = Mag-restart at i-restore
    .buttonaccesskey = R
    .secondarybuttonlabel = Hindi Sa Ngayon
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Matapos ang isang mabilis na pag-restart, ibabalik ng { -brand-shorter-name } ang lahat ng iyong mga nakabukas na tab at window na wala sa Private Browsing mode.
appmenu-update-other-instance-message = Hindi makapag-install ng bagon update  sa	{ -brand-shorter-name } dahil may isa pang kopya ng	{ -brand-shorter-name } na tumatakbo. Maaaring pakisara ito upang makapagpatuloy ang pag-update or piliting mag-update pa rin (ang isa pang kopya ay maaaring hindi gumana ng maayos hanggang ito ay i-restart).
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, nakuha ko
    .buttonaccesskey = O
appmenu-addon-post-install-message = Pindutin ang <image data-l10n-name='addon-install-icon'></image> para i-manage ang iyong mga add-on sa <image data-l10n-name='addon-menu-icon'> menu.
appmenu-addon-post-install-incognito-checkbox =
    .label = Payagan ang extension na ito upang tumakbo sa mga Pribadong Window
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Ang iyong Bagong Tab ay nagbago.
    .buttonlabel = Panatilihin ang Mga Pagbabago
    .buttonaccesskey = K
    .secondarybuttonlabel = Disable Extension
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Ang iyong home page ay nagbago.
    .buttonlabel = Panatilihin ang mga Pagbabago
    .buttonaccesskey = K
    .secondarybuttonlabel = Disable Extension
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Nagbago ang iyong new tab.
    .buttonlabel = Panatilihin ang mga Pagbabago
    .buttonaccesskey = K
    .secondarybuttonlabel = I-manage ang New Tabs
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = Ang iyong homepage ay nagbago.
    .buttonlabel = Panatilihin ang Pagbabago
    .buttonaccesskey = K
    .secondarybuttonlabel = I-manage ang Homepage
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Puntahan ang mga Nakatagong Tab
    .buttonlabel = Panatilihing nakatago ang mga Tab
    .buttonaccesskey = K
    .secondarybuttonlabel = Disable Extension
    .secondarybuttonaccesskey = D
