# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Aperir un fenestra private
    .accesskey = P
about-private-browsing-search-placeholder = Cercar in le Web
about-private-browsing-info-title = Tu es in un fenestra private
about-private-browsing-info-myths = Mythos commun sur le navigation private
about-private-browsing =
    .title = Cercar in le Web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Cercar con { $engine } o inserer un adresse
about-private-browsing-handoff-no-engine =
    .title = Cercar o inserer un adresse
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Cercar con { $engine } o inserer un adresse
about-private-browsing-handoff-text-no-engine = Cercar o inserer un adresse
about-private-browsing-not-private = Tu non es actualmente in un fenestra private.
about-private-browsing-info-description = { -brand-short-name } cancella tu chronologia de navigation e de recerca quando tu quita le application o claude tote le schedas e fenestras de navigation private. Isto non te rende anonyme pro sitos web ni pro tu providitor de servicio internet, ma rende plus facile guardar tu activitates in linea private ab altere personas que usa iste computator.
about-private-browsing-need-more-privacy = Require plus confidentialitate?
about-private-browsing-turn-on-vpn = Prova { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } es tu motor de recerca predefinite in le fenestras private
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Pro seliger un altere motor de recerca, visita le <a data-l10n-name="link-options">Optiones</a>
       *[other] Pro seliger un altere motor de recerca, visita le <a data-l10n-name="link-options">Preferentias</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Clauder
