# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Un nove version de { -brand-shorter-name } es disponibile.
    .buttonlabel = Discargar actualisation
    .buttonaccesskey = D
    .secondarybuttonlabel = Non ora
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Actualisa tu { -brand-shorter-name } pro beneficiar del ultime meliorationes in rapiditate e confidentialitate.
appmenu-update-manual =
    .label = { -brand-shorter-name } non pote actualisar se al ultime version.
    .buttonlabel = Discargar { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Non ora
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Discarga un nove copia de { -brand-shorter-name } e nos te adjutara a installar lo.
appmenu-update-whats-new =
    .value = Vider le novas.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } non pote actualisar se al ultime version.
    .buttonlabel = Saper plus
    .buttonaccesskey = S
    .secondarybuttonlabel = Clauder
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = Le ultime version de { -brand-shorter-name } non es supportate sur tu systema.
appmenu-update-restart =
    .label = Reinitia pro actualisar { -brand-shorter-name }.
    .buttonlabel = Reinitiar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Non ora
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Post un rapide reinitio, { -brand-shorter-name } va restaurar tote tu schedas e fenestras aperte que non es in modo de navigation private.
appmenu-update-available2 =
    .label = Actualisation disponibile
    .buttonlabel = Discargar
    .buttonaccesskey = D
    .secondarybuttonlabel = Clauder
    .secondarybuttonaccesskey = C
appmenu-update-available-message2 = Discarga le ultime version de { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Actualisation disponibile
    .buttonlabel = Discargar
    .buttonaccesskey = D
    .secondarybuttonlabel = Clauder
    .secondarybuttonaccesskey = C
appmenu-update-manual-message2 = Non ha essite possibile actualisar { -brand-shorter-name } automaticamente. Per favor, discarga le nove version; tu non perdera informationes salvate ni personalisationes.
appmenu-update-unsupported2 =
    .label = Impossibile actualisar
    .buttonlabel = Saper plus
    .buttonaccesskey = S
    .secondarybuttonlabel = Clauder
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message2 = Le systema de operation que tu usa non es compatibile con le ultime version de { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Actualisation disponibile
    .buttonlabel = Actualisar e reinitiar
    .buttonaccesskey = A
    .secondarybuttonlabel = Clauder
    .secondarybuttonaccesskey = C
appmenu-update-restart-message2 = Obtene le ultime version de { -brand-shorter-name }. Le schedas e fenestras aperte essera restaurate.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } non pote automaticamente actualisar se al ultime version.
    .buttonlabel = Actualisar { -brand-shorter-name } totevia
    .buttonaccesskey = A
    .secondarybuttonlabel = Non ora
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Un nove edition de { -brand-shorter-name } es disponibile, ma non pote esser installate perque un altere exemplar de { -brand-shorter-name } es in execution. Claude lo pro continuar le actualisation, o opta pro actualisar totevia (le altere exemplar pote non functionar correctemente usque tu lo reinitia).
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, io lo comprende
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gere tu additivos per cliccar sur <image data-l10n-name='addon-install-icon'></image> in le menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Gere tu extensiones et themas via le menu del application.
appmenu-addon-post-install-message3 = Gere tu additivos e themas con le menu del application.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitter que iste extension se executa in fenestras private
    .accesskey = P
appmenu-new-tab-controlled =
    .label = Tu nove scheda ha cambiate.
    .buttonlabel = Mantener le cambios
    .buttonaccesskey = M
    .secondarybuttonlabel = Disactivar le extension
    .secondarybuttonaccesskey = I
appmenu-homepage-controlled =
    .label = Tu pagina principal ha cambiate.
    .buttonlabel = Mantener le cambios
    .buttonaccesskey = M
    .secondarybuttonlabel = Disactivar le extension
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Tu nove scheda cambiava.
    .buttonlabel = Mantener le cambios
    .buttonaccesskey = M
    .secondarybuttonlabel = Gerer le nove scheda
    .secondarybuttonaccesskey = G
appmenu-homepage-controlled-changes =
    .label = Tu pagina principal cambiava.
    .buttonlabel = Mantener le cambios
    .buttonaccesskey = M
    .secondarybuttonlabel = Gerer pagina principal
    .secondarybuttonaccesskey = G
appmenu-tab-hide-controlled =
    .label = Acceder a tu schedas celate
    .buttonlabel = Mantener le schedas celate
    .buttonaccesskey = M
    .secondarybuttonlabel = Disactivar le extension
    .secondarybuttonaccesskey = I
