# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Sveicināti { -brand-full-name }
account-settings = Konta iestatījumi
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Izvēlieties, ko uzstādīt
       *[other] Izveidot citu kontu
    }
about-title = Par { -brand-full-name }
resources-title = Resursi
release-notes =
    .title = Par { -brand-full-name }
email-label = Epasts
    .aria-label = Savienoties ar jūsu esošo epasta kontu
email-description = Izmantojot { -brand-short-name }, varat izveidot savienojumu ar savu esošo epasta kontu, lai ērti un efektīvi lasītu epastus ar lietotni.
calendar-label = Kalendārs
    .aria-label = Izveidot jaunu kalendāru
calendar-description = { -brand-short-name } ļauj jums apstrādāt notikumus un uzturēt kārtību. Savienojoties ar attālu kalendāru, visi notikumi tiks sinhronizēti visās jūsu ierīcēs.
chat-label = Tērzēšana
    .aria-label = Savienoties ar tērzēšanas kontu
chat-description = { -brand-short-name } ļauj izveidot savienojumu ar vairākiem tūlītējās ziņapmaiņas kontiem, piedāvājot atbalstu dažādām platformām.
filelink-label = Failsaite
    .aria-label = Izveidot failsaiti
filelink-description = { -brand-short-name } ļauj izveidot failu saites mākoņa kontu, lai ērti nosūtītu lielus pielikumus.
addressbook-label = Adrešu grāmata
    .aria-label = Izveidot jaunu adrešu grāmatu
addressbook-description = { -brand-short-name } ļauj sakārtot visus kontaktus adrešu grāmatā. Varat arī izveidot savienojumu ar attālu adrešu grāmatu, lai visi kontakti būtu sinhronizēti.
feeds-label = Plūsmas
    .aria-label = Savienoties ar plūsmām
feeds-description = Izmantojot { -brand-short-name }, varat izveidot savienojumu ar RSS/Atom plūsmām, lai saņemtu ziņas un jaunumus no dažādām vietām.
newsgroups-label = Ziņu grupas
    .aria-label = Savienoties ar ziņu grupu
newsgroups-description = { -brand-short-name } ļauj izveidot savienojumu ar kādām vien vēlaties ziņu grupām.
import-title = Importēt no citas programmas
import-paragraph = Šis vednis importēs vēstules, adrešu grāmatas ierakstus, plūsmas abonementus, iestatījumus un/vai filtrus no citām pasta programmām un parastajiem adrešu grāmatas formātiem uz { -brand-short-name }.
import-label = Importēt
    .aria-label = Importēt datus no citām programmām
about-paragraph = Thunderbird ir vadošais atvērtā pirmkoda, starpplatformu epasta un kalendāra klients, ko var bez maksas lietot gan personīgi, gan uzņēmējdarbībā. Mēs vēlamies, lai tas ir drošs un kļūst vēl labāks. Ziedojums ļaus mums pieņemt darbā izstrādātājus, maksāt par infrastruktūru un turpināt attīstīties.
about-paragraph-2 = <b> Thunderbird finansē tādi lietotāji kā jūs! Ja jums patīk Thunderbird, lūdzu, apsveriet iespēju ziedot. </b> Labākais veids, kā nodrošināt Thunderbird pastāvēšanu ir:
about-donation = veikt ziedojumu
about-paragraph-consider-donation = <strong>Thunderbird finansē tādi paši lietotāji kā jūs! Ja jums patīk Thunderbird, lūdzu, apsveriet iespēju ziedot.</strong> Labākais veids, kā nodrošināt Thunderbird pastāvēšanu, ir <a class="more" href="%(donate)s">ziedošana</a>.
explore-link = Izpētiet iespējas
support-link = Atbalsts
involved-link = Iesaistieties
developer-link = Izstrādātāja dokumentācija
read = Lasīt vēstules
compose = Rakstīt jaunu vēstuli
search = Meklēt vēstules
filter = Pārvaldīt vēstuļu filtrus
nntp-subscription = Pārvaldīt ziņu grupu abonementus
rss-subscription = Pārvaldīt plūsmu abonementus
e2e = Tiešās saziņas šifrēšana
