# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Повезивање другог уређаја
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ако већ нисте, инсталирајте <a data-l10n-name="connect-another-device">Firefox на мобилном уређају</a>.
fxa-qrcode-heading-phase2 = 2. Онда се пријавите на { -sync-brand-short-name }, или скенирајте код упаривања на Андроид уређају унутар { -sync-brand-short-name } поставки.
fxa-qrcode-heading-step1 = 1. Ако већ нисте, инсталирајте <a data-l10n-name="connect-another-device">Firefox на мобилном уређају</a>.
fxa-qrcode-heading-step2 = 2. Отворите Firefox на свом мобилном уређају.
fxa-qrcode-heading-step3 = 3. Отворите <b>мени</b> (<img data-l10n-name="ios-menu-icon"/> или <img data-l10n-name="android-menu-icon"/>), додирните <img data-l10n-name="settings-icon"/> <b>Подешавања</b> и изаберите <b>Укључите синхронизацију</b>.
fxa-qrcode-heading-step4 = 4. Скенирајте овај кôд:
fxa-qrcode-error-title = Упаривање није успело.
fxa-qrcode-error-body = Покушајте поново.
