# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Dobrir una fenèstra de navegacion privada
    .accesskey = p
about-private-browsing-search-placeholder = Recèrca sul web
about-private-browsing-info-title = Sètz sus una fenèstra de navegacion privada
about-private-browsing-info-myths = Mites màgers de la navegacion privada
about-private-browsing =
    .title = Recèrca sul web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Recercar amb { $engine } o picar una adreça
about-private-browsing-handoff-no-engine =
    .title = Picar un tèrme de recercar o una adreça
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Recercar amb { $engine } o picar una adreça
about-private-browsing-handoff-text-no-engine = Picar un tèrme de recercar o una adreça
about-private-browsing-not-private = Pel moment, sètz pas dins una fenèstra de navegacion privada.
about-private-browsing-info-description = { -brand-short-name } escafa vòstre istoric de recèrcas e de navegacion quand quitatz l’aplicacion o tampatz totes los onglets e fenèstras de navegacion privada. Malgrat qu’aquò vos faga pas venir anonim pels sites web o vòstre provesidor Internet, fa venir mai simple de gardar privat çò que fasètz en linha pels autres qu’utilizan aqueste ordenador.
about-private-browsing-need-more-privacy = Volètz mai de confidencialitat ?
about-private-browsing-turn-on-vpn = Ensajatz { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } es vòstre motor de recèrca per defaut en navegacion privada
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Per seleccionar un autre moto de recèrca anatz a las <a data-l10n-name="link-options">Opcions</a>
       *[other] Per seleccionar un autre moto de recèrca anatz a las <a data-l10n-name="link-options">Preferéncias</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Tampar
