# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Una nòva mesa a jorn de { -brand-shorter-name } es disponibla.
    .buttonlabel = Telecargar la mesa a jorn
    .buttonaccesskey = M
    .secondarybuttonlabel = Pas ara
    .secondarybuttonaccesskey = a
appmenu-update-available-message = Actualizatz vòstre { -brand-shorter-name } per obténer las darrièras melhorament sus la velocitat e la vida privada.
appmenu-update-manual =
    .label = { -brand-shorter-name } pòt pas èsser mes a jorn amb la version mai recenta.
    .buttonlabel = Telecargar { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Pas ara
    .secondarybuttonaccesskey = A
appmenu-update-manual-message = Telecargatz una còpia novèla de { -brand-shorter-name } e poirem vos guidar per l’installar.
appmenu-update-whats-new =
    .value = Descobrissètz las novetats.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } a pas pogut se metre a jorn amb la version mai recenta.
    .buttonlabel = Ne saber mai
    .buttonaccesskey = N
    .secondarybuttonlabel = Tampar
    .secondarybuttonaccesskey = T
appmenu-update-unsupported-message = La darrièra version de { -brand-shorter-name } es pas compatibla amb vòstre sistèma.
appmenu-update-restart =
    .label = Reaviatz per metre a jorn { -brand-shorter-name }.
    .buttonlabel = Reaviar e restablir
    .buttonaccesskey = R
    .secondarybuttonlabel = Pas ara
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Aprèp una pichoneta reaviada, { -brand-shorter-name } restablirà totes vòstres onglets dobèrts que son pas en navegacion privada.
appmenu-update-available2 =
    .label = Mesa a jorn disponibla
    .buttonlabel = Telecargar
    .buttonaccesskey = T
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-available-message2 = Telecargar la darrièra version de { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Mesa a jorn disponibla
    .buttonlabel = Telecargar
    .buttonaccesskey = T
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-manual-message2 = { -brand-shorter-name } a pas pogut se metre a jorn automaticament. Telecargatz la version novèla — perdretz pas cap d’informacions o personalizacions.
appmenu-update-unsupported2 =
    .label = Impossible de metre a jorn
    .buttonlabel = Ne saber mai
    .buttonaccesskey = N
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-unsupported-message2 = Vòstre sistèma operatiu pren pas en carga la darrièra version de { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Mesa a jorn disponibla
    .buttonlabel = Metre a jorn e reaviar
    .buttonaccesskey = M
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = n
appmenu-update-restart-message2 = Installatz la darrièra version de { -brand-shorter-name }. Las fenèstras e los onglets dobèrts seràn restablits.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } a pas pogut se metre a jorn automaticament cap a la version mai recenta.
    .buttonlabel = Metre a jorn { -brand-shorter-name } de tot biais
    .buttonaccesskey = M
    .secondarybuttonlabel = Pas ara
    .secondarybuttonaccesskey = P
appmenu-update-other-instance-message = Una version novèla de { -brand-shorter-name } es disponibla, mas una còpia ja en execucion de { -brand-shorter-name } empacha de l’installar. Tampatz-la per contunhar la mesa a jorn o causissètz de metre a jorn de tot biais (pòt arribar que l’autra còpia foncione pas mai abans reaviada).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Comprés
    .buttonaccesskey = C
appmenu-addon-post-install-message = Gerir los moduls en clicant <image data-l10n-name='addon-install-icon'></image> sul menú <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = D’acòrdi
    .buttonaccesskey = D
appmenu-addon-post-install-message2 = Gerissètz las extensions e los tèmas via lo menú d’aplicacion.
appmenu-addon-post-install-message3 = Gerissètz vòstres moduls complementaris e tèmas via lo menú de l’aplicacion.
appmenu-addon-post-install-incognito-checkbox =
    .label = Autorizar aquesta extension en navegacion privada
    .accesskey = A
appmenu-new-tab-controlled =
    .label = La pagina Onglet novèl es estada cambiada.
    .buttonlabel = Servar los cambiaments
    .buttonaccesskey = S
    .secondarybuttonlabel = Desactivar l’extension
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = La pagina d’acuèlh es estada cambiada.
    .buttonlabel = Servar los cambiaments
    .buttonaccesskey = S
    .secondarybuttonlabel = Desactivar l’extension
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = La pagina Onglet novèl a cambiat.
    .buttonlabel = Servar las modificacions
    .buttonaccesskey = S
    .secondarybuttonlabel = Gerir los onglets novèls
    .secondarybuttonaccesskey = G
appmenu-homepage-controlled-changes =
    .label = La pagina d’acuèlh a cambiat.
    .buttonlabel = Servar las modificacions
    .buttonaccesskey = S
    .secondarybuttonlabel = Gerir la pagina d’acuèlh
    .secondarybuttonaccesskey = G
appmenu-tab-hide-controlled =
    .label = Accedir als onglets amagats
    .buttonlabel = Gardar los onglets amagats
    .buttonaccesskey = G
    .secondarybuttonlabel = Desactivar l’extension
    .secondarybuttonaccesskey = D
