# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

title-label = О додатним компонентама
installed-plugins-label = Инсталиране додатне компоненте
no-plugins-are-installed-label = Ниједна додатна компонента није инсталирана
deprecation-description = Нешто недостаје? Неке додатне компоненте више нису подржане. <a data-l10n-name="deprecation-link">Сазнајте више</a>.

## The information of plugins
##
## Variables:
##   $pluginLibraries: the plugin library
##   $pluginFullPath: path of the plugin
##   $version: version of the plugin

file-dd = <span data-l10n-name="file">Датотека:</span> { $pluginLibraries }
path-dd = <span data-l10n-name="path">Путања:</span> { $pluginFullPath }
version-dd = <span data-l10n-name="version">Верзија:</span> { $version }

## These strings describe the state of plugins
##
## Variables:
##   $blockListState: show some special state of the plugin, such as blocked, outdated

state-dd-enabled = <span data-l10n-name="state">Статус:</span> Омогућен
state-dd-enabled-block-list-state = <span data-l10n-name="state">Статус:</span> Омогућен ({ $blockListState })
state-dd-Disabled = <span data-l10n-name="state">Статус:</span> Онемогућен
state-dd-Disabled-block-list-state = <span data-l10n-name="state">Статус:</span> Онемогућен ({ $blockListState })
mime-type-label = MIME тип
description-label = Опис
suffixes-label = Суфикси
