# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Добавяне на устройство
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ако все още не сте, инсталирайте <a data-l10n-name="connect-another-device">Firefox на мобилно устройство</a>.
fxa-qrcode-heading-phase2 = 2. След това влезте в { -sync-brand-short-name } или на Android сканирайте сдвояващия код през настройките на { -sync-brand-short-name } на устройството.
fxa-qrcode-heading-step1 = 1. Ако все още не сте, инсталирайте <a data-l10n-name="connect-another-device">Firefox на мобилно устройство</a>.
fxa-qrcode-heading-step2 = 2. Отворете Firefox на вашето мобилно устройство.
fxa-qrcode-heading-step3 = 3. Отворете <b>менюто</b> (<img data-l10n-name = "ios-menu-icon" /> или <img data-l10n-name = "android-menu-icon" />), докоснете <img data-l10n-name = "settings-icon" /> <b>Настройки</b> и изберете <b>Включване на Sync</b>
fxa-qrcode-heading-step4 = 4. Сканирайте кода:
fxa-qrcode-error-title = Сдвояването не е успешно.
fxa-qrcode-error-body = Повторен опит.
