# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Kub Nyonyo Mukene
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Kace pud pe itimo, ket <a data-l10n-name="connect-another-device">Firefox i nyonyo mamegi me cing</a>.
fxa-qrcode-heading-phase2 = 2. Ka i dony iyi { -sync-brand-short-name }, onyo i Android meny kod me ribo ki i iyi ter me { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Kace pud pe itimo, ket <a data-l10n-name="connect-another-device">Firefox i nyonyo mamegi me cing</a>.
fxa-qrcode-heading-step2 = 2. Yab Firefox i nyonyo mamegi me cing.
fxa-qrcode-heading-step3 = 3. Yab <b>jami ayera</b> (<img data-l10n-name="ios-menu-icon"/> onyo <img data-l10n-name="android-menu-icon"/>), gud <img data-l10n-name="settings-icon"/> <b>Ter</b> ka i yer <b>Cak Ribo</b>
fxa-qrcode-heading-step4 = 4. Meny kod man:
fxa-qrcode-error-title = Ribo pe olare.
fxa-qrcode-error-body = Tem doki.
