# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Tentang Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">SDK Glean</a> merupakan pustaka pengumpulan data yang digunakan dalam produk-produk Mozilla. Halaman ini diperuntukkan bagi pengembang dan penguji yang membutuhkan perlu <a data-l10n-name="fog-debug-doc-link">mengonfigurasi status debug dan pencatatan dalam SDK Glean</a>.
about-glean-warning = Menyalahgunakan antarmuka ini dapat membuat { -brand-short-name } mogok.
tag-pings-label = Tandai semua ping yang dikirim dengan tag ini
log-pings-label = Catat muatan ping sebelum mengirim?
send-pings-label = Kirim ping bernama
controls-button-label = Simpan Pengaturan
