# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Sambungan Aman Tidak Tersedia
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Anda menjelajah dalam Mode HTTPS-Only, dan versi HTTPS yang aman untuk <em>{ $websiteUrl }</em> tidak tersedia.
about-httpsonly-insecure-explanation-reasons = Kemungkinan besar, situs web tidak mendukung HTTPS, tetapi ada juga kemungkinan bahwa penyerang memblokir versi HTTPS.
about-httpsonly-insecure-explanation-exception = Walau risiko keamanannya rendah, jika Anda memutuskan untuk mengunjungi versi HTTP situs web tersebut, Anda sebaiknya tidak memasukkan informasi sensitif seperti kata sandi, email, atau detail kartu kredit.
about-httpsonly-button-make-exception = Terima Risikonya dan Lanjutkan ke Situs
about-httpsonly-title-alert = Peringatan Mode Hanya HTTPS
about-httpsonly-title-connection-not-available = Sambungan Aman Tidak Tersedia
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Anda telah mengaktifkan Mode Hanya HTTPS untuk keamanan yang ditingkatkan tetapi versi HTTPS <em>{ $websiteUrl }</em> tidak tersedia.
about-httpsonly-explanation-question = Apa yang menyebabkan ini?
about-httpsonly-explanation-nosupport = Kemungkinan besar, situs web tidak mendukung HTTPS.
about-httpsonly-explanation-risk = Mungkin juga ada penyerang yang terlibat. Jika Anda memutuskan untuk mengunjungi situs web, Anda tidak boleh memasukkan informasi sensitif seperti sandi, surel, atau detail kartu kredit.
about-httpsonly-explanation-continue = Jika dilanjutkan, Mode Hanya HTTPS akan dinonaktifkan sementara untuk situs ini.
about-httpsonly-button-continue-to-site = Lanjutkan ke Situs HTTP
about-httpsonly-button-go-back = Kembali
about-httpsonly-link-learn-more = Pelajari Lebih Lanjut…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Alternatif yang Mungkin
about-httpsonly-suggestion-box-www-text = Tersedia versi aman dari <em>www.{ $websiteUrl }</em>. Anda dapat mengunjungi laman ini alih-alih <em>{ $websiteUrl }<em>.
about-httpsonly-suggestion-box-www-button = Buka www. { $websiteUrl }
