# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = חיבור מכשיר נוסף
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. אם טרם עשית זאת, עליך להתקין את <a data-l10n-name="connect-another-device">Firefox על המכשיר הנייד שלך</a>.
fxa-qrcode-heading-phase2 = 2. לאחר מכן עליך להתחבר אל { -sync-brand-short-name } או לסרוק באמצעות Android את קוד הצימוד מתוך ההגדרות של { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. אם טרם עשית זאת, עליך להתקין את <a data-l10n-name="connect-another-device">Firefox על המכשיר הנייד שלך</a>.
fxa-qrcode-heading-step2 = 2. יש לפתוח את Firefox במכשיר הנייד שלך.
fxa-qrcode-heading-step3 = 3. יש לפתוח את <b>התפריט</b> (<img data-l10n-name="ios-menu-icon"/> או <img data-l10n-name="android-menu-icon"/>), להקיש על <img data-l10n-name="settings-icon"/> הגדרות ולבחור באפשרות <b>הפעלת Sync</b>
fxa-qrcode-heading-step4 = 4. לבסוף, יש לסרוק את הקוד הזה:
fxa-qrcode-error-title = הצימוד לא הצליח.
fxa-qrcode-error-body = נא לנסות שוב.
