# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Beveiligde verbinding niet beschikbaar
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = U surft in Alleen-HTTPS-modus en een beveiligde HTTPS-versie van <em>{ $websiteUrl }</em> is niet beschikbaar.
about-httpsonly-insecure-explanation-reasons = Waarschijnlijk ondersteunt de website HTTPS niet, maar het is ook mogelijk dat een aanvaller de HTTPS-versie blokkeert.
about-httpsonly-insecure-explanation-exception = Hoewel het veiligheidsrisico laag is, zou u geen gevoelige informatie als wachtwoorden, e-mailadressen of creditcardgegevens moeten invoeren als u besluit de HTTP-versie van de website te gebruiken.
about-httpsonly-button-make-exception = Het risico aanvaarden en doorgaan naar de website
about-httpsonly-title-alert = Alleen-HTTPS-modus-waarschuwing
about-httpsonly-title-connection-not-available = Beveiligde verbinding niet beschikbaar
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = U hebt de Alleen-HTTPS-modus voor verbeterde beveiliging ingeschakeld, en een HTTPS-versie van <em>{ $websiteUrl }</em> is niet beschikbaar.
about-httpsonly-explanation-question = Wat kan dit veroorzaken?
about-httpsonly-explanation-nosupport = Hoogstwaarschijnlijk ondersteunt de website simpelweg geen HTTPS.
about-httpsonly-explanation-risk = Mogelijk is er sprake van een aanval. Als u besluit de website te bezoeken, zou u geen gevoelige gegevens zoals wachtwoorden, e-mailadressen of creditcardgegevens moeten invoeren.
about-httpsonly-explanation-continue = Als u verdergaat, wordt de Alleen-HTTPS-modus voor deze website tijdelijk uitgeschakeld .
about-httpsonly-button-continue-to-site = Doorgaan naar HTTP-website
about-httpsonly-button-go-back = Terug
about-httpsonly-link-learn-more = Meer info…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Mogelijk alternatief
about-httpsonly-suggestion-box-www-text = Er is een beveiligde versie van <em>www.{ $websiteUrl }</em>. U kunt deze pagina bezoeken in plaats van <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Naar www.{ $websiteUrl } gaan
