# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Abrir una ventana privada
    .accesskey = P
about-private-browsing-search-placeholder = Buscar na web
about-private-browsing-info-title = Tas nuna ventana privada
about-private-browsing-info-myths = Mitos comunes tocante al restolar en privao
about-private-browsing =
    .title = Busca na web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Busca con { $engine } o introduz una direición
about-private-browsing-handoff-no-engine =
    .title = Busca o introduz una direición
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Busca con { $engine } o introduz una direición
about-private-browsing-handoff-text-no-engine = Busca o introduz una direición
about-private-browsing-not-private = Anguaño nun tas nuna ventana privada.
about-private-browsing-info-description = { -brand-short-name } llimpia los historiales de restolar cuando coles de l'aplicación o zarres toles llingüetes y ventanes de Restolar en Privao. Magar qu'esto nun t'anonimiza n'internet, fai que la to actividá en llinia seya fácil d'anubrir a otros usuarios qu'usen esti ordenador.
about-private-browsing-need-more-privacy = ¿Precises más privacidá?
about-private-browsing-turn-on-vpn = Prueba { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } ye'l motor de busca predetermináu nes ventanes privaes
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Pa esbillar un motor de busca diferente, vete a <a data-l10n-name="link-options">Opciones</a>
       *[other] Pa esbillar un motor de busca diferente, vete a <a data-l10n-name="link-options">Preferencies</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zarrar
