# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Hai un anovamientu disponible pa { -brand-shorter-name }.
    .buttonlabel = Baxar l'anovamientu
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Anueva { -brand-shorter-name } pa tener lo último en velocidá y privacidá.
appmenu-update-manual =
    .label = { -brand-shorter-name } nun pue anovase a la última versión.
    .buttonlabel = Baxar { -brand-shorter-name }
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Baxa una copia recién de { -brand-shorter-name } y ayudámoste a instalala.
appmenu-update-whats-new =
    .value = Mira les novedaes.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } nun ye a anovase a la última versión.
    .buttonlabel = Lleer más
    .buttonaccesskey = L
    .secondarybuttonlabel = Zarrar
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = La última versión de { -brand-shorter-name } nun ta sofitada nel sistema.
appmenu-update-restart =
    .label = Reanicia p'anovar { -brand-shorter-name }.
    .buttonlabel = Reaniciar y restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Darréu d'un reaniciu rápidu, { -brand-shorter-name } va restaurar toles llingüetes y ventanes abiertes que nun seyan del mou Restolar en Privao.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } nun ye a anovase automáticamente a la última versión.
    .buttonlabel = Anovar { -brand-shorter-name } de toes toes
    .buttonaccesskey = A
    .secondarybuttonlabel = Agora non
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = Hai un anovamientu disponible pa { -brand-shorter-name } mas nun pue instalase porque hai otra copia de { -brand-shorter-name } n'execución. Zárrala pa siguir col anovamientu o escueyi «Anovar { -brand-shorter-name } de toes toes» (la otra copia pue nun funcionar correutamente hasta que la reanicies).
appmenu-addon-private-browsing-installed =
    .buttonlabel = D'acuerdu, entendílo
    .buttonaccesskey = D
appmenu-addon-post-install-message = Xestiona los complementos calcando <image data-l10n-name='addon-install-icon'></image> nel <image data-l10n-name='addon-menu-icon'></image> menú.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = D'acuerdu
    .buttonaccesskey = D
appmenu-addon-post-install-message3 = Xestiona los tos complementos y estilos pente'l menú de l'aplicación.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir qu'esta estensión s'execute en ventanes privaes
    .accesskey = P
appmenu-new-tab-controlled =
    .label = La páxina «Llingüeta nueva» camudó.
    .buttonlabel = Caltener los cambeos
    .buttonaccesskey = C
    .secondarybuttonlabel = Desactivar la estensión
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = La páxina d'aniciu camudó.
    .buttonlabel = Caltener los cambeos
    .buttonaccesskey = C
    .secondarybuttonlabel = Desactivar la estensión
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = La páxina «Llingüeta nueva» camudó.
    .buttonlabel = Caltener los cambeos
    .buttonaccesskey = C
    .secondarybuttonlabel = Xestionar les llingüetes nueves
    .secondarybuttonaccesskey = X
appmenu-homepage-controlled-changes =
    .label = La páxina d'aniciu camudó.
    .buttonlabel = Caltener los cambeos
    .buttonaccesskey = C
    .secondarybuttonlabel = Xestionar la páxina d'aniciu
    .secondarybuttonaccesskey = X
appmenu-tab-hide-controlled =
    .label = Accedi a les llingüetes anubríes
    .buttonlabel = Caltener les llingüetes anubríes
    .buttonaccesskey = C
    .secondarybuttonlabel = Desactivar la estensión
    .secondarybuttonaccesskey = D
