# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Noticies importantes
heading = Cambeos nel to perfil de { -brand-short-name }
changed-title = ¿Qué camudó?
changed-desc-profiles = La instalación de { -brand-short-name } tien un perfil nuevu. Un perfil ye un conxuntu de ficheros onde Firefox guarda información, como les preferencies, los marcadores y les contraseñes.
changed-desc-dedicated = Pa que seya más fácil y seguro cambiar ente instalaciones de Firefox (incluyíos Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition y Firefox Nightly), esta instalación agora tien un perfil dedicáu. Nun comparte automáticamente la to información guardada con otres instalaciones de Firefox.
lost = <b>Nun perdiesti nengún datu personal o personalización.</b> Si yá guardesti información nel Firefox d'esti ordenador, va siguir tando disponible n'otra instalación de Firefox.
options-title = ¿Qué opciones tengo?
options-do-nothing = Si nun faes nada, los datos del to perfil de { -brand-short-name } van estremase de los datos de perfil d'otres instalaciones de Firefox.
options-use-sync = Si quies que tolos datos del to perfil tean en toles instalaciones de Firefox, pues usar una { -fxaccount-brand-name } pa tenelos sincronizaos.
resources = Recursos:
support-link = Usu del xestor de perfiles - Artículu de sofitu
sync-header = Anicia sesión o crea una { -fxaccount-brand-name }
sync-label = Introduz el to corréu
sync-input =
    .placeholder = Corréu
sync-button = Siguir
sync-terms = Al siguir, aceptes los <a data-l10n-name="terms">términos del serviciu</a> y l'<a data-l10n-name="privacy">avisu de privacidá</a>.
sync-first = ¿Ye la primer vegada qu'uses { -sync-brand-name }? Vas tener d'aniciar sesión en cada instalación de Firefox pa sincronizar la to información.
new-install-sync-first = ¿Ye la primer vegada qu'uses la sincronización? Vas tener d'aniciar sesión en cada instalación de Firefox pa sincronizar la to información.
sync-learn = Lleer más
