# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Una nueva actualización de { -brand-shorter-name } está disponible.
    .buttonlabel = Bajar actualización
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Actualiza tu { -brand-shorter-name } para lo último en velocidad y privacidad.
appmenu-update-manual =
    .label = { -brand-shorter-name } no se puede actualizar a la última versión.
    .buttonlabel = Descargar { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Baja una copia fresca de { -brand-shorter-name } y nosotros te ayudaremos a instalarla.
appmenu-update-whats-new =
    .value = Revisa que hay de nuevo.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } no se puede actualizar a la última versión.
    .buttonlabel = Aprender más
    .buttonaccesskey = L
    .secondarybuttonlabel = Cerrar
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = La última versión de { -brand-shorter-name } no es soportada en tu sistema.
appmenu-update-restart =
    .label = Reiniciar para actualizar { -brand-shorter-name }.
    .buttonlabel = Reiniciar y restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Después de un reinicio rápido, { -brand-shorter-name } restaurará todas tus pestañas y ventanas abiertas que no estén en el modo de navegación privada.
appmenu-update-available2 =
    .label = Actualización disponible
    .buttonlabel = Descargar
    .buttonaccesskey = D
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = m
appmenu-update-available-message2 = Baja la última versión de { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Actualización disponible
    .buttonlabel = Descargar
    .buttonaccesskey = D
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = m
appmenu-update-manual-message2 = { -brand-shorter-name } no se pudo actualizar automáticamente. Descarga la nueva versión — no perderás la información guardada ni las personalizaciones.
appmenu-update-unsupported2 =
    .label = No es posible actualizar
    .buttonlabel = Aprender más
    .buttonaccesskey = L
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = m
appmenu-update-unsupported-message2 = Tu sistema operativo no es compatible con la última versión de { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Actualización disponible
    .buttonlabel = Actualizar y reiniciar
    .buttonaccesskey = U
    .secondarybuttonlabel = Ignorar
    .secondarybuttonaccesskey = m
appmenu-update-restart-message2 = Obtén la última versión de { -brand-shorter-name }. Se restaurarán las pestañas y ventanas abiertas.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } no se puede actualizar automáticamente a la última versión.
    .buttonlabel = Actualizar { -brand-shorter-name } de todas formas
    .buttonaccesskey = U
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Hay una nueva actualización de { -brand-shorter-name } disponible, pero no se puede instalar porque se está ejecutando otra copia de { -brand-shorter-name }. Ciérrala para continuar con la actualización o elige actualizar de todos modos (es posible que la otra copia no funcione correctamente hasta que la reinicies).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, ¡ya caché!
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gestiona tus complementos haciendo clic en <image data-l10n-name='addon-install-icon'></image> en el menú <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Confirmar
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Administra tus extensiones y temas a través del menú de aplicaciones.
appmenu-addon-post-install-message3 = Administra tus complementos y temas a través del menú de aplicaciones.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir a esta extensión ejecutarse en ventanas privadas
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Tu pestaña nueva ha cambiado.
    .buttonlabel = Mantener cambios
    .buttonaccesskey = K
    .secondarybuttonlabel = Desactivar extensión
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Tu página de inicio ha cambiado.
    .buttonlabel = Mantener cambios
    .buttonaccesskey = K
    .secondarybuttonlabel = Desactivar extensión
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Tu pestaña nueva ha cambiado.
    .buttonlabel = Mantener cambios
    .buttonaccesskey = K
    .secondarybuttonlabel = Gestionar nuevas pestañas
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = Tu página de inicio ha cambiado
    .buttonlabel = Mantener cambios
    .buttonaccesskey = K
    .secondarybuttonlabel = Gestionar página de inicio
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Acceder a tus pestañas ocultas
    .buttonlabel = Mantener pestañas ocultas
    .buttonaccesskey = K
    .secondarybuttonlabel = Desactivar extensión
    .secondarybuttonaccesskey = D
