# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Бяспечнае злучэнне недаступна
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Вы аглядаеце ў рэжыме "толькі HTTPS", а абароненая версія HTTPS для <em>{ $websiteUrl }</em> недаступная.
about-httpsonly-insecure-explanation-reasons = Хутчэй за ўсё, сайт не падтрымлівае HTTPS, але таксама магчыма, што зламыснік блакуе версію HTTPS.
about-httpsonly-insecure-explanation-exception = Хоць рызыка бяспекі невысокая, калі вы рашыце наведаць HTTP-версію сайта, вам не варта ўводзіць якую-небудзь канфідэнцыйную інфармацыю, напрыклад, паролі, адрасы электроннай пошты ці рэквізіты крэдытнай карты.
about-httpsonly-button-make-exception = Прыняць рызыку і наведаць сайт
about-httpsonly-title-alert = Папярэджанне аб рэжыме «Толькі HTTPS»
about-httpsonly-title-connection-not-available = Бяспечнае злучэнне недаступна
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Вы ўключылі рэжым "толькі HTTPS" для лепшай бяспекі, а HTTPS-версія для <em>{ $websiteUrl }</em> недаступная.
about-httpsonly-explanation-question = Што можа быць прычынай гэтага?
about-httpsonly-explanation-nosupport = Хутчэй за ўсё, сайт проста не падтрымлівае HTTPS.
about-httpsonly-explanation-risk = Магчыма таксама дзеянне зламысніка. Калі вы рашыце наведаць гэты сайт, вам не варта ўводзіць якую-небудзь канфідэнцыйную інфармацыю, напрыклад, паролі, адрасы электроннай пошты ці рэквізіты крэдытнай карты.
about-httpsonly-explanation-continue = Калі вы працягнеце, рэжым "толькі HTTPS" будзе часова адключаны для гэтага сайта.
about-httpsonly-button-continue-to-site = Перайсці на HTTP-сайт
about-httpsonly-button-go-back = Вярнуцца
about-httpsonly-link-learn-more = Даведацца больш…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Магчымая альтэрнатыва
about-httpsonly-suggestion-box-www-text = Ёсць бяспечная версія <em>www.{ $websiteUrl }</em>. Вы можаце наведаць гэтую старонку замест <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Перайсці на www.{ $websiteUrl }
