# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Poveži drugo napravo
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Če še niste, namestite <a data-l10n-name="connect-another-device">Firefox na mobilni napravi</a>.
fxa-qrcode-heading-phase2 = 2. Nato se prijavite v { -sync-brand-short-name } ali na napravi Android skenirajte kodo za seznanjanje v nastavitvah { -sync-brand-short-name }a.
fxa-qrcode-heading-step1 = 1. Če še niste, namestite <a data-l10n-name="connect-another-device">Firefox na mobilni napravi</a>.
fxa-qrcode-heading-step2 = 2. Odprite Firefox na svoji mobilni napravi.
fxa-qrcode-heading-step3 = 3. Odprite <b>meni</b> (<img data-l10n-name="ios-menu-icon"/> ali <img data-l10n-name="android-menu-icon"/>), tapnite <img data-l10n-name="settings-icon"/>Nastavitve</b> in izberite <b>Vklopi sinhronizacijo</b>
fxa-qrcode-heading-step4 = 4. Skenirajte to kodo:
fxa-qrcode-error-title = Seznanjanje ni uspelo.
fxa-qrcode-error-body = Poskusi znova.
