# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Güvenli bağlantı kullanılamıyor
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Yalnızca HTTPS modunu kullanıyorsunuz ve <em>{ $websiteUrl }</em> sitesinin güvenli bir HTTPS sürümü mevcut değil.
about-httpsonly-insecure-explanation-reasons = Büyük olasılıkla web sitesi HTTPS desteği sunmuyor ama bir saldırganın HTTPS sürümünü engellemiş olması da mümkündür.
about-httpsonly-insecure-explanation-exception = Güvenlik riski düşük olsa da, bu sitenin HTTP sürümünü ziyaret etmeye karar verirseniz parola, e-posta veya kredi kartı gibi hassas bilgilerinizi girmemelisiniz.
about-httpsonly-button-make-exception = Riski kabul ederek siteye git
about-httpsonly-title-alert = Yalnızca HTTPS modu uyarısı
about-httpsonly-title-connection-not-available = Güvenli bağlantı mevcut değil
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Güvenliğinizi artırmak için Yalnızca HTTPS modunu açtınız ve <em>{ $websiteUrl }</em> sitesinin güvenli bir HTTPS sürümü mevcut değil.
about-httpsonly-explanation-question = Buna ne sebep olabilir?
about-httpsonly-explanation-nosupport = Büyük olasılıkla bu web sitesi HTTPS’i desteklemiyor.
about-httpsonly-explanation-risk = Bir saldırı girişimi olması da mümkündür. Siteyi ziyaret etmeye karar verirseniz parola, e-posta veya kredi kartı gibi hassas bilgilerinizi girmemelisiniz.
about-httpsonly-explanation-continue = Devam ederseniz bu site için Yalnızca HTTPS modu geçici olarak kapatılacak.
about-httpsonly-button-continue-to-site = HTTP siteye devam et
about-httpsonly-button-go-back = Geri dön
about-httpsonly-link-learn-more = Daha fazla bilgi al…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Olası alternatif
about-httpsonly-suggestion-box-www-text = <em>www.{ $websiteUrl }</em> sitesinin güvenli bir sürümü var. <em>{ $websiteUrl }</em> yerine o sayfaya gidebilirsiniz.
about-httpsonly-suggestion-box-www-button = www.{ $websiteUrl } adresine git
