# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Lidhni Tjetër Pajisje
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Nëse s’e keni bërë ende, instaloni <a data-l10n-name="connect-another-device">Firefox-in në pajisjen tuaj celulare</a>.
fxa-qrcode-heading-phase2 = 2. Mandej bëni hyrjen te { -sync-brand-short-name }, ose, që nga Android, skanoni kodin e çiftimit që prej rregullimeve të { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Nëse s’e keni bërë tashmë, instaloni <a data-l10n-name="connect-another-device">Firefox-in në pajisjen tuaj celulare</a>.
fxa-qrcode-heading-step2 = 2. Hapeni Firefox-in në pajisjen tuaj celulare.
fxa-qrcode-heading-step3 = 3. Hapni <b>menunë</b> (<img data-l10n-name="ios-menu-icon"/> ose <img data-l10n-name="android-menu-icon"/>), prekni <img data-l10n-name="settings-icon"/> <b>Rregullime</b> dhe përzgjidhni <b>Aktivizoni Njëkohësimin</b>
fxa-qrcode-heading-step4 = 4. Skanoni këtë kod:
fxa-qrcode-error-title = Çiftim i pasuksesshëm.
fxa-qrcode-error-body = Riprovoni.
