# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Atverti privatųjį langą
    .accesskey = p
about-private-browsing-search-placeholder = Ieškokite saityne
about-private-browsing-info-title = Esate privačiojo naršymo lange
about-private-browsing-info-myths = Dažni mitai apie privatųjį naršymą
about-private-browsing =
    .title = Ieškokite saityne
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Įveskite adresą arba ieškokite per „{ $engine }“
about-private-browsing-handoff-no-engine =
    .title = Įveskite adresą arba paieškos žodžius
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Įveskite adresą arba ieškokite per „{ $engine }“
about-private-browsing-handoff-text-no-engine = Įveskite adresą arba paieškos žodžius
about-private-browsing-not-private = Šiuo metu jūs esate ne privačiajame lange.
about-private-browsing-info-description = „{ -brand-short-name }“ išvalo jūsų paieškos ir naršymo žurnalą kai išjungiate programą, arba užveriate visas privačiojo naršymo korteles ir langus. Nors tai ir nepadaro jūsų anonimu internete, taip lengviau galite išlaikyti savo privatumą nuo kitų šiuo kompiuteriu besinaudojančių žmonių.
about-private-browsing-need-more-privacy = Reikia daugiau privatumo?
about-private-browsing-turn-on-vpn = Išbandykite „{ -mozilla-vpn-brand-name }“
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = „{ $engineName }“ yra jūsų numatytoji ieškyklė privačiojo naršymo languose
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Norėdami pasikeisti ieškyklę, eikite į <a data-l10n-name="link-options">Nuostatas</a>
       *[other] Norėdami pasikeisti ieškyklę, eikite į <a data-l10n-name="link-options">Nuostatas</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Užverti
