# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Yra galimas „{ -brand-shorter-name }“ naujinimas.
    .buttonlabel = Parsiųsti naujinimą
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne dabar
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Atnaujinę „{ -brand-shorter-name }“ turėsite paskiausius greičio ir privatumo patobulinimus.
appmenu-update-manual =
    .label = „{ -brand-shorter-name }“ naujinimas nepavyko.
    .buttonlabel = Parsiųsti „{ -brand-shorter-name }“
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne dabar
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Parsisiųskite šviežią „{ -brand-shorter-name }“ kopiją, o mes jums padėsime ją įsidiegti.
appmenu-update-whats-new =
    .value = Susipažinkite su naujovėmis.
appmenu-update-unsupported =
    .label = „{ -brand-shorter-name }“ naujinimas nepavyko.
    .buttonlabel = Sužinoti daugiau
    .buttonaccesskey = S
    .secondarybuttonlabel = Užverti
    .secondarybuttonaccesskey = U
appmenu-update-unsupported-message = Jūsų sistema nepalaiko paskiausios „{ -brand-shorter-name }“ laidos.
appmenu-update-restart =
    .label = Perleiskite, norėdami atnaujinti „{ -brand-shorter-name }“
    .buttonlabel = Perleisti ir atkurti
    .buttonaccesskey = P
    .secondarybuttonlabel = Ne dabar
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Po greito perleidimo, „{ -brand-shorter-name }“ atkurs visas jūsų atviras korteles ir langus, kurie nėra privačiojo naršymo veiksenoje.
appmenu-update-available2 =
    .label = Išleistas naujinimas
    .buttonlabel = Atsiųsti
    .buttonaccesskey = A
    .secondarybuttonlabel = Paslėpti
    .secondarybuttonaccesskey = s
appmenu-update-available-message2 = Gaukite naujausią „{ -brand-shorter-name }“ versiją.
appmenu-update-manual2 =
    .label = Išleistas naujinimas
    .buttonlabel = Atsiųsti
    .buttonaccesskey = A
    .secondarybuttonlabel = Paslėpti
    .secondarybuttonaccesskey = s
appmenu-update-manual-message2 = Automatinis „{ -brand-shorter-name }“ naujinimas nepavyko. Atsisiųskite naują versiją – neprarasite įrašytų duomenų ar pakeitimų.
appmenu-update-unsupported2 =
    .label = Naujinimas nepavyko
    .buttonlabel = Sužinoti daugiau
    .buttonaccesskey = d
    .secondarybuttonlabel = Paslėpti
    .secondarybuttonaccesskey = s
appmenu-update-unsupported-message2 = Jūsų operacinė sistema nesuderinama su naujausia „{ -brand-shorter-name }“ versija.
appmenu-update-restart2 =
    .label = Išleistas naujinimas
    .buttonlabel = Atnaujinti ir paleisti iš naujo
    .buttonaccesskey = A
    .secondarybuttonlabel = Paslėpti
    .secondarybuttonaccesskey = s
appmenu-update-restart-message2 = Gaukite naujausią „{ -brand-shorter-name }“ versiją. Atvertos kortelės ir langai bus įkelti iš naujo.
appmenu-update-other-instance =
    .label = Automatinis „{ -brand-shorter-name }“ naujinimas nepavyko.
    .buttonlabel = Vis tiek naujinti „{ -brand-shorter-name }“
    .buttonaccesskey = V
    .secondarybuttonlabel = Ne dabar
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Yra išleistas „{ -brand-shorter-name }“ naujinimas, tačiau jo negalima įdiegti dėl šiuo metu veikiančios kitos „{ -brand-shorter-name }“ kopijos. Užverkite ją, norėdami tęsti naujinimą, arba pasirinkite „Vis tiek naujinti“ (kita kopija gali veikti netinkamai, kol nepaleisite iš naujo).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Gerai, supratau
    .buttonaccesskey = G
appmenu-addon-post-install-message = Tvarkykite savo priedus paspausdami <image data-l10n-name='addon-install-icon'></image>, esantį <image data-l10n-name='addon-menu-icon'></image> meniu.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Gerai
    .buttonaccesskey = G
appmenu-addon-post-install-message2 = Tvarkykite savo priedus ir grafinius apvalkalus per programos meniu.
appmenu-addon-post-install-message3 = Tvarkykite savo priedus ir grafinius apvalkalus per programos meniu.
appmenu-addon-post-install-incognito-checkbox =
    .label = Leisti šiam priedui veikti privačiojo naršymo languose
    .accesskey = L
appmenu-new-tab-controlled =
    .label = Pasikeitė jūsų nauja kortelė.
    .buttonlabel = Palikti pakeitimus
    .buttonaccesskey = k
    .secondarybuttonlabel = Išjungti priedą
    .secondarybuttonaccesskey = I
appmenu-homepage-controlled =
    .label = Pasikeitė jūsų pradžios tinklalapis.
    .buttonlabel = Palikti pakeitimus
    .buttonaccesskey = k
    .secondarybuttonlabel = Išjungti priedą
    .secondarybuttonaccesskey = j
appmenu-new-tab-controlled-changes =
    .label = Pasikeitė jūsų nauja kortelė.
    .buttonlabel = Palikti pakeitimus
    .buttonaccesskey = P
    .secondarybuttonlabel = Tvarkyti naujas korteles
    .secondarybuttonaccesskey = T
appmenu-homepage-controlled-changes =
    .label = Pasikeitė jūsų pradžios tinklalapis.
    .buttonlabel = Palikti pakeitimus
    .buttonaccesskey = P
    .secondarybuttonlabel = Tvarkyti pradžios tinklalapį
    .secondarybuttonaccesskey = T
appmenu-tab-hide-controlled =
    .label = Pasiekite paslėptas korteles
    .buttonlabel = Korteles laikyti paslėptas
    .buttonaccesskey = K
    .secondarybuttonlabel = Išjungti priedą
    .secondarybuttonaccesskey = g
