# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = პირადი ფანჯრის გახსნა
    .accesskey = პ
about-private-browsing-search-placeholder = ძიება ინტერნეტში
about-private-browsing-info-title = თქვენ იმყოფებით პირად ფანჯარაში
about-private-browsing-info-myths = არასწორი წარმოდგენები პირადი თვალიერების რეჟიმის შესახებ
about-private-browsing =
    .title = ძიება ინტერნეტში
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = მოძებნეთ { $engine } საძიებოთი ან შეიყვანეთ მისამართი
about-private-browsing-handoff-no-engine =
    .title = მოძებნეთ ან შეიყვანეთ მისამართი
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = მოძებნეთ { $engine } საძიებოთი ან შეიყვანეთ მისამართი
about-private-browsing-handoff-text-no-engine = მოძებნეთ ან შეიყვანეთ მისამართი
about-private-browsing-not-private = ამჟამად პირად ფანჯარაში არ იმყოფებით.
about-private-browsing-info-description = { -brand-short-name } გაასუფთავებს თქვენ მიერ მოძიებული და მონახულებული გვერდების ისტორიას პროგრამიდან გამოსვლისას ან ყველა პირადი ჩანართისა და ფანჯრის დახურვისას. მართალია ეს არ ფარავს თქვენს ვინაობას საიტებისა და ინტერნეტმომსახურების მომწოდებლისგან, თუმცა დაგეხმარებათ დაიცვათ პირადი მონაცემები კომპიუტერის სხვა მომხმარებლებისგან.
about-private-browsing-need-more-privacy = გესაჭიროებათ მეტი უსაფრთხოება?
about-private-browsing-turn-on-vpn = გამოცადეთ { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } თქვენი ნაგულისხმევი საძიებოა პირად ფანჯრებში
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] სხვა საძიებოს შესარჩევად გადადით <a data-l10n-name="link-options">პარამეტრებში</a>
       *[other] სხვა საძიებოს შესარჩევად გადადით <a data-l10n-name="link-options">პარამეტრებში</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = დახურვა
