# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = ახალი { -brand-shorter-name } ხელმისაწვდომია.
    .buttonlabel = განახლების ჩამოტვირთვა
    .buttonaccesskey = ჩ
    .secondarybuttonlabel = ახლა არა
    .secondarybuttonaccesskey = ა
appmenu-update-available-message = განაახლეთ { -brand-shorter-name } გაუმჯობესებული სიჩქარისა და უსაფრთხოებისთვის.
appmenu-update-manual =
    .label = { -brand-shorter-name } ვერ ახლდება ბოლო ვერსიამდე.
    .buttonlabel = ჩამოტვირთეთ { -brand-shorter-name }
    .buttonaccesskey = ჩ
    .secondarybuttonlabel = ახლა არა
    .secondarybuttonaccesskey = ა
appmenu-update-manual-message = ჩამოტვირთეთ ახალი { -brand-shorter-name } და ჩვენ დაგეხმარებით მის დაყენებაში.
appmenu-update-whats-new =
    .value = გაეცანით სიახლეებს.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ვერ ახლდება ბოლო ვერსიამდე.
    .buttonlabel = ვრცლად
    .buttonaccesskey = ვ
    .secondarybuttonlabel = დახურვა
    .secondarybuttonaccesskey = დ
appmenu-update-unsupported-message = უახლესი ვერსიის { -brand-shorter-name } არაა მხარდაჭერილი თქვენს სისტემაზე.
appmenu-update-restart =
    .label = გასაახლებლად, კვლავ გაუშვით { -brand-shorter-name }.
    .buttonlabel = გაშვება და აღდგენა
    .buttonaccesskey = გ
    .secondarybuttonlabel = ახლა არა
    .secondarybuttonaccesskey = ა
appmenu-update-restart-message = ხელახლა გაშვების შემდეგ, { -brand-shorter-name } აღადგენს თქვენს ყველა გახსნილ ჩანართსა და ფანჯარას, პირადი ჩანართებისა და ფანჯრების გარდა.
appmenu-update-available2 =
    .label = განახლება ხელმისაწვდომია
    .buttonlabel = ჩამოტვირთვა
    .buttonaccesskey = ტ
    .secondarybuttonlabel = აცილება
    .secondarybuttonaccesskey = ც
appmenu-update-available-message2 = ჩამოტვირთეთ, უახლესი { -brand-shorter-name }
appmenu-update-manual2 =
    .label = განახლება ხელმისაწვდომია
    .buttonlabel = ჩამოტვირთვა
    .buttonaccesskey = ტ
    .secondarybuttonlabel = აცილება
    .secondarybuttonaccesskey = ც
appmenu-update-manual-message2 = { -brand-shorter-name } ვერ ახლდება თავისით. ხელით ჩამოტვირთეთ ახალი ვერსია — შენახული მონაცემები და მორგებული პარამეტრები არ დაიკარგება.
appmenu-update-unsupported2 =
    .label = განახლება ვერ ხერხდება
    .buttonlabel = ვრცლად
    .buttonaccesskey = ლ
    .secondarybuttonlabel = აცილება
    .secondarybuttonaccesskey = ც
appmenu-update-unsupported-message2 = თქვენი საოპერაციო სისტემა და უახლესი { -brand-shorter-name } შეუთავსებლებია.
appmenu-update-restart2 =
    .label = განახლება ხელმისაწვდომია
    .buttonlabel = თავიდან გაშვება გასაახლებლად
    .buttonaccesskey = ვ
    .secondarybuttonlabel = აცილება
    .secondarybuttonaccesskey = ც
appmenu-update-restart-message2 = მიიღეთ უახლესი { -brand-shorter-name }. გახსნილი ჩანართები და ფანჯრები აღდგება.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } ვერ ახერხებს ბოლო ვერსიამდე განახლებას.
    .buttonlabel = მაინც შეეცადოს განახლდეს { -brand-shorter-name }
    .buttonaccesskey = გ
    .secondarybuttonlabel = ახლა არა
    .secondarybuttonaccesskey = ა
appmenu-update-other-instance-message = ახალი { -brand-shorter-name } ხელმისაწვდომია, მაგრამ ვერ ყენდება, რადგან გაშვებულია სხვა { -brand-shorter-name }. დახურეთ განახლების დასაყენებლად ან აირჩიეთ, მაინც განახლება (უკვე გაშვებულმა შესაძლოა ვერ იმუშავოს, ხელახლა ჩართვის გარეშე).
appmenu-addon-private-browsing-installed =
    .buttonlabel = კარგი, გასაგებია
    .buttonaccesskey = გ
appmenu-addon-post-install-message = მართეთ თქვენი დამატებები <image data-l10n-name='addon-install-icon'></image> ხატულაზე დაწკაპებით, <image data-l10n-name='addon-menu-icon'></image> მენიუში.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = კარგი
    .buttonaccesskey = კ
appmenu-addon-post-install-message2 = მართეთ თქვენი გაფართოებები და თემები პროგრამის მენიუდან.
appmenu-addon-post-install-message3 = მართეთ თქვენი დამატებები და თემები პროგრამის მენიუდან.
appmenu-addon-post-install-incognito-checkbox =
    .label = დაშვება ამ გაფართოების, პირად ფანჯრებში
    .accesskey = დ
appmenu-new-tab-controlled =
    .label = ახალი ჩანართის გვერდი შეიცვალა.
    .buttonlabel = ცვლილებების დატოვება
    .buttonaccesskey = დ
    .secondarybuttonlabel = გაფართოების ამორთვა
    .secondarybuttonaccesskey = მ
appmenu-homepage-controlled =
    .label = თქვენი საწყისი გვერდი შეცვლილია.
    .buttonlabel = ცვლილებების დატოვება
    .buttonaccesskey = ც
    .secondarybuttonlabel = გაფართოების ამორთვა
    .secondarybuttonaccesskey = მ
appmenu-new-tab-controlled-changes =
    .label = ახალი ჩანართის გვერდი შეიცვალა.
    .buttonlabel = ცვლილებების დატოვება
    .buttonaccesskey = ტ
    .secondarybuttonlabel = ახალი ჩანართის მართვა
    .secondarybuttonaccesskey = მ
appmenu-homepage-controlled-changes =
    .label = თქვენი საწყისი გვერდი შეიცვალა.
    .buttonlabel = ცვლილებების დატოვება
    .buttonaccesskey = ტ
    .secondarybuttonlabel = საწყისი გვერდის მართვა
    .secondarybuttonaccesskey = მ
appmenu-tab-hide-controlled =
    .label = თქვენს დამალულ ჩანართებთან წვდომა
    .buttonlabel = დამალულად დატოვება
    .buttonaccesskey = ტ
    .secondarybuttonlabel = გაფართოების ამორთვა
    .secondarybuttonaccesskey = რ
