# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Situs tipuan
safeb-blocked-malware-page-title = Mengunjungi situs web ini dapat membahayakan komputer Anda
safeb-blocked-unwanted-page-title = Situs tujuan mungkin mengandung program berbahaya
safeb-blocked-harmful-page-title = Situs tujuan mungkin mengandung perangkat perusak
safeb-blocked-phishing-page-short-desc = { -brand-short-name } memblokir laman ini karena diduga akan mengecoh Anda untuk melakukan sesuatu yang berbahaya seperti memasang perangkat lunak atau mengungkap informasi pribadi seperti sandi atau kartu kredit.
safeb-blocked-malware-page-short-desc = { -brand-short-name } memblokir laman ini karena mencoba memasang perangkat lunak jahat yang bisa mencuri atau menghapus informasi personal di komputer Anda.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } memblokir laman ini karena mencoba mengecoh Anda untuk memasang program yang membahayakan pengalaman menjelajah Anda (contohnya, mengganti beranda atau menampilkan iklan ekstra di situs yang Anda kunjungi).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } memblokir laman ini karena mencoba memasang aplikasi berbahaya yang dapat mencuri atau menghapus infomasi Anda (seperti foto, sandi, pesan, dan kartu kredit).
safeb-palm-advisory-desc = Peringatan disediakan oleh <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Kembali
safeb-palm-see-details-label = Lihat detail
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan sebagai situs tipuan</a>. Anda dapat <a data-l10n-name='report_detection'>melaporkan masalah pendeteksian</a> atau <a data-l10n-name='ignore_warning_link'>abaikan risikonya</a> dan mengunjungi situs tidak aman ini.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan sebagai situs tipuan</a>. Anda dapat <a data-l10n-name='report_detection'>melaporkan masalah pendeteksian</a>.
safeb-blocked-phishing-page-learn-more = Pelajari lebih lanjut tentang situs tipuan dan pengelabuan di <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Pelajari lebih lanjut tentang Perlindungan Pengelabuan dan Perangkat Perusak dari { -brand-short-name } di <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan mengandung perangkat lunak jahat</a>. Anda dapat <a data-l10n-name='report_detection'>melaporkan masalah pendeteksian</a> atau <a data-l10n-name='ignore_warning_link'>mengabaikan risikonya</a> dan mengunjungi situs yang tidak aman ini.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan mengandung perangkat lunak jahat</a>. Anda dapat <a data-l10n-name='report_detection'>melaporkan masalah pendeteksian</a>.
safeb-blocked-malware-page-learn-more = Pelajari lebih lanjut tentang konten web berbahaya, termasuk virus dan perangkat perusak lainnya, dan cara melindungi komputer Anda di <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Pelajari lebih lanjut tentang Perlindungan Pengelabuan dan Perangkat Perusak dari { -brand-short-name } di <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan mengandung perangkat lunak berbahaya</a> Anda dapat <a data-l10n-name='ignore_warning_link'>mengabaikan risikonya</a> dan mengunjungi situs tidak aman ini.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan mengandung perangkat lunak berbahaya</a>.
safeb-blocked-malware-page-learn-more-sumo = Pelajari lebih lanjut tentang Perlindungan Pengelabuan dan Perangkat Perusak dari { -brand-short-name } di <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan mengandung perangkat lunak berbahaya</a> Anda dapat <a data-l10n-name='ignore_warning_link'>mengabaikan risikonya</a> dan mengunjungi situs tidak aman ini.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan mengandung perangkat lunak berbahaya</a>.
safeb-blocked-unwanted-page-learn-more = Pelajari lebih lanjut tentang perangkat lunak berbahaya dan tidak diinginkan di <a data-l10n-name='learn_more_link'>Unwanted Software Policy</a>. Pelajari lebih lanjut tentang Perlindungan Pengelabuan dan Perangkat Perusak dari { -brand-short-name } di <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan berisi aplikasi yang diduga berbahaya</a>. Anda dapat <a data-l10n-name='ignore_warning_link'>mengabaikan risikonya</a> dan mengunjungi situs tidak aman ini.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> telah <a data-l10n-name='error_desc_link'>dilaporkan berisi aplikasi yang mungkin berbahaya</a>.
safeb-blocked-harmful-page-learn-more = Pelajari lebih lanjut tentang Perlindungan Pengelabuan dan Perangkat Perusak dari { -brand-short-name } di <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Ini bukan situs tipuan…
    .accesskey = d
