# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = صِلْ جهازا آخر
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. ثبّت <a data-l10n-name="connect-another-device">Firefox على جهازك المحمول</a>، إن لم يكن مثبّتًا.
fxa-qrcode-heading-phase2 = 2. بعدها لِج في { -sync-brand-short-name } أو يمكنك في أندرويد مسح رمز الاقتران ضوئيًا من إعدادات { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. ثبّت <a data-l10n-name="connect-another-device">Firefox على جهازك المحمول</a>، إن لم يكن مثبّتًا.
fxa-qrcode-heading-step2 = 2. افتح Firefox على أيّ جهاز محمول.
fxa-qrcode-heading-step3 = 3. افتح <b>القائمة</b> )<img data-l10n-name="ios-menu-icon"/> أو <img data-l10n-name="android-menu-icon"/>)، ثم انقر <img data-l10n-name="settings-icon"/> <b>الإعدادات</b> واختر <b>فعّل المزامنة</b>
fxa-qrcode-heading-step4 = 4. امسح هذا الرمز ضوئيًا:
fxa-qrcode-error-title = لم ينجح الاقتران.
fxa-qrcode-error-body = أعِد المحاولة
