# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Konexio segurua ez dago erabilgarri
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = HTTPS-Only moduan ari zara nabigatzen eta ez dago erabilgarri <em>{ $websiteUrl }</em> webgunearen HTTPS bertsio segururik.
about-httpsonly-insecure-explanation-reasons = Ziurrenik webguneak ez du HTTPS onartzen baina bestalde baliteke erasotzaile bat HTTPS bertsioa blokeatzen aritzea.
about-httpsonly-insecure-explanation-exception = Segurtasun-arriskua baxua den arren, webgunearen HTTP bertsioa bisitatzea erabakitzen baduzu, ez zenuke kontuzko informaziorik sartu behar, hala nola pasahitzak, helbide elektronikoak edo kreditu-txartelen xehetasunak.
about-httpsonly-button-make-exception = Onartu arriskua eta jarraitu gunera
about-httpsonly-title-alert = HTTPS-Only moduko abisua
about-httpsonly-title-connection-not-available = Konexio segurua ez dago erabilgarri
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Segurtasun hobetua izateko HTTPS-Only modua gaitu duzu eta <em>{ $websiteUrl }</em> webgunearen HTTPS bertsioa ez dago erabilgarri.
about-httpsonly-explanation-question = Zerk eragin lezake hau?
about-httpsonly-explanation-nosupport = Oso litekeena da webguneak HTTPS ez onartzea.
about-httpsonly-explanation-risk = Baita ere baliteke erasotzaile bat tartean izatea. Webgunea bisitatzea erabakitzen baduzu. ez zenuke kontuzko informaziorik sartu behar, hala nola pasahitzak, helbide elektronikoak edo kreditu-txartelen xehetasunak.
about-httpsonly-explanation-continue = Jarraituz gero, HTTPS-Only modua behin-behinean desgaituko da webgune honetarako.
about-httpsonly-button-continue-to-site = Jarraitu HTTP gunera
about-httpsonly-button-go-back = Joan atzera
about-httpsonly-link-learn-more = Argibide gehiago…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Ordezko posiblea
about-httpsonly-suggestion-box-www-text = <em>www.{ $websiteUrl }</em> gunearen bertsio seguru bat erabilgarri dago. Orri hau bisita dezakezu <em>{ $websiteUrl }</em> orriaren ordez.
about-httpsonly-suggestion-box-www-button = Joan www.{ $websiteUrl } helbidera
