# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Σχετικά με τα δικαιώματά σας
rights-intro = Το { -brand-full-name } είναι ελεύθερο λογισμικό ανοικτού κώδικα που δημιουργείται από μια κοινότητα χιλιάδων ατόμων από όλο τον κόσμο. Υπάρχουν μερικά πράγματα που πρέπει να γνωρίζετε:
rights-intro-point-1 = Το { -brand-short-name } είναι διαθέσιμο σε εσάς υπό τους όρους της <a data-l10n-name="mozilla-public-license-link">Δημόσιας Άδειας της Mozilla</a>. Αυτό σημαίνει ότι μπορείτε να κάνετε χρήση, αντιγραφή και διανομή του { -brand-short-name } σε τρίτους.  Είστε ακόμα ελεύθεροι να τροποποιήσετε τον πηγαίο κώδικα του { -brand-short-name } όπως επιθυμείτε, ώστε να καλύπτει τις ανάγκες σας. Η Δημόσια Άδεια της Mozilla σάς δίνει το δικαίωμα να διανέμετε τις τροποποιημένες εκδόσεις σας.
rights-intro-point-2 = Ωστόσο, δεν σάς παραχωρούνται δικαιώματα ή άδειες για τα εμπορικά σήματα του Ιδρύματος Mozilla ή οποιουδήποτε τρίτου, συμπεριλαμβανομένων, χωρίς περιορισμούς, των ονομάτων ή των λογότυπων του Firefox. Μπορείτε να βρείτε περισσότερες πληροφορίες για τα εμπορικά σήματα <a data-l10n-name="mozilla-trademarks-link">εδώ</a>.
rights-intro-point-3 = Μερικές λειτουργίες του { -brand-short-name }, όπως ο Crash Reporter, σας προσφέρουν την επιλογή υποβολής σχολίων στον { -vendor-short-name }. Επιλέγοντας να υποβάλετε σχόλια , δίνετε την άδεια στον { -vendor-short-name } να χρησιμοποιήσει τα σχόλια για να βελτιώσει τα προϊόντα του , να δημοσιεύσει και να μοιράσει τα σχόλια.
rights-intro-point-4 = Ο τρόπος χρήσης των προσωπικών σας πληροφοριών και των σχολίων που υποβάλετε στον { -vendor-short-name } μέσω του { -brand-short-name } περιγράφεται στην  <a data-l10n-name="mozilla-privacy-policy-link">Πολιτική απορρήτου του { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Όποιεσδήποτε σχετικές πολιτικές προστασίας απορρήτου μπορούν να αναφερθούν εδώ.
rights-intro-point-5 = Μερικές από τις λειτουργίες του { -brand-short-name } χρησιμοποιούν διαδικτυακές πληροφοριακές υπηρεσίες, για τις οποίες όμως δεν μπορούμε να εγγυηθούμε ότι είναι 100% χωρίς σφάλματα. Περισσότερες πληροφορίες, μαζί με πληροφορίες για την απενεργοποίηση αυτών των υπηρεσιών μπορείτε να βρείτε στους <a data-l10n-name="mozilla-service-terms-link">όρους υπηρεσίας</a>.
rights-intro-point-5-unbranded = Αν αυτό το προϊόν περιέχει ενσωματωμένες υπηρεσίες, όλοι οι όροι αυτών των υπηρεσιών θα πρέπει να οδηγούν στην ενότητα<a data-l10n-name="mozilla-website-services-link">Υπηρεσίες ιστοσελίδων</a> .
rights-intro-point-6 = Για την αναπαραγωγή ορισμένων τύπων περιεχομένου βίντεο, το { -brand-short-name } κάνει λήψη ορισμένων αρθρωμάτων αποκρυπτογράφησης περιεχομένου από τρίτους.
rights-webservices-header = Διαδικτυακές υπηρεσίες πληροφοριών του { -brand-full-name }
rights-webservices = Το { -brand-full-name } χρησιμοποιεί διαδικτυακές υπηρεσίες πληροφοριών ("Υπηρεσίες") για την παροχή μερικών λειτουργιών, που έρχονται με αυτή την έκδοση του { -brand-short-name } υπό τους παρακάτω όρους. Αν δεν θέλετε να χρησιμοποιήσετε μία ή περισσότερες υπηρεσίες, ή δεν συμφωνείτε με τους παρακάτω όρους, μπορείτε να απενεργοποιήσετε τη λειτουργία ή την υπηρεσία(ες). Οδηγίες σχετικά με τον τρόπο απενεργοποίησης μιας συγκεκριμένης λειτουργίας ή υπηρεσίας, μπορείτε να βρείτε <a data-l10n-name="mozilla-disable-service-link">εδώ</a>. Άλλες λειτουργίες και υπηρεσίες μπορούν να απενεργοποιηθούν μέσω των προτιμήσεων της εφαρμογής.
rights-safebrowsing = <strong>Ασφαλής περιήγηση: </strong>Η απενεργοποίηση της ασφαλούς περιήγησης δεν προτείνεται μιας και μπορεί να σας οδηγήσει σε επικίνδυνες ιστοσελίδες.  Αν επιθυμείτε να απενεργοποιήσετε πλήρως αυτή τη λειτουργία, ακολουθήστε τα παρακάτω βήματα:
rights-safebrowsing-term-1 = Ανοίξτε τις προτιμήσεις της εφαρμογής
rights-safebrowsing-term-2 = Επιλέξτε την καρτέλα Ασφάλεια
rights-safebrowsing-term-3 = Αποεπιλέξτε την επιλογή για "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Φραγή επικίνδυνου και παραπλανητικού περιεχομένου
rights-safebrowsing-term-4 = Η ασφαλής περιήγηση είναι πλέον ανενεργή
rights-locationawarebrowsing = <strong>Η Περιήγηση με δήλωση τοποθεσίας: </strong>γίνεται πάντα με ερώτηση για τη σύμφωνη γνώμη σας. Δεν παρέχονται πληροφορίες τοποθεσίας χωρίς την άδεια σας.  Αν επιθυμείτε να απενεργοποιήσετε πλήρως αυτή τη λειτουργία, ακολουθήστε τα παρακάτω βήματα:
rights-locationawarebrowsing-term-1 = Στη γραμμή διευθύνσεων, πληκτρολογήστε <code>about:config</code>
rights-locationawarebrowsing-term-2 = Πληκτρολογήστε geo.enabled
rights-locationawarebrowsing-term-3 = Κάντε διπλό κλικ στην προτίμηση geo.enabled
rights-locationawarebrowsing-term-4 = Η Περιήγηση με δήλωση τοποθεσίας θα απενεργοποιηθεί
rights-webservices-unbranded = Εδώ, θα πρέπει να συμπεριληφθεί μια επισκόπηση των υπηρεσιών ιστοσελίδας που ενσωματώνει το προϊόν, μαζί με οδηγίες σχετικά με την απενεργοποίηση, αν υπάρχει.
rights-webservices-term-unbranded = Οποιοιδήποτε όροι υπηρεσίας έχουν ισχύ για αυτό το προϊόν θα πρέπει να αναγραφούν εδώ.
rights-webservices-term-1 =
    Η { -vendor-short-name }, οι συντελεστές, οι συνεργάτες και οι διανομείς της εργάζονται για να παρέχουν τις
    πιο ακριβείς και ενημερωμένες υπηρεσίες. Ωστόσο, δεν μπορούμε να εγγυηθούμε ότι αυτές οι πληροφορίες
    είναι κατανοητές και χωρίς σφάλματα. Για παράδειγμα, η Υπηρεσία ασφαλούς περιήγησης ενδέχεται να μην
    αναγνωρίσει κάποιες επικίνδυνες ιστοσελίδες και ενδεχομένως να θεωρήσει ορισμένες ασφαλείς ιστοσελίδες
    ως ύποπτες, ενώ η Υπηρεσία περιήγησης βάσει τοποθεσίας μπορεί να μην είναι ακριβής. Ούτε εμείς ούτε οι
    πάροχοι υπηρεσιών μας δεν μπορούμε να εγγυηθούμε την ακρίβεια των παρεχόμενων
    τοποθεσιών.
rights-webservices-term-2 = Ο { -vendor-short-name } διατηρεί το δικαίωμα να διακόψει ή να αλλάξει τις Υπηρεσίες κατά βούληση.
rights-webservices-term-3 = Είστε ευπρόσδεκτοι να χρησιμοποιείτε αυτές τις Υπηρεσίες μαζί με την συνοδευόμενη έκδοση του { -brand-short-name } και του { -vendor-short-name } , και έχετε όλα τα απαραίτητα δικαιώματα να το κάνετε. Ο { -vendor-short-name } και οι συνεργάτες του διατηρούν όλα τα άλλα δικαιώματα στις Υπηρεσίες.  Αυτοί οι όροι δεν σκοπεύουν να περιορίσουν οποιαδήποτε δικαιώματα που προέρχονται από τις άδειες ανοικτού λογισμικού που συνοδεύουν τον { -brand-short-name } και τις αντίστοιχες εκδόσεις πηγαίου κώδικα του { -brand-short-name }.
rights-webservices-term-4 = <strong>Οι Υπηρεσίες παρέχονται "ως έχει." Ο { -vendor-short-name }, οι συντελεστές, οι συνεργάτες και οι διανομείς του, παρέχουν τις υπηρεσίες χωρίς οποιουδήποτε είδους εγγύηση, είτε ρητή είτε σιωπηρή, συμπεριλαμβανομένης ενδεικτικά και όχι περιοριστικά της σιωπηρής εγγύησης εμπορευσιμότητας και καταλληλότητας των Υπηρεσιών για συγκεκριμένη χρήση. Ο κίνδυνος ως προς την ποιότητα και επίδοση των Υπηρεσιών βαρύνει εξ ολοκλήρου εσάς. Μερικές νομοθεσίες δεν επιτρέπουν την εξαίρεση ή τον περιορισμό των σιωπηλών εγγυήσεων και έτσι αυτή η παράγραφος αποποίησης μπορεί να μην ισχύει για εσάς.</strong>
rights-webservices-term-5 = <strong>Σε καμία περίπτωση, εκτός εάν απαιτείται από την κείμενη νομοθεσία, Ο { -vendor-short-name }, οι συντελεστές, οι  συνεργάτες του και οι διανομείς του δεν είναι υπεύθυνοι απέναντί σας για ζημίες, συμπεριλαμβανομένων όλων των γενικών, ειδικών, τυχαίων ή συνεπακόλουθων ζημιών που μπορεί να προκύψουν από τη χρήση ή την αδυναμία χρήσης του { -brand-short-name } και των Υπηρεσιών.  Η συλλογική υπαιτιότητα κάτω από αυτούς τους όρους δεν μπορεί να υπερβαίνει τα $500 (πεντακόσια δολάρια). Μερικές νομοθεσίες δεν επιτρέπουν την εξαίρεση ή τον περιορισμό κάποιων ζημιών και έτσι αυτή η εξαίρεση η ο περιορισμός  μπορεί να μην ισχύει για εσάς.</strong>
rights-webservices-term-6 = Ο { -vendor-short-name } μπορεί να ενημερώνει περιοδικά αυτούς τους όρους αν κριθεί απαραίτητο. Δεν είναι δυνατή η τροποποίηση ή η ακύρωση αυτών των όρων χωρίς την έγγραφη συναίνεση του  { -vendor-short-name }.
rights-webservices-term-7 = Αυτοί οι όροι υπόκεινται στους νομους της πολιτείας της  California, U.S.A., εξαιρουμένων των συγκρούσεων στους παρεχόμενους νόμους. Αν οπoιοδήποτε μέρος αυτών των όρων αποδειχθεί μη έγκυρο ή μη εφαρμόσιμο, τα υπόλοιπα μέρη εξακολουθούν να είναι σε πλήρη ισχύ και χρήση. Σε περίπτωση σύγκρουσης μεταξύ μιας μεταφρασμένης έκδοσης αυτών των όρων με την Αγγλική έκδοση των όρων, ισχύει η Αγγλική έκδοση.
