# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Μη διαθέσιμη ασφαλής σύνδεση
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Περιηγείστε σε λειτουργία Μόνο-HTTPS και δεν διατίθεται ασφαλής έκδοση HTTPS του <em>{ $websiteUrl }</em>.
about-httpsonly-insecure-explanation-reasons = Πιθανότατα, η ιστοσελίδα δεν υποστηρίζει HTTPS, αλλά είναι επίσης πιθανό ότι ένας εισβολέας αποκλείει την έκδοση HTTPS.
about-httpsonly-insecure-explanation-exception = Ενώ ο κίνδυνος ασφαλείας είναι μικρός, αν αποφασίσετε να επισκεφθείτε την έκδοση HTTP της ιστοσελίδας, δεν θα πρέπει να καταχωρήσετε ευαίσθητες πληροφορίες, όπως κωδικούς πρόσβασης, emails ή στοιχεία πιστωτικών καρτών.
about-httpsonly-button-make-exception = Αποδοχή κινδύνου και συνέχεια στην ιστοσελίδα
about-httpsonly-title-alert = Ειδοποίηση λειτουργίας Μόνο-HTTPS
about-httpsonly-title-connection-not-available = Μη διαθέσιμη ασφαλής σύνδεση
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Έχετε ενεργοποιήσει τη λειτουργία Μόνο-HTTPS για ενισχυμένη ασφάλεια, αλλά δεν διατίθεται ασφαλής έκδοση HTTPS του <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = Τι μπορεί να το προκαλεί αυτό;
about-httpsonly-explanation-nosupport = Πιθανότατα, η ιστοσελίδα απλά δεν υποστηρίζει HTTPS.
about-httpsonly-explanation-risk = Είναι επίσης πιθανό να έχει εμπλακεί ένας εισβολέας. Εάν αποφασίσετε να επισκεφθείτε την ιστοσελίδα, δεν πρέπει να εισαγάγετε ευαίσθητες πληροφορίες, όπως κωδικούς πρόσβασης, email, ή στοιχεία πιστωτικής κάρτας.
about-httpsonly-explanation-continue = Αν συνεχίσετε, η λειτουργία Μόνο-HTTPS θα απενεργοποιηθεί προσωρινά για αυτή την ιστοσελίδα.
about-httpsonly-button-continue-to-site = Συνέχεια σε ιστοσελίδα HTTP
about-httpsonly-button-go-back = Επιστροφή
about-httpsonly-link-learn-more = Μάθετε περισσότερα…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Πιθανή εναλλακτική
about-httpsonly-suggestion-box-www-text = Υπάρχει μια ασφαλής έκδοση του <em>www.{ $websiteUrl }</em>. Μπορείτε να επισκεφθείτε αυτή τη σελίδα αντί του <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Μετάβαση στο www.{ $websiteUrl }
