# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = विघ्ननिवारण सूचना
page-subtitle = यह पृष्ठ आपको एक समस्या को हल करने की कोशिश कर रहे हैं उपयोगी हो सकता है कि तकनीकी जानकारी है. { -brand-short-name }, के बारे में आम सवालों के जवाब की तलाश में हैं, हमारे  <a data-l10n-name="support-link">समर्थन वेबसाइट की जाँच करें.</a>
crashes-title = क्रैश रिपोर्ट
crashes-id = रिपोर्ट ID
crashes-send-date = सुपुर्द
crashes-all-reports = सभी क्रैश रिपोर्ट
crashes-no-config = इस अनुप्रयोग को क्रैश रिपोर्ट को दिखाने के लिए विन्यस्त किया गया है.
extensions-title = विस्तार
extensions-name = नाम
extensions-enabled = सक्रिय
extensions-version = संस्करण
extensions-id = आईडी
support-addons-title = ऐड-ऑन
support-addons-name = नाम
support-addons-version = संस्करण
support-addons-id = आईडी
security-software-title = सुरक्षा सॉफ्टवेयर
security-software-type = प्रकार
security-software-name = नाम
security-software-antivirus = एंटीवायरस
security-software-antispyware = एंटीस्पायवेयर
security-software-firewall = फ़ायरवॉल
features-title = { -brand-short-name } विशेषताएं
features-name = नाम
features-version = संस्करण
features-id = ID
processes-title = दूरस्थ प्रक्रियाएं
app-basics-title = अनुप्रयोग मूल
app-basics-name = नाम
app-basics-version = संस्करण
app-basics-build-id =  ID बनाएँ
app-basics-update-channel = चैनल अद्यतन करें
# This message refers to the folder used to store updates on the device,
# as in "Folder for updates". "Update" is a noun, not a verb.
app-basics-update-dir =
    { PLATFORM() ->
        [linux] डिरेक्टरी अपडेट करें
       *[other] फोल्डर अपडेट करें
    }
app-basics-update-history = इतिहास अद्यतन करें
app-basics-show-update-history = अद्यतन इतिहास दिखाएँ
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] प्रोफ़ाइल निर्देशिका
       *[other] प्रोफ़ाइल फ़ोल्डर
    }
app-basics-enabled-plugins = सक्रिय प्लगिन
app-basics-build-config = बिल्ड विन्यास
app-basics-user-agent = उपयोक्ता प्रतिनिधि
app-basics-os = OS
app-basics-memory-use = स्मृति के उपयोग
app-basics-performance = प्रदर्शन
app-basics-service-workers = सर्विस श्रमिक पंजीकृत किया गया
app-basics-profiles = प्रोफ़ाइल
app-basics-multi-process-support = बहुप्रक्रिया विंडोज़
app-basics-enterprise-policies = एंटरप्राइज नीतियाँ
app-basics-key-mozilla = Mozilla अवस्थिति सेवा कुंजी
app-basics-safe-mode = सेफ मोड
show-dir-label =
    { PLATFORM() ->
        [macos] फाइंडर में पता करें
        [windows] फ़ोल्डर खोलें
       *[other] खुली निर्देशिका
    }
environment-variables-name = नाम
experimental-features-name = नाम
modified-key-prefs-title = महत्वपूर्ण रूपांतरित वरीयताएँ
modified-prefs-name = नाम
modified-prefs-value = मान
user-js-title = उपयोक्ता प्राथमिकताएँ
user-js-description = Your profile folder contains a <a data-l10n-name="user-js-link">user.js file</a>, which includes preferences that were not created by { -brand-short-name }.
locked-key-prefs-title = महत्वपूर्ण बंद वरीयताएँ
locked-prefs-name = नाम
locked-prefs-value = मान
graphics-title = चित्रादि
graphics-features-title = विशेषताएँ
graphics-diagnostics-title = निदान
graphics-failure-log-title = असफल लॉग
graphics-gpu1-title = जीपीयू #1
graphics-gpu2-title = जीपीयू #2
graphics-decision-log-title = निर्णय लॉग
graphics-crash-guards-title = क्रैश गार्ड निष्क्रिय सुविधाएँ
graphics-workarounds-title = वर्कअराउन्ड
place-database-title = स्थान डेटाबेस
place-database-integrity = अखंडता
place-database-verify-integrity = अखंडता सत्यापित करें
a11y-title = पहुँच
a11y-activated = सक्रिय
a11y-force-disabled = पहुँच रोकें
a11y-handler-used = सुगम संचालक प्रयुक्त
a11y-instantiator = अभिगम्यता दृष्टांतकर्ता
library-version-title = लाइब्रेरी संस्करण
copy-text-to-clipboard-label = पाठ क्लिपबोर्ड में नक़ल लें
copy-raw-data-to-clipboard-label = कच्चे डाटा क्लिपबोर्ड में नक़ल लें
sandbox-title = सैंडबॉक्स
sandbox-sys-call-log-title = अस्वीकृत सिस्टम कॉल
sandbox-sys-call-index = #
sandbox-sys-call-age = क्षण पहले
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = प्रक्रिया का प्रकार
sandbox-sys-call-number = सिसकॉल
sandbox-sys-call-args = मापदंड
safe-mode-title = सुरक्षित मोड में कोशिश करें
restart-in-safe-mode-label = निष्क्रिय सहयुक्तियों के साथ फिर आरंभ करें...

## Media titles

audio-backend = ऑडियो बैकएण्ड
max-audio-channels = मैक्स चैनल
sample-rate = पसंदीदा नमूना दर
media-title = मीडिया
media-output-devices-title = आउटपुट उपकरण
media-input-devices-title = इनपुट उपकरण
media-device-name = नाम
media-device-group = समूह
media-device-vendor = विक्रेता
media-device-state = अवस्था
media-device-preferred = पसंदीदा
media-device-format = प्रारूप
media-device-channels = चैनल्स
media-device-rate = दर
media-device-latency = विलंबता

##

intl-title = अंतरराष्ट्रीयकरण & स्थानीयकरण
intl-app-title = अनुप्रयोग सेटिंग्स
intl-locales-requested = अनुरोधित स्थानिकी
intl-locales-available = उपलब्ध स्थानिकी
intl-locales-supported = ऐप स्थानिकी
intl-locales-default = मूल स्थानिकी
intl-os-title = प्रचालन तंत्र
intl-os-prefs-system-locales = तंत्र स्थानिकी
intl-regional-prefs = क्षेत्रीय वरीयताएँ

## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/

remote-debugging-url = URL

##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] अंतिम { $days } दिन के लिए क्रैश रिपोर्ट
       *[other] अंतिम { $days } दिन के लिए क्रैश रिपोर्ट
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } मिनट पहले
       *[other] { $minutes } मिनट पहले
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } घंटा पहले
       *[other] { $hours } घंटे पहले
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } दिन पहले
       *[other] { $days } दिनों पहले
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] सभी क्रैश रिपोर्ट (दिए समय परिसर में { $reports } स्थगित क्रैश सहित)
       *[other] सभी क्रैश रिपोर्ट (दिए समय परिसर में { $reports } स्थगित क्रैश सहित)
    }
raw-data-copied = क्लिपबोर्ड में पाठ नकल किए गए
text-copied = Text copied to clipboard

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Blocked for your graphics driver version.
blocked-gfx-card = Blocked for your graphics card because of unresolved driver issues.
blocked-os-version = Blocked for your operating system version.
blocked-mismatched-version = रजिस्ट्री और डीएलएल के बिच आपके ग्राफ़िक्स ड्राइवर संस्करण असंतुलन के लिए रोका गया.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Blocked for your graphics driver version. Try updating your graphics driver to version { $driverVersion } or newer.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = क्लीयरटाइप पैरामीटर
compositing = संयोजन
hardware-h264 = हार्डवेयर एच264 कूटानुवाद
main-thread-no-omtc = मुख्य सूत्र, कोई OMTC नहीं
yes = हाँ
no = नहीं
unknown = अज्ञात

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = पाया गया
missing = अनुपलब्ध
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = वर्णन
gpu-vendor-id = विक्रेता ID
gpu-device-id = युक्ति ID
gpu-subsys-id = Subsys ID
gpu-drivers = ड्राइवर
gpu-ram = रैम
gpu-driver-version = ड्राइवर संस्करण
gpu-driver-date = ड्राइवर दिनांक
gpu-active = सक्रिय
webgl1-wsiinfo = WebGL 1 ड्राइवर WSI सूचना
webgl1-renderer = WebGL 1 ड्राइवर रेंडेरेर
webgl1-version = WebGL 1 ड्राइवर संस्करण
webgl1-driver-extensions = WebGL 1 ड्राइवर एक्सटेंशन
webgl1-extensions = WebGL 1 एक्सटेंशन
webgl2-wsiinfo = WebGL 2 ड्राइवर WSI सूचना
webgl2-renderer = WebGL 2 ड्राइवर रेंडेरेर
webgl2-version = WebGL 2 ड्राइवर वर्ज़न
webgl2-driver-extensions = WebGL 2 ड्राइवर एक्सटेंशन
webgl2-extensions = WebGL 2 एक्सटेंशन
blocklisted-bug = ज्ञात समस्याओं के कारण प्रतिबाधित सूची में डाला गया
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = { $bugNumber } दोष
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = निरुद्ध सूचीबद्ध किया गया; { $failureCode } असफल कूट
d3d11layers-crash-guard = डी3डी11 अक्षर योजक
d3d11video-crash-guard = डी3डी11 वीडियो विसंकेतक
d3d9video-crash-guard = डी3डी9 वीडियो विसंकेतक
glcontext-crash-guard = जीएल खोलें
reset-on-next-restart = अगला पुनः आरंभ फिर सेट करें
gpu-process-kill-button = GPU प्रक्रिया समाप्त करें
gpu-device-reset-button = ट्रिगर डिवाइस रीसेट करें
off-main-thread-paint-enabled = मुख्य थ्रेड चित्रकारी बंद
min-lib-versions = प्रत्याशित न्यूनतम संस्करण
loaded-lib-versions = उपयोग में संस्करण
has-seccomp-bpf = Seccomp - BPF (सिस्टम कॉल छनन )
has-seccomp-tsync = सेक्केम्प लड़ी तुल्यकालन
has-user-namespaces = उपयोक्ता नामस्थान
has-privileged-user-namespaces = अधिकारीत प्रक्रिया के लिए उपयोक्ता नामस्थान
can-sandbox-content = सामग्री प्रक्रिया सैंडबॉक्सिंग
can-sandbox-media = मीडिया प्लगइन सैंडबॉक्सिंग
content-sandbox-level = अंतर्वस्तु प्रक्रिया सैंडबॉक्स स्तर
effective-content-sandbox-level = प्रभावी सामग्री प्रक्रिया सैंडबॉक्स स्तर
sandbox-proc-type-content = अंतर्वस्तु
sandbox-proc-type-file = फ़ाइल सामग्री
sandbox-proc-type-media-plugin = मीडिया प्लगइन
sandbox-proc-type-data-decoder = डेटा डीकोडर
launcher-process-status-0 = सक्रिय
launcher-process-status-1 = विफलता के कारण निष्क्रिय
launcher-process-status-2 = बलपूर्वक अक्षम किया गया
launcher-process-status-unknown = अज्ञात स्थिति
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = उपयोक्ता द्वारा सक्षम
multi-process-status-1 = तयशुदा द्वारा सक्षम
multi-process-status-2 = निष्क्रिय
multi-process-status-4 = सुगम्य उपकरणों द्वारा निष्क्रिय किया गया
multi-process-status-6 = असमर्थित अवतरण निवेश द्वारा निष्क्रिय किया गया
multi-process-status-7 = ऐड-ऑन्स द्वारा निष्क्रिय किया गया
multi-process-status-8 = जबरन अक्षम
multi-process-status-unknown = अज्ञात अवस्था
# Variables
# $fissionWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
fission-windows = { $fissionWindows }/{ $totalWindows }
async-pan-zoom = असमन्वित पैन/Zoom
apz-none = कोई नहीं
wheel-enabled = पहिया इनपुट सक्षम
touch-enabled = टच इनपुट सक्षम
drag-enabled = स्क्रोल बार खीचें सक्षम
keyboard-enabled = कीबोर्ड सक्षम
autoscroll-enabled = ऑटोसक्रोल सक्षम

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = async पहिया इनपुट कारण असमर्थित pref को अक्षम: { $preferenceKey }
touch-warning = असमर्थित पसंद: { $preferenceKey } के कारण असिंक टच इनपुट अक्षम कर दिया गया

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = निष्क्रिय
policies-active = सक्रिय
policies-error = त्रुटि

## Printing section

support-printing-prefs-name = नाम

## Normandy sections

support-remote-experiments-name = नाम
support-remote-features-name = नाम
