# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Під'єднати інший пристрій
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Якщо ви ще цього не зробили, встановіть <a data-l10n-name="connect-another-device">Firefox на свій мобільний пристрій</a>.
fxa-qrcode-heading-phase2 = 2. Потім увійдіть в { -sync-brand-short-name(case: "acc") }, або на Android скануйте код сполучення з налаштувань { -sync-brand-short-name(case: "gen") }.
fxa-qrcode-heading-step1 = 1. Якщо ви ще цього не зробили, встановіть <a data-l10n-name="connect-another-device">Firefox на свій мобільний пристрій</a>.
fxa-qrcode-heading-step2 = 2. Відкрийте Firefox на своєму мобільному пристрої.
fxa-qrcode-heading-step3 = 3. Відкрийте <b>меню</b> (<img data-l10n-name="ios-menu-icon"/> або <img data-l10n-name="android-menu-icon"/>), оберіть <img data-l10n-name="settings-icon"/> <b>Налаштування</b> та виберіть <b>Увімкнути синхронізацію</b>
fxa-qrcode-heading-step4 = 4. Скануйте цей код:
fxa-qrcode-error-title = Сполучення пройшло невдало.
fxa-qrcode-error-body = Спробувати знову.
