# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = La conexón segura nun ta disponible
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Tas restolando nel mou de namás HTTPS y la versión HTTPS de <em>{ $websiteUrl }</em> nun ta disponible.
about-httpsonly-insecure-explanation-reasons = Ye probable que'l sitiu web nun sofite HTTPS mas tamién ye posible qu'un atacante tea bloquiando la versión HTTPS.
about-httpsonly-insecure-explanation-exception = Magar que'l riesgu de seguranza ye baxu, si decides visitar la versión HTTP del sitiu web, nun habríes introducir nenguna información confidencial como contraseñes, correos o tarxetes de creitu.
about-httpsonly-button-make-exception = Aceptar el riesgu y siguir col sitiu.
about-httpsonly-title-alert = Alerta del mou de namás HTTPS
about-httpsonly-title-connection-not-available = La conexón segura nun ta disponible
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Activesti'l mou de namás HTTPS p'ameyorar la seguranza y la versión HTTPS de <em>{ $websiteUrl }</em> nun ta disponible.
about-httpsonly-explanation-question = ¿Qué podría tar causando esto?
about-httpsonly-explanation-nosupport = Ye probable que'l sitiu web nun sofite HTTPS.
about-httpsonly-explanation-risk = Tamién ye posible qu'un atacante seya'l culpable. Si decides visitar el sitiu web, nun habríes introducir nengún datu confidencial como contraseñes, correos o tarxetes de creitu.
about-httpsonly-explanation-continue = Si sigues, el mou de namás HTTPS va desactivase temporalmente pa esti sitiu.
about-httpsonly-button-continue-to-site = Siguir col sitiu HTTP
about-httpsonly-button-go-back = Dir p'atrás
about-httpsonly-link-learn-more = Lleer más…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Alternativa posible
about-httpsonly-suggestion-box-www-text = Hai una versión segura de <em>www.{ $websiteUrl }</em>. Pues visitar esta páxina en cuentes de <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Dir pa www.{ $websiteUrl }
