# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Localized string used as the dialog window title.
# "Report" is a noun in this case, "Report for AddonName".
#
# Variables:
#   $addon-name (string) - Name of the add-on being reported
abuse-report-dialog-title = Informe de «{ $addon-name }»
abuse-report-title-extension = Informa d'esta estensión a { -vendor-short-name }
abuse-report-title-theme = Informa d'esti estilu a { -vendor-short-name }
abuse-report-subtitle = ¿Cuál ye'l problema?
# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = por <a data-l10n-name="author-name">{ $author-name }</a>
abuse-report-learnmore =
    ¿Nun sabes qué problema esbillar?
    <a data-l10n-name="learnmore-link">Llei más tocante al informe d'estensiones y estilos</a>
abuse-report-submit-description = Describi'l problema (opcional)

## Panel buttons.

abuse-report-cancel-button = Encaboxar
abuse-report-next-button = Siguiente
abuse-report-goback-button = Dir p'atrás
abuse-report-submit-button = Unviar

## Message bars descriptions.


## Variables:
##   $addon-name (string) - Name of the add-on


## Message bars descriptions.
##
## Variables:
##   $addon-name (string) - Name of the add-on

abuse-report-messagebar-submitted = Gracies por unviar un informe. ¿Quies quitar <span data-l10n-name="addon-name">{ $addon-name }</span>?
abuse-report-messagebar-submitted-noremove = Gracies por unviar un informe.
abuse-report-messagebar-removed-extension = Gracies por unviar un informe. Quitesti la estensión <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-removed-theme = Gracies por unviar un informe. Quitesti l'estilu <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error = hebo un fallu al unviar l'informe de «<span data-l10n-name="addon-name">{ $addon-name }</span>».
abuse-report-messagebar-error-recent-submit = L'informe de «<span data-l10n-name="addon-name">{ $addon-name }</span>» nun s'unvió porque yá s'unvió otru apocayá.

## Message bars actions.

abuse-report-messagebar-action-remove-extension = Sí, quitala
abuse-report-messagebar-action-remove-theme = Sí, quitalu
abuse-report-messagebar-action-cancel = Encaboxar

## Abuse report reasons (optionally paired with related examples and/or suggestions)

abuse-report-damage-reason-v2 = Estropióme l'ordenador o punxo en riesgu los mios datos
abuse-report-spam-reason-v2 = Contién spam o inxerta publicidá non deseada
abuse-report-spam-example = Exemplu: Inxerta anuncios nos sitios web
abuse-report-settings-reason-v2 = Camudó'l mio motor de busca, la páxina d'aniciu o la páxina «Llingüeta nueva» ensin informame o pidímelo
abuse-report-broken-reason-extension-v2 = Nun funciona, estropia los sitios web o fai que { -brand-product-name } vaiga lentu
abuse-report-broken-reason-theme-v2 = Nun funciona o fai que'l restolar nun se vea bien
abuse-report-broken-example = Exemplu: Les carauterístiques son lentes, difíciles d'usar o nun funcionen; partes de los sitios web nun carguen o vense raro
abuse-report-policy-reason-v2 = Inclúi conteníu illegal, d'odiu o violentu
abuse-report-unwanted-reason-v2 = Enxamás la quixi y nun sé cómo quitala
abuse-report-unwanted-example = Exemplu: Instalóse una aplicación ensin el mio permisu
abuse-report-other-reason = Daqué más
