# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Storage Inspector.

# Hint shown when the selected storage host does not contain any data
storage-table-empty-text = Seçilen sunucu için veri yok
# Hint shown when the cookies storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Cookies
storage-table-type-cookies-hint = Bir sunucu seçerek çerezleri görüntüleyin ve düzenleyin. <a data-l10n-name="learn-more-link">Daha fazla bilgi al</a>
# Hint shown when the local storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Local_Storage_Session_Storage
storage-table-type-localstorage-hint = Bir sunucu seçerek yerel depoyu görüntüleyin ve düzenleyin. <a data-l10n-name="learn-more-link">Daha fazla bilgi al</a>
# Hint shown when the session storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Local_Storage_Session_Storage
storage-table-type-sessionstorage-hint = Bir sunucu seçerek oturum deposunu görüntüleyin ve düzenleyin. <a data-l10n-name="learn-more-link">Daha fazla bilgi al</a>
# Hint shown when the IndexedDB storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/IndexedDB
storage-table-type-indexeddb-hint = Bir sunucu seçerek IndexedDB girdilerini görüntüleyin ve silin. <a data-l10n-name="learn-more-link">Daha fazla bilgi al</a>
# Hint shown when the cache storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Cache_Storage
storage-table-type-cache-hint = Bir sunucu seçerek önbellek deposunu görüntüleyin ve düzenleyin. <a data-l10n-name="learn-more-link">Daha fazla bilgi al</a>
# Hint shown when the extension storage type is selected. Clicking the link will open
# https://developer.mozilla.org/docs/Tools/Storage_Inspector/Extension_Storage
storage-table-type-extensionstorage-hint = Bir sunucu seçerek uzantı deposunu görüntüleyin ve düzenleyin. <a data-l10n-name="learn-more-link">Daha fazla bilgi al</a>
