# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Σχετικά με τα εργαλεία προγραμματιστή
enable-title = Ενεργοποίηση εργαλείων προγραμματιστή Firefox
enable-inspect-element-title = Ενεργοποιήστε τα εργαλεία προγραμματιστή Firefox για να χρησιμοποιήσετε την Επιθεώρηση στοιχείου
enable-inspect-element-message = Εξετάστε και επεξεργαστείτε HTML και CSS με την Επιθεώρηση των εργαλείων προγραμματιστή.
enable-about-debugging-message = Αναπτύξτε και διορθώστε WebExtensions, web workers, service workers και άλλα με τα εργαλεία προγραμματιστή Firefox.
enable-key-shortcut-message = Έχετε ενεργοποιήσει μια συντόμευση των εργαλείων προγραμματιστή. Αν το κάνατε κατά λάθος, μπορείτε να κλείσετε αυτή την καρτέλα.
enable-menu-message = Τελειοποιήστε τους κώδικες HTML, CSS και JavaScript για την ιστοσελίδα σας με εργαλεία όπως η Επιθεώρηση και η Αποσφαλμάτωση.
enable-common-message = Τα Εργαλεία Προγραμματιστή Firefox είναι απενεργοποιημένα από προεπιλογή για να έχετε περισσότερο έλεγχο στο πρόγραμμα περιήγησής σας.
enable-learn-more-link = Μάθετε περισσότερα για τα Εργαλεία Προγραμματιστή
enable-enable-button = Ενεργοποίηση εργαλείων προγραμματιστή
enable-close-button = Κλείσιμο της Καρτέλας
welcome-title = Καλωσορίσατε στα Εργαλεία Προγραμματιστή Firefox!
newsletter-title = Ενημέρωση προγραμματιστών Mozilla
newsletter-message = Λάβετε ειδήσεις, κόλπα και πόρους για προγραμματιστές απευθείας στα εισερχόμενά σας.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Δεν με πειράζει να διαχειρίζεται η Mozilla τις πληροφορίες μου, όπως εξηγείται σε αυτή την <a data-l10n-name="privacy-policy">Πολιτική Απορρήτου</a>.
newsletter-subscribe-button = Εγγραφή
newsletter-thanks-title = Ευχαριστούμε!
newsletter-thanks-message = Αν δεν έχετε προηγουμένως επιβεβαιώσει την εγγραφή σας σε κάποιο newsletter σχετικό με τη Mozilla, ίσως θα πρέπει να το κάνετε. Παρακαλούμε ελέγξτε τα εισερχόμενα ή το φίλτρο ανεπιθύμητων για ένα e-mail από εμάς.
footer-title = Firefox Developer Edition
footer-message = Ψάχνετε περισσότερα από απλά εργαλεία προγραμματιστή; Ελέγξτε το πρόγραμμα περιήγησης Firefox που φτιάχνεται συγκεκριμένα για τους προγραμματιστές και τις σύγχρονες ροές εργασίας.
footer-learn-more-link = Μάθετε περισσότερα
features-learn-more = Μάθετε περισσότερα
features-inspector-title = Επιθεώρηση
features-inspector-desc = Επιθεώρηση και βελτίωση κώδικα για δημιουργία τέλειων διατάξεων. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Κονσόλα
features-console-desc = Καταγραφή προβλημάτων σε CSS, JavaScript, ασφάλεια και δίκτυο. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Έλεγχος σφαλμάτων
features-debugger-desc = Πανίσχυρη αποσφαλμάτωση JavaScript με υποστήριξη για το πλαίσιό σας. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Δίκτυο
features-network-desc = Εποπτεία των αιτημάτων δικτύου που ενδέχεται να καθυστερούν ή να αποκλείσουν την ιστοσελίδα σας. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Αποθήκευση
features-storage-desc = Προσθήκη, τροποποίηση και διαγραφή προσωρινής μνήμης, cookies, βάσεων δεδομένων και δεδομένων συνεδρίας. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Λειτ. αποκρίσιμου σχεδιασμού
features-responsive-desc = Δοκιμή ιστοσελίδων σε εξομοιωτές συσκευών στο πρόγραμμα περιήγησής σας. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Οπτική επεξεργασία
features-visual-editing-desc = Μικρο-ρύθμιση εφέ κίνησης, στοίχισης και γεμίσματος. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Επιδόσεις
features-performance-desc = Απελευθέρωση σημείων συμφόρησης, βελτίωση διαδικασιών, βελτιστοποίηση διαθέσιμων πόρων. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Μνήμη
features-memory-desc = Εύρεση διαρροών μνήμης και βελτίωση της λειτουργίας της εφαρμογής σας. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Αποτυχία αιτήματος εγγραφής ({ $errorDescription }).
newsletter-error-unknown = Προέκυψε απρόσμενο σφάλμα.
newsletter-error-timeout = Έληξε ο χρόνος αίτησης για εγγραφή.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Έχετε ενεργοποιήσει επιτυχώς τα εργαλεία προγραμματιστή! Για να ξεκινήστε, εξερευνήστε το μενού Web Developer ή να ανοίξτε τα εργαλεία με { $shortcut }.
