# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Καλώς ορίσατε στο { -brand-full-name }
account-settings = Ρυθμίσεις λογαριασμού
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Επιλέξτε τι θέλετε να ρυθμίσετε
       *[other] Ρύθμιση νέου λογαριασμού
    }
about-title = Σχετικά με το { -brand-full-name }
resources-title = Πόροι
release-notes =
    .title = Σχετικά με το { -brand-full-name }
email-label = Email
    .aria-label = Συνδεθείτε στον υπάρχοντα λογαριασμό email σας
email-description = Το { -brand-short-name } σάς επιτρέπει να συνδεθείτε με τον υπάρχοντα λογαριασμό email σας για να διαβάζετε τα email σας εύκολα και αποδοτικά μέσα από την εφαρμογή.
calendar-label = Ημερολόγιο
    .aria-label = Δημιουργία νέου ημερολογίου
calendar-description = Το { -brand-short-name } σάς επιτρέπει να διαχειρίζεστε γεγονότα και να παραμένετε οργανωμένοι. Η σύνδεση σε ένα απομακρυσμένο ημερολόγιο θα διατηρήσει συγχρονισμένα τα συμβάντα σας σε όλες τις συσκευές σας.
chat-label = Συνομιλία
    .aria-label = Σύνδεση στο λογαριασμό συνομιλιών σας
chat-description = Το { -brand-short-name } σάς επιτρέπει να συνδεθείτε σε πολλαπλούς λογαριασμούς ανταλλαγής άμεσων μηνυμάτων, προσφέροντας υποστήριξη για διάφορες πλατφόρμες.
filelink-label = Filelink
    .aria-label = Ρύθμιση Filelink
filelink-description = Το { -brand-short-name } σάς επιτρέπει να ρυθμίσετε ένα βολικό λογαριασμό cloud για συνδέσμους αρχείων, ώστε να αποστέλλετε εύκολα μεγάλα συνημμένα αρχεία.
addressbook-label = Ευρετήριο
    .aria-label = Δημιουργία νέου ευρετηρίου
addressbook-description = Το { -brand-short-name } σάς επιτρέπει να οργανώσετε όλες τις επαφές σας σε ένα ευρετήριο. Μπορείτε επίσης να συνδεθείτε σε ένα απομακρυσμένο ευρετήριο για να διατηρήσετε σε συγχρονισμό όλες τις επαφές σας.
feeds-label = Ροές
    .aria-label = Σύνδεση στις ροές
feeds-description = Το { -brand-short-name } σάς επιτρέπει να συνδεθείτε σε ροές RSS/Atom για να λαμβάνετε ειδήσεις και ενημερώσεις από παντού.
newsgroups-label = Ομάδες συζήτησης
    .aria-label = Σύνδεση σε ομάδα συζήτησης
newsgroups-description = Το { -brand-short-name } σάς επιτρέπει να συνδεθείτε στις αγαπημένες ομάδες συζήτησής σας.
import-title = Εισαγωγή από άλλο πρόγραμμα
import-paragraph = Το { -brand-short-name } σάς επιτρέπει να εισάγετε μηνύματα email, καταχωρήσεις ευρετηρίων, συνδρομές ροών, προτιμήσεις ή/και φίλτρα από άλλα προγράμματα email και συνηθισμένες μορφές ευρετηρίων.
import-label = Εισαγωγή
    .aria-label = Εισαγωγή δεδομένων από άλλα προγράμματα
about-paragraph = Το Thunderbird είναι το κορυφαίο, ανοιχτού κώδικα, πρόγραμμα email και ημερολογίων, που διατίθεται δωρεάν για προσωπική και επαγγελματική χρήση σε πολλαπλές πλατφόρμες. Θέλουμε να παραμείνει ασφαλές και να γίνει ακόμη καλύτερο. Μια δωρεά θα μας επιτρέψει να προσλάβουμε προγραμματιστές, να πληρώσουμε για τις υποδομές και να συνεχίσουμε να βελτιωνόμαστε.
about-paragraph-2 = <b>Το Thunderbird χρηματοδοτείται από χρήστες σας εσάς! Αν σας αρέσει το Thunderbird, παρακαλούμε σκεφτείτε το ενδεχόμενο να κάνετε μια δωρεά.</b> Ο καλύτερος τρόπος για να διασφαλίσετε ότι το Thunderbird θα παραμείνει διαθέσιμο, είναι να
about-donation = κάνετε μια δωρεά
about-paragraph-consider-donation = <b>Το Thunderbird χρηματοδοτείται από χρήστες σαν εσάς! Αν σάς αρέσει το Thunderbird, παρακαλούμε σκεφτείτε να κάνετε μια δωρεά.</b> Ο καλύτερος τρόπος για να εξασφαλίσετε ότι το Thunderbird θα παραμείνει διαθέσιμο, είναι να <a data-l10n-name="donation-link">κάνετε μια δωρεά</a>.
explore-link = Εξερεύνηση λειτουργιών
support-link = Υποστήριξη
involved-link = Συμμετοχή
developer-link = Τεκμηρίωση για προγραμματιστές
read = Ανάγνωση μηνυμάτων
compose = Σύνταξη νέου μηνύματος
search = Αναζήτηση μηνυμάτων
filter = Διαχείριση φίλτρων μηνυμάτων
nntp-subscription = Διαχείριση συνδρομών ομάδων συζήτησης
rss-subscription = Διαχείριση συνδρομών ροών
e2e = Κρυπτογράφηση από άκρο σε άκρο
