# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Permite o soporte para a funcionalidade de deseño experimental de CSS Masonry Layout. Consulte o <a data-l10n-name="explainer"> explicador </a> para unha descrición de alto nivel da función. Para obter comentarios, comente <a data-l10n-name="w3c-issue"> este problema de GitHub </a> ou <a data-l10n-name="bug"> este erro </a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = API web: WebGPU
experimental-features-web-gpu-description2 = Esta nova API ofrece soporte de baixo nivel para realizar computacións e renderización de gráficos mediante a <a data-l10n-name="wikipedia"> Unidade de procesamento gráfico (GPU) </a> do dispositivo ou ordenador do usuario. A <a data-l10n-name="spec"> especificación </a> aínda está en proceso de traballo. Consulte <a data-l10n-name="bugzilla"> erro 1602129 </a> para máis detalles.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Multimedia: AVIF
experimental-features-media-avif-description = Con esta característica habilitada, { -brand-short-name } admite o formato AV1 (File File Image AVIF). Este é un formato de ficheiro de imaxes fixas que aproveita as capacidades dos algoritmos de compresión de vídeo AV1 para reducir o tamaño da imaxe. Consulte <a data-l10n-name="bugzilla">erro 1443863</a> para máis detalles.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = API web: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = A nosa implementación do <a data-l10n-name="mdn-inputmode">inputmode</a> atributo global actualizouse segundo <a data-l10n-name="whatwg">a especificación WHATWG</a>, pero aínda temos que facer outros cambios tamén como poñelo a disposición no contido contentado. Consulte <a data-l10n-name="bugzilla">erro 1205133</a> para máis detalles.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = A adición dun construtor á interface <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>, así como a unha variedade de cambios relacionados, fai posible crear directamente novas follas de estilo sen ter que engadir a folla ao HTML. Isto fai moito máis sinxelo crear follas de estilo reutilizables para o seu uso con <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Consulte <a data-l10n-name="bugzilla">erro 1520690</a> para máis detalles.
experimental-features-devtools-color-scheme-simulation =
    .label = Ferramentas para desenvolvedores: Simulación de esquemas de cores
experimental-features-devtools-color-scheme-simulation-description = Engade unha opción para simular diferentes esquemas de cores que permiten probar <a data-l10n-name="mdn-preferscolorscheme">@ prefers-color-scheme</a> consultas de medios. Usar esta consulta multimedia permite que a súa folla de estilo responda a se o usuario prefire unha interface de usuario clara ou escura. Esta característica permítelle probar o seu código sen ter que cambiar a configuración no seu navegador (ou no sistema operativo, se o explorador segue unha configuración de esquemas de cores para todo o sistema). Vexa <a data-l10n-name="bugzilla1">erro 1550804</a> e <a data-l10n-name="bugzilla2">erro 1137699</a> para máis detalles.
experimental-features-devtools-execution-context-selector =
    .label = Ferramentas para desenvolvedores: Selector de contexto de execución
experimental-features-devtools-execution-context-selector-description = Esta característica mostra un botón na liña de comandos da consola que lle permite cambiar o contexto no que se executará a expresión que introduza. Vexa <a data-l10n-name="bugzilla1">erro 1605154</a> e <a data-l10n-name="bugzilla2">erro 1605153</a> para máis detalles.
experimental-features-devtools-compatibility-panel =
    .label = Ferramentas para desenvolvedores: Panel de compatibilidade
experimental-features-devtools-compatibility-panel-description = Un panel lateral para o inspector de páxina que amosa información sobre o estado da compatibilidade do navegador cruzado do aplicativo. Consulte <a data-l10n-name="bugzilla">erro 1584464</a> para máis detalles.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax by default
experimental-features-cookie-samesite-lax-by-default2-description = Trate as cookies como "SameSite = Lax" por omisión se non se especifica ningún atributo "SameSite". Os desenvolvedores deben optar ao status quo actual de uso sen restricións afirmando explicitamente "SameSite = None".
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite = None require un atributo seguro
experimental-features-cookie-samesite-none-requires-secure2-description = As cookies con atributo "SameSite=None" requiren o atributo seguro. Esta característica require "Cookies: SameSite=Lax by default".
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = caché de inicio de sobre:home
experimental-features-abouthome-startup-cache-description = Unha caché para o documento inicial about:home que se carga por omisión no inicio. O propósito da caché é mellorar o rendemento do inicio.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Trate as cookies do mesmo dominio, pero con esquemas diferentes (por exemplo, http://example.com e https://example.com) como un sitio cruzado en lugar dun mesmo sitio. Mellora a seguridade, pero potencialmente introduce roturas.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Ferramentas para desenvolvedores: depuración de traballadores
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Habilita soporte experimental para os traballadores de servizo no panel Depurador. Esta característica pode retardar as ferramentas para desenvolvedores e aumentar o consumo de memoria.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Interruptores globais do son WebRTC
experimental-features-webrtc-global-mute-toggles-description = Engadir controis ao indicador de compartición global WebRTC que lles permite aos usuarios silenciar globalmente os fluxos do micrófono e da cámara.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Bloqueo de Win32k
experimental-features-win32k-lockdown-description = Desactivar o uso das API de Win32k nas lapelas do navegador. Fornece un aumento da seguranza, pero actualmente pode ser inestábel ou ter eivas. (Só Windows)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Activar Warp, un proxecto para mellorar o rendemento JavaScript e o uso de memoria.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Illamento de sitios)
experimental-features-fission-description = Fission (illamento de sitos) é unha funcionalidade experimental en { -brand-short-name } que fornece unha capa adicional de defensa contra fallos de seguranza. Isolando cada sitio nun proceso separado, Fission failles máis difícil aos sitios web maliciosos acceder a informacións das outras páxinas que visite. Isto é un gran cambio de arquitectura en { -brand-short-name } e apreciamos a súa axuda para probalo e informar de calquera problema que atope. Para saber máis, véxase <a data-l10n-name="wiki">o wiki</a>.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Capacidade de múltiplas Picture-in-Picture
experimental-features-multi-pip-description = Capacidade experimental que permite abrir múltiplas xanelas Picture-in-Picture á vez.
experimental-features-http3 =
    .label = Protocolo HTTP/3
experimental-features-http3-description = Compatibilidade experimental para o protocolo HTTP/3.
# Search during IME
experimental-features-ime-search =
    .label = Barra de enderezos: amosar os resultados durante a composición IME
experimental-features-ime-search-description = Un IME (Editor de método de entrada) é unha ferramenta que lle permite escribir símbolos complexos, tales como os utilizados na escrita de idiomas do leste asiático ou índico, utilizando un teclado estándar. Activando este experimento, manterase aberto o panel da barra de enderezos, que amosará os resultados da busca e suxestións, mentres se utiliza o IME para escribir texto. Note que o IME pode presentar un panel que cobre os resultados da barra de enderezos; daquela, esta preferencia só é unha suxestión para o IME que non utiliza este tipo de panel.
