# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = { -brand-shorter-name } eguneraketa berri bat erabilgarri dago.
    .buttonlabel = Deskargatu eguneraketa
    .buttonaccesskey = D
    .secondarybuttonlabel = Une honetan ez
    .secondarybuttonaccesskey = e
appmenu-update-available-message = Eguneratu zure { -brand-shorter-name } abiaduran eta pribatutasunean azkena eskuratzeko.
appmenu-update-manual =
    .label = Ezin da { -brand-shorter-name } azken bertsiora eguneratu.
    .buttonlabel = Deskargatu { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Une honetan ez
    .secondarybuttonaccesskey = z
appmenu-update-manual-message = Deskargatu { -brand-shorter-name } nabigatzailearen kopia berri bat eta instalatzen lagunduko dizugu.
appmenu-update-whats-new =
    .value = Ikusi nobedadeak.
appmenu-update-unsupported =
    .label = Ezin da { -brand-shorter-name } azken bertsiora eguneratu.
    .buttonlabel = Argibide gehiago
    .buttonaccesskey = A
    .secondarybuttonlabel = Itxi
    .secondarybuttonaccesskey = x
appmenu-update-unsupported-message = { -brand-shorter-name } azken bertsioa ez da zure sistemarekin bateragarria.
appmenu-update-restart =
    .label = Berrabiarazi { -brand-shorter-name } eguneratzeko.
    .buttonlabel = Berrabiarazi eta berreskuratu
    .buttonaccesskey = B
    .secondarybuttonlabel = Une honetan ez
    .secondarybuttonaccesskey = z
appmenu-update-restart-message = Berrabiarazi ondoren, nabigatze pribatuan ez dauden irekitako fitxa eta leiho guztiak berreskuratuko ditu { -brand-shorter-name }(e)k.
appmenu-update-other-instance =
    .label = Ezin da { -brand-shorter-name } azken bertsiora automatikoki eguneratu.
    .buttonlabel = Eguneratu { -brand-shorter-name } halere
    .buttonaccesskey = E
    .secondarybuttonlabel = Orain ez
    .secondarybuttonaccesskey = z
appmenu-update-other-instance-message = { -brand-shorter-name }(r)en eguneraketa berri bat erabilgarri dago baina ezin da instalatu { -brand-shorter-name }(r)en beste kopia bat martxan dagoelako. Itxi ezazu eguneraketarekin jarraitzeko edo aukeratu edozein modutan eguneratzeko (beste kopia agian ez da ondo ibiliko berrabiarazi arte).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ados, ulertuta
    .buttonaccesskey = u
appmenu-addon-post-install-message = Kudeatu zure gehigarriak <image data-l10n-name='addon-menu-icon'></image> menuko <image data-l10n-name='addon-install-icon'></image> ikonoan klik eginez.
appmenu-addon-post-install-incognito-checkbox =
    .label = Baimendu hedapen honi leiho pribatuetan exekutatzea
    .accesskey = B
appmenu-new-tab-controlled =
    .label = Zure fitxa berria aldatu egin da.
    .buttonlabel = Mantendu aldaketak
    .buttonaccesskey = M
    .secondarybuttonlabel = Desgaitu hedapena
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Zure hasiera-orria aldatu egin da.
    .buttonlabel = Mantendu aldaketak
    .buttonaccesskey = M
    .secondarybuttonlabel = Desgaitu hedapena
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Zure fitxa berria aldatu egin da.
    .buttonlabel = Mantendu aldaketak
    .buttonaccesskey = M
    .secondarybuttonlabel = Kudeatu fitxa berriak
    .secondarybuttonaccesskey = K
appmenu-homepage-controlled-changes =
    .label = Zure hasiera-orria aldatu egin da.
    .buttonlabel = Mantendu aldaketak
    .buttonaccesskey = M
    .secondarybuttonlabel = Kudeatu hasiera-orria
    .secondarybuttonaccesskey = K
appmenu-tab-hide-controlled =
    .label = Sartu ezkutatutako zure fitxetara
    .buttonlabel = Mantendu fitxak ezkutatuta
    .buttonaccesskey = M
    .secondarybuttonlabel = Desgaitu hedapena
    .secondarybuttonaccesskey = D
