# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Uusi { -brand-shorter-name }-päivitys on saatavilla.
    .buttonlabel = Lataa päivitys
    .buttonaccesskey = L
    .secondarybuttonlabel = Ei nyt
    .secondarybuttonaccesskey = E
appmenu-update-available-message = Päivitä { -brand-shorter-name }, niin pysyt vauhdissa ja turvassa.
appmenu-update-manual =
    .label = { -brand-shorter-name } ei voi päivittyä uusimpaan versioon.
    .buttonlabel = Lataa { -brand-shorter-name }
    .buttonaccesskey = L
    .secondarybuttonlabel = Ei nyt
    .secondarybuttonaccesskey = E
appmenu-update-manual-message = Lataa uusi { -brand-shorter-name }-kopio, niin autamme sen asentamisessa.
appmenu-update-whats-new =
    .value = Lue, mikä on uutta.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ei kykene päivittymään uusimpaan versioon.
    .buttonlabel = Lue lisää
    .buttonaccesskey = L
    .secondarybuttonlabel = Sulje
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message = Uusin { -brand-shorter-name }-versio ei ole tuettu käyttämässäsi järjestelmässä.
appmenu-update-restart =
    .label = Päivitä { -brand-shorter-name } käynnistämällä se uudestaan.
    .buttonlabel = Käynnistä uudestaan ja palauta
    .buttonaccesskey = K
    .secondarybuttonlabel = Ei nyt
    .secondarybuttonaccesskey = E
appmenu-update-restart-message = Nopean uudelleenkäynnistyksen jälkeen { -brand-shorter-name } palauttaa kaikki välilehdet ja ikkunat, jotka eivät olleet yksityisen selauksen tilassa.
appmenu-update-available2 =
    .label = Päivitys saatavilla
    .buttonlabel = Lataa
    .buttonaccesskey = L
    .secondarybuttonlabel = Hylkää
    .secondarybuttonaccesskey = H
appmenu-update-available-message2 = Lataa uusin { -brand-shorter-name }-versio.
appmenu-update-manual2 =
    .label = Päivitys saatavilla
    .buttonlabel = Lataa
    .buttonaccesskey = L
    .secondarybuttonlabel = Hylkää
    .secondarybuttonaccesskey = H
appmenu-update-unsupported2 =
    .label = Päivitys ei onnistu
    .buttonlabel = Lue lisää
    .buttonaccesskey = L
    .secondarybuttonlabel = Hylkää
    .secondarybuttonaccesskey = H
appmenu-update-unsupported-message2 = Käyttöjärjestelmäsi ei ole yhteensopiva uusimman { -brand-shorter-name }-version kanssa.
appmenu-update-restart2 =
    .label = Päivitys saatavilla
    .buttonlabel = Päivitä ja käynnistä uudelleen
    .buttonaccesskey = P
    .secondarybuttonlabel = Hylkää
    .secondarybuttonaccesskey = H
appmenu-update-other-instance =
    .label = { -brand-shorter-name } ei pysty automaattisesti päivittymään uusimpaan versioon.
    .buttonlabel = Päivitä { -brand-shorter-name } silti
    .buttonaccesskey = P
    .secondarybuttonlabel = Ei nyt
    .secondarybuttonaccesskey = E
appmenu-update-other-instance-message = Uusi { -brand-shorter-name }-päivitys on saatavilla, mutta sitä ei voida asentaa, koska toinen { -brand-shorter-name }-kopio on käynnissä. Sulje se ennen päivittämistä tai valitse, että päivitetään silti (jolloin toinen kopio ei välttämättä toimi oikein ennen uudelleenkäynnistystä).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Selvä
    .buttonaccesskey = S
appmenu-addon-post-install-message = Voit hallita lisäosia avaamalla <image data-l10n-name='addon-menu-icon'></image>-valikon ja napsauttamalla <image data-l10n-name='addon-install-icon'></image>-kuvaketta.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = OK
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Hallitse omia laajennuksia ja teemoja sovellusvalikosta.
appmenu-addon-post-install-incognito-checkbox =
    .label = Salli laajennuksen suoritus yksityisissä ikkunoissa
    .accesskey = a
appmenu-new-tab-controlled =
    .label = Uusi välilehti -sivu on vaihtunut.
    .buttonlabel = Säilytä muutokset
    .buttonaccesskey = S
    .secondarybuttonlabel = Estä laajennus
    .secondarybuttonaccesskey = E
appmenu-homepage-controlled =
    .label = Aloitussivusi on muuttunut.
    .buttonlabel = Säilytä muutokset
    .buttonaccesskey = S
    .secondarybuttonlabel = Estä laajennus
    .secondarybuttonaccesskey = E
appmenu-new-tab-controlled-changes =
    .label = Uusi välilehti -sivu on vaihtunut.
    .buttonlabel = Säilytä muutokset
    .buttonaccesskey = S
    .secondarybuttonlabel = Hallitse uusia välilehtiä
    .secondarybuttonaccesskey = H
appmenu-homepage-controlled-changes =
    .label = Aloitussivusi on muuttunut.
    .buttonlabel = Säilytä muutokset
    .buttonaccesskey = S
    .secondarybuttonlabel = Hallitse aloitussivua
    .secondarybuttonaccesskey = H
appmenu-tab-hide-controlled =
    .label = Piilotettujen välilehtien käyttäminen
    .buttonlabel = Pidä välilehdet piilossa
    .buttonaccesskey = P
    .secondarybuttonlabel = Poista laajennus käytöstä
    .secondarybuttonaccesskey = k
