# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### Import Logins Autocomplete

# Variables:
#   $browser (String) - Browser name to import logins from.
#   $host (String) - Host name of the current site.
autocomplete-import-logins =
    <div data-l10n-name="line1">นำเข้าการเข้าสู่ระบบของคุณจาก { $browser }</div>
    <div data-l10n-name="line2">สำหรับ { $host } และไซต์อื่น ๆ</div>
autocomplete-import-logins-info =
    .tooltiptext = เรียนรู้เพิ่มเติม

## Variables:
##   $host (String) - Host name of the current site.

autocomplete-import-logins-chrome =
    <div data-l10n-name="line1">นำเข้าการเข้าสู่ระบบของคุณจาก Google Chrome</div>
    <div data-l10n-name="line2">สำหรับ { $host } และไซต์อื่น ๆ</div>
autocomplete-import-logins-chromium =
    <div data-l10n-name="line1">นำเข้าการเข้าสู่ระบบของคุณจาก Chromium</div>
    <div data-l10n-name="line2">สำหรับ { $host } และไซต์อื่น ๆ</div>
autocomplete-import-logins-chromium-edge =
    <div data-l10n-name="line1">นำเข้าการเข้าสู่ระบบของคุณจาก Microsoft Edge</div>
    <div data-l10n-name="line2">สำหรับ { $host } และไซต์อื่น ๆ</div>

##

autocomplete-import-learn-more = เรียนรู้เพิ่มเติม
