# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = A new { -brand-shorter-name } update is available.
    .buttonlabel = Download Update
    .buttonaccesskey = D
    .secondarybuttonlabel = Not Now
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Update your { -brand-shorter-name } for the latest in speed and privacy.
appmenu-update-manual =
    .label = { -brand-shorter-name } can’t update to the latest version.
    .buttonlabel = Download { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Not Now
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Download a fresh copy of { -brand-shorter-name } and we’ll help you to install it.
appmenu-update-whats-new =
    .value = See what’s new.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } is unable to update to the latest version.
    .buttonlabel = Learn more
    .buttonaccesskey = L
    .secondarybuttonlabel = Close
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = The latest version of { -brand-shorter-name } is not supported on your system.
appmenu-update-restart =
    .label = Restart to update { -brand-shorter-name }.
    .buttonlabel = Restart and Restore
    .buttonaccesskey = R
    .secondarybuttonlabel = Not Now
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = After a quick restart, { -brand-shorter-name } will restore all your open tabs and windows that are not in Private Browsing mode.
appmenu-update-available2 =
    .label = Update available
    .buttonlabel = Download
    .buttonaccesskey = D
    .secondarybuttonlabel = Dismiss
    .secondarybuttonaccesskey = m
appmenu-update-available-message2 = Download the latest version of { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Update available
    .buttonlabel = Download
    .buttonaccesskey = D
    .secondarybuttonlabel = Dismiss
    .secondarybuttonaccesskey = m
appmenu-update-manual-message2 = { -brand-shorter-name } couldn't update automatically. Download the new version — you won't lose saved information or customizations.
appmenu-update-unsupported2 =
    .label = Unable to update
    .buttonlabel = Learn more
    .buttonaccesskey = L
    .secondarybuttonlabel = Dismiss
    .secondarybuttonaccesskey = m
appmenu-update-unsupported-message2 = Your operating system isn't compatible with the latest version of { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Update available
    .buttonlabel = Update and restart
    .buttonaccesskey = U
    .secondarybuttonlabel = Dismiss
    .secondarybuttonaccesskey = m
appmenu-update-restart-message2 = Get the latest version of { -brand-shorter-name }. Open tabs and windows will be restored.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } is unable to automatically update to the latest version.
    .buttonlabel = Update { -brand-shorter-name } anyway
    .buttonaccesskey = U
    .secondarybuttonlabel = Not Now
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = A new { -brand-shorter-name } update is available, but it can’t be installed because another copy of { -brand-shorter-name } is running. Close it to continue the update, or choose to update anyway (the other copy may not work correctly until you restart it).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Okay, Got It
    .buttonaccesskey = O
appmenu-addon-post-install-message = Manage your add-ons by clicking <image data-l10n-name='addon-install-icon'></image> in the <image data-l10n-name='addon-menu-icon'></image> menu.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Okay
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Manage your extensions and themes through the application menu.
appmenu-addon-post-install-message3 = Manage your add-ons and themes through the application menu.
appmenu-addon-post-install-incognito-checkbox =
    .label = Allow this extension to run in Private Windows
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Your New Tab has changed.
    .buttonlabel = Keep Changes
    .buttonaccesskey = K
    .secondarybuttonlabel = Disable Extension
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Your home page has changed.
    .buttonlabel = Keep Changes
    .buttonaccesskey = K
    .secondarybuttonlabel = Disable Extension
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Your new tab has changed.
    .buttonlabel = Keep Changes
    .buttonaccesskey = K
    .secondarybuttonlabel = Manage New Tabs
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = Your homepage has changed.
    .buttonlabel = Keep Changes
    .buttonaccesskey = K
    .secondarybuttonlabel = Manage Homepage
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Access Your Hidden Tabs
    .buttonlabel = Keep Tabs Hidden
    .buttonaccesskey = K
    .secondarybuttonlabel = Disable Extension
    .secondarybuttonaccesskey = D
