# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Important News
heading = Changes to your { -brand-short-name } profile
changed-title = What changed?
changed-desc-profiles = This installation of { -brand-short-name } has a new profile. A profile is the set of files where Firefox saves information such as bookmarks, passwords, and user preferences.
changed-desc-dedicated = In order to make it easier and safer to switch between installations of Firefox (including Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, and Firefox Nightly), this installation now has a dedicated profile. It does not automatically share your saved information with other Firefox installations.
lost = <b>You have not lost any personal data or customizations.</b> If you’ve already saved information to Firefox on this computer, it is still available in another Firefox installation.
options-title = What are my options?
options-do-nothing = If you do nothing, your profile data in { -brand-short-name } will be different from profile data in other installations of Firefox.
options-use-sync = If you would like all of your profile data to be the same on all installations of Firefox, you can use a { -fxaccount-brand-name } to keep them in sync.
resources = Resources:
support-link = Using the Profile Manager - Support Article
sync-header = Sign in or create a { -fxaccount-brand-name }
sync-label = Enter your email
sync-input =
    .placeholder = Email
sync-button = Continue
sync-terms = By proceeding, you agree to the <a data-l10n-name="terms">Terms of Service</a> and <a data-l10n-name="privacy">Privacy Notice</a>.
sync-first = First time using { -sync-brand-name }? You’ll need to sign in to every installation of Firefox to sync your information.
new-install-sync-first = First time using sync? You'll need to sign in to every installation of Firefox to sync your information.
sync-learn = Learn more
