# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = 개발자 도구 정보
enable-title = Firefox 개발자 도구 활성화
enable-inspect-element-title = 요소 검사를 사용하기 위해 Firefox 개발자 도구 활성화하기
enable-inspect-element-message = 개발자 도구의 검사기로 HTML과 CSS를 검사하고 편집하세요.
enable-about-debugging-message = Firefox 개발자 도구로 WebExtensions이나 웹 Worker, Service Worker 등을 개발하고 디버깅하세요.
enable-key-shortcut-message = 개발자 도구 바로가기를 활성화했습니다. 만약 실수인 경우, 이 탭을 닫을 수 있습니다.
enable-menu-message = 검사기와 디버거 같은 도구로 웹 사이트의 HTML, CSS와 JavaScript를 완벽하게 처리하세요.
enable-common-message = Firefox 개발자 도구는 브라우저를 보다 강력하게 제어할 수 있도록 기본적으로 비활성화되어 있습니다.
enable-learn-more-link = 개발자 도구에 대하여 더 알아보기
enable-enable-button = 개발자 도구 활성화
enable-close-button = 이 탭 닫기
welcome-title = Firefox 개발자 도구에 오신 것을 환영합니다!
newsletter-title = Mozilla 개발자 뉴스레터
newsletter-message = 개발자 뉴스와 기법, 자료를 받은 편지함으로 바로 보내세요.
newsletter-email-placeholder =
    .placeholder = 이메일
newsletter-privacy-label = 저는 Mozilla가 <a data-l10n-name="privacy-policy">개인정보처리방침</a>에 설명된 대로 내 정보를 다루는 것에 동의합니다.
newsletter-subscribe-button = 구독
newsletter-thanks-title = 고맙습니다!
newsletter-thanks-message = 만약 이전에 Mozilla 관련 뉴스 레터 구독을 확인하지 않았다면 그렇게 해야 할 수 있습니다. 받은 편지함이나 스팸 필터에서 이메일을 확인하세요.
footer-title = Firefox 개발자 버전
footer-message = 더 좋은 개발자 도구를 찾고 계신가요? 개발자와 현대적인 워크플로우를 위해 특별히 제작된 Firefox 브라우저를 확인해보세요.
footer-learn-more-link = 더 알아보기
features-learn-more = 더 알아보기
features-inspector-title = 검사기
features-inspector-desc = 코드를 검사하고 수정하여 완벽한 픽셀 레이아웃을 만드세요. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = 콘솔
features-console-desc = CSS, JavaScript, 보안 및 네트워크 문제를 추적합니다. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = 디버거
features-debugger-desc = 프레임워크를 지원하는 강력한 JavaScript 디버거입니다. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = 네트워크
features-network-desc = 웹 사이트를 느리게하거나 방해하는 네트워크 요청을 모니터링하세요. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = 저장소
features-storage-desc = 캐시, 쿠키, 데이터베이스 및 세션 데이터를 추가, 수정 및 제거합니다. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = 반응형 디자인 모드
features-responsive-desc = 브라우저에 에뮬레이트된 기기에서 사이트를 테스트하세요. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = 시각적 편집 기능
features-visual-editing-desc = 애니메이션, 정렬 및 패딩을 미세 조정합니다. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = 성능
features-performance-desc = 병목 현상을 제거하고, 프로세스를 간소화하며, 자원을 최적화합니다. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = 메모리
features-memory-desc = 메모리 누수를 찾아 애플리케이션을 빠르게 만듭니다. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = 구독 요청을 실패하였습니다({ $errorDescription }).
newsletter-error-unknown = 예상치못한 오류가 발생했습니다.
newsletter-error-timeout = 구독 요청이 시간 초과되었습니다.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = 개발자 도구가 성공적으로 활성화되었습니다! 시작하려면, 웹 개발자 메뉴를 탐색하거나 { $shortcut }를 사용하여 도구를 여세요.
