# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Άνοιγμα ιδιωτικού παραθύρου
    .accesskey = ι
about-private-browsing-search-placeholder = Αναζήτηση στο διαδίκτυο
about-private-browsing-info-title = Βρίσκεστε σε ένα ιδιωτικό παράθυρο
about-private-browsing-info-myths = Συνήθεις παρανοήσεις για την Ιδιωτική περιήγηση
about-private-browsing =
    .title = Αναζήτηση στο διαδίκτυο
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Αναζήτηση με { $engine } ή εισαγωγή διεύθυνσης
about-private-browsing-handoff-no-engine =
    .title = Αναζήτηση ή εισαγωγή διεύθυνσης
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Αναζήτηση με { $engine } ή εισαγωγή διεύθυνσης
about-private-browsing-handoff-text-no-engine = Αναζήτηση ή εισαγωγή διεύθυνσης
about-private-browsing-not-private = Αυτή τη στιγμή, δεν βρίσκεστε σε κάποιο ιδιωτικό παράθυρο.
about-private-browsing-info-description = Το { -brand-short-name } διαγράφει το ιστορικό αναζήτησης και περιήγησής σας όταν κλείνετε την εφαρμογή ή όλα τα παράθυρα και τις καρτέλες ιδιωτικής περιήγησης. Αν και δεν έχετε πλήρη ανωνυμία στις ιστοσελίδες ή τον πάροχο υπηρεσίας διαδικτύου, μπορείτε να διατηρείτε τις δραστηριότητές σας ιδιωτικές από τους άλλους χρήστες αυτού του υπολογιστή πιο εύκολα.
about-private-browsing-need-more-privacy = Χρειάζεστε περισσότερη ιδιωτικότητα;
about-private-browsing-turn-on-vpn = Δοκιμή του { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = Το { $engineName } είναι η προεπιλεγμένη μηχανή αναζήτησης για ιδιωτικά παράθυρα
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Για να επιλέξετε διαφορετική μηχανή αναζήτησης, μεταβείτε στις <a data-l10n-name="link-options">Επιλογές</a>
       *[other] Για να επιλέξετε διαφορετική μηχανή αναζήτησης, μεταβείτε στις <a data-l10n-name="link-options">Προτιμήσεις</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Κλείσιμο
