# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Σημαντικές ειδήσεις
heading = Αλλαγές στο προφίλ { -brand-short-name } σας
changed-title = Τι άλλαξε;
changed-desc-profiles = Αυτή η εγκατάσταση του { -brand-short-name } έχει νέο προφίλ. Ένα προφίλ αποτελείται από ένα σύνολο αρχείων, όπου το Firefox αποθηκεύει πληροφορίες, όπως σελιδοδείκτες, κωδικούς πρόσβασης και προτιμήσεις χρήστη.
changed-desc-dedicated = Για πιο εύκολη και ασφαλή εναλλαγή μεταξύ των διάφορων εγκαταστάσεων του Firefox (συμπεριλαμβανομένων των Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition και Firefox Nightly), αυτή η εγκατάσταση έχει πλέον ένα ξεχωριστό προφίλ. Δεν μοιράζεται αυτόματα τις αποθηκευμένες σας πληροφορίες με άλλες εγκαταστάσεις του Firefox.
lost = <b>Δεν έχετε χάσει προσωπικά δεδομένα ή προσαρμογές.</b> Αν έχετε ήδη αποθηκεύσει πληροφορίες στο Firefox σε αυτό τον υπολογιστή, είναι ακόμη διαθέσιμες σε κάποια άλλη εγκατάσταση του Firefox.
options-title = Ποιες είναι οι επιλογές μου;
options-do-nothing = Αν δεν κάνετε τίποτα, τα δεδομένα του προφίλ σας στο { -brand-short-name } θα διαφέρουν από τα δεδομένα προφίλ σε άλλες εγκαταστάσεις του Firefox.
options-use-sync = Αν επιθυμείτε να έχετε τα ίδια δεδομένα προφίλ σε όλες τις εγκαταστάσεις του Firefox, μπορείτε να χρησιμοποιήσετε έναν { -fxaccount-brand-name(case: "acc", capitalization: "lower") } για να παραμένουν σε συγχρονισμό.
resources = Πόροι:
support-link = Χρήση της Διαχείρισης προφίλ - Άρθρο υποστήριξης
sync-header = Σύνδεση ή δημιουργία { -fxaccount-brand-name(case: "gen", capitalization: "lower") }
sync-label = Εισάγετε το email σας
sync-input =
    .placeholder = Email
sync-button = Συνέχεια
sync-terms = Συνεχίζοντας, συμφωνείτε με τους <a data-l10n-name="terms">όρους υπηρεσίας</a> και τη <a data-l10n-name="privacy">σημείωση απορρήτου</a>.
sync-first = Χρησιμοποιείτε για πρώτη φορά το { -sync-brand-name }; Θα πρέπει να συνδεθείτε σε κάθε εγκατάσταση του Firefox για να συγχρονίσετε τις πληροφορίες σας.
new-install-sync-first = Χρησιμοποιείτε για πρώτη φορά τον συγχρονισμό; Θα πρέπει να συνδεθείτε σε κάθε εγκατάσταση του Firefox για να συγχρονίσετε τα δεδομένα σας.
sync-learn = Μάθετε περισσότερα
