# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Qqen ibenk-nniḍen
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ma yella urtesɛiṣ ara yakan. Sbedd <a data-l10n-name="connect-another-device">Firefox deg yibenk-ik aziraz</a>.
fxa-qrcode-heading-phase2 = 2. Qqen sakin ɣer { -sync-brand-short-name }, neɣ, deg Android, ḍumm-d tangalt n ucuddu seg yiɣewwaṛen n { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Ma yella ur tesɛiḍ ara yakan, sebded <a data-l10n-name="connect-another-device">Firefox deg yibenk-ik·im aziraz</a>.
fxa-qrcode-heading-step2 = 2. Ldi Firefox ɣef yibenk-ik·im aziraz.
fxa-qrcode-heading-step3 = 3. Ldi <b>umuɣ</b> (<img data-l10n-name="ios-menu-icon"/> neɣ <img data-l10n-name="android-menu-icon"/>), aru <img data-l10n-name="settings-icon"/> <b>iɣewwaren</b> syen fren <b>Rmed amtawii</b>
fxa-qrcode-heading-step4 = 4. Siggez tangalt-a:
fxa-qrcode-error-title = Acuddu ur yeddi ara.
fxa-qrcode-error-body = Ɛreḍ tikelt nniḍen.
