# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Bezpieczne połōnczynie niy ma dostympne
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Przeglōndosz strōny we trybie Ino-HTTPS, a do <em>{ $websiteUrl }</em> niy ma dostympnyj bezpiecznyj wersyje HTTPS.
about-httpsonly-insecure-explanation-reasons = Zdowo sie, iże ta strōna niy ôbsuguje HTTPS, ale możno to jaki napastnik szperuje wersyjo HTTPS.
about-httpsonly-insecure-explanation-exception = Chocioż zagrożynie bezpieczyństwa je dość małe, jak uzdosz se nawiydzić wersyjo HTTP tyj strōny, to lepij niy ôstawiej żodnych ôsobistych informacyjōw, bez przikłod haseł, emailowych adresōw abo danych ze kredytowych kart.
about-httpsonly-button-make-exception = Przitupluj ryzyko i idź ku tyj strōnie.
about-httpsonly-title = { -brand-short-name } znod potyncjalny problym z bezpieczyństwym
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Przeglōndosz strōny we trybie Ino-HTTPS, a do <em>{ $websiteUrl }</em> niy ma dostympnyj bezpiecznyj wersyje HTTPS.
about-httpsonly-explanation-question = Skuli czego może to być?
about-httpsonly-explanation-nosupport = Zdowo sie, że to strōna niy ôbsuguje HTTPS.
about-httpsonly-explanation-risk = Ale może być tak skuli jakigo napastnika. Jak uzdosz se nawiydzić wersyjo HTTP tyj strōny, to lepij niy ôstawiej żodnych ôsobistych informacyjōw, bez przikłod haseł, emailowych adresōw abo danych ze kredytowych kart.
about-httpsonly-button-accept-and-continue = Akceptuj ryzyko i idź dalij
about-httpsonly-button-go-back = Nazod
about-httpsonly-link-learn-more = Przewiydz sie wiyncyj…
