# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Ô Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> to je bibliotyka pozbiyranych danych używano w produktach Mozille. Ta strōna je do deweloprōw i testerōw, co potrzebujōm <a data-l10n-name="fog-debug-doc-link">nastowiać stan dubuggowanio i logowanio we Glean SDK</a>.
about-glean-warning = Bez złe używanie tego interfejsa może sie pokozać awaryjo aplikacyje { -brand-short-name }.
tag-pings-label = Ôbznoczej tōm etyketōm wszyskie posłane pingi
log-pings-label = Registrować ladunek pinga przed posłaniym?
send-pings-label = Posyłej ping z mianym
controls-button-label = Poślij sztalōnki
