# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Ô rozwiōnzowaniu problymōw
page-subtitle =
    Na tyj strōnie znojdziesz techniczne informacyje, kere mogōm sie przidać,
    jak mosz problym do rozwiōnzanio. Jak szukosz za ôdpowiydziami na pytania
    ô aplikacyjo { -brand-short-name }, co sōm porzōnd zadowane, badnij na nasza
    <a data-l10n-name="support-link">strōna spōmożki</a>.
crashes-title = Raporty z awaryje
crashes-id = ID zgłoszynio
crashes-send-date = Posłane
crashes-all-reports = Wszyskie raporty z awaryje
crashes-no-config = Ta aplikacyjo niy była nastawiōno, coby pokazować raporty z awaryje.
extensions-title = Rozszyrzynia
extensions-name = Miano
extensions-enabled = Załōnczōne
extensions-version = Wersyjo
extensions-id = ID
support-addons-title = Rozszyrzynia
support-addons-name = Miano
support-addons-type = Typ
support-addons-enabled = Załōnczōne
support-addons-version = Wersyjo
support-addons-id = ID
security-software-title = Software bezpieczyństwa
security-software-type = Typ
security-software-name = Miano
security-software-antivirus = Antywirus
security-software-antispyware = Antispyware
security-software-firewall = Firewall
features-title = Funkcyje aplikacyje { -brand-short-name }
features-name = Miano
features-version = Wersyjo
features-id = ID
processes-title = Zdalne procesy
processes-type = Typ
processes-count = Wielość
app-basics-title = Nojważniejsze informacyje
app-basics-name = Miano
app-basics-version = Wersyjo
app-basics-build-id = ID zestawiynio
app-basics-distribution-id = ID dystrybucyje
app-basics-update-channel = Kanał aktualizacyje
# This message refers to the folder used to store updates on the device,
# as in "Folder for updates". "Update" is a noun, not a verb.
app-basics-update-dir =
    { PLATFORM() ->
        [linux] Plac na aktualizacyjo
       *[other] Katalog na aktualizacyjo
    }
app-basics-update-history = Historyjo aktualizacyje
app-basics-show-update-history = Pokoż historyjo aktualizacyjōw
# Represents the path to the binary used to start the application.
app-basics-binary = Binarny zbiōr aplikacyje
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Plac na profil
       *[other] Katalog na profil
    }
app-basics-enabled-plugins = Załōnczōne profile
app-basics-build-config = Sztalōnki zestawiynio
app-basics-user-agent = Idyntyfikatōr używocza
app-basics-os = Ôperacyjny systym
app-basics-memory-use = Użycie pamiynci
app-basics-performance = Sprowność
app-basics-service-workers = Zaregistrowane Service Workers
app-basics-profiles = Profile
app-basics-launcher-process-status = Proces sztartowanio
app-basics-multi-process-support = Multiprocesowe ôkna
app-basics-remote-processes-count = Zdalne procesy
app-basics-enterprise-policies = Prawidła ôd ôrganizacyje
app-basics-location-service-key-google = Klucz usugi Google Location Service
app-basics-safebrowsing-key-google = Klucz usugi Google Safebrowsing
app-basics-key-mozilla = Klucz Mozilla Location Service
app-basics-safe-mode = Tryb bezpieczyństwa
show-dir-label =
    { PLATFORM() ->
        [macos] Pokoż we Finderze
        [windows] Ôdewrzij katalog
       *[other] Ôdewrzij
    }
environment-variables-title = Strzodowiskowe zmiynne
environment-variables-name = Miano
environment-variables-value = Wert
experimental-features-title = Eksperymyntalne funkcyje
experimental-features-name = Miano
experimental-features-value = Wert
modified-key-prefs-title = Ważne pozmiyniane preferyncyje
modified-prefs-name = Miano
modified-prefs-value = Wert
user-js-title = Preferyncyje user.js
user-js-description = Katalog z profilym mo <a data-l10n-name="user-js-link">zbiōr user.js</a>, w kerym sōm preferyncyje, co ich niy zrychtowała aplikacyjo { -brand-short-name }.
locked-key-prefs-title = Ważne zadymkniynte preferyncyje
locked-prefs-name = Miano
locked-prefs-value = Wert
graphics-title = Grafika
graphics-features-title = Funkcyje
graphics-diagnostics-title = Diagnostyka
graphics-failure-log-title = Protokōł felerōw
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Protokōł uzdań
graphics-crash-guards-title = Zastawiōne funkcyje Crash Guard
graphics-workarounds-title = Rozwiōnzania
# Windowing system in use on Linux (e.g. X11, Wayland).
graphics-window-protocol = Protokōł ôkiyn
# Desktop environment in use on Linux (e.g. GNOME, KDE, XFCE, etc).
graphics-desktop-environment = Strzodowisko biōrka
place-database-title = Baza danych Places
place-database-integrity = Integralność
place-database-verify-integrity = Badej integralność
a11y-title = Dostympność
a11y-activated = Aktywowano
a11y-force-disabled = Zastow dostympność
a11y-handler-used = Użyto je ôbsuga dostympności
a11y-instantiator = Usuga do dostympności
library-version-title = Wersyje bibliotyk
copy-text-to-clipboard-label = Kopiuj tekst do kamerlika
copy-raw-data-to-clipboard-label = Kopiuj surowe dane do kamerlika
sandbox-title = Sandbox
sandbox-sys-call-log-title = Ôdciepane systymowe wołania
sandbox-sys-call-index = #
sandbox-sys-call-age = Sekund tymu
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = Typ procesu
sandbox-sys-call-number = Syscall
sandbox-sys-call-args = Parametry
safe-mode-title = Sprōbuj trybu bezpieczyństwa
restart-in-safe-mode-label = Resztartuj z wyłōnczōnymi rozszyrzyniami…
clear-startup-cache-title = Sprōbuj wypucować podrynczno pamiyńć sztartowanio
clear-startup-cache-label = Wypucuj podrynczno pamiyńć sztartowanio…
startup-cache-dialog-title = Wypucuj podrynczno pamiyńć sztartowanio
startup-cache-dialog-body = Resztartnij aplikacyjo { -brand-short-name }, coby wypucować podrynczno pamiyńć sztartowanio. Zniy zmiyni to twojich sztalōnkōw ani niy skasuje rozszyrzyń, co je mosz przidane do aplikacyje { -brand-short-name }.
restart-button-label = Resztartnij

## Media titles

audio-backend = Audio Backend
max-audio-channels = Maksymalno wielość kanałōw
sample-rate = Preferowano frekwyncyjo prōbkowanio
roundtrip-latency = Zniyskorzynie tam a nazod (standardowe ôdchylynie)
media-title = Mydia
media-output-devices-title = Wychodne masziny
media-input-devices-title = Wchodne masziny
media-device-name = Miano
media-device-group = Grupa
media-device-vendor = Wystowca
media-device-state = Sztatus
media-device-preferred = Preferowane
media-device-format = Format
media-device-channels = Kanały
media-device-rate = Frekwyncyjo
media-device-latency = Zniyskorzynie
media-capabilities-title = Możności mydiōw
# List all the entries of the database.
media-capabilities-enumerate = Wystow baza danych

##

intl-title = Internacjonalizacyjo i lokalizacyjo
intl-app-title = Sztalōnki aplikacyje
intl-locales-requested = Proszōne godki
intl-locales-available = Dostympne godki
intl-locales-supported = Godki aplikacyje
intl-locales-default = Bazowo godka
intl-os-title = Ôperacyjny systym
intl-os-prefs-system-locales = Godki systymu
intl-regional-prefs = Regiōnalne preferyncyje

## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/

remote-debugging-title = Zdalne debugowanie (protokōł Chromium)
remote-debugging-accepting-connections = Przizwolo na połōnczynia
remote-debugging-url = URL

##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Raporty z awaryje z ôstatnigo { $days } dnia
        [few] Raporty z awaryje z ôstatnich { $days } dni
       *[many] Raporty z awaryje z ôstatnich { $days } dni
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } minuta tymu
        [few] { $minutes } minuty tymu
       *[many] { $minutes } minut tymu
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } godzina tymu
        [few] { $hours } godziny tymu
       *[many] { $hours } godzin tymu
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } dziyń tymu
        [few] { $days } dni tymu
       *[many] { $days } dni tymu
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Wszyskie raporty z awaryje (ze { $reports }, co czeko z tego czasu)
        [few] Wszyskie raporty z awaryje (ze { $reports }, co czekajōm z tego czasu)
       *[many] Wszyskie raporty z awaryje (ze { $reports }, co czekajōm z tego czasu)
    }
raw-data-copied = Surowe dane skopiowane do kamerlika
text-copied = Tekst je skopiowany do kamerlika

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Zaszperowane skuli wersyje twojigo sterownika grafiki.
blocked-gfx-card = Zaszperowane do twojij graficznyj karty skuli niyrozwiōnzanych problymōw ze sterownikiym.
blocked-os-version = Zaszperowane skuli wersyje twojigo ôperacyjnego systymu.
blocked-mismatched-version = Zaszperowane skuli niyskłodności registra i DLL wersyje twojigo sterownika grafiki.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Zaszperowane skuli wersyje twojigo sterownika grafiki. Sprōbuj go zaktualizować do wersyje { $driverVersion } abo nowszyj.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = Parametry ClearType
compositing = Compositing
hardware-h264 = Hardwarowe dekodowanie H264
main-thread-no-omtc = głōwny wōntek, żodne OMTC
yes = Ja
no = Niy
unknown = Niypoznane
virtual-monitor-disp = Pokozanie wirtualnego mōnitora

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Znodniynty
missing = Chybio
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = Ôpis
gpu-vendor-id = ID ôd wydowcy
gpu-device-id = ID ôd masziny
gpu-subsys-id = ID ôd subsystymu
gpu-drivers = Sterowniki
gpu-ram = RAM
gpu-driver-vendor = Wydowca sterownika
gpu-driver-version = Wersyjo sterownika
gpu-driver-date = Data sterownika
gpu-active = Aktywny
webgl1-wsiinfo = Informacyje ô sterowniku WebGL 1 WSI
webgl1-renderer = Renderer sterownika WebGL 1
webgl1-version = Wersyjo sterownika WebGL 1
webgl1-driver-extensions = Rozszyrzynia sterownika WebGL 1
webgl1-extensions = Rozszyrzynia WebGL 1
webgl2-wsiinfo = Informacyje ô sterowniku WebGL 2 WSI
webgl2-renderer = Renderer sterownika WebGL 2
webgl2-version = Wersyjo sterownika WebGL 2
webgl2-driver-extensions = Rozszyrzynia sterownika WebGL 2
webgl2-extensions = Rozszyrzynia WebGL 2
blocklisted-bug = Zaszperowane skuli poznanych problymōw
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = bug { $bugNumber }
# Variables
#   $bugNumber (string) - Bug number on Bugzilla
support-blocklisted-bug = Zaszperowane skuli poznanych problymōw: <a data-l10n-name="bug-link">bug{ $bugNumber }</a>
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Zaszperowane; kod felera { $failureCode }
d3d11layers-crash-guard = D3D11 Compositor
d3d11video-crash-guard = D3D11 Video dekoder
d3d9video-crash-guard = D3D9 Video dekoder
glcontext-crash-guard = OpenGL
wmfvpxvideo-crash-guard = WMF VPX Video dekoder
reset-on-next-restart = Zresetuj przi nastympnym resztarcie
gpu-process-kill-button = Zakōńcz proces GPU
gpu-device-reset = Reset masziny
gpu-device-reset-button = Resztartnij maszina
uses-tiling = Używo skłodanio
content-uses-tiling = Używo skłodanio (zawartość)
off-main-thread-paint-enabled = Kryślynie poza głōwnym wōntkiym je załōnczōne
off-main-thread-paint-worker-count = Wielość kryślynio poza głōwnym wōntkiym
target-frame-rate = Cylowo frekwyncyjo rōmek
min-lib-versions = Ôczekowano minimalno wersyjo
loaded-lib-versions = Używano wersyjo
has-seccomp-bpf = Seccomp-BPF (filtrowanie systymowych wołań)
has-seccomp-tsync = Synchrōnizowanie wōntkōw Seccomp
has-user-namespaces = Ôbtoczynia mianōw ôd używocza
has-privileged-user-namespaces = Ôbtoczynia mianōw ôd używocza do uprziwilejowanych procesōw
can-sandbox-content = Sandbox procesu do zawartości
can-sandbox-media = Sandbox mydiowych rozszyrzyń plugin
content-sandbox-level = Poziōm sandboxu procesu do zawartości
effective-content-sandbox-level = Efektywny poziōm sandboxu procesu do zawartości
sandbox-proc-type-content = zawartość
sandbox-proc-type-file = zawartość zbioru
sandbox-proc-type-media-plugin = mydiowe rozszyrzynie plugin
sandbox-proc-type-data-decoder = dekoder danych
startup-cache-title = Podrynczno pamiynć sztartowanio
startup-cache-disk-cache-path = Cesta ku podryncznyj pamiynci na dysku
startup-cache-ignore-disk-cache = Ignoruj pamiynć podrynczno na dysku
startup-cache-found-disk-cache-on-init = Podrynczno pamiyńć na dysku je znaleziōno przi inicjacyji
startup-cache-wrote-to-disk-cache = Zapisane do podryncznyj pamiynci
launcher-process-status-0 = Załōnczōny
launcher-process-status-1 = Zastawiōny skuli awaryje
launcher-process-status-2 = Zastawiōny skuli przikazu
launcher-process-status-unknown = Niypoznany status
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = Załōnczōny ôd używocza
multi-process-status-1 = Bazowo załōnczōny
multi-process-status-2 = Zastawiuny
multi-process-status-4 = Zastawiōne ôd noczyń dostympu
multi-process-status-6 = Zastawiōne skuli niyôbsugowanego wkludzanio tekstu
multi-process-status-7 = Zastawiōne skuli rozszyrzyń
multi-process-status-8 = Zastawiōny skuli przikazu
multi-process-status-unknown = Niypoznany status
async-pan-zoom = Asynchrōniczno panorama/zwiynkszanie
apz-none = żodne
wheel-enabled = wkludzanie kōłkiym myszki je załōnczōne
touch-enabled = wkludzanie tykaniym je załōnczōne
drag-enabled = przeciōnganie poska przekryncanio je załōnczōne
keyboard-enabled = tastatura je załōnczōno
autoscroll-enabled = autōmatyczne przekryncanie je załōnczōne
zooming-enabled = płynne powiynkszanie gestym je załōnczōne

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = asynchrōniczne wkludzanie kōłkiym myszki je zastawiōne skuli niyôbsugowanyj preferyncyje: { $preferenceKey }
touch-warning = asynchrōniczne wkludzanie tykaniym je zastawiōne skuli niyôbsugowanyj preferyncyje: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = Niyaktywne
policies-active = Aktywne
policies-error = Feler
