# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Twoje prawa
rights-intro = { -brand-full-name } to je swobodny software z ôtwartym źdrzōdłowym kodym, kery zbudowała społeczność z tysiōncami ludzi z cołkigo świata. Je pora rzeczy, ô kerych zdo sie wiedzieć:
rights-intro-point-1 =
    Aplikacyjo { -brand-short-name } mosz dostympno podug warunkōw
     <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>.
    Bez to możesz jōm używać, kopiować i szyrzić. Jak potrzebujesz, możesz tyż
    zmiyniać kod aplikacyje { -brand-short-name } podug swojich potrzeb.
    Mozilla Public License dowo ci tyż prawo do szyrzynio swojij zmodyfikowanyj wersyje.
rights-intro-point-2 =
    Niy dostowosz ale żodnych praw ani licyncyji do towarowych znakōw
    Mozilla Foundation ani inkszych firmōw, a w tym do miana ani loga Firefox.
    Wiyncyj informacyji ô towarowych znakach idzie znojść
    <a data-l10n-name="mozilla-trademarks-link">tukej</a>.
rights-intro-point-3 =
    Niykere funkcyje aplikacyje { -brand-short-name }, bez przikłod Posyłanie raportōw z awaryje,
    dowajōm ci posłać ôpinijo do ôrganizacyje { -vendor-short-name }. Jak uzdosz se
    posłać ôpinijo, to dowosz ôrganizacyji { -vendor-short-name } zgoda, coby użyła
    jij do polepszanio swojich produktōw, wystowianio tyj ôpinije na swojich strōnach
    i do jij szyrzynio.
rights-intro-point-4 =
    To, jak używōmy twojich prywatnych danych i ôpiniji posłanych do ôrganizacyji
    { -vendor-short-name } bez aplikacyjo { -brand-short-name }, ôpisujymy we
    <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name }¶
    Prawidłach prywatności</a>.
rights-intro-point-4-unbranded = Wszyskie płatne prawidła prywatności do tego produktu winny być sam wystawiōne.
rights-intro-point-5 =
    Niykere funkcyje aplikacyje { -brand-short-name } używajōm informacyjnych 
    usug z neca, my ale niy gwarantujymy, iże ône sōm na 100% akuratne i bez
    żodnych felerōw. Wiyncyj informacyji, a ś nimi tyż to, jak idzie zastawić
    funkcyje, co używajōm tych usug, znojdziesz we
    <a data-l10n-name="mozilla-service-terms-link">warunkach usugi</a>.
rights-intro-point-5-unbranded =
    Jak tyn produkt mo wkludzōne usugi z neca, linki do wszyskich 
    płatnych warunkōw używanio tych usug winny być we sekcyji 
    <a data-l10n-name="mozilla-website-services-link"> Usugi z neca</a>.
rights-intro-point-6 =
    Coby puścić niykere zorty zawartości video, { -brand-short-name }
    pobiyro moduły deszyfrowanio tyj zawartości ôd inkszych firmōw.
rights-webservices-header = Informacyje usugi z neca aplikacyje { -brand-full-name }
rights-webservices =
    { -brand-full-name } używo informacyjnych usug z neca („Usug“), coby fungowały
    niykere funkcyje z tyj binarnyj wersyje aplikacyje { -brand-short-name } 
    podug prawideł pokozanych niżyj. Jak niy chcesz używać jednyj abo
    wiyncyj usug abo niy dowosz zgody na take prawidła, to możesz zastawić 
    ta funkcyjo abo usuga. Insztrukcyje, coby to zrobić do kożdyj funkcyji abo usugi
    idzie znojść <a data-l10n-name="mozilla-disable-service-link">tukej</a>. Inksze
    funkcyje i usugi idzie zastawić w preferyncyjach aplikacyji.
rights-safebrowsing =
    <strong>Bezpieczne przeglōndanie: </strong>Niy doradzōmy wyłōnczynio funkcyje 
    bezpiecznego przeglōndanio, bo skuli tego możesz nawiydzić niybezpieczne strōny.
    Jak chcesz blank zastawić ta funkcyjo, postympuj podug tych krokōw:
rights-safebrowsing-term-1 = Ôdewrzij preferyncyje aplikacyje
rights-safebrowsing-term-2 = Ôbier panel Bapieczyństwo
rights-safebrowsing-term-3 = Ôdznocz ôpcyjo „{ enableSafeBrowsing-label }”
enableSafeBrowsing-label = Szperuj niybezpieczno i ôszydno zawartość
rights-safebrowsing-term-4 = Bezpieczne przeglōndanie je zaroz wyłōnczōne
rights-locationawarebrowsing =
    <strong>Przeglōndanie z poznowaniym placu: </strong> to je funkcyjo, co zawdy 
    potrzebuje twojij zgody, coby fungować. Nigdy informacyjo ô placu niy bydzie 
    posyłano bez twojij zgody. Jak chcesz blank zastawić ta funkcyjo, postympuj podug tych krokōw:
rights-locationawarebrowsing-term-1 = Do poska adresy wkludź <code>about:config</code>
rights-locationawarebrowsing-term-2 = Dej szukać „geo.enabled“
rights-locationawarebrowsing-term-3 = Kliknij dwa razy na preferyncyje „geo.enabled”
rights-locationawarebrowsing-term-4 = Przeglōndanie z poznowaniym placu je zaroz wyłōnczōne
rights-webservices-unbranded =
    Tukej winiyn być pokozany przeglōnd usug strōn skuplowanych z tym produktym,
    a w nim insztrukcyje, jak je zastawiać.
rights-webservices-term-unbranded = Wszyskie warunki usugi płatne do tego produktu winny być sam wystawiōne.
rights-webservices-term-1 =
    Ôrganizacyjo { -vendor-short-name } i jej spōłpracowniki, posiedziciele licyncyjōw i partnery
    robiōm przi wystowianiu nojakuratniyjszych i nojaktualniyjszych usug. Niy mogymy ale
    zagwarantować, że informacyje z tych usug bydōm wszechstrōnne i bez żodnych felerōw.
    Bez przikłod usuga prywatnego przeglōndanio może niy poznać jakich ryzykownych strōn
    abo felernie poznać jako bezpieczno strōna za niybezpieczno. A w usudze poznowanio placu
    wszyskie informacyje ô placu, co dostowōmy ôd ôperatorōw usugi, sōm ino przibliżōne,
    ani my, ani ôperatory usugi niy poradzymy zagwarantować akuratności danych ô placu.
rights-webservices-term-2 = { -vendor-short-name } może ze samości skōńczyć abo zmiynić używanie Usug.
rights-webservices-term-3 =
    Korzystej swobodnie z tych usug w tyj wersyji aplikacyje { -brand-short-name },
    do czego prawa porynczo ci { -vendor-short-name }. { -vendor-short-name } i wystowcy
    licyncyji zastrzegajōm se wszyskie inksze prawa zwiōnzane z tymi usugami.
    Te warunki niy majōm ôbgraniczać żodnych prow gwarantowanych w licyncyjach
    programōw z ôtwartym źdrzōdłym, kere tykajōm sie aplikacyje { -brand-short-name }
    abo analogicznych wersyji źdrzōdłowego kodu aplikacyji { -brand-short-name }.
rights-webservices-term-4 =
    <strong>Usugi sōm wystowiane "tak ja sōm". Ôrganizacyjo { -vendor-short-name } 
    i jeji spōłpracowniki, posiedziciele licyncyjōw i partnery ôdkozujōm wszyskie porynczynia, 
    dane ôfyn abo dōmyślnie, iże te usugi idzie zbyć i pasujōm ône do cylu, w jakim ich używosz. 
    Po twojij strōnie je cołke ryzyko ôbiyranio usug do swojich celōw, a tyż jejich jakości i sprowności.
    Niykere ôrdōnkowe systymy niy przizwolajōm na takie ôdkozanie abo ôbgraniczynie 
    bazowych porynczyń, beztōż ta informacyjo może sie ciebie niy tykać.</strong>
rights-webservices-term-5 =
    <strong>Ôkrōm przipadkōw wymoganych ôd ôrdōnku, ôrganizacyjo { -vendor-short-name } 
    i jeji spōłpracowniki, posiedziciele licyncyjōw i partnery niy sōm ôdpowiedzialni
    za żodne - niycylowe, szpecjalne, przipadkowe, ani wyjōntkowe szkody,
    co by sie brały ze użycio aplikacyje { -brand-short-name } i jeji usug, abo by były ś niōm zwiōnzane. 
    Cołko ôdpowiedzialność przi tych warunkach niy ma wiynkszo jak 500$ (piyńcet amerykańskich dolarōw)
    Niykere ôrdōnkowe systymy niy przizwolajōm na takie ôdkazowanie abo ôbgraniczanie wertu szkody,
    beztōż ta informacyjo może sie ciebie niy tykać.</strong>
rights-webservices-term-6 =
    { -vendor-short-name } może roz za czas po samości aktualizować te warunki.
    Te warunki niy śmiōm być zmiyniane abo ôdkazowane bez pisymnyj
    zgody ôd ôrganizacyje { -vendor-short-name }.
rights-webservices-term-7 =
    Te warunki zdo sie rozpatrować podug ôdrōnku stanu Kalifornijo (USA)
    krōm kōnfliktu ôrdōnkowych uzdań. Jak jaki kōnsek tych warunkōw pokoże sie
    za felerny abo niy do wkludzynio, wszyskie inksze ôstowajōm we pełnyj płatności.
    Jak by sie pokozoł kōnflikt miyndzy przłożōnōm wersyjōm tych warunkōw a jejich
    angelskim ôrginałym, we wercie bydzie angelsko wersyjo.
