# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = უსაფრთხო კავშირი მიუწვდომელია
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = თქვენ მხოლოდ-HTTPS რეჟიმს იყენებთ, <em>{ $websiteUrl }</em> საიტს კი არ აქვს დაცული HTTPS-ვერსია.
about-httpsonly-insecure-explanation-reasons = დიდი ალბათობით, საიტზე არაა HTTPS მხარდაჭერილი, თუმცა არაა გამორიცხული, რომ შემტევიც ზღუდავდეს HTTPS-ვერსიას.
about-httpsonly-insecure-explanation-exception = დაბალი საფრთხის პირობებშიც, თუ გადაწყვეტთ ეწვიოთ საიტის HTTP-ვერსიას, არ უნდა შეიყვანოთ მის ველებში მნიშვნელოვანი მონაცემები, მათ შორის პაროლები, ელფოსტა ან საკრედიტო ბარათის ნომრები.
about-httpsonly-button-make-exception = საფრთხის გაცნობიერება და გადასვლა საიტზე
about-httpsonly-title-alert = მხოლოდ-HTTPS რეჟიმის გაფრთხილება
about-httpsonly-title-connection-not-available = უსაფრთხო კავშირი მიუწვდომელია
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = თქვენ ჩართული გაქვთ მხოლოდ-HTTPS რეჟიმი მაღალი უსაფრთხოებისთვის, მაგრამ <em>{ $websiteUrl }</em> არაა წარმოდგენილი დაცული HTTPS-ვერსიით.
about-httpsonly-explanation-question = რისი ბრალია?
about-httpsonly-explanation-nosupport = უმეტესად იმის, რომ საიტს უბრალოდ არ აქვს HTTPS.
about-httpsonly-explanation-risk = არც ისაა გამორიცხული, ვინმე შემტევის ხელი ერიოს. თუ გადაწყვეტთ ეწვიოთ ამ საიტს, აჯობებს არ შეიყვანოთ მნიშვნელოვანი მონაცემები, პაროლები, ელფოსტა ან საკრედიტო ბარათის ნომრები.
about-httpsonly-explanation-continue = თუ განაგრძობთ, ამ საიტისთვის დროებით გამოირთვება მხოლოდ-HTTPS რეჟიმი.
about-httpsonly-button-continue-to-site = გადასვლა HTTP-საიტზე
about-httpsonly-button-go-back = უკან დაბრუნება
about-httpsonly-link-learn-more = ვრცლად…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = შესაძლო არჩევანი
about-httpsonly-suggestion-box-www-text = საიტს <em>www.{ $websiteUrl }</em> გააჩნია დაცული ვერსიაც. შეგიძლიათ მას ეწვიოთ, <em>{ $websiteUrl }</em> საიტის სანაცვლოდ.
about-httpsonly-suggestion-box-www-button = იხილეთ www.{ $websiteUrl }
