# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Mở một cửa sổ riêng tư
    .accesskey = P
about-private-browsing-search-placeholder = Tìm kiếm trên mạng
about-private-browsing-info-title = Bạn đang ở cửa sổ riêng tư
about-private-browsing-info-myths = Những lầm tưởng phổ biến về duyệt web riêng tư
about-private-browsing =
    .title = Tìm kiếm trên mạng
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Tìm kiếm với { $engine } hoặc nhập địa chỉ
about-private-browsing-handoff-no-engine =
    .title = Tìm kiếm hoặc nhập địa chỉ
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Tìm kiếm với { $engine } hoặc nhập địa chỉ
about-private-browsing-handoff-text-no-engine = Tìm kiếm hoặc nhập địa chỉ
about-private-browsing-not-private = Hiện tại bạn không sử dụng cửa sổ riêng tư riêng tư.
about-private-browsing-info-description = { -brand-short-name } xóa lịch sử tìm kiếm và duyệt web của bạn khi bạn thoát khỏi ứng dụng hoặc đóng tất cả các thẻ và cửa sổ duyệt web riêng tư. Mặc dù điều này không làm cho bạn ẩn danh với các trang web hoặc nhà cung cấp dịch vụ internet của bạn, nhưng việc giữ kín những gì bạn làm trực tuyến với mọi người sử dụng máy tính này sẽ dễ dàng hơn.
about-private-browsing-need-more-privacy = Cần thêm quyền riêng tư?
about-private-browsing-turn-on-vpn = Hãy thử { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } là công cụ tìm kiếm mặc định của bạn trong cửa sổ riêng tư
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Để chọn một công cụ tìm kiếm khác, hãy truy cập <a data-l10n-name="link-options">Tùy chọn</a>
       *[other] Để chọn một công cụ tìm kiếm khác, hãy truy cập <a data-l10n-name="link-options">Tùy chỉnh</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Đóng
