# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Một bản cập nhật { -brand-shorter-name } mới đã sẵn sàng.
    .buttonlabel = Tải bản cập nhật
    .buttonaccesskey = D
    .secondarybuttonlabel = Không phải bây giờ
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Cập nhật { -brand-shorter-name } bản mới nhất để cải thiện tốc độ và bảo mật.
appmenu-update-manual =
    .label = { -brand-shorter-name } không thể cập nhật lên phiên bản mới nhất.
    .buttonlabel = Tải { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Không phải bây giờ
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Tải xuống bản sao của { -brand-shorter-name } và chúng tôi sẽ giúp bạn cài đặt nó.
appmenu-update-whats-new =
    .value = Xem có gì mới.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } không thể cập nhật lên phiên bản mới nhất.
    .buttonlabel = Tìm hiểu thêm
    .buttonaccesskey = T
    .secondarybuttonlabel = Đóng
    .secondarybuttonaccesskey = D
appmenu-update-unsupported-message = Phiên bản mới nhất của { -brand-shorter-name } không được hỗ trợ trên hệ thống của bạn.
appmenu-update-restart =
    .label = Khởi động lại để cập nhật { -brand-shorter-name }.
    .buttonlabel = Khởi động lại và khôi phục
    .buttonaccesskey = R
    .secondarybuttonlabel = Không phải bây giờ
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Sau khi khởi động lại, { -brand-shorter-name } sẽ khôi phục toàn bộ những thẻ đang mở và cửa sổ của bạn mà không ở chế độ duyệt web riêng tư.
appmenu-update-available2 =
    .label = Đã có bản cập nhật
    .buttonlabel = Tải xuống
    .buttonaccesskey = D
    .secondarybuttonlabel = Bỏ qua
    .secondarybuttonaccesskey = m
appmenu-update-available-message2 = Tải xuống phiên bản mới nhất của { -brand-shorter-name }.
appmenu-update-manual2 =
    .label = Đã có bản cập nhật
    .buttonlabel = Tải xuống
    .buttonaccesskey = D
    .secondarybuttonlabel = Bỏ qua
    .secondarybuttonaccesskey = m
appmenu-update-manual-message2 = { -brand-shorter-name } không thể cập nhật tự động. Tải xuống phiên bản mới — bạn sẽ không mất thông tin hoặc tùy chỉnh đã lưu.
appmenu-update-unsupported2 =
    .label = Không thể cập nhật
    .buttonlabel = Tìm hiểu thêm
    .buttonaccesskey = L
    .secondarybuttonlabel = Bỏ qua
    .secondarybuttonaccesskey = m
appmenu-update-unsupported-message2 = Hệ điều hành của bạn không tương thích với phiên bản mới nhất của { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Đã có bản cập nhật
    .buttonlabel = Cập nhật và khởi động lại
    .buttonaccesskey = U
    .secondarybuttonlabel = Bỏ qua
    .secondarybuttonaccesskey = m
appmenu-update-restart-message2 = Tải xuống phiên bản mới nhất của { -brand-shorter-name }. Các thẻ và cửa sổ đang mở sẽ được khôi phục.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } không thể tự động cập nhật lên phiên bản mới nhất.
    .buttonlabel = Vẫn cập nhật { -brand-shorter-name }
    .buttonaccesskey = U
    .secondarybuttonlabel = Không phải lúc này
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Đã có bản cập nhật { -brand-shorter-name } mới nhưng không thể cài đặt bản cập nhật này vì một bản sao khác của { -brand-shorter-name } đang chạy. Đóng nó để tiếp tục cập nhật hoặc chọn vẫn cập nhật (bản sao khác có thể không hoạt động chính xác cho đến khi bạn khởi động lại nó).
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, đã hiểu
    .buttonaccesskey = O
appmenu-addon-post-install-message = Quản lý tiện ích của bạn bằng cách nhấp vào <image data-l10n-name='addon-install-icon'></image> trong trình đơn <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Okay
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Quản lý các tiện ích mở rộng và chủ đề của bạn thông qua menu ứng dụng.
appmenu-addon-post-install-message3 = Quản lý các tiện ích mở rộng và chủ đề của bạn thông qua menu ứng dụng.
appmenu-addon-post-install-incognito-checkbox =
    .label = Cho phép tiện ích mở rộng này chạy trong cửa sổ riêng tư
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Thẻ mới của bạn đã bị thay đổi.
    .buttonlabel = Giữ các thay đổi
    .buttonaccesskey = K
    .secondarybuttonlabel = Tắt tiện ích mở rộng
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Trang chủ của bạn đã thay đổi.
    .buttonlabel = Giữ các thay đổi
    .buttonaccesskey = K
    .secondarybuttonlabel = Tắt tiện ích mở rộng
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Thẻ mới của bạn đã thay đổi.
    .buttonlabel = Lưu thay đổi
    .buttonaccesskey = K
    .secondarybuttonlabel = Quản lý thẻ mới
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = Trang chủ của bạn đã thay đổi.
    .buttonlabel = Lưu thay đổi
    .buttonaccesskey = K
    .secondarybuttonlabel = Quản lý trang chủ
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Truy cập các thẻ ẩn của bạn
    .buttonlabel = Giữ các thẻ ẩn
    .buttonaccesskey = K
    .secondarybuttonlabel = Tắt tiện ích mở rộng
    .secondarybuttonaccesskey = D
