# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Priwatne wokno wočinić
    .accesskey = P
about-private-browsing-search-placeholder = Web přepytać
about-private-browsing-info-title = Sće w priwatnym woknje
about-private-browsing-info-myths = Časte myty wo priwatnym modusu
about-private-browsing =
    .title = Web přepytać
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Pytajće z { $engine } abo zapodajće adresu
about-private-browsing-handoff-no-engine =
    .title = Pytać abo adresu zapodać
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Pytajće z { $engine } abo zapodajće adresu
about-private-browsing-handoff-text-no-engine = Pytać abo adresu zapodać
about-private-browsing-not-private = Tuchwilu njejsće w priwatnym woknje.
about-private-browsing-info-description = { -brand-short-name } wašu pytansku a přehladowansku historjiu wuprózdni, hdyž nałoženje wopušćiće abo wšě rajtarki a wokna priwatneho modus začiniće. Přez to so wosnadnja, před druhimi, kotřiž tutón ličak wužiwaja, schować, štož online činiće, hačrunjež to was za websydła abo wašeho poskićowarja internetneje słužby njeanonymizuje.
about-private-browsing-need-more-privacy = Trjebaće wjace priwatnosće?
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name } wupruwować
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } je waša standardna pytawa w priwatnych woknach
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Zo byšće druhu pytawu wubrał, dźiće k <a data-l10n-name="link-options">nastajenjam</a>
       *[other] Zo byšće druhu pytawu wubrał, dźiće k <a data-l10n-name="link-options">nastajenjam</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Začinić
