# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Nowa aktualizacija { -brand-shorter-name } je k dispoziciji.
    .buttonlabel = Aktualizaciju sćahnyć
    .buttonaccesskey = A
    .secondarybuttonlabel = Nic nětko
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aktualizujće swój { -brand-shorter-name } za najnowši w spěšnosći a priwatnosći.
appmenu-update-manual =
    .label = { -brand-shorter-name } njeda so na najnowšu wersiju aktualizować.
    .buttonlabel = { -brand-shorter-name } sćahnyć
    .buttonaccesskey = s
    .secondarybuttonlabel = Nic nětko
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Sćehńće nowu kopiju { -brand-shorter-name } a budźemy pomhać, ju instalować.
appmenu-update-whats-new =
    .value = Čitajće, štož je nowe.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } njemóže na najnowšu wersiju aktualizować.
    .buttonlabel = Dalše informacije
    .buttonaccesskey = D
    .secondarybuttonlabel = Začinić
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = Najnowša wersija { -brand-shorter-name } so na wašim systemje njepodpěruje.
appmenu-update-restart =
    .label = Startujće znowa, zo byšće { -brand-shorter-name } aktualizował.
    .buttonlabel = Znowa startować a wobnowić
    .buttonaccesskey = Z
    .secondarybuttonlabel = Nic nětko
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = { -brand-shorter-name } po spěšnym znowastartowanju swoje wočinjene rajtarki a wokna wobnowi, kotrež w priwatnym modusu njejsu.
appmenu-update-available2 =
    .label = Aktualizacija k dispoziciji
    .buttonlabel = Sćahnyć
    .buttonaccesskey = S
    .secondarybuttonlabel = Zaćisnyć
    .secondarybuttonaccesskey = Z
appmenu-update-available-message2 = Najnowšu wersiju { -brand-shorter-name } sćahnyć.
appmenu-update-manual2 =
    .label = Aktualizacija k dispoziciji
    .buttonlabel = Sćahnyć
    .buttonaccesskey = S
    .secondarybuttonlabel = Zaćisnyć
    .secondarybuttonaccesskey = Z
appmenu-update-manual-message2 = { -brand-shorter-name } njemóžeše awtomatisce aktualizować. Sćehńće nowu wersiju – składowane informacije abo přiměrjenja njezhubiće.
appmenu-update-unsupported2 =
    .label = Aktualizowanje móžne njeje
    .buttonlabel = Dalše informacije
    .buttonaccesskey = l
    .secondarybuttonlabel = Zaćisnyć
    .secondarybuttonaccesskey = i
appmenu-update-unsupported-message2 = Waš dźěłowy system z najnowšej wersiju { -brand-shorter-name } kompatibelny njeje.
appmenu-update-restart2 =
    .label = Aktualizacija k dispoziciji
    .buttonlabel = Aktualizować a znowa startować
    .buttonaccesskey = A
    .secondarybuttonlabel = Zaćisnyć
    .secondarybuttonaccesskey = i
appmenu-update-restart-message2 = Wobstarajće sej najnowšu wersiju { -brand-shorter-name }. Wočinjene rajtarki a wokna so wobnowja.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } njemóže na najnowšu wersiju awtomatisce aktualizować.
    .buttonlabel = { -brand-shorter-name } najebać toho aktualizować
    .buttonaccesskey = k
    .secondarybuttonlabel = Nic nětko
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Nowa aktualizacija { -brand-shorter-name } je k dispoziciji, ale njeda so instalować, dokelž druha kopija { -brand-shorter-name } běži. Začińće ju, zo byšće z aktualizaciju pokročował, abo aktualizujće najebać to (druha kopija potom snano korektnje njefunguje, doniž ju njestartujeće).
appmenu-addon-private-browsing-installed =
    .buttonlabel = W porjadku, sym zrozumił
    .buttonaccesskey = z
appmenu-addon-post-install-message = Klikńće na <image data-l10n-name='addon-install-icon'></image> w meniju <image data-l10n-name='addon-menu-icon'></image>, zo byšće swoje přidatki rjadował.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = W porjadku
    .buttonaccesskey = o
appmenu-addon-post-install-message2 = Rjadujće swoje rozšěrjenja a drasty z menijom nałoženjow.
appmenu-addon-post-install-message3 = Rjadujće swoje přidatki a drasty z menijom nałoženjow.
appmenu-addon-post-install-incognito-checkbox =
    .label = Tute rozšěrjenje w priwatnych woknach dowolić
    .accesskey = T
appmenu-new-tab-controlled =
    .label = Waš nowy rajtark je so změnił.
    .buttonlabel = Změny wobchować
    .buttonaccesskey = Z
    .secondarybuttonlabel = Rozšěrjenje znjemóžnić
    .secondarybuttonaccesskey = R
appmenu-homepage-controlled =
    .label = Waša startowa strona je so změniła.
    .buttonlabel = Změny wobchować
    .buttonaccesskey = Z
    .secondarybuttonlabel = Rozšěrjenje znjemóžnić
    .secondarybuttonaccesskey = R
appmenu-new-tab-controlled-changes =
    .label = Waš nowy rajtark je so změnił.
    .buttonlabel = Změny wobchować
    .buttonaccesskey = Z
    .secondarybuttonlabel = Nowe rajtarki rjadować
    .secondarybuttonaccesskey = N
appmenu-homepage-controlled-changes =
    .label = Waša startowa strona je so změniła.
    .buttonlabel = Změny wobchować
    .buttonaccesskey = Z
    .secondarybuttonlabel = Startowu stronu rjadować
    .secondarybuttonaccesskey = S
appmenu-tab-hide-controlled =
    .label = Přistup na waše schowane rajtarki
    .buttonlabel = Rajtarki schowane wobchować
    .buttonaccesskey = R
    .secondarybuttonlabel = Rozšěrjenje znjemóžnić
    .secondarybuttonaccesskey = z
