# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Wažne nowinki
heading = Změny na wašim profilu { -brand-short-name }
changed-title = Što je so změniło?
changed-desc-profiles = Tuta instalacija { -brand-short-name } ma nowy profil. Profil je sadźba datajow, hdźež Firefox informacije kaž zapołožki, hesła a wužiwarske nastajenja składuje.
changed-desc-dedicated = Zo by so přešaltowanje mjez instalacijemi Firefox (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition a Firefox Nightly) wosnadniło a wěsćiše činiło, ma tuta instalacija nětko swójski přisłušny profil. Njedźěli awtomatisce waše składowane informacije z druhimi instalacijemi Firefox.
lost = <b>Njejsće žane wosobinske daty abo přiměrjenja zhubił.</b> Jeli sće hižo informacije Firefox na tutym ličaku składował, su wone hišće w druhej instalaciji Firefox k dispoziciji.
options-title = Što su moje nastajenja?
options-do-nothing = Jeli ničo nječiniće, budu so waše profilowe daty w { -brand-short-name } wot profilowych datow w druhich instalacijach Firefox rozeznawać.
options-use-sync = Jeli chceće, zo waše profilowe daty su samsne za wšě instalacije Firefox, móžeće { -fxaccount-brand-name } wužiwać, zo byšće je synchronizował.
resources = Resursy:
support-link = Profilowy zrjadowak wužiwać - nastawk pomocy
sync-header = Přizjewić abo konto { -fxaccount-brand-name } załožić
sync-label = Zapodajće swoju e-mejlowu adresu
sync-input =
    .placeholder = E-mejl
sync-button = Dale
sync-terms = Hdyž pokročujeće, zwoliće do <a data-l10n-name="terms">wužiwanskich wuměnjenjow</a> a <a data-l10n-name="privacy">zdźělenki priwatnosće</a>.
sync-first = Wužiwaće { -sync-brand-name } prěni raz? Dyrbiće so za kóždu instalaciju Firefox přizjewić, zo byšće swoje informacije synchronizował.
new-install-sync-first = Synchronizujće prěni raz? Dyrbiće so za kóždu instalaciju Firefox přizjewić, zo byšće swoje informacije synchronizował.
sync-learn = Dalše informacije
