# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = 重要消息
heading = 您 { -brand-short-name } 設定檔的相關變更
changed-title = 改了什麼東西？
changed-desc-profiles = 這份安裝的 { -brand-short-name } 已有新的設定檔。設定檔是 Firefox 用來儲存書籤、密碼、偏好設定等相關資訊的檔案集合。
changed-desc-dedicated = 為了讓您更容易、更安全能夠切換各種版本的 Firefox（包含 Firefox、Firefox ESR、Firefox Beta、Firefox Developer Edition 及 Firefox Nightly），這份安裝現在起會使用獨立的設定檔，不會自動生效於其他安裝於這台電腦上的 Firefox 當中。
lost = <b>沒有遺失任何個人資料或調整過的設定。</b>若您曾經儲存資訊到這台電腦上的 Firefox，該資訊仍然還存在於另一份安裝的版本當中。
options-title = 我可以做什麼？
options-do-nothing = 若您不做任何事，{ -brand-short-name } 當中的設定檔資料將與這台電腦上，其他安裝的 Firefox 設定檔資料不同。
options-use-sync = 若您想要在所有安裝的 Firefox 當中都有相同的設定檔資料，可使用 { -fxaccount-brand-name } 保持同步。
resources = 資源:
support-link = 技術支援文章 - 使用設定檔管理員
sync-header = 登入或註冊 { -fxaccount-brand-name }
sync-label = 輸入您的電子郵件地址
sync-input =
    .placeholder = 電子郵件地址
sync-button = 繼續
sync-terms = 繼續使用，代表您同意我們的<a data-l10n-name="terms">使用條款</a>及<a data-l10n-name="privacy">隱私權公告</a>。
sync-first = 第一次使用 { -sync-brand-name }？您需要在每套安裝的 Firefox 當中都進行登入才能同步資訊。
new-install-sync-first = 第一次使用同步功能嗎？您需要在每套安裝的 Firefox 當中都進行登入才能同步資訊。
sync-learn = 了解更多
