# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = ਸੁਰੱਖਿਅਤ ਕਨੈਕਸ਼ਨ ਉਪਲੱਬਧ ਨਹੀਂ ਹੈ
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = ਤੁਸੀਂ ਸਿਰਫ਼ HTTPS ਢੰਗ ਨਾਲ ਬਰਾਊਜ਼ਰ ਕਰ ਰਹੇ ਹੋ ਅਤੇ <em>{ $websiteUrl }</em> ਦਾ ਸੁਰੱਖਿਅਤ HTTPS ਵਰਜ਼ਨ ਮੌਜੂਦ ਨਹੀਂ ਹੈ।
about-httpsonly-insecure-explanation-reasons = ਬਹੁਤੀ ਉਮੀਦ ਹੈ ਕਿ ਵੈੱਬਸਾਈਟ HTTPS ਲਈ ਸਹਾਇਕ ਨਹੀਂ ਹੈ, ਪਰ ਇਹ ਵੀ ਸੰਭਵ ਹੈ ਕਿ ਹਮਲਾਵਰ ਨੇ HTTPS ਵਰਜ਼ਨ ਉੱਤੇ ਰੋਕ ਲਾ ਰੱਖੀ ਹੋਵੇ।
about-httpsonly-insecure-explanation-exception = ਹਾਲਾਂਕਿ ਸੁਰੱਖਿਆ ਦਾ ਖ਼ਤਰਾ ਹੈ ਤਾਂ ਘੱਟ, ਪਰ ਫੇਰ ਵੀ ਜੇ ਤੁਸੀਂ ਵੈੱਬਸਾਈਟ ਦੇ HTTP ਵਰਜ਼ਨ ਨੂੰ ਵਰਤਣ ਦਾ ਫ਼ੈਸਲਾ ਕਰ ਹੀ ਲਿਆ ਹੈ ਤਾਂ ਤੁਹਾਨੂੰ ਇਸ ਉੱਤੇ ਪਾਸਵਰਡ, ਈਮੇਲ ਜਾਂ ਕਰੈਡਿਟ ਕਾਰਡ ਦੇ ਵੇਰਵਿਆਂ ਵਰਗੀ ਕੋਈ ਵੀ ਸੰਵੇਦਨਸ਼ੀਲ ਜਾਣਕਾਰੀ ਨਹੀਂ ਦੇਣੀ ਚਾਹੀਦੀ ਹੈ।
about-httpsonly-button-make-exception = ਖ਼ਤਰੇ ਨੂੰ ਮੰਨੋ ਅਤੇ ਸਾਈਟ ਨੂੰ ਖੋਲ੍ਹੋ
about-httpsonly-title-alert = ਸਿਰਫ਼-HTTPS ਮੋਡ ਚੇਤਾਵਨੀ
about-httpsonly-title-connection-not-available = ਸੁਰੱਖਿਅਤ ਕਨੈਕਸ਼ਨ ਉਪਲੱਬਧ ਨਹੀਂ ਹੈ
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 =
    ਤੁਸੀਂ ਸੁਰੱਖਿਆ ਵਧਾਉਣ ਲਈ ਸਿਰਫ਼-HTTPS ਢੰਗ ਨੂੰ ਸਮਰੱਥ ਕੀਤਾ ਹੈ, ਪਰ 
    <em>{ $websiteUrl }</em> ਲਈ HTTPS ਉਪਲੱਬਧ ਨਹੀਂ ਹੈ।
about-httpsonly-explanation-question = ਇਸ ਦਾ ਕੀ ਕਾਰਨ ਹੋ ਸਕਦਾ ਹੈ?
about-httpsonly-explanation-nosupport = ਬਹੁਤੀ ਸੰਭਾਵਨਾ ਹੈ ਕਿ ਵੈੱਬਸਾਈਟ ਸਿਰਫ਼ HTTPS ਲਈ ਸਹਾਇਕ ਹੀ ਨਹੀਂ ਹੈ।
about-httpsonly-explanation-risk = ਇਹ ਵੀ ਸੰਭਵ ਹੈ ਕਿ ਇਸ ਦੇ ਪਿੱਛੇ ਕੋਈ ਹਮਲਾਵਰ ਹੋਵੇ। ਫੇਰ ਵੀ ਜੇ ਤੁਸੀਂ ਵੈੱਬਸਾਈਟ ਨੂੰ ਵਰਤਣ ਦਾ ਫ਼ੈਸਲਾ ਕਰ ਹੀ ਲਿਆ ਹੈ ਤਾਂ ਤੁਹਾਨੂੰ ਇਸ ਉੱਤੇ ਪਾਸਵਰਡ, ਈਮੇਲ ਜਾਂ ਕਰੈਡਿਟ ਕਾਰਡ ਦੇ ਵੇਰਵਿਆਂ ਵਰਗੀ ਕੋਈ ਵੀ ਸੰਵੇਦਨਸ਼ੀਲ ਜਾਣਕਾਰੀ ਨਹੀਂ ਦੇਣੀ ਚਾਹੀਦੀ ਹੈ।
about-httpsonly-explanation-continue =
    ਜੇ ਤੁਸੀਂ ਜਾਰੀ ਰੱਖਿਆ ਤਾਂ ਇਸ ਸਾਈਟ ਲਈ ਸਿਰਫ਼-HTTPS ਢੰਗ ਨੂੰ ਆਰਜ਼ੀ ਤੌਰ ਉੱਤੇ ਬੰਦ ਕੀਤਾ
    ਜਾਵੇਗਾ।
about-httpsonly-button-continue-to-site = HTTP ਸਾਈਟ ਨਾਲ ਜਾਰੀ ਰੱਖੋ
about-httpsonly-button-go-back = ਪਿੱਛੇ ਜਾਓ
about-httpsonly-link-learn-more = …ਹੋਰ ਜਾਣੋ
