# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Új { -brand-shorter-name } frissítés érhető el.
    .buttonlabel = Frissítés letöltése
    .buttonaccesskey = l
    .secondarybuttonlabel = Most nem
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Frissítse a { -brand-shorter-name } böngészőt a legfrissebb teljesítménybeli és adatvédelmi újdonságokért.
appmenu-update-manual =
    .label = A { -brand-shorter-name } nem tud a legújabb verzióra frissíteni.
    .buttonlabel = A { -brand-shorter-name } letöltése
    .buttonaccesskey = l
    .secondarybuttonlabel = Most nem
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Töltse le a { -brand-shorter-name } legfrissebb változatát; és segítünk feltelepíteni.
appmenu-update-whats-new =
    .value = Nézze meg az újdonságokat.
appmenu-update-unsupported =
    .label = A { -brand-shorter-name } nem tud a legújabb verzióra frissíteni.
    .buttonlabel = További tudnivalók
    .buttonaccesskey = T
    .secondarybuttonlabel = Bezárás
    .secondarybuttonaccesskey = B
appmenu-update-unsupported-message = A { -brand-shorter-name } legfrissebb változata nem támogatott az Ön rendszerén.
appmenu-update-restart =
    .label = Újraindítás a { -brand-shorter-name } frissítéséhez
    .buttonlabel = Újraindítás és visszaállítás
    .buttonaccesskey = r
    .secondarybuttonlabel = Most nem
    .secondarybuttonaccesskey = M
appmenu-update-restart-message = Gyors újraindítás után, a { -brand-shorter-name } helyreállítja a nyitott lapokat és ablakokat, amelyek nem Privát böngészés módban vannak.
appmenu-update-available2 =
    .label = Frissítés érhető el
    .buttonlabel = Letöltés
    .buttonaccesskey = D
    .secondarybuttonlabel = Elvetés
    .secondarybuttonaccesskey = E
appmenu-update-available-message2 = Töltse le a { -brand-shorter-name } legújabb verzióját.
appmenu-update-manual2 =
    .label = Frissítés érhető el
    .buttonlabel = Letöltés
    .buttonaccesskey = L
    .secondarybuttonlabel = Elvetés
    .secondarybuttonaccesskey = E
appmenu-update-manual-message2 = A { -brand-shorter-name } automatikus frissítése nem sikerült. Töltse le az új verziót – nem fogja elveszíteni a mentett információkat vagy a testreszabásokat.
appmenu-update-unsupported2 =
    .label = Nem lehet frissíteni
    .buttonlabel = További tudnivalók
    .buttonaccesskey = T
    .secondarybuttonlabel = Elvetés
    .secondarybuttonaccesskey = E
appmenu-update-unsupported-message2 = Az operációs rendszer nem kompatibilis a { -brand-shorter-name } legújabb verziójával.
appmenu-update-restart2 =
    .label = Frissítés érhető el
    .buttonlabel = Frissítés és újraindítás
    .buttonaccesskey = F
    .secondarybuttonlabel = Elvetés
    .secondarybuttonaccesskey = E
appmenu-update-restart-message2 = Szerezze be a { -brand-shorter-name } legújabb verzióját. A nyitott lapok és ablakok visszaállnak.
appmenu-update-other-instance =
    .label = A { -brand-shorter-name } nem tud automatikusan a legújabb verzióra frissíteni.
    .buttonlabel = A { -brand-shorter-name } frissítése mindenképp
    .buttonaccesskey = f
    .secondarybuttonlabel = Most nem
    .secondarybuttonaccesskey = n
appmenu-update-other-instance-message = Egy új { -brand-shorter-name } frissítés érhető el, de nem telepíthető, mert a { -brand-shorter-name } egy másik példánya fut. Zárja be a frissítés folytatásához, vagy válassza azt, hogy mindenképp frissíti (a másik példány lehet hogy az újraindításáig nem fog megfelelően működni).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Rendben, értem
    .buttonaccesskey = R
appmenu-addon-post-install-message = Kezelje kiegészítőit a <image data-l10n-name='addon-install-icon'></image> ikonra kattintva a <image data-l10n-name='addon-menu-icon'></image> menüben.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Rendben
    .buttonaccesskey = R
appmenu-addon-post-install-message2 = Kezelje a kiegészítőit és témáit az alkalmazásmenün keresztül.
appmenu-addon-post-install-message3 = Kezelje a kiegészítőit és témáit az alkalmazásmenün keresztül.
appmenu-addon-post-install-incognito-checkbox =
    .label = A kiegészítő futtatásának engedélyezése privát ablakokban
    .accesskey = e
appmenu-new-tab-controlled =
    .label = Az Új lap megváltozott.
    .buttonlabel = Módosítások megtartása
    .buttonaccesskey = M
    .secondarybuttonlabel = Kiegészítő letiltása
    .secondarybuttonaccesskey = l
appmenu-homepage-controlled =
    .label = A kezdőlap megváltozott.
    .buttonlabel = Módosítások megtartása
    .buttonaccesskey = t
    .secondarybuttonlabel = Kiegészítő letiltása
    .secondarybuttonaccesskey = l
appmenu-new-tab-controlled-changes =
    .label = Az új lap megváltozott.
    .buttonlabel = Változások megtartása
    .buttonaccesskey = m
    .secondarybuttonlabel = Új lapok kezelése
    .secondarybuttonaccesskey = k
appmenu-homepage-controlled-changes =
    .label = A kezdőlap megváltozott.
    .buttonlabel = Változások megtartása
    .buttonaccesskey = m
    .secondarybuttonlabel = Kezdőlap kezelése
    .secondarybuttonaccesskey = k
appmenu-tab-hide-controlled =
    .label = Érje el a rejtett lapjait
    .buttonlabel = Lapok rejtve tartása
    .buttonaccesskey = t
    .secondarybuttonlabel = Kiegészítő letiltása
    .secondarybuttonaccesskey = l
