# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Fontos hírek
heading = A { -brand-short-name } profil módosításai
changed-title = Mi változott?
changed-desc-profiles = A { -brand-short-name } ezen telepítése egy új profillal rendelkezik. A profil az a fájlkészlet, ahol a Firefox olyan információkat tárol, mint a könyvjelzői, jelszavai és a felhasználói beállításai.
changed-desc-dedicated = Annak érdekében, hogy könnyebbé és biztonságosabbá váljon a Firefox telepítések (beleértve a Firefoxot, a Firefox ESR-t, a Firefox Betát, a Firefox Developer Editiont és a Firefox Nightlyt) közötti váltás, ez a telepítés most már saját, dedikált profillal rendelkezik. Automatikusan nem osztja meg a mentett információkat más Firefox telepítésekkel.
lost = <b>Nem vesztett el semmilyen személyes adatot vagy testreszabást.</b> Ha már mentett információkat a Firefoxba ezen a számítógépen, akkor az még mindig elérhető abban a Firefox telepítésben.
options-title = Mik a lehetőségeim?
options-do-nothing = Ha nem tesz semmit, akkor a { -brand-short-name } profiladatai különbözni fognak a Firefox más telepítéseitől.
options-use-sync = Ha azt szeretné, hogy minden profiladat ugyanaz legyen a Firefox összes telepítésénél, akkor a { -fxaccount-brand-name } használatával szinkronban tarthatja azokat.
resources = Erőforrások:
support-link = A profilkezelő használata – támogatási cikk
sync-header = Jelentkezzen be vagy hozzon létre egy { -fxaccount-brand-name }ot
sync-label = Adja meg az e-mail címét
sync-input =
    .placeholder = E-mail
sync-button = Folytatás
sync-terms = A folytatással elfogadja a <a data-l10n-name="terms">Szolgáltatási feltételeket</a> és az <a data-l10n-name="privacy">Adatvédelmi nyilatkozatot</a>.
sync-first = Először használja a { -sync-brand-name }et? Minden egyes Firefox telepítésnél be kell jelentkeznie az információi szinkronizálásához.
new-install-sync-first = Először használja a szinkronizálást? Minden egyes Firefox telepítésnél be kell jelentkeznie az információi szinkronizálásához.
sync-learn = További tudnivalók
