# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ipyahúva { -brand-shorter-name } ñembohekopyahu eipurukuáva.
    .buttonlabel = Mbohekopyahu ñemboguejy
    .buttonaccesskey = M
    .secondarybuttonlabel = Ani ko’ág̃a
    .secondarybuttonaccesskey = D
appmenu-update-available-message = Embohekopyahu { -brand-shorter-name } ipya’e ha iñemive hag̃ua.
appmenu-update-manual =
    .label = { -brand-shorter-name } ndaikatúi embohekopyahu osẽramovévape.
    .buttonlabel = Emboguejy { -brand-shorter-name }
    .buttonaccesskey = E
    .secondarybuttonlabel = Ani ko’ág̃a
    .secondarybuttonaccesskey = D
appmenu-update-manual-message = Emboguejy { -brand-shorter-name } pyahu ha reñepytyvõta emohendaha hag̃ua.
appmenu-update-whats-new =
    .value = Ehecha mba’épa ipyahuvéva.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } ndaikatúi hekopyahu osẽramovévape.
    .buttonlabel = Kuaave
    .buttonaccesskey = L
    .secondarybuttonlabel = Mboty
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = Nde apopyvusu nomoneĩri { -brand-shorter-name } ipyahuvéva.
appmenu-update-restart =
    .label = Emoñepyrũjey embohekopyahu hag̃ua { -brand-shorter-name }
    .buttonlabel = Moñepyrũ ha mboguevijey
    .buttonaccesskey = R
    .secondarybuttonlabel = Ani ko’ág̃a
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Pya’e remoñepyrũjey rire, { -brand-shorter-name } omoĩmbajeýta tendayke ha ovetã rehecháva’ekue ha ndaha’éiva Kundaha ñemimegua.
appmenu-update-available2 =
    .label = Eipurukuaa ñemboheko
    .buttonlabel = Emboguejy
    .buttonaccesskey = D
    .secondarybuttonlabel = Ehejarei
    .secondarybuttonaccesskey = m
appmenu-update-available-message2 = Emboguejy { -brand-shorter-name } ipyahuvéva.
appmenu-update-manual2 =
    .label = Eipurukuaa ñemboheko
    .buttonlabel = Emboguejy
    .buttonaccesskey = D
    .secondarybuttonlabel = Ehejarei
    .secondarybuttonaccesskey = m
appmenu-update-manual-message2 = { -brand-shorter-name } ndaikatúi hekopyahu ijehegui. Emboguejy tembiapo ipyahuvéva — nokañymo’ãi marandu ñongatu ha mboavapyre.
appmenu-update-unsupported2 =
    .label = Ndaikatúi embohekopyahu
    .buttonlabel = Eikuaave
    .buttonaccesskey = L
    .secondarybuttonlabel = Ehejarei
    .secondarybuttonaccesskey = m
appmenu-update-unsupported-message2 = Nde apopyvusu oku’éva ndojokupytýi { -brand-shorter-name } apopyre ipyahuvéva ndive.
appmenu-update-restart2 =
    .label = Eipurukuaa ñembohekopyahu
    .buttonlabel = Embohekopyahu ha eñepyrũjey
    .buttonaccesskey = U
    .secondarybuttonlabel = Ehejarei
    .secondarybuttonaccesskey = m
appmenu-update-restart-message2 = Erekóke { -brand-shorter-name } apopyre ipyahuvéva. Umi tendayke ha ovetã ijurujáva oĩporãjeýta.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } ndaikatúi hekopyahu ijehegui ipyahuvévape.
    .buttonlabel = Embohekopyahu { -brand-shorter-name } oimehaicharei
    .buttonaccesskey = U
    .secondarybuttonlabel = Ko’ág̃a nahániri
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Oĩ { -brand-shorter-name } hekopyahúmava, hákatu ndaikatúi gueteri emohenda ojejapo rupi { -brand-shorter-name } momokõi. Emboty ikatu hag̃ua embohekopyahu térã eiporavo mbohekopyahu opaicharei (ikatuhína pe ambue momokõimbyre ndoikoporãi emoñepyrũjey peve).
appmenu-addon-private-browsing-installed =
    .buttonlabel = Oĩma, aikumby
    .buttonaccesskey = O
appmenu-addon-post-install-message = Eñangareko ne rembipuru’i eikutúvo <image data-l10n-name='addon-install-icon'></image> poravorã <image data-l10n-name='addon-menu-icon'></image> pegua.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Moneĩ
    .buttonaccesskey = O
appmenu-addon-post-install-message2 = Eñangareko ne moĩmbaha ha téma tembipuru’i poravorã rupive.
appmenu-addon-post-install-message3 = Eñangareko ne moĩmbaha ha téma tembipuru’i poravorã guive.
appmenu-addon-post-install-incognito-checkbox =
    .label = Emoneĩ ko jepysokue oñembohekóvo Windows ñemiguápe
    .accesskey = A
appmenu-new-tab-controlled =
    .label = Ne Tendayke Pyahu iñambuékuri.
    .buttonlabel = Topyta Ñemoambue
    .buttonaccesskey = K
    .secondarybuttonlabel = Eipe’aite jepysokue
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Emoambue nde kuatiarogue ñepyrũ.
    .buttonlabel = Eguerekóke moambuepyre
    .buttonaccesskey = K
    .secondarybuttonlabel = Eipe’aite jepysokue
    .secondarybuttonaccesskey = D
appmenu-new-tab-controlled-changes =
    .label = Nde kuatiarogue tendayke pyahugua iñambuéma.
    .buttonlabel = Erekotapia umi moambue
    .buttonaccesskey = K
    .secondarybuttonlabel = Eñangareko tendayke pyahúre
    .secondarybuttonaccesskey = M
appmenu-homepage-controlled-changes =
    .label = Nde kuatiarogue ñepyrũgua iñambuéma.
    .buttonlabel = Erekotapia umi moambue
    .buttonaccesskey = K
    .secondarybuttonlabel = Eñagareko kuatiarogue ñepyrũguáre
    .secondarybuttonaccesskey = M
appmenu-tab-hide-controlled =
    .label = Eike ne rendayke kañýme
    .buttonlabel = Eguereko ne rendayke kañyhápe
    .buttonaccesskey = K
    .secondarybuttonlabel = Eipe’aite jepysokue
    .secondarybuttonaccesskey = D
