# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Susieti kitą įrenginį
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Jei to dar nepadarėte, įdiekite <a data-l10n-name="connect-another-device">„Firefox“ savo mobiliajame įrenginyje</a>.
fxa-qrcode-heading-phase2 = 2. Tada prisijunkite į „{ -sync-brand-short-name }“, arba, jei naudojate „Android“. nuskenuokite susiejimo kodą iš „{ -sync-brand-short-name }“ nuostatų.
fxa-qrcode-heading-step1 = 1. Jei to dar nepadarėte, įdiekite <a data-l10n-name="connect-another-device">„Firefox“ savo mobiliajame įrenginyje</a>.
fxa-qrcode-heading-step2 = 2. Atverkite „Firefox“  savo mobiliajame įrenginyje.
fxa-qrcode-heading-step3 = 3. Atverkite <b>meniu</b> (<img data-l10n-name="ios-menu-icon"/> arba <img data-l10n-name="android-menu-icon"/>), bakstelėkite <img data-l10n-name="settings-icon"/> <b>Nuostatos</b> ir pasirinkite <b>Įjungti „Sync“</b>
fxa-qrcode-heading-step4 = 4. Nuskaitykite šį kodą:
fxa-qrcode-error-title = Susiejimas nepavyko.
fxa-qrcode-error-body = Bandyti dar kartą.
