# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Nowa aktualizacija { -brand-shorter-name } jo k dispoziciji.
    .buttonlabel = Aktualizaciju ześěgnuś
    .buttonaccesskey = A
    .secondarybuttonlabel = Nic něnto
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Aktualizěrujśo swój { -brand-shorter-name } za nejnowšy w malsnosći a priwatnosći.
appmenu-update-manual =
    .label = { -brand-shorter-name } njedajo se na nejnowšu wersiju aktualizěrowaś.
    .buttonlabel = { -brand-shorter-name } ześěgnuś
    .buttonaccesskey = z
    .secondarybuttonlabel = Nic něnto
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Ześěgniśo nowu kopiju { -brand-shorter-name } a buźomy pomagaś, ju instalěrowaś.
appmenu-update-whats-new =
    .value = Cytajśo, což jo nowe.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } njamóžo na nejnowšu wersiju aktualizěrowaś.
    .buttonlabel = Dalšne informacije
    .buttonaccesskey = D
    .secondarybuttonlabel = Zacyniś
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = Nejnowša wersija { -brand-shorter-name } se na wašom systemje njepódpěra.
appmenu-update-restart =
    .label = Startujśo znowego, aby { -brand-shorter-name } aktualizěrował.
    .buttonlabel = Znowego startowaś a wobnowiś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Nic něnto
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = { -brand-shorter-name } pó malsnem znowegostartowanju swóje wócynjone rejtariki a wokna wótnowijo, kótarež njejsu w priwatnem modusu.
appmenu-update-available2 =
    .label = Aktualizacija k dispoziciji
    .buttonlabel = Ześěgnuś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Zachyśiś
    .secondarybuttonaccesskey = c
appmenu-update-available-message2 = Nejnowšu wersiju { -brand-shorter-name } ześěgnuś.
appmenu-update-manual2 =
    .label = Aktualizacija k dispoziciji
    .buttonlabel = Ześěgnuś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Zachyśiś
    .secondarybuttonaccesskey = c
appmenu-update-manual-message2 = { -brand-shorter-name } njejo mógł awtomatiski aktualizěrowaś. Ześěgniśo nowu wersiju – skłaźone informacije abo pśiměrjenja njezgubijośo.
appmenu-update-unsupported2 =
    .label = Aktualizěrowanje njejo móžne
    .buttonlabel = Dalšne informacije
    .buttonaccesskey = D
    .secondarybuttonlabel = Zachyśiś
    .secondarybuttonaccesskey = c
appmenu-update-unsupported-message2 = Waš źěłowy system njejo kompatibelny z nejnowšeju wersiju { -brand-shorter-name }.
appmenu-update-restart2 =
    .label = Aktualizacija k dispoziciji
    .buttonlabel = Aktualizěrowaś a znowego startowaś
    .buttonaccesskey = A
    .secondarybuttonlabel = Zachyśiś
    .secondarybuttonaccesskey = c
appmenu-update-restart-message2 = Wobstarajśo se nejnowšu wersiju { -brand-shorter-name }. Wćynjone rejtariki a wokna se wótnowiju.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } njamóžo na nejnowšu wersiju awtomatiski aktualizěrowaś.
    .buttonlabel = { -brand-shorter-name } weto aktualizěrowaś
    .buttonaccesskey = a
    .secondarybuttonlabel = Nic něnto
    .secondarybuttonaccesskey = N
appmenu-update-other-instance-message = Nowa aktualizacija { -brand-shorter-name } jo k dispoziciji, ale njedajo se instalěrowaś, dokulaž druga kopija { -brand-shorter-name } běžy. Zacyńśo ju, aby z aktualizaciju pókšacował, abo aktualizěrujśo weto (druga kopija pón snaź korektnje njefunkcioněrujo, daniž ju njestartujośo).
appmenu-addon-private-browsing-installed =
    .buttonlabel = W pórěźe, som zrozměł
    .buttonaccesskey = z
appmenu-addon-post-install-message = Klikniśo na <image data-l10n-name='addon-install-icon'></image> w meniju <image data-l10n-name='addon-menu-icon'></image>, aby swóje dodanki zastojał.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = W pórěźe
    .buttonaccesskey = o
appmenu-addon-post-install-message2 = Zastojśo swóje rozšyrjenja a drastwy z menijom nałoženjow.
appmenu-addon-post-install-message3 = Zastojśo swóje dodanki a drastwy z menijom nałoženjow.
appmenu-addon-post-install-incognito-checkbox =
    .label = Toś to rozšyrjenje w priwatnych woknach dowóliś
    .accesskey = T
appmenu-new-tab-controlled =
    .label = Waš nowy rejtarik jo se změnił.
    .buttonlabel = Změny wobchowaś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Rozšyrjenje znjemóžniś
    .secondarybuttonaccesskey = R
appmenu-homepage-controlled =
    .label = Waš startowy bok jo se změnił.
    .buttonlabel = Změny wobchowaś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Rozšyrjenje znjemóžniś
    .secondarybuttonaccesskey = R
appmenu-new-tab-controlled-changes =
    .label = Waš nowy rejtarik jo se změnił.
    .buttonlabel = Změny wobchowaś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Nowe rejtariki zastojaś
    .secondarybuttonaccesskey = N
appmenu-homepage-controlled-changes =
    .label = Waš startowy bok jo se změnił.
    .buttonlabel = Změny wobchowaś
    .buttonaccesskey = Z
    .secondarybuttonlabel = Startowy bok zastojaś
    .secondarybuttonaccesskey = S
appmenu-tab-hide-controlled =
    .label = Pśistup k wašym schowanym rejtarikam
    .buttonlabel = Rejtariki schowane wobchowaś
    .buttonaccesskey = R
    .secondarybuttonlabel = Rozšyrjenje znjemóžniś
    .secondarybuttonaccesskey = z
