# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Wažne nowosći
heading = Změny na wašom profilu { -brand-short-name }
changed-title = Co jo se změniło?
changed-desc-profiles = Toś ta instalacija { -brand-short-name } ma nowy profil. Profil jo sajźba datajow, źož Firefox informacije ako cytańske znamjenja, gronidła a wužywaŕske nastajenja składujo.
changed-desc-dedicated = Aby se pśešaltowanje mjazy instalacijami Firefox (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition a Firefox Nightly) wólažcyło a wěsćej cyniło, ma toś ta instalacija něnto swójski pśisłušny profil. Njeźěli awtomatiski waše skłaźone informacije z drugimi instalacijami Firefox.
lost = <b>Njejsćo zgubił žedne wósobinske daty abo pśiměrjenja.</b> Jolic sćo južo składł informacije Firefox na toś tom licadle, su wóne hyšći w drugej instalaciji Firefox k dispoziciji.
options-title = Co su móje nastajenja?
options-do-nothing = Jolic nic njecyniśo, budu se waše profilowe daty w { -brand-short-name } wót profilowych datow w drugich instalacijach Firefox rozeznawaś.
options-use-sync = Jolic cośo, až waše profilowe daty su te samske za wšykne instalacije Firefox, móžośo { -fxaccount-brand-name } wužywaś, aby je synchronizěrował.
resources = Resurse:
support-link = Profilowy zastojnik wužywaś - nastawk pomocy
sync-header = Pśizjawiś abo konto { -fxaccount-brand-name } załožyś
sync-label = Zapódajśo swóju e-mailowu adresu
sync-input =
    .placeholder = E-mail
sync-button = Dalej
sync-terms = Gaž pókšacujośo, zwolijośo do <a data-l10n-name="terms">wužywańskich wuměnjenjow</a> a <a data-l10n-name="privacy">powěźeńki priwatnosći</a>.
sync-first = Wužywaśo { -sync-brand-name } prědny raz? Musyśo se za kuždu instalaciju Firefox pśizjawiś, aby swóje informacije synchronizěrował.
new-install-sync-first = Synchronizěrujośo prědny raz? Musyśo se za kuždu instalaciju Firefox pśizjawiś, aby swóje informacije synchronizěrował.
sync-learn = Dalšne informacije
