# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Import Logins Autocomplete

# Variables:
#   $browser (String) - Browser name to import logins from.
#   $host (String) - Host name of the current site.
autocomplete-import-logins =
    <div data-l10n-name="line1">I-import ang iyong login galing sa { $browser }</div>
    <div data-l10n-name="line2">para sa { $host } at ibang pang mga site</div>
autocomplete-import-logins-info =
    .tooltiptext = Alamin

## Variables:
##   $host (String) - Host name of the current site.

autocomplete-import-logins-chrome =
    <div data-l10n-name="line1">I-import ang iyong login galing sa Google Chrome</div>
    <div data-l10n-name="line2">para sa { $host } at iba pang mga site</div>
autocomplete-import-logins-chromium =
    <div data-l10n-name="line1">I-import ang iyong login galing sa Chromium</div>
    <div data-l10n-name="line2">para sa { $host } at iba pang mga site</div>
autocomplete-import-logins-chromium-edge =
    <div data-l10n-name="line1">I-import ang iyong login galing sa Microsoft Edge</div>
    <div data-l10n-name="line2">para sa { $host } at iba pang mga site</div>

##

autocomplete-import-learn-more = Alamin
