# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

title-label = A-zivout an enlugelladoù
installed-plugins-label = Enlugelladoù staliet
no-plugins-are-installed-label = Enlugellad ebet staliet
deprecation-description = Mankout a ra un dra bennak? Ul lodenn eus an enlugelladoù n'int ket skoret ken. <a data-l10n-name="deprecation-link">Gouzout hiroc'h.</a>

## The information of plugins
##
## Variables:
##   $pluginLibraries: the plugin library
##   $pluginFullPath: path of the plugin
##   $version: version of the plugin

file-dd = <span data-l10n-name="file">Restr:</span> { $pluginLibraries }
path-dd = <span data-l10n-name="path">Treug:</span> { $pluginFullPath }
version-dd = <span data-l10n-name="version">Handelv:</span> { $version }

## These strings describe the state of plugins
##
## Variables:
##   $blockListState: show some special state of the plugin, such as blocked, outdated

state-dd-enabled = <span data-l10n-name="state">Stad:</span> Gweredekaet
state-dd-enabled-block-list-state = <span data-l10n-name="state">Stad:</span> Gweredekaet ({ $blockListState })
state-dd-Disabled = <span data-l10n-name="state">Stad:</span> Diweredekaet
state-dd-Disabled-block-list-state = <span data-l10n-name="state">Stad:</span> Diweredekaet ({ $blockListState })
mime-type-label = Rizh MIME
description-label = Deskrivadenn
suffixes-label = Rakgerioù
