# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Gizli pencere aç
    .accesskey = G
about-private-browsing-search-placeholder = Web’de ara
about-private-browsing-info-title = Gizli penceredesiniz
about-private-browsing-info-myths = Gizli gezinti ile ilgili yaygın efsaneler
about-private-browsing =
    .title = Web’de ara
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine } ile arama yapın veya adres yazın
about-private-browsing-handoff-no-engine =
    .title = Arama yapın veya adres yazın
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine } ile arama yapın veya adres yazın
about-private-browsing-handoff-text-no-engine = Arama yapın veya adres yazın
about-private-browsing-not-private = Şu anda gizli bir pencerede değilsiniz.
about-private-browsing-info-description = { -brand-short-name } uygulamasından çıktığınızda veya tüm Gizli Gezinti sekmelerini ve pencerelerini kapattığınızda arama ve gezinti geçmişiniz temizlenir. Bu işlem, web sitelerinin ve internet servis sağlayıcınızın sizi tanımamasını sağlamaz ama bu bilgisayarı kullanan başkaları varsa internette yaptıklarınızı onlardan gizlemenizi sağlar.
about-private-browsing-need-more-privacy = Daha fazla gizliliğe mi ihtiyacınız var?
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name }’i deneyin
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = Gizli pencerelerde varsayılan arama motorunuz { $engineName }
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Farklı bir arama motoru seçmek için <a data-l10n-name="link-options">Seçenekler</a>’e gidebilirsiniz
       *[other] Farklı bir arama motoru seçmek için <a data-l10n-name="link-options">Tercihler</a>’e gidebilirsiniz
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Kapat
