# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Yeni bir { -brand-shorter-name } güncellemesi var.
    .buttonlabel = Güncellemeyi indir
    .buttonaccesskey = G
    .secondarybuttonlabel = Daha sonra
    .secondarybuttonaccesskey = D
appmenu-update-available-message = En yeni hız ve gizlilik özellikleri için { -brand-shorter-name } tarayıcınızı güncelleyin.
appmenu-update-manual =
    .label = { -brand-shorter-name } son sürüme güncellenemiyor.
    .buttonlabel = { -brand-shorter-name } tarayıcısını indir
    .buttonaccesskey = t
    .secondarybuttonlabel = Daha sonra
    .secondarybuttonaccesskey = a
appmenu-update-manual-message = Önce yeni { -brand-shorter-name } kopyanızı indirin. Yüklemenize yardım edeceğiz.
appmenu-update-whats-new =
    .value = Yeniliklere bakın.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } son sürüme güncellenemedi.
    .buttonlabel = Daha fazla bilgi al
    .buttonaccesskey = D
    .secondarybuttonlabel = Kapat
    .secondarybuttonaccesskey = K
appmenu-update-unsupported-message = En son { -brand-shorter-name } sürümü sisteminizde desteklenmiyor.
appmenu-update-restart =
    .label = { -brand-shorter-name } tarayıcısını güncellemek için yeniden başlatın.
    .buttonlabel = Yeniden başlat ve geri yükle
    .buttonaccesskey = b
    .secondarybuttonlabel = Daha sonra
    .secondarybuttonaccesskey = D
appmenu-update-restart-message = Yeniden başlatmanın ardından { -brand-shorter-name } tüm açık sekme ve pencerelerinizi geri yükleyecek (Gizli Gezinti modundakiler hariç).
appmenu-update-available2 =
    .label = Güncelleme var
    .buttonlabel = İndir
    .buttonaccesskey = n
    .secondarybuttonlabel = Ertele
    .secondarybuttonaccesskey = E
appmenu-update-available-message2 = { -brand-shorter-name } tarayıcısının son sürümünü indirin.
appmenu-update-manual2 =
    .label = Güncelleme var
    .buttonlabel = İndir
    .buttonaccesskey = n
    .secondarybuttonlabel = Ertele
    .secondarybuttonaccesskey = E
appmenu-update-manual-message2 = { -brand-shorter-name } otomatik olarak güncellenemedi. Kayıtlı bilgilerinizi ve özelleştirmelerinizi kaybetmeden yeni sürümü indirebilirsiniz.
appmenu-update-unsupported2 =
    .label = Güncellenemedi
    .buttonlabel = Daha fazla bilgi al
    .buttonaccesskey = D
    .secondarybuttonlabel = Kapat
    .secondarybuttonaccesskey = K
appmenu-update-unsupported-message2 = İşletim sisteminiz { -brand-shorter-name } tarayıcısının son sürümüyle uyumlu değil.
appmenu-update-restart2 =
    .label = Güncelleme var
    .buttonlabel = Güncelle ve yeniden başlat
    .buttonaccesskey = G
    .secondarybuttonlabel = Ertele
    .secondarybuttonaccesskey = E
appmenu-update-restart-message2 = { -brand-shorter-name } tarayıcısının son sürümünü indirin. Açık sekmeler ve pencereler geri yüklenecektir.
appmenu-update-other-instance =
    .label = { -brand-shorter-name } otomatik olarak en son sürüme güncellenemedi.
    .buttonlabel = Yine de { -brand-shorter-name }’u güncelle
    .buttonaccesskey = Y
    .secondarybuttonlabel = Daha sonra
    .secondarybuttonaccesskey = D
appmenu-update-other-instance-message = Yeni bir { -brand-shorter-name } güncellemesi mevcut ama şu anda başka bir { -brand-shorter-name } kopyası çalıştığı için yüklenemiyor. Güncellemeye devam etmek için çalışan kopyayı kapatın veya “yine de güncelle”yi seçin. (Diğer kopya yeniden başlatılana kadar düzgün çalışmayabilir.)
appmenu-addon-private-browsing-installed =
    .buttonlabel = Tamam, anladım
    .buttonaccesskey = T
appmenu-addon-post-install-message = Eklentilerinizi yönetmek için <image data-l10n-name='addon-menu-icon'></image> menüdeki <image data-l10n-name='addon-install-icon'></image> simgesine tıklayabilirsiniz.
appmenu-addon-private-browsing-installed2 =
    .buttonlabel = Tamam
    .buttonaccesskey = T
appmenu-addon-post-install-message2 = Uzantılarınızı ve temalarınızı uygulama menüsünden yönetebilirsiniz.
appmenu-addon-post-install-message3 = Eklentilerinizi ve temalarınızı uygulama menüsünden yönetebilirsiniz.
appmenu-addon-post-install-incognito-checkbox =
    .label = Bu uzantının gizli pencerelerde çalışmasına izin ver
    .accesskey = B
appmenu-new-tab-controlled =
    .label = Yeni Sekme’niz değişti.
    .buttonlabel = Değişiklikleri koru
    .buttonaccesskey = D
    .secondarybuttonlabel = Eklentiyi etkisizleştir
    .secondarybuttonaccesskey = E
appmenu-homepage-controlled =
    .label = Giriş sayfanız değişti.
    .buttonlabel = Değişiklikleri koru
    .buttonaccesskey = D
    .secondarybuttonlabel = Eklentiyi etkisizleştir
    .secondarybuttonaccesskey = E
appmenu-new-tab-controlled-changes =
    .label = Yeni sekmeniz değişti.
    .buttonlabel = Değişiklikleri tut
    .buttonaccesskey = D
    .secondarybuttonlabel = Yeni sekmeleri yönet
    .secondarybuttonaccesskey = Y
appmenu-homepage-controlled-changes =
    .label = Giriş sayfanız değişti.
    .buttonlabel = Değişiklikleri tut
    .buttonaccesskey = D
    .secondarybuttonlabel = Giriş sayfasını yönet
    .secondarybuttonaccesskey = G
appmenu-tab-hide-controlled =
    .label = Gizlenen sekmelerinize ulaşın
    .buttonlabel = Sekmeler gizli kalsın
    .buttonaccesskey = S
    .secondarybuttonlabel = Eklentiyi etkisizleştir
    .secondarybuttonaccesskey = E
